#%RAML 0.8
title: commissions
baseUri: https://commissiondemo.iqmetrix.net/v1
schemas: 

    
    - CommissionEntry: |
        {
          "name": "CommissionEntry",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "Commission earned by an employee.",
          "properties": {
            "Id": { "type": "integer", "description": "Unique Identifier", "example": "24" }, 
            "Comments": { "type": "string", "size": "255", "description": "Comments", "example": "Shared with Nick" }, 
            "CommissionFixedCost": { "type": "decimal", "description": "Fixed cost of commission applied. Anything above this value is commission", "example": "10.0" }, 
            "CommissionFloatingCost": { "type": "decimal", "description": "Floating cost of commission applied. This value is determined by adding anything above this value to average cost", "example": "10" }, 
            "CommissionRate": { "type": "decimal", "description": "Commission rate applied", "example": "35.0" }, 
            "CommissionSpiff": { "type": "decimal", "description": "A type of commission structure used to pay employees, where a fixed dollar amount is paid per unit sold", "example": "15.0" }, 
            "CommissionSplitEmployeeSpecialId": { "type": "integer", "description": "Special Identifier for the split commission Employee in RQ", "example": "10002" }, 
            "CommissionSplitUserId": { "type": "integer", "description": "Identifier for a [User](/api/user-manager/#user) that is the split commissionable employee", "example": "22214" }, 
            "CommissionType": { "type": "byte", "description": "Type of commission applied. If this is a Coupon commission, see [CouponCommissionTypes](#couponcommissiontypes) for a list of acceptable values, otherwise see [CommissionTypes](#commissiontypes) for a list of acceptable values", "example": "1" }, 
            "CouponID": { "type": "integer", "description": "Identifier for a coupon associated with this commission in RQ", "example": "8" }, 
            "DateCreatedUtc": { "type": "DateTime", "description": "Time created in RQ, in UTC", "example": "2015-08-18T15:00:00" }, 
            "EmployeeSpecialId": { "type": "integer", "description": "Special Identifier for the Employee in RQ", "example": "1002" }, 
            "UserId": { "type": "integer", "description": "Identifier for a [User](/api/user-manager/#user) that is the primary commissionable employee", "ref": "user-manager.User.Id" }, 
            "GlobalProductID": { "type": "integer", "description": "Identifier of product associated with this commission in RQ", "example": "1210" }, 
            "HasBeenReversed": { "type": "boolean", "description": "A flag to indicate if this CommissionEntry has been reversed", "example": "false" }, 
            "InvoiceEditedDate": { "type": "DateTime", "description": "Time last edited with the Invoice Editor in RQ", "example": "2015-09-10T20:01:49.00" }, 
            "InvoiceNumber": { "type": "string", "size": "14", "description": "Invoice Number of the transaction which created this commission in RQ", "example": "84WEAIN5703" }, 
            "IsChargeback": { "type": "boolean", "description": "A flag to indicate if this commission was created by a chargeback in RQ", "example": "false" }, 
            "IsCommissionSplit": { "type": "boolean", "description": "A flag to indicate if the commission is split with a second employee", "example": "true" }, 
            "IsFullChargeback": { "type": "boolean", "description": "A flag to indicate if this commission was created by a full chargeback in RQ", "example": "false" }, 
            "IsSuspended": { "type": "boolean", "description": "A flag to indicate if this commission has been suspended", "example": "false" }, 
            "LastUpdateDateUtc": { "type": "DateTime", "description": "Time created in the API, in UTC", "example": "2015-09-09T20:41:59.69" }, 
            "LocationCode": { "type": "string",  "description": "An identifier for the Location in an external system", "example": "LOC123" }, 
            "LocationId": { "type": "integer", "description": "Identifier for the [Location](/api/company-tree/#location)", "ref": "company tree.Location.Id" }, 
            "MilestoneID": { "type": "GUID", "description": "Identifier for a milestone associated with this commission in RQ", "example": "74b95526-e46b-42da-baa5-19971dfe5b18" }, 
            "Priority": { "type": "integer", "description": "Priority of product on sale invoice associated with this commission in RQ", "example": "1" }, 
            "Quantity": { "type": "integer", "description": "The number of times the unit commission is to be applied", "example": "1" }, 
            "RQCommissionId": { "type": "integer", "description": "Identifier of the associated commission RQ", "example": "445" }, 
            "SaleInvoiceAndCouponID": { "type": "GUID", "description": "Identifier of the coupon on the sale invoice associated with this commission in RQ", "example": "d6ee8427-eac6-44ef-ac69-4617e18d2f66" }, 
            "SaleInvoiceID": { "type": "integer", "description": "Identifier of the sale invoice which created this commission in RQ", "example": "7" }, 
            "SerialNumber": { "type": "string", "size": "100", "description": "Serial number of the product associated with this commission in RQ", "example": "8508194953" }, 
            "SplitRate1": { "type": "decimal", "description": "Percentage of the commission the primary employee receives, defaults to 100", "example": "50.0" }, 
            "SplitRate2": { "type": "decimal", "description": "Percentage of the commission the split employee receives, defaults to 0", "example": "50.0" }, 
            "TotalCommission": { "type": "decimal", "description": "The total commission amount to be applied equal to (UnitCommission * Quantity)", "example": "5.32" }, 
            "TransactionGUID": { "type": "GUID", "description": "Identifier of the transaction which created this commission in RQ", "example": "a929571e-c432-4e9a-aef7-4302ed791251" }, 
            "TransactionType": { "type": "byte", "description": "Type of transaction which created this commission. See [TransactionTypes](#transactiontypes) for a list of acceptable values", "example": "1" }, 
            "UnitCommission": { "type": "decimal", "description": "The individual unit Commission amount", "example": "5.32" }
          }
        }
        

    

    
    - CommissionEntryHal: |
        {
          "exclude": "true",
          "name": "CommissionEntry",        
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "_links": { "type": "object", "putDescription": "Relative links to requests related to this resource", "ref": "commissions.CommissionLinks" },
            "_embedded": { "type": "object", "putDescription": "?????????????", "example": "" }, 
            "Id": { "type": "integer", "description": "Unique Identifier", "example": "24" }, 
            "Comments": { "type": "string", "size": "255", "description": "Comments", "example": "Shared with Nick" }, 
            "CommissionFixedCost": { "type": "decimal", "description": "Fixed cost of commission applied. Anything above this value is commission", "example": "10.0" }, 
            "CommissionFloatingCost": { "type": "decimal", "description": "Floating cost of commission applied. This value is determined by adding anything above this value to average cost", "example": "10" }, 
            "CommissionRate": { "type": "decimal", "description": "Commission rate applied", "example": "35.0" }, 
            "CommissionSpiff": { "type": "decimal", "description": "A type of commission structure used to pay employees, where a fixed dollar amount is paid per unit sold", "example": "15.0" }, 
            "CommissionSplitEmployeeSpecialId": { "type": "integer", "description": "Special Identifier for the split commission Employee in RQ", "example": "10002" }, 
            "CommissionSplitUserId": { "type": "integer", "description": "Identifier for a [User](/api/user-manager/#user) that is the split commissionable employee", "example": "22214" }, 
            "CommissionType": { "type": "byte", "description": "Type of commission applied. If this is a Coupon commission, see [CouponCommissionTypes](#couponcommissiontypes) for a list of acceptable values, otherwise see [CommissionTypes](#commissiontypes) for a list of acceptable values", "example": "1" }, 
            "CouponID": { "type": "integer", "description": "Identifier for a coupon associated with this commission in RQ", "example": "8" }, 
            "DateCreatedUtc": { "type": "DateTime", "description": "Time created in RQ, in UTC", "example": "2015-08-18T15:00:00" }, 
            "EmployeeSpecialId": { "type": "integer", "description": "Special Identifier for the Employee in RQ", "example": "1002" }, 
            "UserId": { "type": "integer", "description": "Identifier for a [User](/api/user-manager/#user) that is the primary commissionable employee", "ref": "user-manager.User.Id" }, 
            "GlobalProductID": { "type": "integer", "description": "Identifier of product associated with this commission in RQ", "example": "1210" }, 
            "HasBeenReversed": { "type": "boolean", "description": "A flag to indicate if this CommissionEntry has been reversed", "example": "false" }, 
            "InvoiceEditedDate": { "type": "DateTime", "description": "Time last edited with the Invoice Editor in RQ", "example": "2015-09-10T20:01:49.00" }, 
            "InvoiceNumber": { "type": "string", "size": "14", "description": "Invoice Number of the transaction which created this commission in RQ", "example": "84WEAIN5703" }, 
            "IsChargeback": { "type": "boolean", "description": "A flag to indicate if this commission was created by a chargeback in RQ", "example": "false" }, 
            "IsCommissionSplit": { "type": "boolean", "description": "A flag to indicate if the commission is split with a second employee", "example": "true" }, 
            "IsFullChargeback": { "type": "boolean", "description": "A flag to indicate if this commission was created by a full chargeback in RQ", "example": "false" }, 
            "IsSuspended": { "type": "boolean", "description": "A flag to indicate if this commission has been suspended", "example": "false" }, 
            "LastUpdateDateUtc": { "type": "DateTime", "description": "Time created in the API, in UTC", "example": "2015-09-09T20:41:59.69" }, 
            "LocationCode": { "type": "string",  "description": "An identifier for the Location in an external system", "example": "LOC123" }, 
            "LocationId": { "type": "integer", "description": "Identifier for the [Location](/api/company-tree/#location)", "ref": "company tree.Location.Id" }, 
            "MilestoneID": { "type": "GUID", "description": "Identifier for a milestone associated with this commission in RQ", "example": "74b95526-e46b-42da-baa5-19971dfe5b18" }, 
            "Priority": { "type": "integer", "description": "Priority of product on sale invoice associated with this commission in RQ", "example": "1" }, 
            "Quantity": { "type": "integer", "description": "The number of times the unit commission is to be applied", "example": "1" }, 
            "RQCommissionId": { "type": "integer", "description": "Identifier of the associated commission RQ", "example": "445" }, 
            "SaleInvoiceAndCouponID": { "type": "GUID", "description": "Identifier of the coupon on the sale invoice associated with this commission in RQ", "example": "d6ee8427-eac6-44ef-ac69-4617e18d2f66" }, 
            "SaleInvoiceID": { "type": "integer", "description": "Identifier of the sale invoice which created this commission in RQ", "example": "7" }, 
            "SerialNumber": { "type": "string", "size": "100", "description": "Serial number of the product associated with this commission in RQ", "example": "8508194953" }, 
            "SplitRate1": { "type": "decimal", "description": "Percentage of the commission the primary employee receives, defaults to 100", "example": "50.0" }, 
            "SplitRate2": { "type": "decimal", "description": "Percentage of the commission the split employee receives, defaults to 0", "example": "50.0" }, 
            "TotalCommission": { "type": "decimal", "description": "The total commission amount to be applied equal to (UnitCommission * Quantity)", "example": "5.32" }, 
            "TransactionGUID": { "type": "GUID", "description": "Identifier of the transaction which created this commission in RQ", "example": "a929571e-c432-4e9a-aef7-4302ed791251" }, 
            "TransactionType": { "type": "byte", "description": "Type of transaction which created this commission. See [TransactionTypes](#transactiontypes) for a list of acceptable values", "example": "1" }, 
            "UnitCommission": { "type": "decimal", "description": "The individual unit Commission amount", "example": "5.32" }
          }
        }
        

    

    
    - CommissionEntriesHal: |
        { 
          "name": "CommissionEntriesHal",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "_links": { "type": "object", "putDescription": "Relative URL's used for Pagination", "ref": "commissions.CommissionPropertyLinks" },
            "_embedded": { "type": "object", "ref": "commissions.CommissionEmbeddedLinks" }
          }
        }
        

    

    
    - CommissionEmbeddedLinks: |
        { 
          "name": "CommissionEmbeddedLinks",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "self": { "type": "array", "arrayType": "object", "ref": "commissions.CommissionEntryHal" }
          }
        }
        

    

    
    - CommissionLinks: |
        {
          "name": "CommissionLinks",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "self": { "type": "object", "ref": "commissions.CommissionSelf" }
          }
        }
        

    

    
    - CommissionSelf: |
        {
          "name": "CommissionSelf",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "href": { "type": "string", "putDescription": "A link to the request that will return this CommissionEntry", "example": "v1/Companies(14146)/CommissionEntries(24)" },
            "templated": { "type": "boolean", "putDescription": "A flag to indicate ????????????????", "example": "false" }
          }
        }              
        

    

    
    - CommissionPropertyLinks: |
        { 
          "name": "CommissionPropertyLinks",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "prev": { "type": "object", "putDescription": "Refers to a resource containing the previous page of results, null if there is no previous page", "example": "null" },
            "self": { "type": "object", "putDescription": "The request that returned this result", "ref": "commissions.iqCommissions" },
            "next": { "type": "object", "putDescription": "Refers to a resource containing the next page of results, null if this is the last page", "example": "null" }
          }
        }
        

    

    
    - iqCommissions: |
        {
          "name": "iqCommissions",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "href": { "type": "string", "example": "v1/Companies(14146)/CommissionEntries?$filter=ransactionDateUTC ge datetime'2015-01-01T00:00:00.000' and TransactionDateUTC le datetime'2015-12-31T23:59:59.000'&$skip=0&$top=10" },
            "templated": { "type": "boolean", "putDescription": "A flag to indicate ????????????????", "example": "false" }
          }
        }       
        

    


/Companies({CompanyId})/CommissionEntries?$filter=LastUpdateDateUtc ge datetime'{StartDate}' and LastUpdateDateUtc le datetime'{EndDate}'&$skip={Skip}&$top={Top}:
    
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>
        
        StartDate:
            displayName: StartDate
            type: string
            example: 2014-12-31
            required: false
            description: Date at which to begin search request, in UTC
        
        EndDate:
            displayName: EndDate
            type: string
            example: 2015-12-31
            required: false
            description: Date at which to end search request, in UTC
        
        Skip:
            displayName: Skip
            type: string
            example: 1
            required: false
            description: The number of items to skip from the entire set of results. Defaults to 0 if no $skip value is specified. If a value less than 0 is specified, the URI is considered malformed
        
        Top:
            displayName: Top
            type: string
            example: 10
            required: false
            description: Maximum number of items to include in the response. Defaults to 50 if no $top value is specified. Acceptable values are in the range [0
          
      
    get:
        
        displayName: Getting All Commission Entries
                
        
        description: |            
            By default, the sorting order of the response to this request will be **descending** order by `LastUpdateDateUtc`

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/hal+json
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/hal+json:
                        
                            
                            example: |
                                {"_links":{"prev":null,"self":{"href":"v1/Companies(14146)/CommissionEntries?$filter=ransactionDateUTC ge datetime'2015-01-01T00:00:00.000' and TransactionDateUTC le datetime'2015-12-31T23:59:59.000'&$skip=0&$top=10","templated":false},"next":null},"_embedded":{"self":[{"_links":{"self":{"href":"v1/Companies(14146)/CommissionEntries(24)","templated":false}},"_embedded":{},"Id":24,"Comments":"Shared with Nick","CommissionFixedCost":10,"CommissionFloatingCost":10,"CommissionRate":35,"CommissionSpiff":15,"CommissionSplitEmployeeSpecialId":10002,"CommissionSplitUserId":22214,"CommissionType":1,"CouponID":8,"DateCreatedUtc":"2015-08-18T15:00:00","EmployeeSpecialId":1002,"UserId":2576,"GlobalProductID":1210,"HasBeenReversed":false,"InvoiceEditedDate":"2015-09-10T20:01:49.00","InvoiceNumber":"84WEAIN5703","IsChargeback":false,"IsCommissionSplit":true,"IsFullChargeback":false,"IsSuspended":false,"LastUpdateDateUtc":"2015-09-09T20:41:59.69","LocationCode":"LOC123","LocationId":14202,"MilestoneID":"74b95526-e46b-42da-baa5-19971dfe5b18","Priority":1,"Quantity":1,"RQCommissionId":445,"SaleInvoiceAndCouponID":"d6ee8427-eac6-44ef-ac69-4617e18d2f66","SaleInvoiceID":7,"SerialNumber":"8508194953","SplitRate1":50,"SplitRate2":50,"TotalCommission":5.32,"TransactionGUID":"a929571e-c432-4e9a-aef7-4302ed791251","TransactionType":1,"UnitCommission":5.32}]}}
                            schema: |
                                {"name":"CommissionEntriesHal","type":"object","exclude":"true","$schema":"http://json-schema.org/draft-03/schema","properties":{"_links":{"type":"object","putDescription":"Relative URL's used for Pagination","ref":"commissions.CommissionPropertyLinks","properties":{"prev":{"type":"object","putDescription":"Refers to a resource containing the previous page of results, null if there is no previous page","example":"null","name":"prev"},"self":{"type":"object","putDescription":"The request that returned this result","ref":"commissions.iqCommissions","name":"self","properties":{"href":{"type":"string","example":"v1/Companies(14146)/CommissionEntries?$filter=ransactionDateUTC ge datetime'2015-01-01T00:00:00.000' and TransactionDateUTC le datetime'2015-12-31T23:59:59.000'&$skip=0&$top=10","name":"href"},"templated":{"type":"boolean","putDescription":"A flag to indicate ????????????????","example":"false","name":"templated"}}},"next":{"type":"object","putDescription":"Refers to a resource containing the next page of results, null if this is the last page","example":"null","name":"next"}}},"_embedded":{"type":"object","ref":"commissions.CommissionEmbeddedLinks","properties":{"self":{"type":"array","arrayType":"object","ref":"commissions.CommissionEntryHal","name":"self","properties":{"_links":{"type":"object","putDescription":"Relative links to requests related to this resource","ref":"commissions.CommissionLinks","name":"_links","properties":{"self":{"type":"object","ref":"commissions.CommissionSelf","name":"self","properties":{"href":{"type":"string","putDescription":"A link to the request that will return this CommissionEntry","example":"v1/Companies(14146)/CommissionEntries(24)","name":"href"},"templated":{"type":"boolean","putDescription":"A flag to indicate ????????????????","example":"false","name":"templated"}}}}},"_embedded":{"type":"object","putDescription":"?????????????","example":"","name":"_embedded"},"Id":{"type":"integer","description":"Unique Identifier","example":"24","name":"Id"},"Comments":{"type":"string","size":"255","description":"Comments","example":"Shared with Nick","name":"Comments"},"CommissionFixedCost":{"type":"decimal","description":"Fixed cost of commission applied. Anything above this value is commission","example":"10.0","name":"CommissionFixedCost"},"CommissionFloatingCost":{"type":"decimal","description":"Floating cost of commission applied. This value is determined by adding anything above this value to average cost","example":"10","name":"CommissionFloatingCost"},"CommissionRate":{"type":"decimal","description":"Commission rate applied","example":"35.0","name":"CommissionRate"},"CommissionSpiff":{"type":"decimal","description":"A type of commission structure used to pay employees, where a fixed dollar amount is paid per unit sold","example":"15.0","name":"CommissionSpiff"},"CommissionSplitEmployeeSpecialId":{"type":"integer","description":"Special Identifier for the split commission Employee in RQ","example":"10002","name":"CommissionSplitEmployeeSpecialId"},"CommissionSplitUserId":{"type":"integer","description":"Identifier for a [User](/api/user-manager/#user) that is the split commissionable employee","example":"22214","name":"CommissionSplitUserId"},"CommissionType":{"type":"byte","description":"Type of commission applied. If this is a Coupon commission, see [CouponCommissionTypes](#couponcommissiontypes) for a list of acceptable values, otherwise see [CommissionTypes](#commissiontypes) for a list of acceptable values","example":"1","name":"CommissionType"},"CouponID":{"type":"integer","description":"Identifier for a coupon associated with this commission in RQ","example":"8","name":"CouponID"},"DateCreatedUtc":{"type":"datetime","description":"Time created in RQ, in UTC","example":"2015-08-18T15:00:00","name":"DateCreatedUtc"},"EmployeeSpecialId":{"type":"integer","description":"Special Identifier for the Employee in RQ","example":"1002","name":"EmployeeSpecialId"},"UserId":{"type":"integer","description":"Identifier for a [User](/api/user-manager/#user) that is the primary commissionable employee","ref":"user-manager.User.Id","name":"UserId","example":"2576"},"GlobalProductID":{"type":"integer","description":"Identifier of product associated with this commission in RQ","example":"1210","name":"GlobalProductID"},"HasBeenReversed":{"type":"boolean","description":"A flag to indicate if this CommissionEntry has been reversed","example":"false","name":"HasBeenReversed"},"InvoiceEditedDate":{"type":"datetime","description":"Time last edited with the Invoice Editor in RQ","example":"2015-09-10T20:01:49.00","name":"InvoiceEditedDate"},"InvoiceNumber":{"type":"string","size":"14","description":"Invoice Number of the transaction which created this commission in RQ","example":"84WEAIN5703","name":"InvoiceNumber"},"IsChargeback":{"type":"boolean","description":"A flag to indicate if this commission was created by a chargeback in RQ","example":"false","name":"IsChargeback"},"IsCommissionSplit":{"type":"boolean","description":"A flag to indicate if the commission is split with a second employee","example":"true","name":"IsCommissionSplit"},"IsFullChargeback":{"type":"boolean","description":"A flag to indicate if this commission was created by a full chargeback in RQ","example":"false","name":"IsFullChargeback"},"IsSuspended":{"type":"boolean","description":"A flag to indicate if this commission has been suspended","example":"false","name":"IsSuspended"},"LastUpdateDateUtc":{"type":"datetime","description":"Time created in the API, in UTC","example":"2015-09-09T20:41:59.69","name":"LastUpdateDateUtc"},"LocationCode":{"type":"string","description":"An identifier for the Location in an external system","example":"LOC123","name":"LocationCode"},"LocationId":{"type":"integer","description":"Identifier for the [Location](/api/company-tree/#location)","ref":"company tree.Location.Id","name":"LocationId","example":"14202"},"MilestoneID":{"type":"guid","description":"Identifier for a milestone associated with this commission in RQ","example":"74b95526-e46b-42da-baa5-19971dfe5b18","name":"MilestoneID"},"Priority":{"type":"integer","description":"Priority of product on sale invoice associated with this commission in RQ","example":"1","name":"Priority"},"Quantity":{"type":"integer","description":"The number of times the unit commission is to be applied","example":"1","name":"Quantity"},"RQCommissionId":{"type":"integer","description":"Identifier of the associated commission RQ","example":"445","name":"RQCommissionId"},"SaleInvoiceAndCouponID":{"type":"guid","description":"Identifier of the coupon on the sale invoice associated with this commission in RQ","example":"d6ee8427-eac6-44ef-ac69-4617e18d2f66","name":"SaleInvoiceAndCouponID"},"SaleInvoiceID":{"type":"integer","description":"Identifier of the sale invoice which created this commission in RQ","example":"7","name":"SaleInvoiceID"},"SerialNumber":{"type":"string","size":"100","description":"Serial number of the product associated with this commission in RQ","example":"8508194953","name":"SerialNumber"},"SplitRate1":{"type":"decimal","description":"Percentage of the commission the primary employee receives, defaults to 100","example":"50.0","name":"SplitRate1"},"SplitRate2":{"type":"decimal","description":"Percentage of the commission the split employee receives, defaults to 0","example":"50.0","name":"SplitRate2"},"TotalCommission":{"type":"decimal","description":"The total commission amount to be applied equal to (UnitCommission * Quantity)","example":"5.32","name":"TotalCommission"},"TransactionGUID":{"type":"guid","description":"Identifier of the transaction which created this commission in RQ","example":"a929571e-c432-4e9a-aef7-4302ed791251","name":"TransactionGUID"},"TransactionType":{"type":"byte","description":"Type of transaction which created this commission. See [TransactionTypes](#transactiontypes) for a list of acceptable values","example":"1","name":"TransactionType"},"UnitCommission":{"type":"decimal","description":"The individual unit Commission amount","example":"5.32","name":"UnitCommission"}}}}}}}
                            
                        
                    
                
            
    
