#%RAML 0.8
title: company tree
baseUri: https://entitymanagerdemo.iqmetrix.net/v1
schemas: 

    
    - Company: |
        {
          "name": "Company",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "",
          "properties": {
            "Id": { "type": "integer", "description": "Unique identifier", "example": "14146", "generated": "true", "putGenerate": "true" }, 
            "Name": { "type": "string", "size": "250", "description": "Name", "example": "Kentel Corp" }, 
            "Description": { "type": "string", "size": "255", "description": "Description", "example": "Wireless accessories provider with store locations all across the globe." }, 
            "Roles": { "type": "array", "arrayType": "object", "description": "The value must be Company", "ref": "company tree.CompanyRole", "isNested": "true" },
            "ClientEntityId": { "type": "string",  "description": "Identifier in an external system", "example": "123" }, 
            "CreatedUtc": { "type": "DateTime", "description": "Created date in UTC", "example": "2015-05-20T23:06:29.7700813Z" }, 
            "LastModifiedUtc": { "type": "DateTime", "description": "Last modified date in UTC", "example": "2015-05-20T23:06:29.7700813Z" }, 
            "Attributes": { "type": "object", "description": "Set of key-value pairs that contain extra data", "example": "" },
            "Logo": { "type": "object", "description": "A reference to an [Asset](/api/assets/#asset)", "ref": "company tree.Asset"}, 
            "Relationships": { "type": "array", "arrayType": "object","description": "See [Company Relationships](#company-relationships)", "ref": "company tree.Relationship", "generated": "true" },
            "SortName": { "type": "string",  "description": "A string used for sorting", "example": "kentel corp" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "example": "1" }, 
            "CorrelationId": { "type": "string",  "description": "Reserved for internal use"},
            "Role": { "type": "string",  "description": "Reserved for internal use" },
            "TypeId": { "type": "integer",  "description": "Reserved for future use"  }
          }
        }
        

    

    
    - CompanyRole: |
        {
            "name": "CompanyRole",
            "exclude": "true",
            "type": "object",
            "$schema": "http://json-schema.org/draft-03/schema",
            "properties": {
              "Name": { "type": "string", "description": "Name", "example": "Company" }
            }
        }      
        

    

    
    - Relationship: |
        {
          "name": "Relationship",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Id": { "type": "integer", "description": "Identifier for the relationship", "example": "6267", "generated": "true" }, 
            "Source": { "type": "integer", "description": "Identifier for a {{Vendor}}, <a href='http://developers.iqmetrix.com/api/entity-store/#carrier'>Carrier</a> or {{Partner}} or <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>", "example": "14146" },
            "Destination": { "type": "integer", "description": "Identifier for a <a href='http://developers.iqmetrix.com/api/company-tree/#group'>Group</a>, <a href='http://developers.iqmetrix.com/api/company-tree/#location'>Location</a>, <a href='http://developers.iqmetrix.com/api/company-tree/#division'>Division</a> or <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>", "example": "14147" },
            "CreatedUtc": { "type": "DateTime", "description": "Date the relationship was formed, in UTC", "example": "2015-11-20T18:22:10.931Z", "generated": "true" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "example": "1", "generated": "true" },
            "Definition": { "type": "integer", "description": "Reserved for internal use", "example": "2" }
          }
        }     
        

    

    
    - Asset: |
        {
          "name": "Asset",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Id": { "type": "GUID", "description": "Unique identifier", "example": "d22291d9-db1d-45e2-ab60-32ac9c145323", "generated": "true", "putGenerate": "true" }, 
            "Name": { "type": "string", "description": "File name", "example": "globe-rocket.jpg", "generated": "true" }, 
            "Height": { "type": "integer", "description": "Height in pixels", "example": "341", "generated": "true" }, 
            "Href": { "type": "string", "description": "URL that points to an actual file where the digital asset is stored", "example": "https://amsdemostorage.blob.core.windows.net/assets/d22291d9-db1d-45e2-ab60-32ac9c145323.jpg", "generated": "true" }, 
            "Md5Checksum": { "type": "string", "description": "String that can be used for upload integrity checks or comparing two assets", "example": "d2d0b491ad3eecd9d8c3dabb0610197d", "generated": "true" }, 
            "MimeType": { "type": "string", "description": "Mime type", "example": "image/jpeg", "generated": "true" }, 
            "Width": { "type": "integer", "description": "Width in pixels", "example": "450", "generated": "true" }
          }
        }
        

    

    
    - CompanyTree: |
        {
          "name": "CompanyTree",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "Your Company Tree is a hierarchial representation of how your Company is structured, including the root Company, Groups, Divisions and Locations.\n\nTo learn more about Company Trees, see {{CompanyTree_Concept}}.",
          "properties": {
            "Id": { "type": "integer", "description": "Company identifier", "ref": "company tree.Company.Id", "generated": "true", "putGenerate": "true" }, 
            "Name": { "type": "string", "size": "250", "description": "Company name", "ref": "company tree.Company.Name" }, 
            "Description": { "type": "string", "size": "255", "description": "Description", "ref": "company tree.Company.Description" }, 
            "Role": { "type": "string",  "description": "Role", "ref": "company tree.CompanyRole.Name" }, 
            "Nodes": { "type": "array", "arrayType": "object", "ref": "company tree.CompanyTreeNode", "description": "The Company Tree hierarchy made up of Nodes" }
          }
        }
        

    

    
    - CompanyTreeNode: |
        {
          "name": "CompanyTreeNode",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "CompanyTreeNodes are used to represent hierarchy in a Company Tree. A Node can represent a <a href='http://developers.iqmetrix.com/api/company-tree/#group'>Group</a>, <a href='http://developers.iqmetrix.com/api/company-tree/#division'>Division</a>, <a href='http://developers.iqmetrix.com/api/company-tree/#location'>Location</a> or device.",
          "properties": {
            "Id": { "type": "integer", "description": "Identifier", "ref": "company tree.Division.Id", "generated": "true", "putGenerate": "true" }, 
            "Name": { "type": "string", "size": "250", "description": "Name", "ref": "company tree.Division.Name" }, 
            "Description": { "type": "string", "size": "255", "description": "Description", "ref": "company tree.Division.Description" }, 
            "Role": { "type": "string",  "description": "Role, possible values include: Company, Group, Division and Location", "ref": "company tree.DivisionRole.Name" }, 
            "Nodes": { "type": "array", "arrayType": "object", "description": "Children", "example": "" }
          }
        }
        

    

    
    - Location: |
        {
          "name": "Location",        
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "A **Location** is a physical or virtual presence that may hold inventory or process transactions.",
          "properties": {
            "Id": { "type": "integer", "description": "Unique identifier", "putDescription": "Required for PUT requests", "example": "14202", "generated": "true", "putGenerate": "true" }, 
            "Name": { "type": "string", "size": "250", "description": "Name", "example": "Dufferin Mall" }, 
            "Description": { "type": "string", "size": "255", "description": "Description", "example": "This Location is used to clear out discounted inventory" }, 
            "Roles": { "type": "array", "arrayType": "object","description": "The Role of this Location, the value must be Location", "putDescription": "Must be `Location`", "ref": "company tree.LocationRole", "isNested": "true", "putGenerate": "true" },
            "CreatedUTC": { "type": "DateTime", "description": "Created date in UTC", "example": "2015-02-26T00:03:01.372Z", "generated": "true" }, 
            "LastModifiedUTC": { "type": "DateTime", "description": "Last modified date in UTC", "example": "2015-02-27T00:03:06.392Z", "generated": "true" }, 
            "Area": { "type": "object", "description": "Measurement of floor space", "ref": "company tree.Area"},
            "Address": { "type": "object", "description": "Address", "ref": "company tree.Address"},
            "Attributes": { "type": "object", "description": "Set of key-value pairs that contain extra data"},
            "ClientEntityId": { "type": "string",  "description": "Identifier in an external system", "example": "123" }, 
            "Contacts": { "type": "array", "arrayType": "object", "description": "Contact information", "ref": "company tree.Contact"},
            "Geography": { "type": "object", "description": "Geographic coordinates of this Location", "ref": "company tree.Geography", "isNested": "true"},
            "Relationships": { "type": "array", "arrayType": "object","description": "Relationship information, such as the parent node in the Company Tree", "example": "", "generated": "true"},
            "SortName": { "type": "string",  "description": "A string used for sorting", "example": "dufferin mall", "generated": "true" }, 
            "StoreHours": { "type": "object", "ref":"company tree.StoreHours", "description": "Store hours for this Location"},
            "StorePhoneNumbers": { "type": "array", "arrayType": "object", "isNested": "true", "ref": "company tree.PhoneNumber", "description": "Phone numbers"},
            "TimeZone": { "type": "object", "ref": "company tree.TimeZone", "isNested": "true", "description": "Timezone information for the Location"},
            "Version": { "type": "integer", "description": "Latest revision number", "example": "13", "generated": "true", "putGenerate": "true" }, 
            "CorrelationId": { "type": "string",  "description": "Reserved for internal use"},
            "LocationType": { "type": "string",  "description": "Reserved for future use"},
            "LocationSubType": { "type": "string",  "description": "Reserved for future use"},
            "Logo": { "type": "object", "description": "Reserved for internal use"},
            "Role": { "type": "string",  "description": "Reserved for internal use" },
            "TypeId": { "type": "integer",  "description": "Reserved for future use"  }
          },
          "required": ["Name", "Roles"]
        }
        

    

    
    - LocationArray: |
        {
          "exclude": "true",
          "name": "Location",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema"
        }
        

    

    
    - LocationRole: |
        {
            "name": "LocationRole",
            "exclude": "true",
            "type": "object",
            "$schema": "http://json-schema.org/draft-03/schema",
            "properties": {
              "Name": { "type": "string", "description": "Name", "example": "Location" }
            },
            "required": [ "Name" ]
        }          
        

    

    
    - Division: |
        {
          "name": "Division",                
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "Division, as well as Groups, serve as generic buckets clients can use to organize the company tree. Divisions could be used to represent sub-brand or sub-company of a main company.\n\nTo learn more about Divisions, see {{Division_Concept}}.",
          "properties": {
            "Id": { "type": "integer", "description": "Unique identifier", "example": "14159", "generated": "true", "putGenerate": "true" }, 
            "Name": { "type": "string", "size": "250", "description": "Name", "example": "T-hut Wireless" }, 
            "Description": { "type": "string", "size": "255", "description": "Description", "example": "Division of Kiosks" }, 
            "Roles": { "type": "array", "arrayType": "object", "description": "The value must be Division", "generated": "true", "ref": "company tree.DivisionRole", "isNested": "true", "putGenerate": "true" }, 
            "ClientEntityId": { "type": "string",  "description": "Identifier in an external system", "example": "187" }, 
            "CreatedUTC": { "type": "DateTime", "description": "Created date in UTC", "example": "2015-05-20T23:06:29.7700813Z", "generated": "true" }, 
            "LastModifiedUTC": { "type": "DateTime", "description": "Last modified date in UTC", "example": "2015-05-20T23:06:29.7700813Z", "generated": "true" }, 
            "Attributes": { "type": "object", "description": "Set of key-value pairs that contain extra data"},
            "Logo": { "type": "object", "ref":"company tree.Asset", "description": "A reference to an Asset", "generated": "true" }, 
            "Relationships": { "type": "array", "arrayType": "object","description": "Relationship information, such child Locations, Suppliers and Carriers", "example": "", "generated": "true" }, 
            "SortName": { "type": "string",  "description": "A string used for sorting", "example": "t-hut wireless", "generated": "true" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "example": "1", "generated": "true", "putGenerate": "true" }, 
            "CorrelationId": { "type": "string",  "description": "Reserved for internal use"},
            "Role": { "type": "string",  "description": "Reserved for internal use" },
            "TypeId": { "type": "integer",  "description": "Reserved for future use"  }          
          },
          "required": ["Name"]        
        }
        

    

    
    - DivisionRole: |
        {
            "name": "DivisionRole",
            "exclude": "true",
            "type": "object",
            "$schema": "http://json-schema.org/draft-03/schema",
            "properties": {
              "Name": { "type": "string", "description": "Name", "example": "Division" }
            }
        }      
        

    

    
    - Group: |
        {
          "name": "Group",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "Managerial or geographical groupings.\n\n To learn more about Groups, see {{Group_Concept}}.",
          "properties": {
            "Id": { "type": "integer", "description": "Unique identifier", "example": "14166", "generated": "true", "putGenerate": "true"}, 
            "Name": { "type": "string", "size": "250", "description": "Name", "example": "Toronto" }, 
            "Description": { "type": "string", "size": "255", "description": "Description", "example": "Group within Ontario" }, 
            "Roles": { "type": "array", "arrayType": "object", "description": "The value must be Group", "generated": "true", "ref": "company tree.GroupRole", "isNested": "true", "putGenerate": "true" }, 
            "ClientEntityId": { "type": "string",  "description": "Identifier in an external system", "example": "187" }, 
            "CreatedUTC": { "type": "DateTime", "description": "Created date in UTC", "example": "2015-05-20T23:06:29.7700813Z", "generated": "true" }, 
            "LastModifiedUTC": { "type": "DateTime", "description": "Last modified date in UTC", "example": "2015-05-20T23:06:29.7700813Z", "generated": "true" }, 
            "Attributes": { "type": "object", "description": "Set of key-value pairs that contain extra data"},
            "Logo": { "type": "object", "ref":"assets.Asset", "description": "A reference to an Asset", "generated": "true", "example": "" }, 
            "Relationships": { "type": "array", "arrayType": "object","description": "Relationship information, such child Locations, Suppliers and Carriers", "example": "", "generated": "true"  }, 
            "SortName": { "type": "string",  "description": "A string used for sorting", "example": "toronto", "generated": "true" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "example": "1", "generated": "true", "putGenerate": "true" }, 
            "CorrelationId": { "type": "string",  "description": "Reserved for internal use"},
            "Role": { "type": "string",  "description": "Reserved for internal use" },
            "TypeId": { "type": "integer",  "description": "Reserved for future use"  }
          },
          "required": ["Name"]
        }
        

    

    
    - GroupRole: |
        {
            "name": "GroupRole",
            "exclude": "true",
            "type": "object",
            "$schema": "http://json-schema.org/draft-03/schema",
            "properties": {
              "Name": { "type": "string", "description": "Name", "example": "Group" }
            }
        }      
        

    

    
    - ClientIdSearch: |
        {
          "exclude": "true",
          "name": "ClientIdSearch",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "array",
          "properties": {
            "Id": { "type": "integer", "ref": "company tree.Location.Id"},
            "Name": { "type": "string", "ref": "company tree.Location.Name"},
            "Description": { "type": "string", "description": "", "ref": "company tree.Location.Description" },
            "Role": { "type": "string", "description": "Role of the Entity", "ref": "company tree.LocationRole.Name"},
            "Path": { "type": "array", "arrayType": "object", "ref": "company tree.Path", "description": "Parents of the Entity. The order of elements is important, reflecting the hierarchy of parents (self, parent, parent-of-parent, etc) "}     
          }
        }
        

    

    
    - Path: |
        {
          "exclude": "true",
          "name": "Path",
          "$schema": "http://json-schema.org/draft-04/schema#",
          "type": "object",
          "properties": {
            "Id": { "type": "integer", "ref": "company tree.Location.Id" },
            "Name": { "type": "string", "ref": "company tree.Location.Name"},
            "Description": { "type": "string", "ref": "company tree.Location.Description"},
            "Role": { "type": "string", "description": "Role of the Entity", "ref": "company tree.LocationRole.Name"}
          }
        }
        

    

    
    - Address: |
        {
          "name": "Address",        
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "A **Location** is a physical or virtual presence that may hold inventory or process transactions.",
          "properties": {
            "AddressLine1": { "type": "string",  "description": "First line of Address", "example": "4970 Hillside Avenue" }, 
            "AddressLine2": { "type": "string",  "description": "Second line of Address", "example": "Apt 115" }, 
            "City": { "type": "string",  "description": "City", "example": "Edmonton" }, 
            "StateCode": { "type": "string",  "description": "Code for the State in which this address resides. Based off the ISO 3166-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>", "example": "ON" }, 
            "StateName": { "type": "string",  "description": "State/Province. Uses the ISO 3166-2 standard", "example": "Ontario" }, 
            "CountryCode": { "type": "string",  "description": "Country Code. Uses the ISO 3166-1 alpha-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","putDescription": "Required if�StateCode�is provided", "ref": "reference.Country.Code" }, 
            "CountryName": { "type": "string",  "description": "Country", "example": "Canada" }, 
            "Zip": { "type": "string",  "description": "Zip or Postal Code", "example": "P9H 9I4" }
          }
        }
        

    

    
    - Area: |
        {
          "name": "Area",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Value": { "type": "integer", "description": "Value of the Area", "putDescription": "Only required if Area is not null. If provided, Unit must also be provided", "example": "1100" }, 
            "Unit": { "type": "string",  "description": "Unit used for the Value, acceptable values are SqFt and SqM", "putDescription": "Only required if Area is not null. If provided, Value must also be provided", "example": "SqFt" }
          },
          "required": ["Value", "Unit"]               
        }   
        

    

    
    - TimeZone: |
        {
          "name": "TimeZone",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Id": { "type": "string", "description": "Identifier. For a list of acceptable values, see <a href='/api/reference/#getting-all-time-zones'>Getting All Time Zones</a>", "ref": "reference.TimeZone.Id" }, 
            "DaylightSavingTimeEnabled": { "type": "boolean", "description": "A flag to indicate if the Time Zone observes Daylight Savings Time", "example": "true" }
          }        
        }   
        

    

    
    - Geography: |
        {
          "exclude": "true",
          "name": "Geography",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Longitude": { "type": "decimal", "description": "Longitude, must be between -180 and 180", "putDescription": "Only required if Geography is not null. If provided, Longitude must also be provided","example": "-104.612034" }, 
            "Latitude": { "type": "decimal", "description": "Latitude, must be between -90 and 90", "putDescription": "Only required if Geography is not null. If provided, Latitude must also be provided", "example": "50.443559" }
          },
          "required": ["Latitude", "Longitude"]
        } 
        

    

    
    - StoreHours: |
        {
          "name": "StoreHours",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Monday": { "type": "object", "description": "Hours on Monday",  "ref": "company tree.WeekDay" },
            "Tuesday": { "type": "object", "description": "Hours on Tuesday","ref": "company tree.WeekDay" },
            "Wednesday": { "type": "object","description": "Hours on Wednesday", "ref": "company tree.WeekDay" },
            "Thursday": { "type": "object","description": "Hours on Thursday", "ref": "company tree.WeekDay" },
            "Friday": { "type": "object", "description": "Hours on Friday","description": "Hours on Monday","ref": "company tree.WeekDay" },
            "Saturday": { "type": "object", "description": "Hours on Saturday","ref": "company tree.WeekDay" },
            "Sunday": { "type": "object","description": "Hours on Sunday", "ref": "company tree.WeekDay" }
          }        
        } 
        

    

    
    - WeekDay: |
        {
          "name": "WeekDay",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Open": { "type": "object", "description": "Open time", "isNested": "true", "ref": "company tree.Hours" }, 
            "Close": { "type": "object", "description": "Close time","isNested": "true", "ref": "company tree.Hours" }
          }        
        } 
        

    

    
    - Hours: |
        {
          "exclude": "true",
          "name": "Hours",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Hour": { "type": "integer", "example": "10" }, 
            "Minute": { "type": "integer", "example": "0" }
          }        
        }
        

    

    
    - Contact: |
        {
          "name": "Contact",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Name": { "type": "string","description": "Name", "example": "John Smith" }, 
            "Description": { "type": "string", "description": "Description","example": "Store Manager" },
            "PhoneNumbers": { "type": "array", "description": "Phone numbers", "isNested": "true", "ref": "company tree.PhoneNumber"}
            }        
        }
        

    

    
    - PhoneNumber: |
        {
          "exclude": "true",
          "name": "PhoneNumber",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
              "Description": { "type": "string", "description": "Description", "example": "Main Line" }, 
              "Number": { "type": "string", "description": "Phone number","example": "5555555555" }, 
              "Extension": { "type": "string", "description": "Extension","example": "1234" }
            }        
        }
        

    


/Companies({CompanyId}):
    
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>
          
      
    get:
        
        displayName: Getting a Company
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                {"Id":14146,"Name":"Kentel Corp","Description":"Wireless accessories provider with store locations all across the globe.","Roles":[{"Name":"Company"}],"ClientEntityId":"123","CreatedUtc":"2015-05-20T23:06:29.7700813Z","LastModifiedUtc":"2015-05-20T23:06:29.7700813Z","Attributes":{},"Logo":{"Id":"d22291d9-db1d-45e2-ab60-32ac9c145323","Name":"globe-rocket.jpg","Height":341,"Href":"https://amsdemostorage.blob.core.windows.net/assets/d22291d9-db1d-45e2-ab60-32ac9c145323.jpg","Md5Checksum":"d2d0b491ad3eecd9d8c3dabb0610197d","MimeType":"image/jpeg","Width":450},"Relationships":[{"Id":6267,"Source":14146,"Destination":14147,"CreatedUtc":"2015-11-20T18:22:10.931Z","Version":1}],"SortName":"kentel corp","Version":1}
                            schema: |
                                {"name":"Company","type":"object","$schema":"http://json-schema.org/draft-03/schema","description":"","properties":{"Id":{"type":"integer","description":"Unique identifier","example":"14146","generated":"true","putGenerate":"true"},"Name":{"type":"string","size":"250","description":"Name","example":"Kentel Corp"},"Description":{"type":"string","size":"255","description":"Description","example":"Wireless accessories provider with store locations all across the globe."},"Roles":{"type":"array","arrayType":"object","description":"The value must be Company","ref":"company tree.CompanyRole","isNested":"true","properties":{"Name":{"type":"string","description":"Name","example":"Company","name":"Name"}}},"ClientEntityId":{"type":"string","description":"Identifier in an external system","example":"123"},"CreatedUtc":{"type":"DateTime","description":"Created date in UTC","example":"2015-05-20T23:06:29.7700813Z"},"LastModifiedUtc":{"type":"DateTime","description":"Last modified date in UTC","example":"2015-05-20T23:06:29.7700813Z"},"Attributes":{"type":"object","description":"Set of key-value pairs that contain extra data","example":""},"Logo":{"type":"object","description":"A reference to an [Asset](/api/assets/#asset)","ref":"company tree.Asset","properties":{"Id":{"type":"guid","description":"Unique identifier","example":"d22291d9-db1d-45e2-ab60-32ac9c145323","generated":"true","putGenerate":"true","name":"Id"},"Name":{"type":"string","description":"File name","example":"globe-rocket.jpg","generated":"true","name":"Name"},"Height":{"type":"integer","description":"Height in pixels","example":"341","generated":"true","name":"Height"},"Href":{"type":"string","description":"URL that points to an actual file where the digital asset is stored","example":"https://amsdemostorage.blob.core.windows.net/assets/d22291d9-db1d-45e2-ab60-32ac9c145323.jpg","generated":"true","name":"Href"},"Md5Checksum":{"type":"string","description":"String that can be used for upload integrity checks or comparing two assets","example":"d2d0b491ad3eecd9d8c3dabb0610197d","generated":"true","name":"Md5Checksum"},"MimeType":{"type":"string","description":"Mime type","example":"image/jpeg","generated":"true","name":"MimeType"},"Width":{"type":"integer","description":"Width in pixels","example":"450","generated":"true","name":"Width"}}},"Relationships":{"type":"array","arrayType":"object","description":"See [Company Relationships](#company-relationships)","ref":"company tree.Relationship","generated":"true","properties":{"Id":{"type":"integer","description":"Identifier for the relationship","example":"6267","generated":"true","name":"Id"},"Source":{"type":"integer","description":"Identifier for a {{Vendor}}, <a href='http://developers.iqmetrix.com/api/entity-store/#carrier'>Carrier</a> or {{Partner}} or <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>","example":"14146","name":"Source"},"Destination":{"type":"integer","description":"Identifier for a <a href='http://developers.iqmetrix.com/api/company-tree/#group'>Group</a>, <a href='http://developers.iqmetrix.com/api/company-tree/#location'>Location</a>, <a href='http://developers.iqmetrix.com/api/company-tree/#division'>Division</a> or <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>","example":"14147","name":"Destination"},"CreatedUtc":{"type":"datetime","description":"Date the relationship was formed, in UTC","example":"2015-11-20T18:22:10.931Z","generated":"true","name":"CreatedUtc"},"Version":{"type":"integer","description":"Latest revision number","example":"1","generated":"true","name":"Version"},"Definition":{"type":"integer","description":"Reserved for internal use","example":"2"}}},"SortName":{"type":"string","description":"A string used for sorting","example":"kentel corp"},"Version":{"type":"integer","description":"Latest revision number","example":"1"},"CorrelationId":{"type":"string","description":"Reserved for internal use"},"Role":{"type":"string","description":"Reserved for internal use"},"TypeId":{"type":"integer","description":"Reserved for future use"}}}
                            
                        
                    
                
            
    

/Companies({CompanyId})/Tree:
    
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>
          
      
    get:
        
        displayName: Getting a Company Tree
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                {"Id":14146,"Name":"Kentel Corp","Description":"Wireless accessories provider with store locations all across the globe.","Role":"Company","Nodes":[{"Id":14159,"Name":"T-hut Wireless","Description":"Division of Kiosks","Role":"Division","Nodes":[]}]}
                            schema: |
                                {"name":"CompanyTree","type":"object","$schema":"http://json-schema.org/draft-03/schema","description":"Your Company Tree is a hierarchial representation of how your Company is structured, including the root Company, Groups, Divisions and Locations.\n\nTo learn more about Company Trees, see {{CompanyTree_Concept}}.","properties":{"Id":{"type":"integer","description":"Company identifier","ref":"company tree.Company.Id","generated":"true","putGenerate":"true","example":"14146"},"Name":{"type":"string","size":"250","description":"Company name","ref":"company tree.Company.Name","example":"Kentel Corp"},"Description":{"type":"string","size":"255","description":"Description","ref":"company tree.Company.Description","example":"Wireless accessories provider with store locations all across the globe."},"Role":{"type":"string","description":"Role","ref":"company tree.CompanyRole.Name","example":"Company"},"Nodes":{"type":"array","arrayType":"object","ref":"company tree.CompanyTreeNode","description":"The Company Tree hierarchy made up of Nodes","properties":{"Id":{"type":"integer","description":"Identifier","ref":"company tree.Division.Id","generated":"true","putGenerate":"true","name":"Id","example":"14159"},"Name":{"type":"string","size":"250","description":"Name","ref":"company tree.Division.Name","name":"Name","example":"T-hut Wireless"},"Description":{"type":"string","size":"255","description":"Description","ref":"company tree.Division.Description","name":"Description","example":"Division of Kiosks"},"Role":{"type":"string","description":"Role, possible values include: Company, Group, Division and Location","ref":"company tree.DivisionRole.Name","name":"Role","example":"Division"},"Nodes":{"type":"array","arrayType":"object","description":"Children","example":"","name":"Nodes"}}}}}
                            
                        
                    
                
            
    

/Companies({CompanyId})/Tree/Nodes({NodeId})/Locations:
    
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>
        
        NodeId:
            displayName: NodeId
            type: integer
            example: 14159
            required: true
            description: Identifier of the parent for the <a href='http://developers.iqmetrix.com/api/company-tree/#location'>Location</a>
          
      
    post:
        
        displayName: Creating a Location
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    
                    {"Name":"Dufferin Mall","Description":"This Location is used to clear out discounted inventory","Roles":[{"Name":"Location"}],"Area":{"Value":1100,"Unit":"SqFt"},"Address":{"AddressLine1":"4970 Hillside Avenue","AddressLine2":"Apt 115","City":"Edmonton","StateCode":"ON","StateName":"Ontario","CountryCode":"CA","CountryName":"Canada","Zip":"P9H 9I4"},"Attributes":{},"ClientEntityId":"123","Contacts":[{"Name":"John Smith","Description":"Store Manager","PhoneNumbers":[{"Description":"Main Line","Number":"5555555555","Extension":"1234"}]}],"Geography":{"Longitude":-104.612034,"Latitude":50.443559},"StoreHours":{"Monday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Tuesday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Wednesday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Thursday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Friday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Saturday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Sunday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}}},"StorePhoneNumbers":[{"Description":"Main Line","Number":"5555555555","Extension":"1234"}],"TimeZone":{"Id":"Alaskan Standard Time","DaylightSavingTimeEnabled":true}}
                    
                schema: |
                    {"name":"Location","type":"object","$schema":"http://json-schema.org/draft-03/schema","description":"A **Location** is a physical or virtual presence that may hold inventory or process transactions.","properties":{"Id":{"type":"integer","description":"Unique identifier","putDescription":"Required for PUT requests","example":"14202","generated":"true","putGenerate":"true"},"Name":{"type":"string","size":"250","description":"Name","example":"Dufferin Mall"},"Description":{"type":"string","size":"255","description":"Description","example":"This Location is used to clear out discounted inventory"},"Roles":{"type":"array","arrayType":"object","description":"The Role of this Location, the value must be Location","putDescription":"Must be `Location`","ref":"company tree.LocationRole","isNested":"true","putGenerate":"true","properties":{"Name":{"type":"string","description":"Name","example":"Location","name":"Name"}},"required":["Name"]},"CreatedUTC":{"type":"DateTime","description":"Created date in UTC","example":"2015-02-26T00:03:01.372Z","generated":"true"},"LastModifiedUTC":{"type":"DateTime","description":"Last modified date in UTC","example":"2015-02-27T00:03:06.392Z","generated":"true"},"Area":{"type":"object","description":"Measurement of floor space","ref":"company tree.Area","properties":{"Value":{"type":"integer","description":"Value of the Area","putDescription":"Only required if Area is not null. If provided, Unit must also be provided","example":"1100","name":"Value"},"Unit":{"type":"string","description":"Unit used for the Value, acceptable values are SqFt and SqM","putDescription":"Only required if Area is not null. If provided, Value must also be provided","example":"SqFt","name":"Unit"}},"required":["Value","Unit"]},"Address":{"type":"object","description":"Address","ref":"company tree.Address","properties":{"AddressLine1":{"type":"string","description":"First line of Address","example":"4970 Hillside Avenue","name":"AddressLine1"},"AddressLine2":{"type":"string","description":"Second line of Address","example":"Apt 115","name":"AddressLine2"},"City":{"type":"string","description":"City","example":"Edmonton","name":"City"},"StateCode":{"type":"string","description":"Code for the State in which this address resides. Based off the ISO 3166-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","example":"ON","name":"StateCode"},"StateName":{"type":"string","description":"State/Province. Uses the ISO 3166-2 standard","example":"Ontario","name":"StateName"},"CountryCode":{"type":"string","description":"Country Code. Uses the ISO 3166-1 alpha-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","putDescription":"Required if�StateCode�is provided","ref":"reference.Country.Code","name":"CountryCode","example":"CA"},"CountryName":{"type":"string","description":"Country","example":"Canada","name":"CountryName"},"Zip":{"type":"string","description":"Zip or Postal Code","example":"P9H 9I4","name":"Zip"}}},"Attributes":{"type":"object","description":"Set of key-value pairs that contain extra data"},"ClientEntityId":{"type":"string","description":"Identifier in an external system","example":"123"},"Contacts":{"type":"array","arrayType":"object","description":"Contact information","ref":"company tree.Contact","properties":{"Name":{"type":"string","description":"Name","example":"John Smith","name":"Name"},"Description":{"type":"string","description":"Description","example":"Store Manager","name":"Description"},"PhoneNumbers":{"type":"array","description":"Phone numbers","isNested":"true","ref":"company tree.PhoneNumber","name":"PhoneNumbers","properties":{"Description":{"type":"string","description":"Description","example":"Main Line","name":"Description"},"Number":{"type":"string","description":"Phone number","example":"5555555555","name":"Number"},"Extension":{"type":"string","description":"Extension","example":"1234","name":"Extension"}}}}},"Geography":{"type":"object","description":"Geographic coordinates of this Location","ref":"company tree.Geography","isNested":"true","properties":{"Longitude":{"type":"decimal","description":"Longitude, must be between -180 and 180","putDescription":"Only required if Geography is not null. If provided, Longitude must also be provided","example":"-104.612034","name":"Longitude"},"Latitude":{"type":"decimal","description":"Latitude, must be between -90 and 90","putDescription":"Only required if Geography is not null. If provided, Latitude must also be provided","example":"50.443559","name":"Latitude"}},"required":["Latitude","Longitude"]},"Relationships":{"type":"array","arrayType":"object","description":"Relationship information, such as the parent node in the Company Tree","example":"","generated":"true"},"SortName":{"type":"string","description":"A string used for sorting","example":"dufferin mall","generated":"true"},"StoreHours":{"type":"object","ref":"company tree.StoreHours","description":"Store hours for this Location","properties":{"Monday":{"type":"object","description":"Hours on Monday","ref":"company tree.WeekDay","name":"Monday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Tuesday":{"type":"object","description":"Hours on Tuesday","ref":"company tree.WeekDay","name":"Tuesday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Wednesday":{"type":"object","description":"Hours on Wednesday","ref":"company tree.WeekDay","name":"Wednesday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Thursday":{"type":"object","description":"Hours on Thursday","ref":"company tree.WeekDay","name":"Thursday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Friday":{"type":"object","description":"Hours on Monday","ref":"company tree.WeekDay","name":"Friday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Saturday":{"type":"object","description":"Hours on Saturday","ref":"company tree.WeekDay","name":"Saturday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Sunday":{"type":"object","description":"Hours on Sunday","ref":"company tree.WeekDay","name":"Sunday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}}}},"StorePhoneNumbers":{"type":"array","arrayType":"object","isNested":"true","ref":"company tree.PhoneNumber","description":"Phone numbers","properties":{"Description":{"type":"string","description":"Description","example":"Main Line","name":"Description"},"Number":{"type":"string","description":"Phone number","example":"5555555555","name":"Number"},"Extension":{"type":"string","description":"Extension","example":"1234","name":"Extension"}}},"TimeZone":{"type":"object","ref":"company tree.TimeZone","isNested":"true","description":"Timezone information for the Location","properties":{"Id":{"type":"string","description":"Identifier. For a list of acceptable values, see <a href='/api/reference/#getting-all-time-zones'>Getting All Time Zones</a>","ref":"reference.TimeZone.Id","name":"Id","example":"Alaskan Standard Time"},"DaylightSavingTimeEnabled":{"type":"boolean","description":"A flag to indicate if the Time Zone observes Daylight Savings Time","example":"true","name":"DaylightSavingTimeEnabled"}}},"Version":{"type":"integer","description":"Latest revision number","example":"13","generated":"true","putGenerate":"true"},"CorrelationId":{"type":"string","description":"Reserved for internal use"},"LocationType":{"type":"string","description":"Reserved for future use"},"LocationSubType":{"type":"string","description":"Reserved for future use"},"Logo":{"type":"object","description":"Reserved for internal use"},"Role":{"type":"string","description":"Reserved for internal use"},"TypeId":{"type":"integer","description":"Reserved for future use"}},"required":["Name","Roles"]}
                
            
        responses:
            
            201:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                {"Id":14202,"Name":"Dufferin Mall","Description":"This Location is used to clear out discounted inventory","Roles":[{"Name":"Location"}],"CreatedUTC":"2015-02-26T00:03:01.372Z","LastModifiedUTC":"2015-02-27T00:03:06.392Z","Area":{"Value":1100,"Unit":"SqFt"},"Address":{"AddressLine1":"4970 Hillside Avenue","AddressLine2":"Apt 115","City":"Edmonton","StateCode":"ON","StateName":"Ontario","CountryCode":"CA","CountryName":"Canada","Zip":"P9H 9I4"},"Attributes":{},"ClientEntityId":"123","Contacts":[{"Name":"John Smith","Description":"Store Manager","PhoneNumbers":[{"Description":"Main Line","Number":"5555555555","Extension":"1234"}]}],"Geography":{"Longitude":-104.612034,"Latitude":50.443559},"Relationships":[],"SortName":"dufferin mall","StoreHours":{"Monday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Tuesday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Wednesday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Thursday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Friday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Saturday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Sunday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}}},"StorePhoneNumbers":[{"Description":"Main Line","Number":"5555555555","Extension":"1234"}],"TimeZone":{"Id":"Alaskan Standard Time","DaylightSavingTimeEnabled":true},"Version":13}
                            schema: |
                                {"name":"Location","type":"object","$schema":"http://json-schema.org/draft-03/schema","description":"A **Location** is a physical or virtual presence that may hold inventory or process transactions.","properties":{"Id":{"type":"integer","description":"Unique identifier","putDescription":"Required for PUT requests","example":"14202","generated":"true","putGenerate":"true"},"Name":{"type":"string","size":"250","description":"Name","example":"Dufferin Mall"},"Description":{"type":"string","size":"255","description":"Description","example":"This Location is used to clear out discounted inventory"},"Roles":{"type":"array","arrayType":"object","description":"The Role of this Location, the value must be Location","putDescription":"Must be `Location`","ref":"company tree.LocationRole","isNested":"true","putGenerate":"true","properties":{"Name":{"type":"string","description":"Name","example":"Location","name":"Name"}},"required":["Name"]},"CreatedUTC":{"type":"DateTime","description":"Created date in UTC","example":"2015-02-26T00:03:01.372Z","generated":"true"},"LastModifiedUTC":{"type":"DateTime","description":"Last modified date in UTC","example":"2015-02-27T00:03:06.392Z","generated":"true"},"Area":{"type":"object","description":"Measurement of floor space","ref":"company tree.Area","properties":{"Value":{"type":"integer","description":"Value of the Area","putDescription":"Only required if Area is not null. If provided, Unit must also be provided","example":"1100","name":"Value"},"Unit":{"type":"string","description":"Unit used for the Value, acceptable values are SqFt and SqM","putDescription":"Only required if Area is not null. If provided, Value must also be provided","example":"SqFt","name":"Unit"}},"required":["Value","Unit"]},"Address":{"type":"object","description":"Address","ref":"company tree.Address","properties":{"AddressLine1":{"type":"string","description":"First line of Address","example":"4970 Hillside Avenue","name":"AddressLine1"},"AddressLine2":{"type":"string","description":"Second line of Address","example":"Apt 115","name":"AddressLine2"},"City":{"type":"string","description":"City","example":"Edmonton","name":"City"},"StateCode":{"type":"string","description":"Code for the State in which this address resides. Based off the ISO 3166-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","example":"ON","name":"StateCode"},"StateName":{"type":"string","description":"State/Province. Uses the ISO 3166-2 standard","example":"Ontario","name":"StateName"},"CountryCode":{"type":"string","description":"Country Code. Uses the ISO 3166-1 alpha-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","putDescription":"Required if�StateCode�is provided","ref":"reference.Country.Code","name":"CountryCode","example":"CA"},"CountryName":{"type":"string","description":"Country","example":"Canada","name":"CountryName"},"Zip":{"type":"string","description":"Zip or Postal Code","example":"P9H 9I4","name":"Zip"}}},"Attributes":{"type":"object","description":"Set of key-value pairs that contain extra data"},"ClientEntityId":{"type":"string","description":"Identifier in an external system","example":"123"},"Contacts":{"type":"array","arrayType":"object","description":"Contact information","ref":"company tree.Contact","properties":{"Name":{"type":"string","description":"Name","example":"John Smith","name":"Name"},"Description":{"type":"string","description":"Description","example":"Store Manager","name":"Description"},"PhoneNumbers":{"type":"array","description":"Phone numbers","isNested":"true","ref":"company tree.PhoneNumber","name":"PhoneNumbers","properties":{"Description":{"type":"string","description":"Description","example":"Main Line","name":"Description"},"Number":{"type":"string","description":"Phone number","example":"5555555555","name":"Number"},"Extension":{"type":"string","description":"Extension","example":"1234","name":"Extension"}}}}},"Geography":{"type":"object","description":"Geographic coordinates of this Location","ref":"company tree.Geography","isNested":"true","properties":{"Longitude":{"type":"decimal","description":"Longitude, must be between -180 and 180","putDescription":"Only required if Geography is not null. If provided, Longitude must also be provided","example":"-104.612034","name":"Longitude"},"Latitude":{"type":"decimal","description":"Latitude, must be between -90 and 90","putDescription":"Only required if Geography is not null. If provided, Latitude must also be provided","example":"50.443559","name":"Latitude"}},"required":["Latitude","Longitude"]},"Relationships":{"type":"array","arrayType":"object","description":"Relationship information, such as the parent node in the Company Tree","example":"","generated":"true"},"SortName":{"type":"string","description":"A string used for sorting","example":"dufferin mall","generated":"true"},"StoreHours":{"type":"object","ref":"company tree.StoreHours","description":"Store hours for this Location","properties":{"Monday":{"type":"object","description":"Hours on Monday","ref":"company tree.WeekDay","name":"Monday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Tuesday":{"type":"object","description":"Hours on Tuesday","ref":"company tree.WeekDay","name":"Tuesday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Wednesday":{"type":"object","description":"Hours on Wednesday","ref":"company tree.WeekDay","name":"Wednesday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Thursday":{"type":"object","description":"Hours on Thursday","ref":"company tree.WeekDay","name":"Thursday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Friday":{"type":"object","description":"Hours on Monday","ref":"company tree.WeekDay","name":"Friday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Saturday":{"type":"object","description":"Hours on Saturday","ref":"company tree.WeekDay","name":"Saturday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Sunday":{"type":"object","description":"Hours on Sunday","ref":"company tree.WeekDay","name":"Sunday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}}}},"StorePhoneNumbers":{"type":"array","arrayType":"object","isNested":"true","ref":"company tree.PhoneNumber","description":"Phone numbers","properties":{"Description":{"type":"string","description":"Description","example":"Main Line","name":"Description"},"Number":{"type":"string","description":"Phone number","example":"5555555555","name":"Number"},"Extension":{"type":"string","description":"Extension","example":"1234","name":"Extension"}}},"TimeZone":{"type":"object","ref":"company tree.TimeZone","isNested":"true","description":"Timezone information for the Location","properties":{"Id":{"type":"string","description":"Identifier. For a list of acceptable values, see <a href='/api/reference/#getting-all-time-zones'>Getting All Time Zones</a>","ref":"reference.TimeZone.Id","name":"Id","example":"Alaskan Standard Time"},"DaylightSavingTimeEnabled":{"type":"boolean","description":"A flag to indicate if the Time Zone observes Daylight Savings Time","example":"true","name":"DaylightSavingTimeEnabled"}}},"Version":{"type":"integer","description":"Latest revision number","example":"13","generated":"true","putGenerate":"true"},"CorrelationId":{"type":"string","description":"Reserved for internal use"},"LocationType":{"type":"string","description":"Reserved for future use"},"LocationSubType":{"type":"string","description":"Reserved for future use"},"Logo":{"type":"object","description":"Reserved for internal use"},"Role":{"type":"string","description":"Reserved for internal use"},"TypeId":{"type":"integer","description":"Reserved for future use"}},"required":["Name","Roles"]}
                            
                        
                    
                
            
    

/Companies({CompanyId})/Tree/Nodes({NodeId})/Locations({LocationId}):
    
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>
        
        NodeId:
            displayName: NodeId
            type: integer
            example: 14159
            required: true
            description: Identifier of the parent for the <a href='http://developers.iqmetrix.com/api/company-tree/#location'>Location</a>
        
        LocationId:
            displayName: LocationId
            type: string
            example: 14202
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/company-tree/#location'>Location</a>
          
      
    put:
        
        displayName: Updating a Location
                
        
        description: |            
            There are <strong>two</strong> different ways to update a location. 
            
            <ul>
              <li>Option 1 - <code>PUT /Companies({CompanyId})/Tree/Nodes({NodeId})/Locations({LocationId})</code></li>
              <li>Option 2 - <code>PUT /Companies({CompanyId})/Locations({LocationId})</code></li>
            </ul>
            
            Option 1 requires knowing the <code>NodeId</code> of the parent of the <a href='http://developers.iqmetrix.com/api/company-tree/#location'>Location</a>, but has <strong>stronger</strong> validation.
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    
                    {"Id":14202,"Name":"Dufferin Mall","Description":"This Location is used to clear out discounted inventory","Roles":[{"Name":"Location"}],"CreatedUTC":"2015-02-26T00:03:01.372Z","LastModifiedUTC":"2015-02-27T00:03:06.392Z","Area":{"Value":1100,"Unit":"SqFt"},"Address":{"AddressLine1":"4970 Hillside Avenue","AddressLine2":"Apt 115","City":"Edmonton","StateCode":"ON","StateName":"Ontario","CountryCode":"CA","CountryName":"Canada","Zip":"P9H 9I4"},"Attributes":{},"ClientEntityId":"123","Contacts":[{"Name":"John Smith","Description":"Store Manager","PhoneNumbers":[{"Description":"Main Line","Number":"5555555555","Extension":"1234"}]}],"Geography":{"Longitude":-104.612034,"Latitude":50.443559},"Relationships":[],"SortName":"dufferin mall","StoreHours":{"Monday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Tuesday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Wednesday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Thursday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Friday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Saturday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Sunday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}}},"StorePhoneNumbers":[{"Description":"Main Line","Number":"5555555555","Extension":"1234"}],"TimeZone":{"Id":"Alaskan Standard Time","DaylightSavingTimeEnabled":true},"Version":13}
                    
                schema: |
                    {"name":"Location","type":"object","$schema":"http://json-schema.org/draft-03/schema","description":"A **Location** is a physical or virtual presence that may hold inventory or process transactions.","properties":{"Id":{"type":"integer","description":"Unique identifier","putDescription":"Required for PUT requests","example":"14202","generated":"true","putGenerate":"true"},"Name":{"type":"string","size":"250","description":"Name","example":"Dufferin Mall"},"Description":{"type":"string","size":"255","description":"Description","example":"This Location is used to clear out discounted inventory"},"Roles":{"type":"array","arrayType":"object","description":"The Role of this Location, the value must be Location","putDescription":"Must be `Location`","ref":"company tree.LocationRole","isNested":"true","putGenerate":"true","properties":{"Name":{"type":"string","description":"Name","example":"Location","name":"Name"}},"required":["Name"]},"CreatedUTC":{"type":"DateTime","description":"Created date in UTC","example":"2015-02-26T00:03:01.372Z","generated":"true"},"LastModifiedUTC":{"type":"DateTime","description":"Last modified date in UTC","example":"2015-02-27T00:03:06.392Z","generated":"true"},"Area":{"type":"object","description":"Measurement of floor space","ref":"company tree.Area","properties":{"Value":{"type":"integer","description":"Value of the Area","putDescription":"Only required if Area is not null. If provided, Unit must also be provided","example":"1100","name":"Value"},"Unit":{"type":"string","description":"Unit used for the Value, acceptable values are SqFt and SqM","putDescription":"Only required if Area is not null. If provided, Value must also be provided","example":"SqFt","name":"Unit"}},"required":["Value","Unit"]},"Address":{"type":"object","description":"Address","ref":"company tree.Address","properties":{"AddressLine1":{"type":"string","description":"First line of Address","example":"4970 Hillside Avenue","name":"AddressLine1"},"AddressLine2":{"type":"string","description":"Second line of Address","example":"Apt 115","name":"AddressLine2"},"City":{"type":"string","description":"City","example":"Edmonton","name":"City"},"StateCode":{"type":"string","description":"Code for the State in which this address resides. Based off the ISO 3166-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","example":"ON","name":"StateCode"},"StateName":{"type":"string","description":"State/Province. Uses the ISO 3166-2 standard","example":"Ontario","name":"StateName"},"CountryCode":{"type":"string","description":"Country Code. Uses the ISO 3166-1 alpha-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","putDescription":"Required if�StateCode�is provided","ref":"reference.Country.Code","name":"CountryCode","example":"CA"},"CountryName":{"type":"string","description":"Country","example":"Canada","name":"CountryName"},"Zip":{"type":"string","description":"Zip or Postal Code","example":"P9H 9I4","name":"Zip"}}},"Attributes":{"type":"object","description":"Set of key-value pairs that contain extra data"},"ClientEntityId":{"type":"string","description":"Identifier in an external system","example":"123"},"Contacts":{"type":"array","arrayType":"object","description":"Contact information","ref":"company tree.Contact","properties":{"Name":{"type":"string","description":"Name","example":"John Smith","name":"Name"},"Description":{"type":"string","description":"Description","example":"Store Manager","name":"Description"},"PhoneNumbers":{"type":"array","description":"Phone numbers","isNested":"true","ref":"company tree.PhoneNumber","name":"PhoneNumbers","properties":{"Description":{"type":"string","description":"Description","example":"Main Line","name":"Description"},"Number":{"type":"string","description":"Phone number","example":"5555555555","name":"Number"},"Extension":{"type":"string","description":"Extension","example":"1234","name":"Extension"}}}}},"Geography":{"type":"object","description":"Geographic coordinates of this Location","ref":"company tree.Geography","isNested":"true","properties":{"Longitude":{"type":"decimal","description":"Longitude, must be between -180 and 180","putDescription":"Only required if Geography is not null. If provided, Longitude must also be provided","example":"-104.612034","name":"Longitude"},"Latitude":{"type":"decimal","description":"Latitude, must be between -90 and 90","putDescription":"Only required if Geography is not null. If provided, Latitude must also be provided","example":"50.443559","name":"Latitude"}},"required":["Latitude","Longitude"]},"Relationships":{"type":"array","arrayType":"object","description":"Relationship information, such as the parent node in the Company Tree","example":"","generated":"true"},"SortName":{"type":"string","description":"A string used for sorting","example":"dufferin mall","generated":"true"},"StoreHours":{"type":"object","ref":"company tree.StoreHours","description":"Store hours for this Location","properties":{"Monday":{"type":"object","description":"Hours on Monday","ref":"company tree.WeekDay","name":"Monday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Tuesday":{"type":"object","description":"Hours on Tuesday","ref":"company tree.WeekDay","name":"Tuesday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Wednesday":{"type":"object","description":"Hours on Wednesday","ref":"company tree.WeekDay","name":"Wednesday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Thursday":{"type":"object","description":"Hours on Thursday","ref":"company tree.WeekDay","name":"Thursday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Friday":{"type":"object","description":"Hours on Monday","ref":"company tree.WeekDay","name":"Friday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Saturday":{"type":"object","description":"Hours on Saturday","ref":"company tree.WeekDay","name":"Saturday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Sunday":{"type":"object","description":"Hours on Sunday","ref":"company tree.WeekDay","name":"Sunday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}}}},"StorePhoneNumbers":{"type":"array","arrayType":"object","isNested":"true","ref":"company tree.PhoneNumber","description":"Phone numbers","properties":{"Description":{"type":"string","description":"Description","example":"Main Line","name":"Description"},"Number":{"type":"string","description":"Phone number","example":"5555555555","name":"Number"},"Extension":{"type":"string","description":"Extension","example":"1234","name":"Extension"}}},"TimeZone":{"type":"object","ref":"company tree.TimeZone","isNested":"true","description":"Timezone information for the Location","properties":{"Id":{"type":"string","description":"Identifier. For a list of acceptable values, see <a href='/api/reference/#getting-all-time-zones'>Getting All Time Zones</a>","ref":"reference.TimeZone.Id","name":"Id","example":"Alaskan Standard Time"},"DaylightSavingTimeEnabled":{"type":"boolean","description":"A flag to indicate if the Time Zone observes Daylight Savings Time","example":"true","name":"DaylightSavingTimeEnabled"}}},"Version":{"type":"integer","description":"Latest revision number","example":"13","generated":"true","putGenerate":"true"},"CorrelationId":{"type":"string","description":"Reserved for internal use"},"LocationType":{"type":"string","description":"Reserved for future use"},"LocationSubType":{"type":"string","description":"Reserved for future use"},"Logo":{"type":"object","description":"Reserved for internal use"},"Role":{"type":"string","description":"Reserved for internal use"},"TypeId":{"type":"integer","description":"Reserved for future use"}},"required":["Name","Roles"]}
                
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                {"Id":14202,"Name":"Dufferin Mall","Description":"This Location is used to clear out discounted inventory","Roles":[{"Name":"Location"}],"CreatedUTC":"2015-02-26T00:03:01.372Z","LastModifiedUTC":"2015-02-27T00:03:06.392Z","Area":{"Value":1100,"Unit":"SqFt"},"Address":{"AddressLine1":"4970 Hillside Avenue","AddressLine2":"Apt 115","City":"Edmonton","StateCode":"ON","StateName":"Ontario","CountryCode":"CA","CountryName":"Canada","Zip":"P9H 9I4"},"Attributes":{},"ClientEntityId":"123","Contacts":[{"Name":"John Smith","Description":"Store Manager","PhoneNumbers":[{"Description":"Main Line","Number":"5555555555","Extension":"1234"}]}],"Geography":{"Longitude":-104.612034,"Latitude":50.443559},"Relationships":[],"SortName":"dufferin mall","StoreHours":{"Monday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Tuesday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Wednesday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Thursday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Friday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Saturday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Sunday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}}},"StorePhoneNumbers":[{"Description":"Main Line","Number":"5555555555","Extension":"1234"}],"TimeZone":{"Id":"Alaskan Standard Time","DaylightSavingTimeEnabled":true},"Version":13}
                            schema: |
                                {"name":"Location","type":"object","$schema":"http://json-schema.org/draft-03/schema","description":"A **Location** is a physical or virtual presence that may hold inventory or process transactions.","properties":{"Id":{"type":"integer","description":"Unique identifier","putDescription":"Required for PUT requests","example":"14202","generated":"true","putGenerate":"true"},"Name":{"type":"string","size":"250","description":"Name","example":"Dufferin Mall"},"Description":{"type":"string","size":"255","description":"Description","example":"This Location is used to clear out discounted inventory"},"Roles":{"type":"array","arrayType":"object","description":"The Role of this Location, the value must be Location","putDescription":"Must be `Location`","ref":"company tree.LocationRole","isNested":"true","putGenerate":"true","properties":{"Name":{"type":"string","description":"Name","example":"Location","name":"Name"}},"required":["Name"]},"CreatedUTC":{"type":"DateTime","description":"Created date in UTC","example":"2015-02-26T00:03:01.372Z","generated":"true"},"LastModifiedUTC":{"type":"DateTime","description":"Last modified date in UTC","example":"2015-02-27T00:03:06.392Z","generated":"true"},"Area":{"type":"object","description":"Measurement of floor space","ref":"company tree.Area","properties":{"Value":{"type":"integer","description":"Value of the Area","putDescription":"Only required if Area is not null. If provided, Unit must also be provided","example":"1100","name":"Value"},"Unit":{"type":"string","description":"Unit used for the Value, acceptable values are SqFt and SqM","putDescription":"Only required if Area is not null. If provided, Value must also be provided","example":"SqFt","name":"Unit"}},"required":["Value","Unit"]},"Address":{"type":"object","description":"Address","ref":"company tree.Address","properties":{"AddressLine1":{"type":"string","description":"First line of Address","example":"4970 Hillside Avenue","name":"AddressLine1"},"AddressLine2":{"type":"string","description":"Second line of Address","example":"Apt 115","name":"AddressLine2"},"City":{"type":"string","description":"City","example":"Edmonton","name":"City"},"StateCode":{"type":"string","description":"Code for the State in which this address resides. Based off the ISO 3166-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","example":"ON","name":"StateCode"},"StateName":{"type":"string","description":"State/Province. Uses the ISO 3166-2 standard","example":"Ontario","name":"StateName"},"CountryCode":{"type":"string","description":"Country Code. Uses the ISO 3166-1 alpha-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","putDescription":"Required if�StateCode�is provided","ref":"reference.Country.Code","name":"CountryCode","example":"CA"},"CountryName":{"type":"string","description":"Country","example":"Canada","name":"CountryName"},"Zip":{"type":"string","description":"Zip or Postal Code","example":"P9H 9I4","name":"Zip"}}},"Attributes":{"type":"object","description":"Set of key-value pairs that contain extra data"},"ClientEntityId":{"type":"string","description":"Identifier in an external system","example":"123"},"Contacts":{"type":"array","arrayType":"object","description":"Contact information","ref":"company tree.Contact","properties":{"Name":{"type":"string","description":"Name","example":"John Smith","name":"Name"},"Description":{"type":"string","description":"Description","example":"Store Manager","name":"Description"},"PhoneNumbers":{"type":"array","description":"Phone numbers","isNested":"true","ref":"company tree.PhoneNumber","name":"PhoneNumbers","properties":{"Description":{"type":"string","description":"Description","example":"Main Line","name":"Description"},"Number":{"type":"string","description":"Phone number","example":"5555555555","name":"Number"},"Extension":{"type":"string","description":"Extension","example":"1234","name":"Extension"}}}}},"Geography":{"type":"object","description":"Geographic coordinates of this Location","ref":"company tree.Geography","isNested":"true","properties":{"Longitude":{"type":"decimal","description":"Longitude, must be between -180 and 180","putDescription":"Only required if Geography is not null. If provided, Longitude must also be provided","example":"-104.612034","name":"Longitude"},"Latitude":{"type":"decimal","description":"Latitude, must be between -90 and 90","putDescription":"Only required if Geography is not null. If provided, Latitude must also be provided","example":"50.443559","name":"Latitude"}},"required":["Latitude","Longitude"]},"Relationships":{"type":"array","arrayType":"object","description":"Relationship information, such as the parent node in the Company Tree","example":"","generated":"true"},"SortName":{"type":"string","description":"A string used for sorting","example":"dufferin mall","generated":"true"},"StoreHours":{"type":"object","ref":"company tree.StoreHours","description":"Store hours for this Location","properties":{"Monday":{"type":"object","description":"Hours on Monday","ref":"company tree.WeekDay","name":"Monday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Tuesday":{"type":"object","description":"Hours on Tuesday","ref":"company tree.WeekDay","name":"Tuesday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Wednesday":{"type":"object","description":"Hours on Wednesday","ref":"company tree.WeekDay","name":"Wednesday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Thursday":{"type":"object","description":"Hours on Thursday","ref":"company tree.WeekDay","name":"Thursday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Friday":{"type":"object","description":"Hours on Monday","ref":"company tree.WeekDay","name":"Friday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Saturday":{"type":"object","description":"Hours on Saturday","ref":"company tree.WeekDay","name":"Saturday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Sunday":{"type":"object","description":"Hours on Sunday","ref":"company tree.WeekDay","name":"Sunday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}}}},"StorePhoneNumbers":{"type":"array","arrayType":"object","isNested":"true","ref":"company tree.PhoneNumber","description":"Phone numbers","properties":{"Description":{"type":"string","description":"Description","example":"Main Line","name":"Description"},"Number":{"type":"string","description":"Phone number","example":"5555555555","name":"Number"},"Extension":{"type":"string","description":"Extension","example":"1234","name":"Extension"}}},"TimeZone":{"type":"object","ref":"company tree.TimeZone","isNested":"true","description":"Timezone information for the Location","properties":{"Id":{"type":"string","description":"Identifier. For a list of acceptable values, see <a href='/api/reference/#getting-all-time-zones'>Getting All Time Zones</a>","ref":"reference.TimeZone.Id","name":"Id","example":"Alaskan Standard Time"},"DaylightSavingTimeEnabled":{"type":"boolean","description":"A flag to indicate if the Time Zone observes Daylight Savings Time","example":"true","name":"DaylightSavingTimeEnabled"}}},"Version":{"type":"integer","description":"Latest revision number","example":"13","generated":"true","putGenerate":"true"},"CorrelationId":{"type":"string","description":"Reserved for internal use"},"LocationType":{"type":"string","description":"Reserved for future use"},"LocationSubType":{"type":"string","description":"Reserved for future use"},"Logo":{"type":"object","description":"Reserved for internal use"},"Role":{"type":"string","description":"Reserved for internal use"},"TypeId":{"type":"integer","description":"Reserved for future use"}},"required":["Name","Roles"]}
                            
                        
                    
                
            
    

/Companies({CompanyId})/Locations({LocationId}):
    
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>
        
        LocationId:
            displayName: LocationId
            type: string
            example: 14202
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/company-tree/#location'>Location</a>
          
      
    get:
        
        displayName: Getting a Location for a Company
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                {"Id":14202,"Name":"Dufferin Mall","Description":"This Location is used to clear out discounted inventory","Roles":[{"Name":"Location"}],"CreatedUTC":"2015-02-26T00:03:01.372Z","LastModifiedUTC":"2015-02-27T00:03:06.392Z","Area":{"Value":1100,"Unit":"SqFt"},"Address":{"AddressLine1":"4970 Hillside Avenue","AddressLine2":"Apt 115","City":"Edmonton","StateCode":"ON","StateName":"Ontario","CountryCode":"CA","CountryName":"Canada","Zip":"P9H 9I4"},"Attributes":{},"ClientEntityId":"123","Contacts":[{"Name":"John Smith","Description":"Store Manager","PhoneNumbers":[{"Description":"Main Line","Number":"5555555555","Extension":"1234"}]}],"Geography":{"Longitude":-104.612034,"Latitude":50.443559},"Relationships":[],"SortName":"dufferin mall","StoreHours":{"Monday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Tuesday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Wednesday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Thursday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Friday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Saturday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}},"Sunday":{"Open":{"Hour":10,"Minute":0},"Close":{"Hour":10,"Minute":0}}},"StorePhoneNumbers":[{"Description":"Main Line","Number":"5555555555","Extension":"1234"}],"TimeZone":{"Id":"Alaskan Standard Time","DaylightSavingTimeEnabled":true},"Version":13}
                            schema: |
                                {"name":"Location","type":"object","$schema":"http://json-schema.org/draft-03/schema","description":"A **Location** is a physical or virtual presence that may hold inventory or process transactions.","properties":{"Id":{"type":"integer","description":"Unique identifier","putDescription":"Required for PUT requests","example":"14202","generated":"true","putGenerate":"true"},"Name":{"type":"string","size":"250","description":"Name","example":"Dufferin Mall"},"Description":{"type":"string","size":"255","description":"Description","example":"This Location is used to clear out discounted inventory"},"Roles":{"type":"array","arrayType":"object","description":"The Role of this Location, the value must be Location","putDescription":"Must be `Location`","ref":"company tree.LocationRole","isNested":"true","putGenerate":"true","properties":{"Name":{"type":"string","description":"Name","example":"Location","name":"Name"}},"required":["Name"]},"CreatedUTC":{"type":"DateTime","description":"Created date in UTC","example":"2015-02-26T00:03:01.372Z","generated":"true"},"LastModifiedUTC":{"type":"DateTime","description":"Last modified date in UTC","example":"2015-02-27T00:03:06.392Z","generated":"true"},"Area":{"type":"object","description":"Measurement of floor space","ref":"company tree.Area","properties":{"Value":{"type":"integer","description":"Value of the Area","putDescription":"Only required if Area is not null. If provided, Unit must also be provided","example":"1100","name":"Value"},"Unit":{"type":"string","description":"Unit used for the Value, acceptable values are SqFt and SqM","putDescription":"Only required if Area is not null. If provided, Value must also be provided","example":"SqFt","name":"Unit"}},"required":["Value","Unit"]},"Address":{"type":"object","description":"Address","ref":"company tree.Address","properties":{"AddressLine1":{"type":"string","description":"First line of Address","example":"4970 Hillside Avenue","name":"AddressLine1"},"AddressLine2":{"type":"string","description":"Second line of Address","example":"Apt 115","name":"AddressLine2"},"City":{"type":"string","description":"City","example":"Edmonton","name":"City"},"StateCode":{"type":"string","description":"Code for the State in which this address resides. Based off the ISO 3166-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","example":"ON","name":"StateCode"},"StateName":{"type":"string","description":"State/Province. Uses the ISO 3166-2 standard","example":"Ontario","name":"StateName"},"CountryCode":{"type":"string","description":"Country Code. Uses the ISO 3166-1 alpha-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","putDescription":"Required if�StateCode�is provided","ref":"reference.Country.Code","name":"CountryCode","example":"CA"},"CountryName":{"type":"string","description":"Country","example":"Canada","name":"CountryName"},"Zip":{"type":"string","description":"Zip or Postal Code","example":"P9H 9I4","name":"Zip"}}},"Attributes":{"type":"object","description":"Set of key-value pairs that contain extra data"},"ClientEntityId":{"type":"string","description":"Identifier in an external system","example":"123"},"Contacts":{"type":"array","arrayType":"object","description":"Contact information","ref":"company tree.Contact","properties":{"Name":{"type":"string","description":"Name","example":"John Smith","name":"Name"},"Description":{"type":"string","description":"Description","example":"Store Manager","name":"Description"},"PhoneNumbers":{"type":"array","description":"Phone numbers","isNested":"true","ref":"company tree.PhoneNumber","name":"PhoneNumbers","properties":{"Description":{"type":"string","description":"Description","example":"Main Line","name":"Description"},"Number":{"type":"string","description":"Phone number","example":"5555555555","name":"Number"},"Extension":{"type":"string","description":"Extension","example":"1234","name":"Extension"}}}}},"Geography":{"type":"object","description":"Geographic coordinates of this Location","ref":"company tree.Geography","isNested":"true","properties":{"Longitude":{"type":"decimal","description":"Longitude, must be between -180 and 180","putDescription":"Only required if Geography is not null. If provided, Longitude must also be provided","example":"-104.612034","name":"Longitude"},"Latitude":{"type":"decimal","description":"Latitude, must be between -90 and 90","putDescription":"Only required if Geography is not null. If provided, Latitude must also be provided","example":"50.443559","name":"Latitude"}},"required":["Latitude","Longitude"]},"Relationships":{"type":"array","arrayType":"object","description":"Relationship information, such as the parent node in the Company Tree","example":"","generated":"true"},"SortName":{"type":"string","description":"A string used for sorting","example":"dufferin mall","generated":"true"},"StoreHours":{"type":"object","ref":"company tree.StoreHours","description":"Store hours for this Location","properties":{"Monday":{"type":"object","description":"Hours on Monday","ref":"company tree.WeekDay","name":"Monday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Tuesday":{"type":"object","description":"Hours on Tuesday","ref":"company tree.WeekDay","name":"Tuesday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Wednesday":{"type":"object","description":"Hours on Wednesday","ref":"company tree.WeekDay","name":"Wednesday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Thursday":{"type":"object","description":"Hours on Thursday","ref":"company tree.WeekDay","name":"Thursday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Friday":{"type":"object","description":"Hours on Monday","ref":"company tree.WeekDay","name":"Friday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"company tree.Hours","name":"Close","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}}}},"Saturday":{"type":"object","description":"Hours on Saturday","ref":"company tree.WeekDay","name":"Saturday","properties":{"Open":{"type":"object","description":"Open time","isNested":"true","ref":"company tree.Hours","name":"Open","properties":{"Hour":{"type":"integer","example":"10","name":"Hour"},"Minute":{"type":"integer","example":"0","name":"Minute"}}},"Close":{"type":"object","description":"Close time","isNested":"true","ref":"compan
[...]
