#%RAML 0.8
title: crm
baseUri: https://crmdemo.iqmetrix.net/v1
schemas: 

    
    - iqCustomers: |
        {
          "name": "iqCustomers",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "href": { "type": "string", "example": "Companies(14146)/Customers?$skip=0&$top=1" },
            "templated": { "type": "boolean", "putDescription": "A flag to indicate ????????????????", "example": "false" }
          }
        } 
        

    

    
    - iqCustomer: |
        {
          "name": "iqCustomer",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "href": { "type": "string", "putDescription": "A link to the request that will return a related Customer", "example": "Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)" },
            "templated": { "type": "boolean", "putDescription": "A flag to indicate ????????????????", "example": "false" }
          }
        }  
        

    

    
    - iqCustomerFull: |
        {
          "name": "iqCustomerFull",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "href": { "type": "string", "putDescription": "A link to the request that will return a related CustomerFull", "example": "Companies(14146)/CustomerFull(902cdc91-65f4-4c7d-b336-5f291849f2fe)" },
            "templated": { "type": "boolean", "putDescription": "A flag to indicate ????????????????", "example": "false" }
          }
        }    
        

    

    
    - iqAddresses: |
        {
          "name": "iqAddresses",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "href": { "type": "string", "putDescription": "A link to the request that will return related Addresses(s)", "example": "Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/Addresses" },
            "templated": { "type": "boolean", "putDescription": "A flag to indicate ????????????????", "example": "false" }
          }
        }
        

    

    
    - iqAddress: |
        {
          "name": "iqAddress",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "href": { "type": "string", "putDescription": "A link to the request that will return related Addresses(s)", "example": "Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/Addresses(a08b0640-606a-41f0-901a-facaf50e75dd" },
            "templated": { "type": "boolean", "putDescription": "A flag to indicate ????????????????", "example": "false" }
          }
        }      
        

    

    
    - iqContactMethod: |
        {
          "name": "iqContactMethod",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "href": { "type": "string", "putDescription": "A link to the request that will return related ContactMethods(s)", "example": "Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/ContactMethods(b25dd8b2-a24d-4107-8fbe-9c7b21e18137)" },
            "templated": { "type": "boolean", "putDescription": "A flag to indicate ????????????????", "example": "false" }
          }
        }    
        

    

    
    - iqContactMethods: |
        {
          "name": "iqContactMethod",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "href": { "type": "string", "putDescription": "A link to the request that will return related ContactMethods(s)", "example": "Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/ContactMethods" },
            "templated": { "type": "boolean", "putDescription": "A flag to indicate ????????????????", "example": "false" }
          }
        }
        

    

    
    - iqCustomerExtension: |
        {
          "name": "iqCustomerExtension",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "href": { "type": "string", "putDescription": "A link to the request that will return related CustomerExtension(s)", "example": "Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/CustomerExtensions(74b87ece-5f70-454d-9991-7952127146b0)" },
            "templated": { "type": "boolean", "putDescription": "A flag to indicate ????????????????", "example": "false" }
          }
        }
        

    

    
    - iqCustomerExtensions: |
        {
          "name": "iqCustomerExtension",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "href": { "type": "string", "putDescription": "A link to the request that will return related CustomerExtension(s)", "example": "Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/CustomerExtensions" },
            "templated": { "type": "boolean", "putDescription": "A flag to indicate ????????????????", "example": "false" }
          }
        }        
        

    

    
    - CustomerLinks: |
        {
          "name": "CustomerLinks",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "self": { "type": "object", "ref": "crm.iqCustomer" },
            "iq:CustomerFull": { "type": "object", "ref": "crm.iqCustomerFull" },
            "iq:Address": { "type": "object", "ref": "crm.iqAddresses"},
            "iq:ContactMethod": { "type": "object", "ref": "crm.iqContactMethods" },
            "iq:CustomerExtension": { "type": "object", "ref": "crm.iqCustomerExtensions" },
            "iq:RelatedCustomer": { "type": "object", "example": "" },
            "iq:MemberOf": { "type": "object", "example": "" }
          }
        }   
        

    

    
    - CustomerArrayHal: |
        { 
          "name": "CustomerArrayHal",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "_links": { "type": "object", "putDescription": "Relative URL's used for Pagination", "ref": "crm.CustomerPropertyLinks" },
            "_embedded": { "type": "object", "ref": "crm.CustomerEmbeddedLinks" }
          }
        }
        

    

    
    - CustomerPropertyLinks: |
        { 
          "name": "CustomerPropertyLinks",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "prev": { "type": "object", "putDescription": "Refers to a resource containing the previous page of results, null if there is no previous page", "example": "null" },
            "self": { "type": "object", "putDescription": "The request that returned this result", "ref": "crm.iqCustomers" },
            "next": { "type": "object", "putDescription": "Refers to a resource containing the next page of results, null if this is the last page", "example": "null" }
          }
        }
        

    

    
    - CustomerEmbeddedLinks: |
        { 
          "name": "CustomerEmbeddedLink",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "self": { "type": "array", "arrayType": "object", "ref": "crm.CustomerHal" }
          }
        }  
        

    

    
    - CustomerHal: |
        { 
          "exclude": "true",
          "name": "CustomerHal",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "_links": { "type": "object", "putDescription": "Relative links to requests related to this resource", "ref": "crm.CustomerLinks" },
            "_embedded": { "type": "object", "putDescription": "?????????????", "example": "" }, 
            "Id": { "type": "GUID", "description": "Unique identifier", "example": "659c2a38-d083-4421-9330-46d779702f85",  "generated": "true" }, 
            "PrimaryName": { "type": "string",  "description": "First name of a given person or the full name of the business, division, organization, etc", "example": "Princess" }, 
            "MiddleName": { "type": "string",  "description": "Middle name. Could also be referred to as Additional name", "example": "Ella" }, 
            "FamilyName": { "type": "string",  "description": "Family name. In the U.S., the last name of a Person", "example": "Jasmine" }, 
            "AlternateName": { "type": "string",  "description": "Alias or preferred name", "example": "Jas" }, 
            "CustomerType": { "type": "string",  "description": "Name of the [CustomerType](#customertype)", "example": "Company", "generated": "true" }, 
            "CustomerTypeId": { "type": "integer", "description": "See [CustomerType](#customertype) for a list of acceptable values", "example": "3" }, 
            "DateOfBirth": { "type": "DateTime", "description": "Customer's birth date, stored in UTC but can be provided in shortened form (yyyy-mm-dd)", "putDescription": "UTC but can be provided in shortened form (yyyy-mm-dd)", "example": "1952-07-23T12:00:00.000" }, 
            "Disabled": { "type": "boolean", "description": "A flag to indicate whether or not this Customer is disabled. The Delete operation acts as a Disable operation, as a Customer can not be deleted. When the Disabled flag is set to true, this Customer can still be retrieved and updated normally, defaults to false", "putDescription": "Defaults to false", "example": "true" }, 
            "DoNotContact": { "type": "boolean", "description": "A flag to indicate if this Customer is private and not to be used by external systems (such as a marketing system), defaults to true", "putDescription": "Defaults to true", "example": "true" }, 
            "Notes": { "type": "string",  "description": "Any notes related to this Customer", "example": "Interested in iPhone 6" }, 
            "Title": { "type": "string",  "description": "Title", "example": "Ms" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "example": "1", "generated": "true" }
          }
        }
        

    

    
    - Customer: |
        { 
          "name": "Customer",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "A Customer is a person or organization that buys goods or services from a store or business.",
          "properties": {
            "Id": { "type": "GUID", "description": "Unique identifier", "example": "659c2a38-d083-4421-9330-46d779702f85",  "generated": "true", "putGenerate": "true" }, 
            "PrimaryName": { "type": "string",  "description": "First name of a given person or the full name of the business, division, organization, etc", "example": "Princess" }, 
            "MiddleName": { "type": "string",  "description": "Middle name. Could also be referred to as Additional name", "example": "Ella" }, 
            "FamilyName": { "type": "string",  "description": "Family name. In the U.S., the last name of a Person", "example": "Jasmine" }, 
            "AlternateName": { "type": "string",  "description": "Alias or preferred name", "example": "Jas" }, 
            "CustomerType": { "type": "string",  "description": "Name of the [CustomerType](#customertype)", "example": "Company", "generated": "true" }, 
            "CustomerTypeId": { "type": "integer", "description": "See [CustomerType](#customertype) for a list of acceptable values", "example": "3" }, 
            "DateOfBirth": { "type": "DateTime", "description": "Customer's birth date, stored in UTC but can be provided in shortened form (yyyy-mm-dd)", "putDescription": "UTC but can be provided in shortened form (yyyy-mm-dd)", "example": "1952-07-23T12:00:00.000" }, 
            "Disabled": { "type": "boolean", "description": "A flag to indicate whether or not this Customer is disabled. The Delete operation acts as a Disable operation, as a Customer can not be deleted. When the Disabled flag is set to true, this Customer can still be retrieved and updated normally, defaults to false", "putDescription": "Defaults to false", "example": "true" }, 
            "DoNotContact": { "type": "boolean", "description": "A flag to indicate if this Customer is private and not to be used by external systems (such as a marketing system), defaults to true", "putDescription": "Defaults to true", "example": "true" }, 
            "Notes": { "type": "string",  "description": "Any notes related to this Customer", "example": "Interested in iPhone 6" }, 
            "Title": { "type": "string",  "description": "Title", "example": "Ms" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "example": "1", "generated": "true"  }
          },
          "required": ["CustomerTypeId", "Id"]      
        }       
        

    

    
    - CustomerArray: |
        { 
          "name": "Customer",
          "type": "array",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema"
        }       
        

    

    
    - AddressLinks: |
        {
          "name": "AddressLinks",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "self": { "type": "object", "ref": "crm.iqAddress" },
            "iq:Customer": { "type": "object", "ref": "crm.iqCustomer" },
            "iq:CustomerFull": { "type": "object", "ref": "crm.iqCustomerFull" }
          }
        }   
        

    

    
    - AddressArrayHal: |
        { 
          "name": "AddressArrayHal",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "_links": { "type": "object", "putDescription": "Relative URL's used for Pagination", "ref": "crm.AddressPropertyLinks" },
            "_embedded": { "type": "object", "ref": "crm.AddressEmbeddedLinks" }
          }
        }
        

    

    
    - AddressPropertyLinks: |
        { 
          "name": "AddressPropertyLinks",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "prev": { "type": "object", "putDescription": "Refers to a resource containing the previous page of results, null if there is no previous page", "example": "null", "ref": "crm.iqAddress" },
            "self": { "type": "object", "putDescription": "The request that returned this result", "ref": "crm.iqAddress" },
            "next": { "type": "object", "putDescription": "Refers to a resource containing the next page of results, null if this is the last page", "example": "null", "ref": "crm.iqAddress" }   
          }
        }
        

    

    
    - AddressEmbeddedLinks: |
        { 
          "name": "AddressEmbeddedLinks",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "self": { "type": "array", "arrayType": "object", "ref": "crm.AddressHal" }
          }
        }
        

    

    
    - AddressHal: |
        { 
          "exclude": "true",
          "name": "AddressHal",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "_links": { "type": "object", "putDescription": "Relative links to requests related to this resource", "ref": "crm.AddressLinks" },
            "_embedded": { "type": "object", "putDescription": "?????????????", "example": "" }, 
            "Id": { "type": "GUID", "description": "Unique identifier", "example": "a08b0640-606a-41f0-901a-facaf50e75dd", "generated": "true" }, 
            "CustomerId": { "type": "GUID", "description": "Unique identifier for the [Customer](#customer)", "ref": "crm.Customer.Id",  "generated": "true", "putGenerate": "true" }, 
            "AddressType": { "type": "string",  "description": "Name of the [AddressType](#addresstype)", "example": "Home", "generated": "true" }, 
            "AddressTypeId": { "type": "integer", "description": "See [AddressType](#addresstype) for a list of acceptable values", "putDescription": "See [AddressType](#addresstype)", "example": "2" }, 
            "AttentionTo": { "type": "string",  "description": "Attention To (Attn:)", "example": "Princess" }, 
            "Country": { "type": "string",  "description": "The Country. This value is system-generated and read-only", "example": "Canada", "generated": "true" }, 
            "CountryCode": { "type": "string",  "description": "Country in which this address resides. Uses the ISO 3166-1 alpha-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","putDescription": "Required if StateCode is provided", "ref": "reference.Country.Code" }, 
            "Default": { "type": "boolean", "description": "A flag to indicate if this address is the default address for the customer", "example": "false" }, 
            "DoNotContact": { "type": "boolean", "description": "A flag to indicate if this address is private and not to be used by any external systems (such as a marketing system), defaults to true", "example": "true" }, 
            "Email": { "type": "string",  "description": "Email", "example": "Jas@princess.ca" }, 
            "Locality": { "type": "string",  "description": "City, Town, Hamlet", "example": "Mountain View" }, 
            "Notes": { "type": "string",  "description": "Notes related to this Address", "example": "Moved as of April 15 2015" }, 
            "Phone": { "type": "string",  "description": "Phone number", "example": "(555) 555-5555" }, 
            "PostalCode": { "type": "string",  "description": "The postal code/zip code", "example": "94043" }, 
            "PostOfficeBoxNumber": { "type": "string",  "description": "The post office box number for PO box addresses", "example": "P.O. Box 1022" }, 
            "State": { "type": "string",  "description": "The State/Province", "example": "Alberta", "generated": "true" }, 
            "StateCode": { "type": "string",  "description": "Code for the State in which this address resides. Based off the ISO 3166-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>", "ref": "reference.State.Code" }, 
            "StreetAddress1": { "type": "string",  "description": "The street address", "example": "1600 Amphitheatre Pkwy" }, 
            "StreetAddress2": { "type": "string",  "description": "The street address", "example": "Suite 500" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "example": "1", "generated": "true" }
          }
        }
        

    

    
    - Address: |
        {
          "name": "Address",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "An Address represents a valid address somewhere on the planet.",
          "properties": {
            "Id": { "type": "GUID", "description": "Unique identifier", "example": "a08b0640-606a-41f0-901a-facaf50e75dd", "generated": "true", "putGenerate": "true" }, 
            "CustomerId": { "type": "GUID", "description": "Unique identifier for the [Customer](#customer)",  "ref": "crm.Customer.Id" }, 
            "AddressType": { "type": "string",  "description": "Name of the [AddressType](#addresstype)", "example": "Home", "generated": "true" }, 
            "AddressTypeId": { "type": "integer", "description": "See [AddressType](#addresstype) for a list of acceptable values", "putDescription": "Required if Addresses is not null", "example": "2" }, 
            "AttentionTo": { "type": "string",  "description": "Attention To (Attn:)", "example": "Princess" }, 
            "Country": { "type": "string",  "description": "The Country. This value is system-generated and read-only", "example": "Canada", "generated": "true" }, 
            "CountryCode": { "type": "string",  "description": "Country in which this address resides. Uses the ISO 3166-1 alpha-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","putDescription": "Required if StateCode is provided", "ref": "reference.Country.Code" }, 
            "Default": { "type": "boolean", "description": "A flag to indicate if this address is the default address for the customer", "example": "false" }, 
            "DoNotContact": { "type": "boolean", "description": "A flag to indicate if this address is private and not to be used by any external systems (such as a marketing system), defaults to true", "example": "true" }, 
            "Email": { "type": "string",  "description": "Email", "example": "Jas@princess.ca" }, 
            "Locality": { "type": "string",  "description": "City, Town, Hamlet", "example": "Mountain View" }, 
            "Notes": { "type": "string",  "description": "Notes related to this Address", "example": "Moved as of April 15 2015" }, 
            "Phone": { "type": "string",  "description": "Phone number", "example": "(555) 555-5555" }, 
            "PostalCode": { "type": "string",  "description": "The postal code/zip code", "example": "94043" }, 
            "PostOfficeBoxNumber": { "type": "string",  "description": "The post office box number for PO box addresses", "example": "P.O. Box 1022" }, 
            "State": { "type": "string",  "description": "The State/Province", "example": "Alberta", "generated": "true" }, 
            "StateCode": { "type": "string",  "description": "Code for the State in which this address resides. Based off the ISO 3166-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>", "ref": "reference.State.Code" }, 
            "StreetAddress1": { "type": "string",  "description": "The street address", "example": "1600 Amphitheatre Pkwy" }, 
            "StreetAddress2": { "type": "string",  "description": "The street address", "example": "Suite 500" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "example": "1", "generated": "true" }
          },
          "required": ["AddressTypeId", "CountryCode", "StateCode", "CustomerId", "Id"]          
        }
        

    

    
    - AddressArray: |
        {
          "exclude": "true",        
          "name": "Address",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema"
        }      
        

    

    
    - ContactMethodLinks: |
        {
          "name": "ContactMethodLinks",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "self": { "type": "object", "ref": "crm.iqContactMethod"},
            "iq:Customer": { "type": "object", "ref": "crm.iqCustomer"},
            "iq:CustomerFull": { "type": "object", "ref": "crm.iqCustomerFull"}
          }
        }   
        

    

    
    - ContactMethodArrayHal: |
        { 
          "name": "ContactMethodArrayHal",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "_links": { "type": "object", "putDescription": "Relative URL's used for Pagination", "ref": "crm.ContactMethodPropertyLinks" },
            "_embedded": { "type": "object", "ref": "crm.ContactMethodEmbeddedLinks" }
          }
        }
        

    

    
    - ContactMethodPropertyLinks: |
        { 
          "name": "ContactMethodPropertyLinks",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "prev": { "type": "object", "putDescription": "Refers to a resource containing the previous page of results, null if there is no previous page", "example": "null",  "ref": "crm.iqContactMethod" },
            "self": { "type": "object", "putDescription": "The request that returned this result", "ref": "crm.iqContactMethod" },
            "next": { "type": "object", "putDescription": "Refers to a resource containing the next page of results, null if this is the last page", "example": "null",  "ref": "crm.iqContactMethod" }       
          }
        }
        

    

    
    - ContactMethodEmbeddedLinks: |
        { 
          "name": "ContactMethodEmbeddedLinks",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "self": { "type": "array", "arrayType": "object", "ref": "crm.ContactMethodHal" }
          }
        }      
        

    

    
    - ContactMethodHal: |
        { 
          "exclude": "true",
          "name": "ContactMethodHal",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "_links": { "type": "object", "putDescription": "Relative links to requests related to this resource", "ref": "crm.ContactMethodLinks" },
            "_embedded": { "type": "object", "putDescription": "?????????????", "example": "" }, 
            "Id": { "type": "GUID", "description": "Unique identifier", "example": "b25dd8b2-a24d-4107-8fbe-9c7b21e18137", "generated": "true" }, 
            "CustomerId": { "type": "GUID", "description": "Unique identifier for the [Customer](#customer)", "ref": "crm.Customer.Id" }, 
            "ContactMethodCategory": { "type": "string",  "description": "Name of the [ContactMethodCategory](#contactmethodcategory)", "example": "Email", "generated": "true" }, 
            "ContactMethodCategoryId": { "type": "integer", "description": "See [ContactMethodCategory](#contactmethodcategory) for a list of acceptable values", "putDescription": "Required if ContactMethods is not null", "example": "3" }, 
            "ContactMethodType": { "type": "string",  "description": "Name of the [ContactMethodType](#contactmethodtype)", "example": "Work phone", "generated": "true" }, 
            "ContactMethodTypeId": { "type": "integer", "description": "See [ContactMethodType](#contactmethodtype) for a list of acceptable values", "putDescription": "Required if ContactMethods is not null", "example": "5" }, 
            "Default": { "type": "boolean", "description": "A flag to indicate if this is the default ContactMethod for the Customer", "example": "true" }, 
            "DoNotContact": { "type": "boolean", "description": "A flag to indicate if this ContactMethod is private and not to be used by any external systems (such as a marketing system), defaults to true", "example": "true" }, 
            "Notes": { "type": "string",  "description": "Notes related to this ContactMethod", "example": "After 6pm" }, 
            "Value": { "type": "string",  "description": "The value representing this ContactMethod", "example": "(306) 222-3333" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "example": "1", "generated": "true"}
          }
        }
        

    

    
    - ContactMethod: |
        {
          "name": "ContactMethod",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "A Contact Method is a method of contacting a Customer.",
          "properties": {
            "Id": { "type": "GUID", "description": "Unique identifier", "example": "b25dd8b2-a24d-4107-8fbe-9c7b21e18137", "generated": "true", "putGenerate": "true" }, 
            "CustomerId": { "type": "GUID", "description": "Unique identifier for the [Customer](#customer)", "ref": "crm.Customer.Id" }, 
            "ContactMethodCategory": { "type": "string",  "description": "Name of the [ContactMethodCategory](#contactmethodcategory)", "example": "Email", "generated": "true" }, 
            "ContactMethodCategoryId": { "type": "integer", "description": "See [ContactMethodCategory](#contactmethodcategory) for a list of acceptable values", "putDescription": "Required if ContactMethods is not null", "example": "3" }, 
            "ContactMethodType": { "type": "string",  "description": "Name of the [ContactMethodType](#contactmethodtype)", "example": "Work phone", "generated": "true" }, 
            "ContactMethodTypeId": { "type": "integer", "description": "See [ContactMethodType](#contactmethodtype) for a list of acceptable values", "putDescription": "Required if ContactMethods is not null", "example": "5" }, 
            "Default": { "type": "boolean", "description": "A flag to indicate if this is the default ContactMethod for the Customer", "example": "true" }, 
            "DoNotContact": { "type": "boolean", "description": "A flag to indicate if this ContactMethod is private and not to be used by any external systems (such as a marketing system), defaults to true", "example": "true" }, 
            "Notes": { "type": "string",  "description": "Notes related to this ContactMethod", "example": "After 6pm" }, 
            "Value": { "type": "string",  "description": "The value representing this ContactMethod", "example": "(306) 222-3333" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "example": "1", "generated": "true"}
          },
          "required": ["ContactMethodCategoryId", "ContactMethodTypeId", "Id", "CustomerId"]
        }
        

    

    
    - ContactMethodArray: |
        {
          "exclude": "true",          
          "name": "ContactMethod",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema"
        }        
        

    

    
    - CustomerExtensionLinks: |
        {
          "name": "CustomerExtensionLinks",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "self": { "type": "object", "ref": "crm.iqCustomerExtension"},
            "iq:Customer": { "type": "object", "ref": "crm.iqCustomer"},
            "iq:CustomerFull": { "type": "object", "ref": "crm.iqCustomerFull"}
          }
        }   
        

    

    
    - CustomerExtensionArrayHal: |
        { 
          "name": "CustomerExtensionArrayHal",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "_links": { "type": "object", "putDescription": "Relative URL's used for Pagination", "ref": "crm.CustomerExtensionPropertyLinks" },
            "_embedded": { "type": "object", "ref": "crm.CustomerExtensionEmbeddedLinks" }
          }
        }
        

    

    
    - CustomerExtensionPropertyLinks: |
        { 
          "name": "CustomerExtensionPropertyLinks",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "prev": { "type": "string", "putDescription": "Refers to a resource containing the previous page of results, null if there is no previous page", "example": "null" },
            "self": { "type": "string", "putDescription": "The request that returned this result", "example": "Companies(14146)/Customers(659c2a38-d083-4421-9330-46d779702f85)/CustomerExtensions?$skip=0&$top=1" },
            "next": { "type": "string", "putDescription": "Refers to a resource containing the next page of results, null if this is the last page", "example": "null" }
          }
        }
        

    

    
    - CustomerExtensionEmbeddedLinks: |
        { 
          "name": "CustomerMethodEmbeddedLinks",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "self": { "type": "array", "arrayType": "object", "ref": "crm.CustomerExtensionHal" }          
          }
        }       
        

    

    
    - CustomerExtensionHal: |
        { 
          "exclude": "true",
          "name": "CustomerExtensionHal",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "_links": { "type": "object", "putDescription": "Relative links to requests related to this resource", "ref": "crm.CustomerExtensionLinks"},
            "_embedded": { "type": "object", "putDescription": "?????????????", "example": "" }, 
            "Id": { "type": "GUID", "description": "Unique identifier", "example": "74b87ece-5f70-454d-9991-7952127146b0", "generated": "true" }, 
            "CustomerId": { "type": "GUID", "description": "Unique identifier for the [Customer](#customer)", "ref": "crm.Customer.Id", "putGenerate": "true" }, 
            "ExtensionType": { "type": "string",  "description": "Name of the <a href='#customerextensiontype'>CustomerExtensionType</a>", "putDescription": "Required if CustomerExtensions is not null", "example": "ExternalCustomerId", "generated": "true" }, 
            "ExtensionTypeId": { "type": "integer", "description": "Identifier for the <a href='#customerextensiontype'>CustomerExtensionType</a>", "example": "2" }, 
            "Value": { "type": "string",  "description": "Value", "example": "66432" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "example": "1", "generated": "true" }
          }
        }
        

    

    
    - CustomerExtension: |
        {
          "name": "CustomerExtension",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "A CustomerExtension resource is used for adding custom properties to a Customer.",
          "properties": {
            "Id": { "type": "GUID", "description": "Unique identifier", "example": "74b87ece-5f70-454d-9991-7952127146b0", "generated": "true", "putGenerate": "true" }, 
            "CustomerId": { "type": "GUID", "description": "Unique identifier for the [Customer](#customer)",  "ref": "crm.Customer.Id", "putGenerate": "true" }, 
            "ExtensionType": { "type": "string",  "description": "Name of the <a href='#customerextensiontype'>CustomerExtensionType</a>", "example": "ExternalCustomerId", "generated": "true" }, 
            "ExtensionTypeId": { "type": "integer", "description": "Identifier for the <a href='#customerextensiontype'>CustomerExtensionType</a>", "putDescription": "Identifier for a <a href='#customerextensiontype'>CustomerExtensionType</a>. See <a href='#getting-all-customer-extension-types'>Getting All Customer Extension Types</a>", "example": "2" }, 
            "Value": { "type": "string",  "description": "Value", "example": "66432" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "example": "1", "generated": "true" }
          },
          "required": [ "ExtensionTypeId", "Id", "CustomerId"]      
        }
        

    

    
    - CustomerExtensionType: |
        {
          "name": "CustomerExtensionType",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "CustomerExtensionType resources are created by iQmetrix and are used to provide custom properties for the CustomerExtension resource.",
          "properties": {
            "Id": { "type": "integer", "description": "Identifier", "example": "1" }, 
            "Name": { "type": "string",  "description": "Name", "example": "CorrelationId" }, 
            "Data Type": { "type": "string",  "description": "Data type", "example": "Integer" }
          }
        }
        

    

    
    - CustomerFullLinks: |
        {
          "name": "CustomerFullLinks",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "self": { "type": "object", "ref": "crm.iqCustomerFull"},
            "iq:Customer": { "type": "object", "ref": "crm.iqCustomer"},
            "iq:Address": { "type": "object", "ref": "crm.iqAddresses"},
            "iq:ContactMethod": { "type": "object", "ref": "crm.iqContactMethods"},
            "iq:CustomerExtension": { "type": "object", "ref": "crm.iqCustomerExtensions"},
            "iq:RelatedCustomer": { "type": "object", "example": "" },
            "iq:MemberOf": { "type": "object", "example": "" }
          }
        }      
        

    

    
    - CustomerFullArrayHal: |
        { 
          "name": "CustomerFullArrayHal",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "_links": { "type": "object", "putDescription": "Relative URL's used for Pagination", "ref": "crm.CustomerFullPropertyLinks" },
            "_embedded": { "type": "object", "ref": "crm.CustomerFullEmbeddedLinks" }
          }
        }
        

    

    
    - CustomerFullPropertyLinks: |
        { 
          "name": "CustomerFullPropertyLinks",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "prev": { "type": "string", "putDescription": "Refers to a resource containing the previous page of results, null if there is no previous page", "example": "null" },
            "self": { "type": "string", "putDescription": "The request that returned this result", "example": "Companies(14146)/CustomerFull?$skip=0&$top=1" },
            "next": { "type": "string", "putDescription": "Refers to a resource containing the next page of results, null if this is the last page", "example": "null" }
          }
        }
        

    

    
    - CustomerFullEmbeddedLinks: |
        { 
          "name": "CustomerFullEmbeddedLinks",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "self": { "type": "array", "arrayType": "object", "ref": "crm.CustomerFullHal" }        
          }
        }       
        

    

    
    - CustomerFullHal: |
        { 
          "exclude": "true",
          "name": "CustomerFullHal",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "_links": { "type": "object", "putDescription": "Relative links to requests related to this resource", "ref": "crm.CustomerFullLinks"},
            "_embedded": { "type": "object", "putDescription": "?????????????", "example": "" }, 
            "Id": { "type": "GUID", "description": "Unique identifier",  "generated": "true", "ref": "crm.Customer.Id" }, 
            "PrimaryName": { "type": "string",  "description": "First name of a given person or the full name of the business, division, organization, etc", "ref": "crm.Customer.PrimaryName" }, 
            "MiddleName": { "type": "string",  "description": "Middle name. Could also be referred to as Additional name", "ref": "crm.Customer.MiddleName"}, 
            "FamilyName": { "type": "string",  "description": "Family name. In the U.S., the last name of a Person", "ref": "crm.Customer.FamilyName" }, 
            "Addresses": { "type": "array", "arrayType": "object", "ref": "crm.Address", "description": "A collection of Addresses" }, 
            "AlternateName": { "type": "string",  "description": "Alias or preferred name", "ref": "crm.Customer.AlternateName"}, 
            "ContactMethods": { "type": "array", "arrayType": "object", "description": "A collection of ContactMethods", "ref": "crm.ContactMethod" }, 
            "CustomerExtensions": { "type": "array", "arrayType": "object", "description": "A collection of CustomerExtensions", "ref": "crm.CustomerExtension" }, 
            "CustomerType": { "type": "string",  "description": "Name of the [CustomerType](#customertype)", "ref": "crm.Customer.CustomerType", "generated": "true" }, 
            "CustomerTypeId": { "type": "integer", "description": "See [CustomerType](#customertype) for a list of acceptable values", "ref": "crm.Customer.CustomerTypeId" }, 
            "DateOfBirth": { "type": "DateTime", "description": "Customer's birth date, stored in UTC but can be provided in shortened form (yyyy-mm-dd)", "putDescription": "UTC but can be provided in shortened form (yyyy-mm-dd)", "ref": "crm.Customer.DateOfBirth" }, 
            "Disabled": { "type": "boolean", "description": "A flag to indicate whether or not this Customer is disabled. The Delete operation acts as a Disable operation, as a Customer can not be deleted. When the Disabled flag is set to true, this Customer can still be retrieved and updated normally, defaults to false", "putDescription": "Defaults to false", "ref": "crm.Customer.Disabled" }, 
            "DoNotContact": { "type": "boolean", "description": "A flag to indicate if this Customer is private and not to be used by external systems (such as a marketing system), defaults to true", "putDescription": "Defaults to true", "ref": "crm.Customer.DoNotContact" }, 
            "MemberOf": { "type": "array", "arrayType": "object","description": "A collection of Customers that the Customer is a MemberOf (parent relation)", "example": "" }, 
            "Notes": { "type": "string",  "description": "Any notes related to this Customer", "example": "Interested in iPhone 6" }, 
            "RelatedCustomers": { "type": "array", "arrayType": "object","description": "A collection of Customers related to the Customer (child relation)", "example": "" },
            "Title": { "type": "string",  "description": "Title", "ref": "crm.Customer.Title" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "ref": "crm.Customer.Version", "generated": "true"  } 
          }
        }
        

    

    
    - CustomerFull: |
        {
          "name": "CustomerFull",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "CustomerFull is an extension on the Customer resource.",
          "properties": {
            "Id": { "type": "GUID", "description": "Unique identifier",  "generated": "true", "ref": "crm.Customer.Id", "putGenerate": "true" }, 
            "PrimaryName": { "type": "string",  "description": "First name of a given person or the full name of the business, division, organization, etc", "ref": "crm.Customer.PrimaryName" }, 
            "MiddleName": { "type": "string",  "description": "Middle name. Could also be referred to as Additional name", "ref": "crm.Customer.MiddleName"}, 
            "FamilyName": { "type": "string",  "description": "Family name. In the U.S., the last name of a Person", "ref": "crm.Customer.FamilyName" }, 
            "Addresses": { "type": "array", "arrayType": "object", "ref": "crm.Address", "description": "A collection of Addresses" }, 
            "AlternateName": { "type": "string",  "description": "Alias or preferred name", "ref": "crm.Customer.AlternateName"}, 
            "ContactMethods": { "type": "array", "arrayType": "object", "description": "A collection of ContactMethods", "ref": "crm.ContactMethod" }, 
            "CustomerExtensions": { "type": "array", "arrayType": "object", "description": "A collection of CustomerExtensions", "ref": "crm.CustomerExtension" }, 
            "CustomerType": { "type": "string",  "description": "Name of the [CustomerType](#customertype)", "ref": "crm.Customer.CustomerType", "generated": "true" }, 
            "CustomerTypeId": { "type": "integer", "description": "See [CustomerType](#customertype) for a list of acceptable values", "ref": "crm.Customer.CustomerTypeId" }, 
            "DateOfBirth": { "type": "DateTime", "description": "Customer's birth date, stored in UTC but can be provided in shortened form (yyyy-mm-dd)", "putDescription": "UTC but can be provided in shortened form (yyyy-mm-dd)", "ref": "crm.Customer.DateOfBirth" }, 
            "Disabled": { "type": "boolean", "description": "A flag to indicate whether or not this Customer is disabled. The Delete operation acts as a Disable operation, as a Customer can not be deleted. When the Disabled flag is set to true, this Customer can still be retrieved and updated normally, defaults to false", "putDescription": "Defaults to false", "ref": "crm.Customer.Disabled" }, 
            "DoNotContact": { "type": "boolean", "description": "A flag to indicate if this Customer is private and not to be used by external systems (such as a marketing system), defaults to true", "putDescription": "Defaults to true", "ref": "crm.Customer.DoNotContact" }, 
            "MemberOf": { "type": "array", "arrayType": "object","description": "A collection of Customers that the Customer is a MemberOf (parent relation)", "example": "" }, 
            "Notes": { "type": "string",  "description": "Any notes related to this Customer", "example": "Interested in iPhone 6" }, 
            "RelatedCustomers": { "type": "array", "arrayType": "object","description": "A collection of Customers related to the Customer (child relation)", "example": "" },
            "Title": { "type": "string",  "description": "Title", "ref": "crm.Customer.Title" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "ref": "crm.Customer.Version", "generated": "true"  } 
          },
          "required": ["CustomerTypeId", "Id"]        
        }
        

    

    
    - CustomerFullArray: |
        {
          "exclude": "true",        
          "name": "CustomerFull",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema"
        }      
        

    

    
    - CustomerSearch: |
        {
          "name": "CustomerSearch",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "CustomerSearch is used to search for CustomerFull resources based on a Criteria. A CustomerSearch resource is an extension on the CustomerFull resource.",
          "properties": {
            "Criteria": { "type": "string",  "description": "The criteria used to seach for the Customer", "example": "bob" },          
            "Id": { "type": "GUID", "description": "Unique identifier", "example": "503d1d4a-c974-4286-b4a2-002699e60ad6",  "generated": "true", "putGenerate": "true" }, 
            "PrimaryName": { "type": "string",  "description": "First name of a given person or the full name of the business, division, organization, etc", "example": "Robert" }, 
            "MiddleName": { "type": "string",  "description": "Middle name. Could also be referred to as Additional name", "example": "Lee" }, 
            "FamilyName": { "type": "string",  "description": "Family name. In the U.S., the last name of a Person", "example": "Smith" }, 
            "Addresses": { "type": "array", "arrayType": "object", "ref": "crm.Address", "description": "A collection of Addresses" }, 
            "AlternateName": { "type": "string",  "description": "Alias or preferred name", "example": "Bob" }, 
            "ContactMethods": { "type": "array", "arrayType": "object", "description": "A collection of ContactMethods", "ref": "crm.ContactMethod" }, 
            "CustomerExtensions": { "type": "array", "arrayType": "object", "description": "A collection of CustomerExtensions", "ref": "crm.CustomerExtension" }, 
            "CustomerType": { "type": "string",  "description": "Name of the [CustomerType](#customertype)", "example": "Company", "generated": "true" }, 
            "CustomerTypeId": { "type": "integer", "description": "See [CustomerType](#customertype) for a list of acceptable values", "example": "3" }, 
            "DateOfBirth": { "type": "DateTime", "description": "Customer's birth date, stored in UTC but can be provided in shortened form (yyyy-mm-dd)", "putDescription": "UTC but can be provided in shortened form (yyyy-mm-dd)", "example": "1952-07-23T12:00:00.000" }, 
            "Disabled": { "type": "boolean", "description": "A flag to indicate whether or not this Customer is disabled. The Delete operation acts as a Disable operation, as a Customer can not be deleted. When the Disabled flag is set to true, this Customer can still be retrieved and updated normally, defaults to false", "putDescription": "Defaults to false", "example": "true" }, 
            "DoNotContact": { "type": "boolean", "description": "A flag to indicate if this Customer is private and not to be used by external systems (such as a marketing system), defaults to true", "putDescription": "Defaults to true", "example": "true" }, 
            "MemberOf": { "type": "array", "arrayType": "object","description": "A collection of Customers that the Customer is a MemberOf (parent relation)", "example": "" }, 
            "Notes": { "type": "string",  "description": "Any notes related to this Customer", "example": "Interested in iPhone 6" }, 
            "RelatedCustomers": { "type": "array", "arrayType": "object","description": "A collection of Customers related to the Customer (child relation)", "example": "" },
            "Title": { "type": "string",  "description": "Title", "example": "Mr" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "example": "1", "generated": "true" } 
          }   
        } 
        

    


/Companies({CompanyId})/Customers?$skip={Skip}&top={Top}:
    
    uriParameters:
        
        CompanyId:
            displayName: Company Id
            type: integer
            example: 14146
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>
        
        Skip:
            displayName: skip
            type: integer
            example: 1
            required: false
            description: Number of records to skip
        
        Top:
            displayName: top
            type: integer
            example: 10
            required: false
            description: Number of records to take
          
      
    get:
        
        displayName: Getting All Customers
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/hal+json
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/hal+json:
                        
                            
                            example: |
                                {"_links":{"prev":null,"self":{"href":"Companies(14146)/Customers?$skip=0&$top=1","templated":false},"next":null},"_embedded":{"self":[{"_links":{"self":{"href":"Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)","templated":false},"iq:CustomerFull":{"href":"Companies(14146)/CustomerFull(902cdc91-65f4-4c7d-b336-5f291849f2fe)","templated":false},"iq:Address":{"href":"Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/Addresses","templated":false},"iq:ContactMethod":{"href":"Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/ContactMethods","templated":false},"iq:CustomerExtension":{"href":"Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/CustomerExtensions","templated":false},"iq:RelatedCustomer":{},"iq:MemberOf":{}},"_embedded":{},"Id":"659c2a38-d083-4421-9330-46d779702f85","PrimaryName":"Princess","MiddleName":"Ella","FamilyName":"Jasmine","AlternateName":"Jas","CustomerType":"Company","CustomerTypeId":3,"DateOfBirth":"1952-07-23T12:00:00.000","Disabled":true,"DoNotContact":true,"Notes":"Interested in iPhone 6","Title":"Ms","Version":1}]}}
                            schema: |
                                {"name":"CustomerArrayHal","type":"object","exclude":"true","$schema":"http://json-schema.org/draft-03/schema","properties":{"_links":{"type":"object","putDescription":"Relative URL's used for Pagination","ref":"crm.CustomerPropertyLinks","properties":{"prev":{"type":"object","putDescription":"Refers to a resource containing the previous page of results, null if there is no previous page","example":"null","name":"prev"},"self":{"type":"object","putDescription":"The request that returned this result","ref":"crm.iqCustomers","name":"self","properties":{"href":{"type":"string","example":"Companies(14146)/Customers?$skip=0&$top=1","name":"href"},"templated":{"type":"boolean","putDescription":"A flag to indicate ????????????????","example":"false","name":"templated"}}},"next":{"type":"object","putDescription":"Refers to a resource containing the next page of results, null if this is the last page","example":"null","name":"next"}}},"_embedded":{"type":"object","ref":"crm.CustomerEmbeddedLinks","properties":{"self":{"type":"array","arrayType":"object","ref":"crm.CustomerHal","name":"self","properties":{"_links":{"type":"object","putDescription":"Relative links to requests related to this resource","ref":"crm.CustomerLinks","name":"_links","properties":{"self":{"type":"object","ref":"crm.iqCustomer","name":"self","properties":{"href":{"type":"string","putDescription":"A link to the request that will return a related Customer","example":"Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)","name":"href"},"templated":{"type":"boolean","putDescription":"A flag to indicate ????????????????","example":"false","name":"templated"}}},"iq:CustomerFull":{"type":"object","ref":"crm.iqCustomerFull","name":"iq:CustomerFull","properties":{"href":{"type":"string","putDescription":"A link to the request that will return a related CustomerFull","example":"Companies(14146)/CustomerFull(902cdc91-65f4-4c7d-b336-5f291849f2fe)","name":"href"},"templated":{"type":"boolean","putDescription":"A flag to indicate ????????????????","example":"false","name":"templated"}}},"iq:Address":{"type":"object","ref":"crm.iqAddresses","name":"iq:Address","properties":{"href":{"type":"string","putDescription":"A link to the request that will return related Addresses(s)","example":"Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/Addresses","name":"href"},"templated":{"type":"boolean","putDescription":"A flag to indicate ????????????????","example":"false","name":"templated"}}},"iq:ContactMethod":{"type":"object","ref":"crm.iqContactMethods","name":"iq:ContactMethod","properties":{"href":{"type":"string","putDescription":"A link to the request that will return related ContactMethods(s)","example":"Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/ContactMethods","name":"href"},"templated":{"type":"boolean","putDescription":"A flag to indicate ????????????????","example":"false","name":"templated"}}},"iq:CustomerExtension":{"type":"object","ref":"crm.iqCustomerExtensions","name":"iq:CustomerExtension","properties":{"href":{"type":"string","putDescription":"A link to the request that will return related CustomerExtension(s)","example":"Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/CustomerExtensions","name":"href"},"templated":{"type":"boolean","putDescription":"A flag to indicate ????????????????","example":"false","name":"templated"}}},"iq:RelatedCustomer":{"type":"object","example":"","name":"iq:RelatedCustomer"},"iq:MemberOf":{"type":"object","example":"","name":"iq:MemberOf"}}},"_embedded":{"type":"object","putDescription":"?????????????","example":"","name":"_embedded"},"Id":{"type":"guid","description":"Unique identifier","example":"659c2a38-d083-4421-9330-46d779702f85","generated":"true","name":"Id"},"PrimaryName":{"type":"string","description":"First name of a given person or the full name of the business, division, organization, etc","example":"Princess","name":"PrimaryName"},"MiddleName":{"type":"string","description":"Middle name. Could also be referred to as Additional name","example":"Ella","name":"MiddleName"},"FamilyName":{"type":"string","description":"Family name. In the U.S., the last name of a Person","example":"Jasmine","name":"FamilyName"},"AlternateName":{"type":"string","description":"Alias or preferred name","example":"Jas","name":"AlternateName"},"CustomerType":{"type":"string","description":"Name of the [CustomerType](#customertype)","example":"Company","generated":"true","name":"CustomerType"},"CustomerTypeId":{"type":"integer","description":"See [CustomerType](#customertype) for a list of acceptable values","example":"3","name":"CustomerTypeId"},"DateOfBirth":{"type":"datetime","description":"Customer's birth date, stored in UTC but can be provided in shortened form (yyyy-mm-dd)","putDescription":"UTC but can be provided in shortened form (yyyy-mm-dd)","example":"1952-07-23T12:00:00.000","name":"DateOfBirth"},"Disabled":{"type":"boolean","description":"A flag to indicate whether or not this Customer is disabled. The Delete operation acts as a Disable operation, as a Customer can not be deleted. When the Disabled flag is set to true, this Customer can still be retrieved and updated normally, defaults to false","putDescription":"Defaults to false","example":"true","name":"Disabled"},"DoNotContact":{"type":"boolean","description":"A flag to indicate if this Customer is private and not to be used by external systems (such as a marketing system), defaults to true","putDescription":"Defaults to true","example":"true","name":"DoNotContact"},"Notes":{"type":"string","description":"Any notes related to this Customer","example":"Interested in iPhone 6","name":"Notes"},"Title":{"type":"string","description":"Title","example":"Ms","name":"Title"},"Version":{"type":"integer","description":"Latest revision number","example":"1","generated":"true","name":"Version"}}}}}}}
                            
                        
                    
                
            
    

/Companies({CompanyId})/Customers:
    
    uriParameters:
        
        CompanyId:
            displayName: Company Id
            type: integer
            example: 14146
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>
          
      
    post:
        
        displayName: Creating a Customer
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    
                    {"PrimaryName":"Princess","MiddleName":"Ella","FamilyName":"Jasmine","AlternateName":"Jas","CustomerTypeId":3,"DateOfBirth":"1952-07-23T12:00:00.000","Disabled":true,"DoNotContact":true,"Notes":"Interested in iPhone 6","Title":"Ms"}
                    
                schema: |
                    {"name":"Customer","type":"object","$schema":"http://json-schema.org/draft-03/schema","description":"A Customer is a person or organization that buys goods or services from a store or business.","properties":{"Id":{"type":"GUID","description":"Unique identifier","example":"659c2a38-d083-4421-9330-46d779702f85","generated":"true","putGenerate":"true"},"PrimaryName":{"type":"string","description":"First name of a given person or the full name of the business, division, organization, etc","example":"Princess"},"MiddleName":{"type":"string","description":"Middle name. Could also be referred to as Additional name","example":"Ella"},"FamilyName":{"type":"string","description":"Family name. In the U.S., the last name of a Person","example":"Jasmine"},"AlternateName":{"type":"string","description":"Alias or preferred name","example":"Jas"},"CustomerType":{"type":"string","description":"Name of the [CustomerType](#customertype)","example":"Company","generated":"true"},"CustomerTypeId":{"type":"integer","description":"See [CustomerType](#customertype) for a list of acceptable values","example":"3"},"DateOfBirth":{"type":"DateTime","description":"Customer's birth date, stored in UTC but can be provided in shortened form (yyyy-mm-dd)","putDescription":"UTC but can be provided in shortened form (yyyy-mm-dd)","example":"1952-07-23T12:00:00.000"},"Disabled":{"type":"boolean","description":"A flag to indicate whether or not this Customer is disabled. The Delete operation acts as a Disable operation, as a Customer can not be deleted. When the Disabled flag is set to true, this Customer can still be retrieved and updated normally, defaults to false","putDescription":"Defaults to false","example":"true"},"DoNotContact":{"type":"boolean","description":"A flag to indicate if this Customer is private and not to be used by external systems (such as a marketing system), defaults to true","putDescription":"Defaults to true","example":"true"},"Notes":{"type":"string","description":"Any notes related to this Customer","example":"Interested in iPhone 6"},"Title":{"type":"string","description":"Title","example":"Ms"},"Version":{"type":"integer","description":"Latest revision number","example":"1","generated":"true"}},"required":["CustomerTypeId","Id"]}
                
            
        responses:
            
            201:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                {"Id":"659c2a38-d083-4421-9330-46d779702f85","PrimaryName":"Princess","MiddleName":"Ella","FamilyName":"Jasmine","AlternateName":"Jas","CustomerType":"Company","CustomerTypeId":3,"DateOfBirth":"1952-07-23T12:00:00.000","Disabled":true,"DoNotContact":true,"Notes":"Interested in iPhone 6","Title":"Ms","Version":1}
                            schema: |
                                {"name":"Customer","type":"object","$schema":"http://json-schema.org/draft-03/schema","description":"A Customer is a person or organization that buys goods or services from a store or business.","properties":{"Id":{"type":"GUID","description":"Unique identifier","example":"659c2a38-d083-4421-9330-46d779702f85","generated":"true","putGenerate":"true"},"PrimaryName":{"type":"string","description":"First name of a given person or the full name of the business, division, organization, etc","example":"Princess"},"MiddleName":{"type":"string","description":"Middle name. Could also be referred to as Additional name","example":"Ella"},"FamilyName":{"type":"string","description":"Family name. In the U.S., the last name of a Person","example":"Jasmine"},"AlternateName":{"type":"string","description":"Alias or preferred name","example":"Jas"},"CustomerType":{"type":"string","description":"Name of the [CustomerType](#customertype)","example":"Company","generated":"true"},"CustomerTypeId":{"type":"integer","description":"See [CustomerType](#customertype) for a list of acceptable values","example":"3"},"DateOfBirth":{"type":"DateTime","description":"Customer's birth date, stored in UTC but can be provided in shortened form (yyyy-mm-dd)","putDescription":"UTC but can be provided in shortened form (yyyy-mm-dd)","example":"1952-07-23T12:00:00.000"},"Disabled":{"type":"boolean","description":"A flag to indicate whether or not this Customer is disabled. The Delete operation acts as a Disable operation, as a Customer can not be deleted. When the Disabled flag is set to true, this Customer can still be retrieved and updated normally, defaults to false","putDescription":"Defaults to false","example":"true"},"DoNotContact":{"type":"boolean","description":"A flag to indicate if this Customer is private and not to be used by external systems (such as a marketing system), defaults to true","putDescription":"Defaults to true","example":"true"},"Notes":{"type":"string","description":"Any notes related to this Customer","example":"Interested in iPhone 6"},"Title":{"type":"string","description":"Title","example":"Ms"},"Version":{"type":"integer","description":"Latest revision number","example":"1","generated":"true"}},"required":["CustomerTypeId","Id"]}
                            
                        
                    
                
            
    

/Companies({CompanyId})/Customers({CustomerId}):
    
    uriParameters:
        
        CompanyId:
            displayName: Company Id
            type: integer
            example: 14146
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>
        
        CustomerId:
            displayName: Customer Id
            type: string
            example: 659c2a38-d083-4421-9330-46d779702f85
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/crm/#customer'>Customer</a>
          
      
    get:
        
        displayName: Getting a Customer
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                {"Id":"659c2a38-d083-4421-9330-46d779702f85","PrimaryName":"Princess","MiddleName":"Ella","FamilyName":"Jasmine","AlternateName":"Jas","CustomerType":"Company","CustomerTypeId":3,"DateOfBirth":"1952-07-23T12:00:00.000","Disabled":true,"DoNotContact":true,"Notes":"Interested in iPhone 6","Title":"Ms","Version":1}
                            schema: |
                                {"name":"Customer","type":"object","$schema":"http://json-schema.org/draft-03/schema","description":"A Customer is a person or organization that buys goods or services from a store or business.","properties":{"Id":{"type":"GUID","description":"Unique identifier","example":"659c2a38-d083-4421-9330-46d779702f85","generated":"true","putGenerate":"true"},"PrimaryName":{"type":"string","description":"First name of a given person or the full name of the business, division, organization, etc","example":"Princess"},"MiddleName":{"type":"string","description":"Middle name. Could also be referred to as Additional name","example":"Ella"},"FamilyName":{"type":"string","description":"Family name. In the U.S., the last name of a Person","example":"Jasmine"},"AlternateName":{"type":"string","description":"Alias or preferred name","example":"Jas"},"CustomerType":{"type":"string","description":"Name of the [CustomerType](#customertype)","example":"Company","generated":"true"},"CustomerTypeId":{"type":"integer","description":"See [CustomerType](#customertype) for a list of acceptable values","example":"3"},"DateOfBirth":{"type":"DateTime","description":"Customer's birth date, stored in UTC but can be provided in shortened form (yyyy-mm-dd)","putDescription":"UTC but can be provided in shortened form (yyyy-mm-dd)","example":"1952-07-23T12:00:00.000"},"Disabled":{"type":"boolean","description":"A flag to indicate whether or not this Customer is disabled. The Delete operation acts as a Disable operation, as a Customer can not be deleted. When the Disabled flag is set to true, this Customer can still be retrieved and updated normally, defaults to false","putDescription":"Defaults to false","example":"true"},"DoNotContact":{"type":"boolean","description":"A flag to indicate if this Customer is private and not to be used by external systems (such as a marketing system), defaults to true","putDescription":"Defaults to true","example":"true"},"Notes":{"type":"string","description":"Any notes related to this Customer","example":"Interested in iPhone 6"},"Title":{"type":"string","description":"Title","example":"Ms"},"Version":{"type":"integer","description":"Latest revision number","example":"1","generated":"true"}},"required":["CustomerTypeId","Id"]}
                            
                        
                    
                
            
      
    put:
        
        displayName: Updating a Customer
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    
                    {"Id":"659c2a38-d083-4421-9330-46d779702f85","PrimaryName":"Princess","MiddleName":"Ella","FamilyName":"Jasmine","AlternateName":"Jas","CustomerType":"Company","CustomerTypeId":3,"DateOfBirth":"1952-07-23T12:00:00.000","Disabled":true,"DoNotContact":true,"Notes":"Interested in iPhone 6","Title":"Ms","Version":1}
                    
                schema: |
                    {"name":"Customer","type":"object","$schema":"http://json-schema.org/draft-03/schema","description":"A Customer is a person or organization that buys goods or services from a store or business.","properties":{"Id":{"type":"GUID","description":"Unique identifier","example":"659c2a38-d083-4421-9330-46d779702f85","generated":"true","putGenerate":"true"},"PrimaryName":{"type":"string","description":"First name of a given person or the full name of the business, division, organization, etc","example":"Princess"},"MiddleName":{"type":"string","description":"Middle name. Could also be referred to as Additional name","example":"Ella"},"FamilyName":{"type":"string","description":"Family name. In the U.S., the last name of a Person","example":"Jasmine"},"AlternateName":{"type":"string","description":"Alias or preferred name","example":"Jas"},"CustomerType":{"type":"string","description":"Name of the [CustomerType](#customertype)","example":"Company","generated":"true"},"CustomerTypeId":{"type":"integer","description":"See [CustomerType](#customertype) for a list of acceptable values","example":"3"},"DateOfBirth":{"type":"DateTime","description":"Customer's birth date, stored in UTC but can be provided in shortened form (yyyy-mm-dd)","putDescription":"UTC but can be provided in shortened form (yyyy-mm-dd)","example":"1952-07-23T12:00:00.000"},"Disabled":{"type":"boolean","description":"A flag to indicate whether or not this Customer is disabled. The Delete operation acts as a Disable operation, as a Customer can not be deleted. When the Disabled flag is set to true, this Customer can still be retrieved and updated normally, defaults to false","putDescription":"Defaults to false","example":"true"},"DoNotContact":{"type":"boolean","description":"A flag to indicate if this Customer is private and not to be used by external systems (such as a marketing system), defaults to true","putDescription":"Defaults to true","example":"true"},"Notes":{"type":"string","description":"Any notes related to this Customer","example":"Interested in iPhone 6"},"Title":{"type":"string","description":"Title","example":"Ms"},"Version":{"type":"integer","description":"Latest revision number","example":"1","generated":"true"}},"required":["CustomerTypeId","Id"]}
                
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                {"Id":"659c2a38-d083-4421-9330-46d779702f85","PrimaryName":"Princess","MiddleName":"Ella","FamilyName":"Jasmine","AlternateName":"Jas","CustomerType":"Company","CustomerTypeId":3,"DateOfBirth":"1952-07-23T12:00:00.000","Disabled":true,"DoNotContact":true,"Notes":"Interested in iPhone 6","Title":"Ms","Version":1}
                            schema: |
                                {"name":"Customer","type":"object","$schema":"http://json-schema.org/draft-03/schema","description":"A Customer is a person or organization that buys goods or services from a store or business.","properties":{"Id":{"type":"GUID","description":"Unique identifier","example":"659c2a38-d083-4421-9330-46d779702f85","generated":"true","putGenerate":"true"},"PrimaryName":{"type":"string","description":"First name of a given person or the full name of the business, division, organization, etc","example":"Princess"},"MiddleName":{"type":"string","description":"Middle name. Could also be referred to as Additional name","example":"Ella"},"FamilyName":{"type":"string","description":"Family name. In the U.S., the last name of a Person","example":"Jasmine"},"AlternateName":{"type":"string","description":"Alias or preferred name","example":"Jas"},"CustomerType":{"type":"string","description":"Name of the [CustomerType](#customertype)","example":"Company","generated":"true"},"CustomerTypeId":{"type":"integer","description":"See [CustomerType](#customertype) for a list of acceptable values","example":"3"},"DateOfBirth":{"type":"DateTime","description":"Customer's birth date, stored in UTC but can be provided in shortened form (yyyy-mm-dd)","putDescription":"UTC but can be provided in shortened form (yyyy-mm-dd)","example":"1952-07-23T12:00:00.000"},"Disabled":{"type":"boolean","description":"A flag to indicate whether or not this Customer is disabled. The Delete operation acts as a Disable operation, as a Customer can not be deleted. When the Disabled flag is set to true, this Customer can still be retrieved and updated normally, defaults to false","putDescription":"Defaults to false","example":"true"},"DoNotContact":{"type":"boolean","description":"A flag to indicate if this Customer is private and not to be used by external systems (such as a marketing system), defaults to true","putDescription":"Defaults to true","example":"true"},"Notes":{"type":"string","description":"Any notes related to this Customer","example":"Interested in iPhone 6"},"Title":{"type":"string","description":"Title","example":"Ms"},"Version":{"type":"integer","description":"Latest revision number","example":"1","generated":"true"}},"required":["CustomerTypeId","Id"]}
                            
                        
                    
                
            
      
    delete:
        
        displayName: Deleting a Customer
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                    
                
            
    

/Companies({CompanyId})/Customers({CustomerId})/Addresses?$skip={Skip}&top={Top}:
    
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>
        
        CustomerId:
            displayName: CustomerId
            type: string
            example: 659c2a38-d083-4421-9330-46d779702f85
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/crm/#customer'>Customer</a> being updated
        
        Skip:
            displayName: skip
            type: integer
            example: 1
            required: false
            description: Number of records to skip
        
        Top:
            displayName: top
            type: integer
            example: 10
            required: false
            description: Number of records to take
          
      
    get:
        
        displayName: Getting All Addresses for a Customer
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/hal+json
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/hal+json:
                        
                            
                            example: |
                                {"_links":{"prev":null,"self":{"href":"Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/Addresses(a08b0640-606a-41f0-901a-facaf50e75dd","templated":false},"next":null},"_embedded":{"self":[{"_links":{"self":{"href":"Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/Addresses(a08b0640-606a-41f0-901a-facaf50e75dd","templated":false},"iq:Customer":{"href":"Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)","templated":false},"iq:CustomerFull":{"href":"Companies(14146)/CustomerFull(902cdc91-65f4-4c7d-b336-5f291849f2fe)","templated":false}},"_embedded":{},"Id":"a08b0640-606a-41f0-901a-facaf50e75dd","CustomerId":"659c2a38-d083-4421-9330-46d779702f85","AddressType":"Home","AddressTypeId":2,"AttentionTo":"Princess","Country":"Canada","CountryCode":"CA","Default":false,"DoNotContact":true,"Email":"Jas@princess.ca","Locality":"Mountain View","Notes":"Moved as of April 15 2015","Phone":"(555) 555-5555","PostalCode":"94043","PostOfficeBoxNumber":"P.O. Box 1022","State":"Alberta","StateCode":"AB","StreetAddress1":"1600 Amphitheatre Pkwy","StreetAddress2":"Suite 500","Version":1}]}}
                            schema: |
                                {"name":"AddressArrayHal","type":"object","exclude":"true","$schema":"http://json-schema.org/draft-03/schema","properties":{"_links":{"type":"object","putDescription":"Relative URL's used for Pagination","ref":"crm.AddressPropertyLinks","properties":{"prev":{"type":"object","putDescription":"Refers to a resource containing the previous page of results, null if there is no previous page","example":"null","ref":"crm.iqAddress","name":"prev","properties":{"href":{"type":"string","putDescription":"A link to the request that will return related Addresses(s)","example":"Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/Addresses(a08b0640-606a-41f0-901a-facaf50e75dd","name":"href"},"templated":{"type":"boolean","putDescription":"A flag to indicate ????????????????","example":"false","name":"templated"}}},"self":{"type":"object","putDescription":"The request that returned this result","ref":"crm.iqAddress","name":"self","properties":{"href":{"type":"string","putDescription":"A link to the request that will return related Addresses(s)","example":"Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/Addresses(a08b0640-606a-41f0-901a-facaf50e75dd","name":"href"},"templated":{"type":"boolean","putDescription":"A flag to indicate ????????????????","example":"false","name":"templated"}}},"next":{"type":"object","putDescription":"Refers to a resource containing the next page of results, null if this is the last page","example":"null","ref":"crm.iqAddress","name":"next","properties":{"href":{"type":"string","putDescription":"A link to the request that will return related Addresses(s)","example":"Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/Addresses(a08b0640-606a-41f0-901a-facaf50e75dd","name":"href"},"templated":{"type":"boolean","putDescription":"A flag to indicate ????????????????","example":"false","name":"templated"}}}}},"_embedded":{"type":"object","ref":"crm.AddressEmbeddedLinks","properties":{"self":{"type":"array","arrayType":"object","ref":"crm.AddressHal","name":"self","properties":{"_links":{"type":"object","putDescription":"Relative links to requests related to this resource","ref":"crm.AddressLinks","name":"_links","properties":{"self":{"type":"object","ref":"crm.iqAddress","name":"self","properties":{"href":{"type":"string","putDescription":"A link to the request that will return related Addresses(s)","example":"Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)/Addresses(a08b0640-606a-41f0-901a-facaf50e75dd","name":"href"},"templated":{"type":"boolean","putDescription":"A flag to indicate ????????????????","example":"false","name":"templated"}}},"iq:Customer":{"type":"object","ref":"crm.iqCustomer","name":"iq:Customer","properties":{"href":{"type":"string","putDescription":"A link to the request that will return a related Customer","example":"Companies(14146)/Customers(902cdc91-65f4-4c7d-b336-5f291849f2fe)","name":"href"},"templated":{"type":"boolean","putDescription":"A flag to indicate ????????????????","example":"false","name":"templated"}}},"iq:CustomerFull":{"type":"object","ref":"crm.iqCustomerFull","name":"iq:CustomerFull","properties":{"href":{"type":"string","putDescription":"A link to the request that will return a related CustomerFull","example":"Companies(14146)/CustomerFull(902cdc91-65f4-4c7d-b336-5f291849f2fe)","name":"href"},"templated":{"type":"boolean","putDescription":"A flag to indicate ????????????????","example":"false","name":"templated"}}}}},"_embedded":{"type":"object","putDescription":"?????????????","example":"","name":"_embedded"},"Id":{"type":"guid","description":"Unique identifier","example":"a08b0640-606a-41f0-901a-facaf50e75dd","generated":"true","name":"Id"},"CustomerId":{"type":"guid","description":"Unique identifier for the [Customer](#customer)","ref":"crm.Customer.Id","generated":"true","putGenerate":"true","name":"CustomerId","example":"659c2a38-d083-4421-9330-46d779702f85"},"AddressType":{"type":"string","description":"Name of the [AddressType](#addresstype)","example":"Home","generated":"true","name":"AddressType"},"AddressTypeId":{"type":"integer","description":"See [AddressType](#addresstype) for a list of acceptable values","putDescription":"See [AddressType](#addresstype)","example":"2","name":"AddressTypeId"},"AttentionTo":{"type":"string","description":"Attention To (Attn:)","example":"Princess","name":"AttentionTo"},"Country":{"type":"string","description":"The Country. This value is system-generated and read-only","example":"Canada","generated":"true","name":"Country"},"CountryCode":{"type":"string","description":"Country in which this address resides. Uses the ISO 3166-1 alpha-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","putDescription":"Required if StateCode is provided","ref":"reference.Country.Code","name":"CountryCode","example":"CA"},"Default":{"type":"boolean","description":"A flag to indicate if this address is the default address for the customer","example":"false","name":"Default"},"DoNotContact":{"type":"boolean","description":"A flag to indicate if this address is private and not to be used by any external systems (such as a marketing system), defaults to true","example":"true","name":"DoNotContact"},"Email":{"type":"string","description":"Email","example":"Jas@princess.ca","name":"Email"},"Locality":{"type":"string","description":"City, Town, Hamlet","example":"Mountain View","name":"Locality"},"Notes":{"type":"string","description":"Notes related to this Address","example":"Moved as of April 15 2015","name":"Notes"},"Phone":{"type":"string","description":"Phone number","example":"(555) 555-5555","name":"Phone"},"PostalCode":{"type":"string","description":"The postal code/zip code","example":"94043","name":"PostalCode"},"PostOfficeBoxNumber":{"type":"string","description":"The post office box number for PO box addresses","example":"P.O. Box 1022","name":"PostOfficeBoxNumber"},"State":{"type":"string","description":"The State/Province","example":"Alberta","generated":"true","name":"State"},"StateCode":{"type":"string","description":"Code for the State in which this address resides. Based off the ISO 3166-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","ref":"reference.State.Code","name":"StateCode","example":"AB"},"StreetAddress1":{"type":"string","description":"The street address","example":"1600 Amphitheatre Pkwy","name":"StreetAddress1"},"StreetAddress2":{"type":"string","description":"The street address","example":"Suite 500","name":"StreetAddress2"},"Version":{"type":"integer","description":"Latest revision number","example":"1","generated":"true","name":"Version"}}}}}}}
                            
                        
                    
                
            
    

/Companies({CompanyId})/Customers({CustomerId})/Addresses:
    
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>
        
        CustomerId:
            displayName: CustomerId
            type: string
            example: 659c2a38-d083-4421-9330-46d779702f85
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/crm/#customer'>Customer</a> being updated
          
      
    post:
        
        displayName: Adding a Customer Address
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    
                    {"CustomerId":"659c2a38-d083-4421-9330-46d779702f85","AddressTypeId":2,"AttentionTo":"Princess","CountryCode":"CA","Default":false,"DoNotContact":true,"Email":"Jas@princess.ca","Locality":"Mountain View","Notes":"Moved as of April 15 2015","Phone":"(555) 555-5555","PostalCode":"94043","PostOfficeBoxNumber":"P.O. Box 1022","StateCode":"AB","StreetAddress1":"1600 Amphitheatre Pkwy","StreetAddress2":"Suite 500"}
                    
                schema: |
                    {"name":"Address","type":"object","$schema":"http://json-schema.org/draft-03/schema","description":"An Address represents a valid address somewhere on the planet.","properties":{"Id":{"type":"GUID","description":"Unique identifier","example":"a08b0640-606a-41f0-901a-facaf50e75dd","generated":"true","putGenerate":"true"},"CustomerId":{"type":"GUID","description":"Unique identifier for the [Customer](#customer)","ref":"crm.Customer.Id","example":"659c2a38-d083-4421-9330-46d779702f85"},"AddressType":{"type":"string","description":"Name of the [AddressType](#addresstype)","example":"Home","generated":"true"},"AddressTypeId":{"type":"integer","description":"See [AddressType](#addresstype) for a list of acceptable values","putDescription":"Required if Addresses is not null","example":"2"},"AttentionTo":{"type":"string","description":"Attention To (Attn:)","example":"Princess"},"Country":{"type":"string","description":"The Country. This value is system-generated and read-only","example":"Canada","generated":"true"},"CountryCode":{"type":"string","description":"Country in which this address resides. Uses the ISO 3166-1 alpha-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","putDescription":"Required if StateCode is provided","ref":"reference.Country.Code","example":"CA"},"Default":{"type":"boolean","description":"A flag to indicate if this address is the default address for the customer","example":"false"},"DoNotContact":{"type":"boolean","description":"A flag to indicate if this address is private and not to be used by any external systems (such as a marketing system), defaults to true","example":"true"},"Email":{"type":"string","description":"Email","example":"Jas@princess.ca"},"Locality":{"type":"string","description":"City, Town, Hamlet","example":"Mountain View"},"Notes":{"type":"string","description":"Notes related to this Address","example":"Moved as of April 15 2015"},"Phone":{"type":"string","description":"Phone number","example":"(555) 555-5555"},"PostalCode":{"type":"string","description":"The postal code/zip code","example":"94043"},"PostOfficeBoxNumber":{"type":"string","description":"The post office box number for PO box addresses","example":"P.O. Box 1022"},"State":{"type":"string","description":"The State/Province","example":"Alberta","generated":"true"},"StateCode":{"type":"string","description":"Code for the State in which this address resides. Based off the ISO 3166-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","ref":"reference.State.Code","example":"AB"},"StreetAddress1":{"type":"string","description":"The street address","example":"1600 Amphitheatre Pkwy"},"StreetAddress2":{"type":"string","description":"The street address","example":"Suite 500"},"Version":{"type":"integer","description":"Latest revision number","example":"1","generated":"true"}},"required":["AddressTypeId","CountryCode","StateCode","CustomerId","Id"]}
                
            
        responses:
            
            201:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                {"Id":"a08b0640-606a-41f0-901a-facaf50e75dd","CustomerId":"659c2a38-d083-4421-9330-46d779702f85","AddressType":"Home","AddressTypeId":2,"AttentionTo":"Princess","Country":"Canada","CountryCode":"CA","Default":false,"DoNotContact":true,"Email":"Jas@princess.ca","Locality":"Mountain View","Notes":"Moved as of April 15 2015","Phone":"(555) 555-5555","PostalCode":"94043","PostOfficeBoxNumber":"P.O. Box 1022","State":"Alberta","StateCode":"AB","StreetAddress1":"1600 Amphitheatre Pkwy","StreetAddress2":"Suite 500","Version":1}
                            schema: |
                                {"name":"Address","type":"object","$schema":"http://json-schema.org/draft-03/schema","description":"An Address represents a valid address somewhere on the planet.","properties":{"Id":{"type":"GUID","description":"Unique identifier","example":"a08b0640-606a-41f0-901a-facaf50e75dd","generated":"true","putGenerate":"true"},"CustomerId":{"type":"GUID","description":"Unique identifier for the [Customer](#customer)","ref":"crm.Customer.Id","example":"659c2a38-d083-4421-9330-46d779702f85"},"AddressType":{"type":"string","description":"Name of the [AddressType](#addresstype)","example":"Home","generated":"true"},"AddressTypeId":{"type":"integer","description":"See [AddressType](#addresstype) for a list of acceptable values","putDescription":"Required if Addresses is not null","example":"2"},"AttentionTo":{"type":"string","description":"Attention To (Attn:)","example":"Princess"},"Country":{"type":"string","description":"The Country. This value is system-generated and read-only","example":"Canada","generated":"true"},"CountryCode":{"type":"string","description":"Country in which this address resides. Uses the ISO 3166-1 alpha-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","putDescription":"Required if StateCode is provided","ref":"reference.Country.Code","example":"CA"},"Default":{"type":"boolean","description":"A flag to indicate if this address is the default address for the customer","example":"false"},"DoNotContact":{"type":"boolean","description":"A flag to indicate if this address is private and not to be used by any external systems (such as a marketing system), defaults to true","example":"true"},"Email":{"type":"string","description":"Email","example":"Jas@princess.ca"},"Locality":{"type":"string","description":"City, Town, Hamlet","example":"Mountain View"},"Notes":{"type":"string","description":"Notes related to this Address","example":"Moved as of April 15 2015"},"Phone":{"type":"string","description":"Phone number","example":"(555) 555-5555"},"PostalCode":{"type":"string","description":"The postal code/zip code","example":"94043"},"PostOfficeBoxNumber":{"type":"string","description":"The post office box number for PO box addresses","example":"P.O. Box 1022"},"State":{"type":"string","description":"The State/Province","example":"Alberta","generated":"true"},"StateCode":{"type":"string","description":"Code for the State in which this address resides. Based off the ISO 3166-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","ref":"reference.State.Code","example":"AB"},"StreetAddress1":{"type":"string","description":"The street address","example":"1600 Amphitheatre Pkwy"},"StreetAddress2":{"type":"string","description":"The street address","example":"Suite 500"},"Version":{"type":"integer","description":"Latest revision number","example":"1","generated":"true"}},"required":["AddressTypeId","CountryCode","StateCode","CustomerId","Id"]}
                            
                        
                    
                
            
    

/Companies({CompanyId})/Customers({CustomerId})/Addresses({AddressId}):
    
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            required: true
            description: Identifier of the Company
        
        CustomerId:
            displayName: Customer Id
            type: string
            example: 902cdc91-65f4-4c7d-b336-5f291849f2fe
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/crm/#customer'>Customer</a>
        
        AddressId:
            displayName: Address Id
            type: string
            example: a08b0640-606a-41f0-901a-facaf50e75dd
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/crm/#address'>Address</a>
          
      
    get:
        
        displayName: Getting a Customer Address
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                {"Id":"a08b0640-606a-41f0-901a-facaf50e75dd","CustomerId":"659c2a38-d083-4421-9330-46d779702f85","AddressType":"Home","AddressTypeId":2,"AttentionTo":"Princess","Country":"Canada","CountryCode":"CA","Default":false,"DoNotContact":true,"Email":"Jas@princess.ca","Locality":"Mountain View","Notes":"Moved as of April 15 2015","Phone":"(555) 555-5555","PostalCode":"94043","PostOfficeBoxNumber":"P.O. Box 1022","State":"Alberta","StateCode":"AB","StreetAddress1":"1600 Amphitheatre Pkwy","StreetAddress2":"Suite 500","Version":1}
                            schema: |
                                {"name":"Address","type":"object","$schema":"http://json-schema.org/draft-03/schema","description":"An Address represents a valid address somewhere on the planet.","properties":{"Id":{"type":"GUID","description":"Unique identifier","example":"a08b0640-606a-41f0-901a-facaf50e75dd","generated":"true","putGenerate":"true"},"CustomerId":{"type":"GUID","description":"Unique identifier for the [Customer](#customer)","ref":"crm.Customer.Id","example":"659c2a38-d083-4421-9330-46d779702f85"},"AddressType":{"type":"string","description":"Name of the [AddressType](#addresstype)","example":"Home","generated":"true"},"AddressTypeId":{"type":"integer","description":"See [AddressType](#addresstype) for a list of acceptable values","putDescription":"Required if Addresses is not null","example":"2"},"AttentionTo":{"type":"string","description":"Attention To (Attn:)","example":"Princess"},"Country":{"type":"string","description":"The Country. This value is system-generated and read-only","example":"Canada","generated":"true"},"CountryCode":{"type":"string","description":"Country in which this address resides. Uses the ISO 3166-1 alpha-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","putDescription":"Required if StateCode is provided","ref":"reference.Country.Code","example":"CA"},"Default":{"type":"boolean","description":"A flag to indicate if this address is the default address for the customer","example":"false"},"DoNotContact":{"type":"boolean","description":"A flag to indicate if this address is private and not to be used by any external systems (such as a marketing system), defaults to true","example":"true"},"Email":{"type":"string","description":"Email","example":"Jas@princess.ca"},"Locality":{"type":"string","description":"City, Town, Hamlet","example":"Mountain View"},"Notes":{"type":"string","description":"Notes related to this Address","example":"Moved as of April 15 2015"},"Phone":{"type":"string","description":"Phone number","example":"(555) 555-5555"},"PostalCode":{"type":"string","description":"The postal code/zip code","example":"94043"},"PostOfficeBoxNumber":{"type":"string","description":"The post office box number for PO box addresses","example":"P.O. Box 1022"},"State":{"type":"string","description":"The State/Province","example":"Alberta","generated":"true"},"StateCode":{"type":"string","description":"Code for the State in which this address resides. Based off the ISO 3166-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","ref":"reference.State.Code","example":"AB"},"StreetAddress1":{"type":"string","description":"The street address","example":"1600 Amphitheatre Pkwy"},"StreetAddress2":{"type":"string","description":"The street address","example":"Suite 500"},"Version":{"type":"integer","description":"Latest revision number","example":"1","generated":"true"}},"required":["AddressTypeId","CountryCode","StateCode","CustomerId","Id"]}
                            
                        
                    
                
            
      
    put:
        
        displayName: Updating a Customer Address
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    
[...]
