#%RAML 0.8
title: product structure
baseUri: https://productlibrarydemo.iqmetrix.net/v1
schemas: 

    
    - ProductDocument: |
        {
          "description": "A ProductDocument represents the [hierarchical structure](/concepts/product-structure/) of Products in Product Library.",
          "name": "ProductDocument",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Id": { "type": "integer", "description": "Identifier", "example": "8", "generated": "true" }, 
            "Classification": { "type": "object", "description": "[Classification](/api/classification-tree/#classification) information", "ref": "product structure.ClassificationTree", "isNested": "true" }, 
            "ColorDefinitions": { "type": "array", "arrayType": "object", "description": "List of [ColorDefinitions](/api/catalog/#colordefinition)", "ref": "catalog.ColorDefinition" }, 
            "CreatedUtc": { "type": "DateTime", "description": "Created date in UTC", "example": "2015-05-28T12:00:00.000Z", "generated": "true" }, 
            "LastModifiedUtc": { "type": "DateTime", "description": "Last modified date in UTC", "example": "2015-05-28T12:00:00.000Z", "generated": "true" }, 
            "Manufacturer": { "type": "object", "description": "[Manufacturer](/api/entity-store/#manufacturer) information", "ref": "catalog.ManufacturerRep", "isNested": "true" }, 
            "Owner": { "type": "object", "description": "Indicates if this Product is publicly accessible (null) or private (not null)", "ref": "catalog.Owner", "isNested": "true", "generated": "true" }, 
            "RevisionGroups": { "type": "array", "arrayType": "object", "description": "Revisions", "ref": "product structure.RevisionGroup", "generated": "true" }, 
            "RootRevision": { "type": "object", "description": "Master Product, root of the Product hierarchy", "ref": "product structure.MasterProduct" }, 
            "Version": { "type": "integer", "description": "The latest revision number", "example": "1", "generated": "true" }
          },
          "required": [ "Classification", "RootRevision" ]
        }
        

    

    
    - Asset: |
        {
          "name": "Asset",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Id": { "type": "guid", "description": "Identifier", "putDescription": "Identifier for an <a href='http://developers.iqmetrix.com/api/assets/#asset'>Asset</a>", "example": "a130e8f0-ddb1-4034-a34a-53d3ac03d384" }, 
            "Name": { "type": "string",  "description": "Name", "example": "HeroShot" },
            "MimeType": { "type": "string", "description": "Type of image", "example": "image/jpeg" },
            "IsHidden": { "type": "boolean", "description": "A flag to indicate if this Asset is hidden, not to be used in Endless Aisle", "putDescription": "Defaults to false", "example": "false" }
          },
          "required": [ "Id", "Name", "MimeType" ]
        }
        

    

    
    - ClassificationTree: |
        {
          "exclude": "true",
          "name": "ClassificationTree",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "TreeId": { "type": "integer", "description": "Identifier for a [ClassificationTree](/api/classification-tree/#classificationtree)", "putDescription": "Identifier for a <a href='http://developers.iqmetrix.com/api/classification-tree/#classificationtree'>ClassificationTree</a>", "ref": "classification-tree.ClassificationTree.Id" }, 
            "Id": { "type": "integer", "description": "Identifier for a [Classification](/api/classification-tree/#classification) or [Category](/api/classification-tree/#category)", "putDescription": "Identifier for a <a href='http://developers.iqmetrix.com/api/classification-tree/#classification'>Classification</a> or <a href='http://developers.iqmetrix.com/api/classification-tree/#category'>Category</a>", "ref": "classification-tree.Classification.Id" }, 
            "Name": { "type": "string",  "description": "Name", "ref": "classification-tree.Classification.Name", "generated": "true" } 
          },
          "required": [ "Id", "TreeId" ]
        }
        

    

    
    - MasterProduct: |
        {
          "name": "MasterProduct",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "ColorDefinitionId": { "type": "string", "description": "Unique identifier for a ColorDefinition", "ref": "catalog.ColorDefinition.Id" }, 
            "FieldValues": { "type": "array", "arrayType": "object", "description": "List of FieldValues which represent the properties this Master Product has such as name, screen size, etc", "ref": "product structure.FieldValue" }, 
            "IdentifierGroups": { "type": "array", "arrayType": "object", "description": "List of IdentifierGroups", "ref": "product structure.IdentifierGroup"}, 
            "IsArchived": { "type": "boolean", "description": "A flag to indicate if the MasterProduct is archived", "example": "false", "generated": "true" }, 
            "Variations": { "type": "array", "arrayType": "object", "description": "Variations", "hideFromExample": "true", "generated": "true", "ref": "product structure.Variation" }
          },
          "required": [ "FieldValues" ]
        }      
        

    

    
    - IdentifierGroup: |
        {
          "name": "IdentifierGroup",
          "description": "An Identifier is a value that uniquely represents a product within a certain context. For example, a product sold by one vendor may have different SKU identifiers than the same product sold by another vendor. IdentifierGroups are used to group Identifiers by type.",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Type": { "type": "string", "description": "Acceptable values include: ManufacturerSKU, VendorSKU, UPC", "putDescription": "Acceptable values include: ManufacturerSKU, VendorSKU, UPC", "example": "ManufacturerSKU" }, 
            "ForceOverride": { "type": "boolean", "description": "A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>", "putDescription": "A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>", "example": "false" }, 
            "Identifiers": { "type": "array", "arrayType": "object", "description": "List of Identifiers of the given type", "ref": "product structure.Identifier", "isNested": "true" }
          },
          "required": [ "Type", "ForceOveride" ]
        }
        

    

    
    - Identifier: |
        {
          "name": "Identifier",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Description": { "type": "string",  "description": "Description", "example": "Manufacturer sku" }, 
            "Entity": { "type": "object", "description": "Manufacturer or Vendor information for ManufacturerSKU or VendorSKU", "putDescription": "Manufacturer or Vendor information for ManufacturerSKU or VendorSKU", "ref": "catalog.Entity", "isNested": "true" }, 
            "Type": { "type": "string", "description": "This value should match the Type property of the IdentifierGroup", "putDescription": "This value should match the Type property of the IdentifierGroup", "example": "ManufacturerSKU" }, 
            "Value": { "type": "string", "description": "Value", "example": "ManufacturerSKU" }
          },
          "required": [ "Type", "Value" ]
        }      
        

    

    
    - RevisionGroup: |
        {
          "description": "RevisionGroups are used to group Revisions by type and parent Variation. See [Extended Examples](#extended-examples)",
          "type": "RevisionGroup",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "GroupType": { "type": "string",  "description": "Revision type. See [GroupTypes](#grouptypes) for a list of acceptable values", "example": "Entity" }, 
            "Order": { "type": "integer", "description": "A value used for sorting Revisions", "example": "1", "generated": "true" }, 
            "Revisions": { "type": "array", "arrayType": "object", "description": "List of Revisions in this category", "ref": "product structure.Revision" }, 
            "VariationId": { "type": "integer", "description": "Identifier for the Variation, if this Revision was created off of a Variation", "example": "5" }
          }
        }
        

    

    
    - Revision: |
        {
          "description": "To learn more about Master Products, Variations and Revisions, see {{ProductStructure_Concept}}.",
          "name": "Revision",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Id": { "type": "integer", "description": "Identifier", "example": "5", "generated": "true" }, 
            "ColorDefinitionId": { "type": "string", "description": "Unique identifier for a ColorDefinition", "ref": "catalog.ColorDefinition.Id" }, 
            "Entity": { "type": "object", "description": "An identifier for an Entity this Revision was created for", "ref": "catalog.Entity", "isNested": "true", "generated": "true" }, 
            "FieldValues": { "type": "array", "arrayType": "object", "description": "FieldValues representing properties that determine how this Revision differs from its parent Variation or MasterProduct", "ref": "product structure.FieldValue" }, 
            "IdentifierGroups": { "type": "array", "arrayType": "object", "description": "List of IdentifierGroups", "ref": "product structure.IdentifierGroup" }, 
            "Regions": { "type": "array", "arrayType": "object", "description": "List of regions this Revision is applicable to", "ref": "catalog.Region", "generated": "true" }
          },
          "required": [ "FieldValues" ]
        }
        

    

    
    - Variation: |
        {
          "description": "To learn more about Master Products, Variations and Revisions, see {{ProductStructure_Concept}}.",
          "name": "Variation",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "ColorDefinitionId": { "type": "string", "description": "Unique identifier for a ColorDefinition", "putDescription": "Identifier for a [ColorDefinition](/api/catalog/#colordefinition). For a list of ColorDefinitions, see <a href='/api/product-structure/#getting-color-definitions-for-a-master-product'>Getting Color Definitions For a Master Product</a>", "ref": "catalog.ColorDefinition.Id" }, 
            "FieldValues": { "type": "array", "arrayType": "object", "putDescription": "Must be unique across all Variations for the MasterProduct", "description": "FieldValues representing properties that determine how this Revision differs from its parent Variation or MasterProduct", "ref": "product structure.FieldValue" }, 
            "IdentifierGroups": { "type": "array", "arrayType": "object", "description": "List of IdentifierGroups", "ref": "product structure.IdentifierGroup" }, 
            "IsArchived": { "type": "boolean", "description": "A flag to indicate if this Variation is archived. Archived Products are hidden from searches and can only be access directly.", "example": "false", "generated": "true" }
          },
          "required": [ "FieldValues" ]
        }            
        

    

    
    - FieldValue: |
        {
          "description": "A FieldValue represents a product property and defines how Variations and Revisions differ from their parents. FieldValues are made up of a reference to a {{field-definition}} and a value. See [Extended Examples](#extended-examples).",
          "name": "FieldValue",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "FieldDefinitionId": { "type": "integer", "description": "Identifier for a [FieldDefinition](/api/field-definitions/#fielddefinition)", "putDescription": "Identifier for a <a href='http://developers.iqmetrix.com/api/field-definitions/#fielddefinition'>FieldDefinition</a>", "ref": "field-definitions.FieldDefinition.Id" }, 
            "LanguageInvariantValue": { "type": "string", "description": "Value", "example": "iPhone 4S 16 GB Black" }
          },
          "required": [ "FieldDefinitionId", "LanguageInvariantValue" ]
        }      
        

    

    
    - VariationCreated: |
        {
          "exclude": "true",
          "name": "VariationCreated",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "VariationId": { "type": "integer", "putDescription": "Identifier for a <a href='http://developers.iqmetrix.com/api/product-structure/#variation'>Variation</a>", "example": "8" }
          }
        } 
        

    

    
    - ColorTag: |
        {
          "name": "ColorTag",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Id": { "type": "integer", "description": "Identifier", "example": "5" }, 
            "Name": { "type": "string",  "description": "Name", "example": "Green", "generated": "true" }, 
            "ColorCode": { "type": "string", "description": "A valid Hex code representing this color", "example": "#51B14D", "generated": "true" }
          },
          "required": [ "Id" ]
        }
        

    

    
    - ColorTags: |
        {
          "exclude": "true",
          "name": "ColorTags",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "ColorTags": { "type": "array", "arrayType": "object", "ref": "catalog.ColorTag" }
          }
        }        
        

    

    
    - VariationCreate: |
        {
          "exclude": "true",
          "name": "VariationCreate",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Assets": { "type": "array", "arrayType": "object", "putDescription": "Image <a href='http://developers.iqmetrix.com/api/assets/#asset'>Assets</a> for the Variation", "ref": "product structure.Asset" },          
            "ColorDefinitionId": { "type": "string", "description": "Unique identifier for a ColorDefinition", "putDescription": "Identifier for a ColorDefinition. For a list of ColorDefinitions, see <a href='/api/product-structure/#getting-color-definitions-for-a-master-product'>Getting Color Definitions For a Master Product</a>", "ref": "catalog.ColorDefinition.Id" }, 
            "FieldValues": { "type": "array", "arrayType": "object", "putDescription": "Must be unique across all Variations for the MasterProduct", "description": "FieldValues representing properties that determine how this Revision differs from its parent Variation or MasterProduct", "ref": "product structure.FieldValue" }, 
            "IdentifierGroups": { "type": "array", "arrayType": "object", "description": "List of IdentifierGroups", "ref": "product structure.IdentifierGroup" }
          },
          "required": [ "FieldValues" ]
        } 
        

    

    
    - ProductDocumentCreate: |
        {
          "exclude": "true",        
          "description": "A ProductDocument represents the [hierarchical structure](/concepts/product-structure/) of Products in Product Library.",
          "name": "ProductDocumentCreate",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Classification": { "type": "object", "description": "[Classification](/api/classification-tree/#classification) information", "ref": "product structure.ClassificationTree", "isNested": "true" },           
            "ColorDefinitions": { "type": "array", "arrayType": "object", "description": "List of [ColorDefinitions](/api/catalog/#colordefinition) for the Master Product", "ref": "catalog.ColorDefinition" }, 
            "Manufacturer": { "type": "object", "description": "[Manufacturer](/api/entity-store/#manufacturer) information", "ref": "catalog.ManufacturerRep", "isNested": "true" }, 
            "OwnerEntityId": { "type": "integer", "putDescription": "Identifier of the <a href='/api/company-tree/#company'>Company</a> the Product will belong to", "ref": "company tree.Company.Id" },
            "RootRevision": { "type": "object", "description": "Master Product, root of the Product hierarchy", "ref": "product structure.RootRevisionCreate" }
          },
          "required": [ "Classification", "RootRevision", "OwnerEntityId" ]
        }
        

    

    
    - RootRevisionCreate: |
        {
          "exclude": "true",
          "name": "RootRevisionCreate",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Assets": { "type": "array", "arrayType": "object", "putDescription": "Image <a href='http://developers.iqmetrix.com/api/assets/#asset'>Assets</a> for the Master Product", "ref": "product structure.Asset" },
            "ColorDefinitionId": { "type": "string", "putDescription": "Unique identifier for a <a href='http://developers.iqmetrix.com/api/catalog/#colordefinition'>ColorDefinition</a>", "ref": "catalog.ColorDefinition.Id" }, 
            "FieldValues": { "type": "array", "arrayType": "object", "description": "List of FieldValues which represent the properties this Master Product has such as name, screen size, etc", "ref": "product structure.FieldValue" }, 
            "IdentifierGroups": { "type": "array", "arrayType": "object", "description": "List of IdentifierGroups", "ref": "product structure.IdentifierGroup"}
          },
          "required": [ "FieldValues" ]
        }      
        

    

    
    - ColorDefinitions: |
        {
          "name": "ColorDefinitions",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "ColorDefinitions": { "type": "array", "arrayType": "object", "description": "List of [ColorDefinitions](/api/catalog/#colordefinition)", "ref": "catalog.ColorDefinition" }
          },
          "required": [ "ColorDefinitions" ]
        }  
        

    


/ProductDocs:
    
    uriParameters:
          
      
    post:
        
        displayName: Creating a Master Product
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    
                    {"Classification":{"TreeId":1,"Id":4},"ColorDefinitions":[{"Name":"Black Sapphire","ColorTagIds":[1],"Swatch":{"Type":"ColorCode","AssetId":"null","ColorCode":"#C0C8D0"}}],"Manufacturer":{"Id":13149},"OwnerEntityId":14146,"RootRevision":{"Assets":[{"Id":"a130e8f0-ddb1-4034-a34a-53d3ac03d384","Name":"HeroShot","MimeType":"image/jpeg","IsHidden":false}],"ColorDefinitionId":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15","FieldValues":[{"FieldDefinitionId":1,"LanguageInvariantValue":"iPhone 4S 16 GB Black"}],"IdentifierGroups":[{"Type":"ManufacturerSKU","ForceOverride":false,"Identifiers":[{"Description":"Manufacturer sku","Entity":{"Id":14146},"Type":"ManufacturerSKU","Value":"ManufacturerSKU"}]}]}}
                    
                schema: |
                    {"exclude":"true","description":"A ProductDocument represents the [hierarchical structure](/concepts/product-structure/) of Products in Product Library.","name":"ProductDocumentCreate","type":"object","$schema":"http://json-schema.org/draft-03/schema","properties":{"Classification":{"type":"object","description":"[Classification](/api/classification-tree/#classification) information","ref":"product structure.ClassificationTree","isNested":"true","properties":{"TreeId":{"type":"integer","description":"Identifier for a [ClassificationTree](/api/classification-tree/#classificationtree)","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/classification-tree/#classificationtree'>ClassificationTree</a>","ref":"classification-tree.ClassificationTree.Id","name":"TreeId","example":"1"},"Id":{"type":"integer","description":"Identifier for a [Classification](/api/classification-tree/#classification) or [Category](/api/classification-tree/#category)","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/classification-tree/#classification'>Classification</a> or <a href='http://developers.iqmetrix.com/api/classification-tree/#category'>Category</a>","ref":"classification-tree.Classification.Id","name":"Id","example":"4"},"Name":{"type":"string","description":"Name","ref":"classification-tree.Classification.Name","generated":"true","example":"Smartphones"}},"required":["Id","TreeId"]},"ColorDefinitions":{"type":"array","arrayType":"object","description":"List of [ColorDefinitions](/api/catalog/#colordefinition) for the Master Product","ref":"catalog.ColorDefinition","properties":{"Id":{"type":"guid","description":"Unique identifier","example":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15","generated":"true","name":"Id"},"Name":{"type":"string","description":"Name","example":"Black Sapphire","name":"Name"},"ColorTagIds":{"type":"array","array":"integer","description":"List of [ColorTag](/api/product-structure/#colortag) Identifiers","putDescription":"List of ColorTag Identifiers, see <a href='/api/product-structure/#getting-all-color-tags'>Getting All Color Tags</a> for a list","example":"1","name":"ColorTagIds"},"ColorTags":{"type":"array","arrayType":"object","description":"Color information","ref":"catalog.ColorTag","isNested":"true","generated":"true","name":"ColorTags","properties":{"Id":{"type":"integer","description":"Identifier","putDescription":"Identifier of a <a href='http://developers.iqmetrix.com/api/product-structure/#colortag'>ColorTag</a>, see <a href='#getting-all-color-tags'>Getting All Color Tags</a> for a list","example":"1","name":"Id"},"Name":{"type":"string","description":"Name","example":"Black","generated":"true","name":"Name"},"ColorCode":{"type":"string","description":"A valid Hex code representing this color","example":"#303232","generated":"true","name":"ColorCode"}},"required":["Id"]},"Swatch":{"type":"object","description":"An icon to display on a screen next to a color showing the actual color of the product. Can be provided as an image Asset or hex code","ref":"catalog.Swatch","name":"Swatch","properties":{"Type":{"type":"string","description":"Acceptable values are Asset, ColorCodes or Empty","putDescription":"Acceptable values are Asset, ColorCodes or Empty","example":"ColorCode","name":"Type"},"AssetId":{"type":"guid","description":"If Type is Asset, an identifier for an Asset. Otherwise, this property is ignored","putDescription":"If Type is Asset, an identifier for an Asset. Otherwise, this property is ignored","example":"null","name":"AssetId"},"ColorCode":{"type":"string","description":"If Type is ColorCode, a valid hex code for a color. Otherwise, this propety is ignored","putDescription":"If Type is ColorCode, a valid hex code for a color. Otherwise, this propety is ignored","example":"#C0C8D0","name":"ColorCode"}}}},"required":["Name"]},"Manufacturer":{"type":"object","description":"[Manufacturer](/api/entity-store/#manufacturer) information","ref":"catalog.ManufacturerRep","isNested":"true","properties":{"Id":{"type":"integer","description":"Identifier for the [Manufacturer](/api/entity-store/#manufacturer)","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/entity-store/#manufacturer'>Manufacturer</a>","ref":"entity-store.Manufacturer.Id","example":"13149","name":"Id"},"Name":{"type":"string","description":"Name of the [Manufacturer](/api/entity-store/#manufacturer)","ref":"entity-store.Manufacturer.Name","generated":"true","example":"OtterBox","name":"Name"}},"required":["Id"]},"OwnerEntityId":{"type":"integer","putDescription":"Identifier of the <a href='/api/company-tree/#company'>Company</a> the Product will belong to","ref":"company tree.Company.Id","example":"14146"},"RootRevision":{"type":"object","description":"Master Product, root of the Product hierarchy","ref":"product structure.RootRevisionCreate","properties":{"Assets":{"type":"array","arrayType":"object","putDescription":"Image <a href='http://developers.iqmetrix.com/api/assets/#asset'>Assets</a> for the Master Product","ref":"product structure.Asset","name":"Assets","properties":{"Id":{"type":"guid","description":"Identifier","putDescription":"Identifier for an <a href='http://developers.iqmetrix.com/api/assets/#asset'>Asset</a>","example":"a130e8f0-ddb1-4034-a34a-53d3ac03d384","name":"Id"},"Name":{"type":"string","description":"Name","example":"HeroShot","name":"Name"},"MimeType":{"type":"string","description":"Type of image","example":"image/jpeg","name":"MimeType"},"IsHidden":{"type":"boolean","description":"A flag to indicate if this Asset is hidden, not to be used in Endless Aisle","putDescription":"Defaults to false","example":"false","name":"IsHidden"}},"required":["Id","Name","MimeType"]},"ColorDefinitionId":{"type":"string","putDescription":"Unique identifier for a <a href='http://developers.iqmetrix.com/api/catalog/#colordefinition'>ColorDefinition</a>","ref":"catalog.ColorDefinition.Id","name":"ColorDefinitionId","example":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15"},"FieldValues":{"type":"array","arrayType":"object","description":"List of FieldValues which represent the properties this Master Product has such as name, screen size, etc","ref":"product structure.FieldValue","name":"FieldValues","properties":{"FieldDefinitionId":{"type":"integer","description":"Identifier for a [FieldDefinition](/api/field-definitions/#fielddefinition)","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/field-definitions/#fielddefinition'>FieldDefinition</a>","ref":"field-definitions.FieldDefinition.Id","name":"FieldDefinitionId","example":"1"},"LanguageInvariantValue":{"type":"string","description":"Value","example":"iPhone 4S 16 GB Black","name":"LanguageInvariantValue"}},"required":["FieldDefinitionId","LanguageInvariantValue"]},"IdentifierGroups":{"type":"array","arrayType":"object","description":"List of IdentifierGroups","ref":"product structure.IdentifierGroup","name":"IdentifierGroups","properties":{"Type":{"type":"string","description":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","putDescription":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","example":"ManufacturerSKU","name":"Type"},"ForceOverride":{"type":"boolean","description":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","putDescription":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","example":"false","name":"ForceOverride"},"Identifiers":{"type":"array","arrayType":"object","description":"List of Identifiers of the given type","ref":"product structure.Identifier","isNested":"true","name":"Identifiers","properties":{"Description":{"type":"string","description":"Description","example":"Manufacturer sku","name":"Description"},"Entity":{"type":"object","description":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","putDescription":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","ref":"catalog.Entity","isNested":"true","name":"Entity","properties":{"Id":{"type":"integer","description":"Identifier of an Entity used for Entity Revisions. See [Carrier Revisions](/concepts/product-structure/#carrier-revisions) for more information","putDescription":"Identifier of an Entity used for Entity Revisions. See <a href='/concepts/product-structure/#carrier-revisions'>Carrier Revisions</a> for more information","ref":"company tree.Company.Id","example":"14146","name":"Id"},"Name":{"type":"string","description":"Entity name","ref":"company tree.Company.Name","generated":"true","example":"Kentel Corp","name":"Name"}},"required":["Id"]},"Type":{"type":"string","description":"This value should match the Type property of the IdentifierGroup","putDescription":"This value should match the Type property of the IdentifierGroup","example":"ManufacturerSKU","name":"Type"},"Value":{"type":"string","description":"Value","example":"ManufacturerSKU","name":"Value"}},"required":["Type","Value"]}},"required":["Type","ForceOveride"]}},"required":["FieldValues"]}},"required":["Classification","RootRevision","OwnerEntityId"]}
                
            
        responses:
            
            201:
                
                body:
                    
                    application/json:
                        
                            example: |
                                {
                                    "Id": 8,
                                    "Classification": {
                                        "TreeId": 1,
                                        "Id": 4,
                                        "Name": "Smartphones"
                                    },
                                    "ColorDefinitions": [
                                        {
                                            "Id": "5c6e2779-79d1-4fbd-b6a8-36b81e851b15",
                                            "Name": "Black Sapphire",
                                            "ColorTagIds": [ 1 ]
                                            "ColorTags": [
                                                {
                                                    "Id": 1,
                                                    "Name": "Black",
                                                    "ColorCode": "#303232"
                                                }
                                            ],
                                            "Swatch": {
                                                "Type": "ColorCode",
                                                "AssetId": null,
                                                "ColorCode": "#C0C8D0"
                                            }
                                        }
                                    ],
                                    "CreatedUtc": "2015-05-28T12:00:00.000Z",
                                    "LastModifiedUtc": "2015-05-28T12:00:00.000Z",
                                    "Manufacturer": {
                                        "Id": 13149,
                                        "Name": "OtterBox"
                                    },
                                    "Owner": {
                                        "Id": 14146,
                                        "Name": "Kentel Corp"
                                    },
                                    "RevisionGroups": [
                                        {
                                            "Order": 1,
                                            "VariationId": null,
                                            "GroupType": "Entity",
                                            "Revisions": []
                                        },
                                        {
                                            "Order": 0,
                                            "VariationId": null,
                                            "GroupType": "Region",
                                            "Revisions": []
                                        },
                                        {
                                            "Order": 2,
                                            "VariationId": null,
                                            "GroupType": "RegionAndEntity",
                                            "Revisions": []
                                        }
                                    ],
                                    "RootRevision": {
                                        "ColorDefinitionId": "5c6e2779-79d1-4fbd-b6a8-36b81e851b15",
                                        "FieldValues": [
                                            {
                                                "FieldDefinitionId": 1,
                                                "LanguageInvariantValue": "iPhone 4S 16 GB Black"
                                            }
                                        ],
                                        "IdentifierGroups": [
                                            {
                                                "Type": "ManufacturerSKU",
                                                "ForceOverride": false,
                                                "Identifiers": [
                                                    {
                                                        "Description": "Manufacturer sku",
                                                        "Entity": {
                                                            "Id": 14146,
                                                            "Name": "Kentel Corp"
                                                        },
                                                        "Type": "ManufacturerSKU",
                                                        "Value": "ManufacturerSKU"
                                                    }
                                                ]
                                            }
                                        ],
                                        "IsArchived": false
                                    },
                                    "Version": 1
                                }
                                
                        
                        
                    
                
            
    

/ProductDocs({ProductDocumentId}):
    
    uriParameters:
        
        ProductDocumentId:
            displayName: ProductDocumentId
            type: integer
            example: 8
            required: true
            description: Identifier for a <a href='http://developers.iqmetrix.com/api/product-structure/#productdocument'>ProductDocument</a>
          
      
    get:
        
        displayName: Getting a Product Hierarchy
                
        
        description: |            
            This request will get a Master Product and all child Variations and Revisions.
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                {"Id":8,"Classification":{"TreeId":1,"Id":4,"Name":"Smartphones"},"ColorDefinitions":[{"Id":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15","Name":"Black Sapphire","ColorTagIds":[1],"ColorTags":[{"Id":1,"Name":"Black","ColorCode":"#303232"}],"Swatch":{"Type":"ColorCode","AssetId":"null","ColorCode":"#C0C8D0"}}],"CreatedUtc":"2015-05-28T12:00:00.000Z","LastModifiedUtc":"2015-05-28T12:00:00.000Z","Manufacturer":{"Id":13149,"Name":"OtterBox"},"Owner":{"Id":14146,"Name":"Kentel Corp"},"RevisionGroups":[{"GroupType":"Entity","Order":1,"Revisions":[{"Id":5,"ColorDefinitionId":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15","Entity":{"Id":14146,"Name":"Kentel Corp"},"FieldValues":[{"FieldDefinitionId":1,"LanguageInvariantValue":"iPhone 4S 16 GB Black"}],"IdentifierGroups":[{"Type":"ManufacturerSKU","ForceOverride":false,"Identifiers":[{"Description":"Manufacturer sku","Entity":{"Id":14146,"Name":"Kentel Corp"},"Type":"ManufacturerSKU","Value":"ManufacturerSKU"}]}],"Regions":[{"CountryCode":"CA","CountryName":"Canada","StateCode":"AB","StateName":"British Columbia"}]}],"VariationId":5}],"RootRevision":{"ColorDefinitionId":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15","FieldValues":[{"FieldDefinitionId":1,"LanguageInvariantValue":"iPhone 4S 16 GB Black"}],"IdentifierGroups":[{"Type":"ManufacturerSKU","ForceOverride":false,"Identifiers":[{"Description":"Manufacturer sku","Entity":{"Id":14146,"Name":"Kentel Corp"},"Type":"ManufacturerSKU","Value":"ManufacturerSKU"}]}],"IsArchived":false},"Version":1}
                            schema: |
                                {"description":"A ProductDocument represents the [hierarchical structure](/concepts/product-structure/) of Products in Product Library.","name":"ProductDocument","type":"object","$schema":"http://json-schema.org/draft-03/schema","properties":{"Id":{"type":"integer","description":"Identifier","example":"8","generated":"true"},"Classification":{"type":"object","description":"[Classification](/api/classification-tree/#classification) information","ref":"product structure.ClassificationTree","isNested":"true","properties":{"TreeId":{"type":"integer","description":"Identifier for a [ClassificationTree](/api/classification-tree/#classificationtree)","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/classification-tree/#classificationtree'>ClassificationTree</a>","ref":"classification-tree.ClassificationTree.Id","name":"TreeId","example":"1"},"Id":{"type":"integer","description":"Identifier for a [Classification](/api/classification-tree/#classification) or [Category](/api/classification-tree/#category)","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/classification-tree/#classification'>Classification</a> or <a href='http://developers.iqmetrix.com/api/classification-tree/#category'>Category</a>","ref":"classification-tree.Classification.Id","name":"Id","example":"4"},"Name":{"type":"string","description":"Name","ref":"classification-tree.Classification.Name","generated":"true","example":"Smartphones","name":"Name"}},"required":["Id","TreeId"]},"ColorDefinitions":{"type":"array","arrayType":"object","description":"List of [ColorDefinitions](/api/catalog/#colordefinition)","ref":"catalog.ColorDefinition","properties":{"Id":{"type":"guid","description":"Unique identifier","example":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15","generated":"true","name":"Id"},"Name":{"type":"string","description":"Name","example":"Black Sapphire","name":"Name"},"ColorTagIds":{"type":"array","array":"integer","description":"List of [ColorTag](/api/product-structure/#colortag) Identifiers","putDescription":"List of ColorTag Identifiers, see <a href='/api/product-structure/#getting-all-color-tags'>Getting All Color Tags</a> for a list","example":"1","name":"ColorTagIds"},"ColorTags":{"type":"array","arrayType":"object","description":"Color information","ref":"catalog.ColorTag","isNested":"true","generated":"true","name":"ColorTags","properties":{"Id":{"type":"integer","description":"Identifier","putDescription":"Identifier of a <a href='http://developers.iqmetrix.com/api/product-structure/#colortag'>ColorTag</a>, see <a href='#getting-all-color-tags'>Getting All Color Tags</a> for a list","example":"1","name":"Id"},"Name":{"type":"string","description":"Name","example":"Black","generated":"true","name":"Name"},"ColorCode":{"type":"string","description":"A valid Hex code representing this color","example":"#303232","generated":"true","name":"ColorCode"}},"required":["Id"]},"Swatch":{"type":"object","description":"An icon to display on a screen next to a color showing the actual color of the product. Can be provided as an image Asset or hex code","ref":"catalog.Swatch","name":"Swatch","properties":{"Type":{"type":"string","description":"Acceptable values are Asset, ColorCodes or Empty","putDescription":"Acceptable values are Asset, ColorCodes or Empty","example":"ColorCode","name":"Type"},"AssetId":{"type":"guid","description":"If Type is Asset, an identifier for an Asset. Otherwise, this property is ignored","putDescription":"If Type is Asset, an identifier for an Asset. Otherwise, this property is ignored","example":"null","name":"AssetId"},"ColorCode":{"type":"string","description":"If Type is ColorCode, a valid hex code for a color. Otherwise, this propety is ignored","putDescription":"If Type is ColorCode, a valid hex code for a color. Otherwise, this propety is ignored","example":"#C0C8D0","name":"ColorCode"}}}},"required":["Name"]},"CreatedUtc":{"type":"DateTime","description":"Created date in UTC","example":"2015-05-28T12:00:00.000Z","generated":"true"},"LastModifiedUtc":{"type":"DateTime","description":"Last modified date in UTC","example":"2015-05-28T12:00:00.000Z","generated":"true"},"Manufacturer":{"type":"object","description":"[Manufacturer](/api/entity-store/#manufacturer) information","ref":"catalog.ManufacturerRep","isNested":"true","properties":{"Id":{"type":"integer","description":"Identifier for the [Manufacturer](/api/entity-store/#manufacturer)","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/entity-store/#manufacturer'>Manufacturer</a>","ref":"entity-store.Manufacturer.Id","example":"13149","name":"Id"},"Name":{"type":"string","description":"Name of the [Manufacturer](/api/entity-store/#manufacturer)","ref":"entity-store.Manufacturer.Name","generated":"true","example":"OtterBox","name":"Name"}},"required":["Id"]},"Owner":{"type":"object","description":"Indicates if this Product is publicly accessible (null) or private (not null)","ref":"catalog.Owner","isNested":"true","generated":"true","properties":{"Id":{"type":"integer","description":"For private products, Identifier of the Company that owns this Product","ref":"company tree.Company.Id","generated":"true","example":"14146","name":"Id"},"Name":{"type":"string","description":"For private products, Name of the Company that owns this Product","ref":"company tree.Company.Name","generated":"true","example":"Kentel Corp","name":"Name"}}},"RevisionGroups":{"type":"array","arrayType":"object","description":"Revisions","ref":"product structure.RevisionGroup","generated":"true","properties":{"GroupType":{"type":"string","description":"Revision type. See [GroupTypes](#grouptypes) for a list of acceptable values","example":"Entity","name":"GroupType"},"Order":{"type":"integer","description":"A value used for sorting Revisions","example":"1","generated":"true","name":"Order"},"Revisions":{"type":"array","arrayType":"object","description":"List of Revisions in this category","ref":"product structure.Revision","name":"Revisions","properties":{"Id":{"type":"integer","description":"Identifier","example":"5","generated":"true","name":"Id"},"ColorDefinitionId":{"type":"string","description":"Unique identifier for a ColorDefinition","ref":"catalog.ColorDefinition.Id","name":"ColorDefinitionId","example":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15"},"Entity":{"type":"object","description":"An identifier for an Entity this Revision was created for","ref":"catalog.Entity","isNested":"true","generated":"true","name":"Entity","properties":{"Id":{"type":"integer","description":"Identifier of an Entity used for Entity Revisions. See [Carrier Revisions](/concepts/product-structure/#carrier-revisions) for more information","putDescription":"Identifier of an Entity used for Entity Revisions. See <a href='/concepts/product-structure/#carrier-revisions'>Carrier Revisions</a> for more information","ref":"company tree.Company.Id","example":"14146","name":"Id"},"Name":{"type":"string","description":"Entity name","ref":"company tree.Company.Name","generated":"true","example":"Kentel Corp","name":"Name"}},"required":["Id"]},"FieldValues":{"type":"array","arrayType":"object","description":"FieldValues representing properties that determine how this Revision differs from its parent Variation or MasterProduct","ref":"product structure.FieldValue","name":"FieldValues","properties":{"FieldDefinitionId":{"type":"integer","description":"Identifier for a [FieldDefinition](/api/field-definitions/#fielddefinition)","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/field-definitions/#fielddefinition'>FieldDefinition</a>","ref":"field-definitions.FieldDefinition.Id","name":"FieldDefinitionId","example":"1"},"LanguageInvariantValue":{"type":"string","description":"Value","example":"iPhone 4S 16 GB Black","name":"LanguageInvariantValue"}},"required":["FieldDefinitionId","LanguageInvariantValue"]},"IdentifierGroups":{"type":"array","arrayType":"object","description":"List of IdentifierGroups","ref":"product structure.IdentifierGroup","name":"IdentifierGroups","properties":{"Type":{"type":"string","description":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","putDescription":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","example":"ManufacturerSKU","name":"Type"},"ForceOverride":{"type":"boolean","description":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","putDescription":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","example":"false","name":"ForceOverride"},"Identifiers":{"type":"array","arrayType":"object","description":"List of Identifiers of the given type","ref":"product structure.Identifier","isNested":"true","name":"Identifiers","properties":{"Description":{"type":"string","description":"Description","example":"Manufacturer sku","name":"Description"},"Entity":{"type":"object","description":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","putDescription":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","ref":"catalog.Entity","isNested":"true","name":"Entity","properties":{"Id":{"type":"integer","description":"Identifier of an Entity used for Entity Revisions. See [Carrier Revisions](/concepts/product-structure/#carrier-revisions) for more information","putDescription":"Identifier of an Entity used for Entity Revisions. See <a href='/concepts/product-structure/#carrier-revisions'>Carrier Revisions</a> for more information","ref":"company tree.Company.Id","example":"14146","name":"Id"},"Name":{"type":"string","description":"Entity name","ref":"company tree.Company.Name","generated":"true","example":"Kentel Corp","name":"Name"}},"required":["Id"]},"Type":{"type":"string","description":"This value should match the Type property of the IdentifierGroup","putDescription":"This value should match the Type property of the IdentifierGroup","example":"ManufacturerSKU","name":"Type"},"Value":{"type":"string","description":"Value","example":"ManufacturerSKU","name":"Value"}},"required":["Type","Value"]}},"required":["Type","ForceOveride"]},"Regions":{"type":"array","arrayType":"object","description":"List of regions this Revision is applicable to","ref":"catalog.Region","generated":"true","name":"Regions","properties":{"CountryCode":{"type":"string","description":"Country in which this address resides. Uses the ISO 3166-1 alpha-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","ref":"reference.Country.Code","example":"CA","name":"CountryCode"},"CountryName":{"type":"string","description":"Country name","example":"Canada","generated":"true","name":"CountryName"},"StateCode":{"type":"string","description":"Code for the State in which this address resides. Based off the ISO 3166-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","ref":"reference.State.Code","example":"AB","name":"StateCode"},"StateName":{"type":"string","description":"State name","example":"British Columbia","generated":"true","name":"StateName"}}}},"required":["FieldValues"]},"VariationId":{"type":"integer","description":"Identifier for the Variation, if this Revision was created off of a Variation","example":"5","name":"VariationId"}}},"RootRevision":{"type":"object","description":"Master Product, root of the Product hierarchy","ref":"product structure.MasterProduct","properties":{"ColorDefinitionId":{"type":"string","description":"Unique identifier for a ColorDefinition","ref":"catalog.ColorDefinition.Id","name":"ColorDefinitionId","example":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15"},"FieldValues":{"type":"array","arrayType":"object","description":"List of FieldValues which represent the properties this Master Product has such as name, screen size, etc","ref":"product structure.FieldValue","name":"FieldValues","properties":{"FieldDefinitionId":{"type":"integer","description":"Identifier for a [FieldDefinition](/api/field-definitions/#fielddefinition)","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/field-definitions/#fielddefinition'>FieldDefinition</a>","ref":"field-definitions.FieldDefinition.Id","name":"FieldDefinitionId","example":"1"},"LanguageInvariantValue":{"type":"string","description":"Value","example":"iPhone 4S 16 GB Black","name":"LanguageInvariantValue"}},"required":["FieldDefinitionId","LanguageInvariantValue"]},"IdentifierGroups":{"type":"array","arrayType":"object","description":"List of IdentifierGroups","ref":"product structure.IdentifierGroup","name":"IdentifierGroups","properties":{"Type":{"type":"string","description":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","putDescription":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","example":"ManufacturerSKU","name":"Type"},"ForceOverride":{"type":"boolean","description":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","putDescription":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","example":"false","name":"ForceOverride"},"Identifiers":{"type":"array","arrayType":"object","description":"List of Identifiers of the given type","ref":"product structure.Identifier","isNested":"true","name":"Identifiers","properties":{"Description":{"type":"string","description":"Description","example":"Manufacturer sku","name":"Description"},"Entity":{"type":"object","description":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","putDescription":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","ref":"catalog.Entity","isNested":"true","name":"Entity","properties":{"Id":{"type":"integer","description":"Identifier of an Entity used for Entity Revisions. See [Carrier Revisions](/concepts/product-structure/#carrier-revisions) for more information","putDescription":"Identifier of an Entity used for Entity Revisions. See <a href='/concepts/product-structure/#carrier-revisions'>Carrier Revisions</a> for more information","ref":"company tree.Company.Id","example":"14146","name":"Id"},"Name":{"type":"string","description":"Entity name","ref":"company tree.Company.Name","generated":"true","example":"Kentel Corp","name":"Name"}},"required":["Id"]},"Type":{"type":"string","description":"This value should match the Type property of the IdentifierGroup","putDescription":"This value should match the Type property of the IdentifierGroup","example":"ManufacturerSKU","name":"Type"},"Value":{"type":"string","description":"Value","example":"ManufacturerSKU","name":"Value"}},"required":["Type","Value"]}},"required":["Type","ForceOveride"]},"IsArchived":{"type":"boolean","description":"A flag to indicate if the MasterProduct is archived","example":"false","generated":"true","name":"IsArchived"},"Variations":{"type":"array","arrayType":"object","description":"Variations","hideFromExample":"true","generated":"true","ref":"product structure.Variation","properties":{"ColorDefinitionId":{"type":"string","description":"Unique identifier for a ColorDefinition","putDescription":"Identifier for a [ColorDefinition](/api/catalog/#colordefinition). For a list of ColorDefinitions, see <a href='/api/product-structure/#getting-color-definitions-for-a-master-product'>Getting Color Definitions For a Master Product</a>","ref":"catalog.ColorDefinition.Id","example":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15"},"FieldValues":{"type":"array","arrayType":"object","putDescription":"Must be unique across all Variations for the MasterProduct","description":"FieldValues representing properties that determine how this Revision differs from its parent Variation or MasterProduct","ref":"product structure.FieldValue","properties":{"FieldDefinitionId":{"type":"integer","description":"Identifier for a [FieldDefinition](/api/field-definitions/#fielddefinition)","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/field-definitions/#fielddefinition'>FieldDefinition</a>","ref":"field-definitions.FieldDefinition.Id","name":"FieldDefinitionId","example":"1"},"LanguageInvariantValue":{"type":"string","description":"Value","example":"iPhone 4S 16 GB Black","name":"LanguageInvariantValue"}},"required":["FieldDefinitionId","LanguageInvariantValue"]},"IdentifierGroups":{"type":"array","arrayType":"object","description":"List of IdentifierGroups","ref":"product structure.IdentifierGroup","properties":{"Type":{"type":"string","description":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","putDescription":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","example":"ManufacturerSKU","name":"Type"},"ForceOverride":{"type":"boolean","description":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","putDescription":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","example":"false","name":"ForceOverride"},"Identifiers":{"type":"array","arrayType":"object","description":"List of Identifiers of the given type","ref":"product structure.Identifier","isNested":"true","name":"Identifiers","properties":{"Description":{"type":"string","description":"Description","example":"Manufacturer sku","name":"Description"},"Entity":{"type":"object","description":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","putDescription":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","ref":"catalog.Entity","isNested":"true","name":"Entity","properties":{"Id":{"type":"integer","description":"Identifier of an Entity used for Entity Revisions. See [Carrier Revisions](/concepts/product-structure/#carrier-revisions) for more information","putDescription":"Identifier of an Entity used for Entity Revisions. See <a href='/concepts/product-structure/#carrier-revisions'>Carrier Revisions</a> for more information","ref":"company tree.Company.Id","example":"14146","name":"Id"},"Name":{"type":"string","description":"Entity name","ref":"company tree.Company.Name","generated":"true","example":"Kentel Corp","name":"Name"}},"required":["Id"]},"Type":{"type":"string","description":"This value should match the Type property of the IdentifierGroup","putDescription":"This value should match the Type property of the IdentifierGroup","example":"ManufacturerSKU","name":"Type"},"Value":{"type":"string","description":"Value","example":"ManufacturerSKU","name":"Value"}},"required":["Type","Value"]}},"required":["Type","ForceOveride"]},"IsArchived":{"type":"boolean","description":"A flag to indicate if this Variation is archived. Archived Products are hidden from searches and can only be access directly.","example":"false","generated":"true"}},"required":["FieldValues"]}},"required":["FieldValues"]},"Version":{"type":"integer","description":"The latest revision number","example":"1","generated":"true"}},"required":["Classification","RootRevision"]}
                            
                        
                    
                
            
      
    put:
        
        displayName: Updating a Master Product
                
        
        description: |            
            {{important}} This request cannot <strong>update</strong> existing Assets, only add new Assets{{end}}
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    
                    {"Assets":[{"Id":"a130e8f0-ddb1-4034-a34a-53d3ac03d384","Name":"HeroShot","MimeType":"image/jpeg","IsHidden":false}],"ColorDefinitionId":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15","FieldValues":[{"FieldDefinitionId":1,"LanguageInvariantValue":"iPhone 4S 16 GB Black"}],"IdentifierGroups":[{"Type":"ManufacturerSKU","ForceOverride":false,"Identifiers":[{"Description":"Manufacturer sku","Entity":{"Id":14146,"Name":"Kentel Corp"},"Type":"ManufacturerSKU","Value":"ManufacturerSKU"}]}]}
                    
                schema: |
                    {"exclude":"true","name":"RootRevisionCreate","type":"object","$schema":"http://json-schema.org/draft-03/schema","properties":{"Assets":{"type":"array","arrayType":"object","putDescription":"Image <a href='http://developers.iqmetrix.com/api/assets/#asset'>Assets</a> for the Master Product","ref":"product structure.Asset","properties":{"Id":{"type":"guid","description":"Identifier","putDescription":"Identifier for an <a href='http://developers.iqmetrix.com/api/assets/#asset'>Asset</a>","example":"a130e8f0-ddb1-4034-a34a-53d3ac03d384","name":"Id"},"Name":{"type":"string","description":"Name","example":"HeroShot","name":"Name"},"MimeType":{"type":"string","description":"Type of image","example":"image/jpeg","name":"MimeType"},"IsHidden":{"type":"boolean","description":"A flag to indicate if this Asset is hidden, not to be used in Endless Aisle","putDescription":"Defaults to false","example":"false","name":"IsHidden"}},"required":["Id","Name","MimeType"]},"ColorDefinitionId":{"type":"string","putDescription":"Unique identifier for a <a href='http://developers.iqmetrix.com/api/catalog/#colordefinition'>ColorDefinition</a>","ref":"catalog.ColorDefinition.Id","example":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15"},"FieldValues":{"type":"array","arrayType":"object","description":"List of FieldValues which represent the properties this Master Product has such as name, screen size, etc","ref":"product structure.FieldValue","properties":{"FieldDefinitionId":{"type":"integer","description":"Identifier for a [FieldDefinition](/api/field-definitions/#fielddefinition)","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/field-definitions/#fielddefinition'>FieldDefinition</a>","ref":"field-definitions.FieldDefinition.Id","name":"FieldDefinitionId","example":"1"},"LanguageInvariantValue":{"type":"string","description":"Value","example":"iPhone 4S 16 GB Black","name":"LanguageInvariantValue"}},"required":["FieldDefinitionId","LanguageInvariantValue"]},"IdentifierGroups":{"type":"array","arrayType":"object","description":"List of IdentifierGroups","ref":"product structure.IdentifierGroup","properties":{"Type":{"type":"string","description":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","putDescription":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","example":"ManufacturerSKU","name":"Type"},"ForceOverride":{"type":"boolean","description":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","putDescription":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","example":"false","name":"ForceOverride"},"Identifiers":{"type":"array","arrayType":"object","description":"List of Identifiers of the given type","ref":"product structure.Identifier","isNested":"true","name":"Identifiers","properties":{"Description":{"type":"string","description":"Description","example":"Manufacturer sku","name":"Description"},"Entity":{"type":"object","description":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","putDescription":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","ref":"catalog.Entity","isNested":"true","name":"Entity","properties":{"Id":{"type":"integer","description":"Identifier of an Entity used for Entity Revisions. See [Carrier Revisions](/concepts/product-structure/#carrier-revisions) for more information","putDescription":"Identifier of an Entity used for Entity Revisions. See <a href='/concepts/product-structure/#carrier-revisions'>Carrier Revisions</a> for more information","ref":"company tree.Company.Id","example":"14146","name":"Id"},"Name":{"type":"string","description":"Entity name","ref":"company tree.Company.Name","generated":"true","example":"Kentel Corp","name":"Name"}},"required":["Id"]},"Type":{"type":"string","description":"This value should match the Type property of the IdentifierGroup","putDescription":"This value should match the Type property of the IdentifierGroup","example":"ManufacturerSKU","name":"Type"},"Value":{"type":"string","description":"Value","example":"ManufacturerSKU","name":"Value"}},"required":["Type","Value"]}},"required":["Type","ForceOveride"]}},"required":["FieldValues"]}
                
            
        responses:
            
            204:
                
                body:
                    
                    application/json:
                        
                    
                
            
    

/ProductDocs({ProductDocumentId})/Variations:
    
    uriParameters:
        
        ProductDocumentId:
            displayName: ProductDocumentId
            type: integer
            example: 8
            required: true
            description: Identifier for a <a href='http://developers.iqmetrix.com/api/product-structure/#productdocument'>ProductDocument</a>
          
      
    post:
        
        displayName: Creating a Variation
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    
                    {"Assets":[{"Id":"a130e8f0-ddb1-4034-a34a-53d3ac03d384","Name":"HeroShot","MimeType":"image/jpeg","IsHidden":false}],"ColorDefinitionId":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15","FieldValues":[{"FieldDefinitionId":1,"LanguageInvariantValue":"iPhone 4S 16 GB Black"}],"IdentifierGroups":[{"Type":"ManufacturerSKU","ForceOverride":false,"Identifiers":[{"Description":"Manufacturer sku","Entity":{"Id":14146},"Type":"ManufacturerSKU","Value":"ManufacturerSKU"}]}]}
                    
                schema: |
                    {"exclude":"true","name":"VariationCreate","type":"object","$schema":"http://json-schema.org/draft-03/schema","properties":{"Assets":{"type":"array","arrayType":"object","putDescription":"Image <a href='http://developers.iqmetrix.com/api/assets/#asset'>Assets</a> for the Variation","ref":"product structure.Asset","properties":{"Id":{"type":"guid","description":"Identifier","putDescription":"Identifier for an <a href='http://developers.iqmetrix.com/api/assets/#asset'>Asset</a>","example":"a130e8f0-ddb1-4034-a34a-53d3ac03d384","name":"Id"},"Name":{"type":"string","description":"Name","example":"HeroShot","name":"Name"},"MimeType":{"type":"string","description":"Type of image","example":"image/jpeg","name":"MimeType"},"IsHidden":{"type":"boolean","description":"A flag to indicate if this Asset is hidden, not to be used in Endless Aisle","putDescription":"Defaults to false","example":"false","name":"IsHidden"}},"required":["Id","Name","MimeType"]},"ColorDefinitionId":{"type":"string","description":"Unique identifier for a ColorDefinition","putDescription":"Identifier for a ColorDefinition. For a list of ColorDefinitions, see <a href='/api/product-structure/#getting-color-definitions-for-a-master-product'>Getting Color Definitions For a Master Product</a>","ref":"catalog.ColorDefinition.Id","example":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15"},"FieldValues":{"type":"array","arrayType":"object","putDescription":"Must be unique across all Variations for the MasterProduct","description":"FieldValues representing properties that determine how this Revision differs from its parent Variation or MasterProduct","ref":"product structure.FieldValue","properties":{"FieldDefinitionId":{"type":"integer","description":"Identifier for a [FieldDefinition](/api/field-definitions/#fielddefinition)","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/field-definitions/#fielddefinition'>FieldDefinition</a>","ref":"field-definitions.FieldDefinition.Id","name":"FieldDefinitionId","example":"1"},"LanguageInvariantValue":{"type":"string","description":"Value","example":"iPhone 4S 16 GB Black","name":"LanguageInvariantValue"}},"required":["FieldDefinitionId","LanguageInvariantValue"]},"IdentifierGroups":{"type":"array","arrayType":"object","description":"List of IdentifierGroups","ref":"product structure.IdentifierGroup","properties":{"Type":{"type":"string","description":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","putDescription":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","example":"ManufacturerSKU","name":"Type"},"ForceOverride":{"type":"boolean","description":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","putDescription":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","example":"false","name":"ForceOverride"},"Identifiers":{"type":"array","arrayType":"object","description":"List of Identifiers of the given type","ref":"product structure.Identifier","isNested":"true","name":"Identifiers","properties":{"Description":{"type":"string","description":"Description","example":"Manufacturer sku","name":"Description"},"Entity":{"type":"object","description":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","putDescription":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","ref":"catalog.Entity","isNested":"true","name":"Entity","properties":{"Id":{"type":"integer","description":"Identifier of an Entity used for Entity Revisions. See [Carrier Revisions](/concepts/product-structure/#carrier-revisions) for more information","putDescription":"Identifier of an Entity used for Entity Revisions. See <a href='/concepts/product-structure/#carrier-revisions'>Carrier Revisions</a> for more information","ref":"company tree.Company.Id","example":"14146","name":"Id"},"Name":{"type":"string","description":"Entity name","ref":"company tree.Company.Name","generated":"true","example":"Kentel Corp","name":"Name"}},"required":["Id"]},"Type":{"type":"string","description":"This value should match the Type property of the IdentifierGroup","putDescription":"This value should match the Type property of the IdentifierGroup","example":"ManufacturerSKU","name":"Type"},"Value":{"type":"string","description":"Value","example":"ManufacturerSKU","name":"Value"}},"required":["Type","Value"]}},"required":["Type","ForceOveride"]}},"required":["FieldValues"]}
                
            
        responses:
            
            201:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                {"VariationId":8}
                            schema: |
                                {"exclude":"true","name":"VariationCreated","type":"object","$schema":"http://json-schema.org/draft-03/schema","properties":{"VariationId":{"type":"integer","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/product-structure/#variation'>Variation</a>","example":"8"}}}
                            
                        
                    
                
            
    

/ProductDocs({ProductDocumentId})/Variations?variationId={VariationId}:
    
    uriParameters:
        
        ProductDocumentId:
            displayName: ProductDocumentId
            type: integer
            example: 8
            required: true
            description: Identifier for a <a href='http://developers.iqmetrix.com/api/product-structure/#productdocument'>ProductDocument</a>
        
        VariationId:
            displayName: VariationId
            type: integer
            example: 1
            required: true
            description: Identifier of the <a href='http://developers.iqmetrix.com/api/product-structure/#variation'>Variation</a>. To get a list of Variations for a Product, see <a href="#getting-a-product-hierarchy">Getting a Product Hierarchy</a>
          
      
    put:
        
        displayName: Updating a Variation
                
        
        description: |            
            {{important}} This request cannot <strong>update</strong> existing Assets, only add new Assets{{end}}
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    
                    {"Assets":[{"Id":"a130e8f0-ddb1-4034-a34a-53d3ac03d384","Name":"HeroShot","MimeType":"image/jpeg","IsHidden":false}],"ColorDefinitionId":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15","FieldValues":[{"FieldDefinitionId":1,"LanguageInvariantValue":"iPhone 4S 16 GB Black"}],"IdentifierGroups":[{"Type":"ManufacturerSKU","ForceOverride":false,"Identifiers":[{"Description":"Manufacturer sku","Entity":{"Id":14146,"Name":"Kentel Corp"},"Type":"ManufacturerSKU","Value":"ManufacturerSKU"}]}]}
                    
                schema: |
                    {"exclude":"true","name":"VariationCreate","type":"object","$schema":"http://json-schema.org/draft-03/schema","properties":{"Assets":{"type":"array","arrayType":"object","putDescription":"Image <a href='http://developers.iqmetrix.com/api/assets/#asset'>Assets</a> for the Variation","ref":"product structure.Asset","properties":{"Id":{"type":"guid","description":"Identifier","putDescription":"Identifier for an <a href='http://developers.iqmetrix.com/api/assets/#asset'>Asset</a>","example":"a130e8f0-ddb1-4034-a34a-53d3ac03d384","name":"Id"},"Name":{"type":"string","description":"Name","example":"HeroShot","name":"Name"},"MimeType":{"type":"string","description":"Type of image","example":"image/jpeg","name":"MimeType"},"IsHidden":{"type":"boolean","description":"A flag to indicate if this Asset is hidden, not to be used in Endless Aisle","putDescription":"Defaults to false","example":"false","name":"IsHidden"}},"required":["Id","Name","MimeType"]},"ColorDefinitionId":{"type":"string","description":"Unique identifier for a ColorDefinition","putDescription":"Identifier for a ColorDefinition. For a list of ColorDefinitions, see <a href='/api/product-structure/#getting-color-definitions-for-a-master-product'>Getting Color Definitions For a Master Product</a>","ref":"catalog.ColorDefinition.Id","example":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15"},"FieldValues":{"type":"array","arrayType":"object","putDescription":"Must be unique across all Variations for the MasterProduct","description":"FieldValues representing properties that determine how this Revision differs from its parent Variation or MasterProduct","ref":"product structure.FieldValue","properties":{"FieldDefinitionId":{"type":"integer","description":"Identifier for a [FieldDefinition](/api/field-definitions/#fielddefinition)","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/field-definitions/#fielddefinition'>FieldDefinition</a>","ref":"field-definitions.FieldDefinition.Id","name":"FieldDefinitionId","example":"1"},"LanguageInvariantValue":{"type":"string","description":"Value","example":"iPhone 4S 16 GB Black","name":"LanguageInvariantValue"}},"required":["FieldDefinitionId","LanguageInvariantValue"]},"IdentifierGroups":{"type":"array","arrayType":"object","description":"List of IdentifierGroups","ref":"product structure.IdentifierGroup","properties":{"Type":{"type":"string","description":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","putDescription":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","example":"ManufacturerSKU","name":"Type"},"ForceOverride":{"type":"boolean","description":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","putDescription":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","example":"false","name":"ForceOverride"},"Identifiers":{"type":"array","arrayType":"object","description":"List of Identifiers of the given type","ref":"product structure.Identifier","isNested":"true","name":"Identifiers","properties":{"Description":{"type":"string","description":"Description","example":"Manufacturer sku","name":"Description"},"Entity":{"type":"object","description":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","putDescription":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","ref":"catalog.Entity","isNested":"true","name":"Entity","properties":{"Id":{"type":"integer","description":"Identifier of an Entity used for Entity Revisions. See [Carrier Revisions](/concepts/product-structure/#carrier-revisions) for more information","putDescription":"Identifier of an Entity used for Entity Revisions. See <a href='/concepts/product-structure/#carrier-revisions'>Carrier Revisions</a> for more information","ref":"company tree.Company.Id","example":"14146","name":"Id"},"Name":{"type":"string","description":"Entity name","ref":"company tree.Company.Name","generated":"true","example":"Kentel Corp","name":"Name"}},"required":["Id"]},"Type":{"type":"string","description":"This value should match the Type property of the IdentifierGroup","putDescription":"This value should match the Type property of the IdentifierGroup","example":"ManufacturerSKU","name":"Type"},"Value":{"type":"string","description":"Value","example":"ManufacturerSKU","name":"Value"}},"required":["Type","Value"]}},"required":["Type","ForceOveride"]}},"required":["FieldValues"]}
                
            
        responses:
            
            204:
                
                body:
                    
                    application/json:
                        
                    
                
            
    

/ProductDocs({ProductDocumentId})/Revisions?variationId={VariationId}&countryCode={CountryCode}&stateCode={StateCode}&entityId={EntityId}:
    
    uriParameters:
        
        ProductDocumentId:
            displayName: ProductDocumentId
            type: integer
            example: 8
            required: true
            description: Identifier for a <a href='http://developers.iqmetrix.com/api/product-structure/#productdocument'>ProductDocument</a>
        
        VariationId:
            displayName: VariationId
            type: integer
            example: 4
            required: false
            description: Identifier for a <a href='http://developers.iqmetrix.com/api/product-structure/#variation'>Variation</a>, to get a list of Variations for a Product, see <a href="#getting-a-product-hierarchy">Getting a Product Hierarchy</a>
        
        CountryCode:
            displayName: CountryCode
            type: string
            example: CA
            required: false
            description: Two letter country code for a Country. Uses the ISO 3166-1 alpha-2 standard
        
        StateCode:
            displayName: StateCode
            type: string
            example: MB
            required: false
            description: Two letter state code for a State or Province. Based off the ISO 3166-2 standard
        
        EntityId:
            displayName: EntityId
            type: integer
            example: 1
            required: false
            description: Identifier for a <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a> or <a href='http://developers.iqmetrix.com/api/entity-store/#carrier'>Carrier</a>
          
      
    post:
        
        displayName: Creating a Revision
                
        
        description: |            
            At least one of the following is required in the URI for this request: `VariationId`, `CountryCode`, `StateCode`, `EntityId`.
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    
                    {"ColorDefinitionId":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15","FieldValues":[{"FieldDefinitionId":1,"LanguageInvariantValue":"iPhone 4S 16 GB Black"}],"IdentifierGroups":[{"Type":"ManufacturerSKU","ForceOverride":false,"Identifiers":[{"Description":"Manufacturer sku","Entity":{"Id":14146},"Type":"ManufacturerSKU","Value":"ManufacturerSKU"}]}]}
                    
                schema: |
                    {"description":"To learn more about Master Products, Variations and Revisions, see {{ProductStructure_Concept}}.","name":"Revision","type":"object","$schema":"http://json-schema.org/draft-03/schema","properties":{"Id":{"type":"integer","description":"Identifier","example":"5","generated":"true"},"ColorDefinitionId":{"type":"string","description":"Unique identifier for a ColorDefinition","ref":"catalog.ColorDefinition.Id","example":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15"},"Entity":{"type":"object","description":"An identifier for an Entity this Revision was created for","ref":"catalog.Entity","isNested":"true","generated":"true","properties":{"Id":{"type":"integer","description":"Identifier of an Entity used for Entity Revisions. See [Carrier Revisions](/concepts/product-structure/#carrier-revisions) for more information","putDescription":"Identifier of an Entity used for Entity Revisions. See <a href='/concepts/product-structure/#carrier-revisions'>Carrier Revisions</a> for more information","ref":"company tree.Company.Id","example":"14146","name":"Id"},"Name":{"type":"string","description":"Entity name","ref":"company tree.Company.Name","generated":"true","example":"Kentel Corp","name":"Name"}},"required":["Id"]},"FieldValues":{"type":"array","arrayType":"object","description":"FieldValues representing properties that determine how this Revision differs from its parent Variation or MasterProduct","ref":"product structure.FieldValue","properties":{"FieldDefinitionId":{"type":"integer","description":"Identifier for a [FieldDefinition](/api/field-definitions/#fielddefinition)","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/field-definitions/#fielddefinition'>FieldDefinition</a>","ref":"field-definitions.FieldDefinition.Id","name":"FieldDefinitionId","example":"1"},"LanguageInvariantValue":{"type":"string","description":"Value","example":"iPhone 4S 16 GB Black","name":"LanguageInvariantValue"}},"required":["FieldDefinitionId","LanguageInvariantValue"]},"IdentifierGroups":{"type":"array","arrayType":"object","description":"List of IdentifierGroups","ref":"product structure.IdentifierGroup","properties":{"Type":{"type":"string","description":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","putDescription":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","example":"ManufacturerSKU","name":"Type"},"ForceOverride":{"type":"boolean","description":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","putDescription":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","example":"false","name":"ForceOverride"},"Identifiers":{"type":"array","arrayType":"object","description":"List of Identifiers of the given type","ref":"product structure.Identifier","isNested":"true","name":"Identifiers","properties":{"Description":{"type":"string","description":"Description","example":"Manufacturer sku","name":"Description"},"Entity":{"type":"object","description":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","putDescription":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","ref":"catalog.Entity","isNested":"true","name":"Entity","properties":{"Id":{"type":"integer","description":"Identifier of an Entity used for Entity Revisions. See [Carrier Revisions](/concepts/product-structure/#carrier-revisions) for more information","putDescription":"Identifier of an Entity used for Entity Revisions. See <a href='/concepts/product-structure/#carrier-revisions'>Carrier Revisions</a> for more information","ref":"company tree.Company.Id","example":"14146","name":"Id"},"Name":{"type":"string","description":"Entity name","ref":"company tree.Company.Name","generated":"true","example":"Kentel Corp","name":"Name"}},"required":["Id"]},"Type":{"type":"string","description":"This value should match the Type property of the IdentifierGroup","putDescription":"This value should match the Type property of the IdentifierGroup","example":"ManufacturerSKU","name":"Type"},"Value":{"type":"string","description":"Value","example":"ManufacturerSKU","name":"Value"}},"required":["Type","Value"]}},"required":["Type","ForceOveride"]},"Regions":{"type":"array","arrayType":"object","description":"List of regions this Revision is applicable to","ref":"catalog.Region","generated":"true","properties":{"CountryCode":{"type":"string","description":"Country in which this address resides. Uses the ISO 3166-1 alpha-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","ref":"reference.Country.Code","example":"CA","name":"CountryCode"},"CountryName":{"type":"string","description":"Country name","example":"Canada","generated":"true","name":"CountryName"},"StateCode":{"type":"string","description":"Code for the State in which this address resides. Based off the ISO 3166-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","ref":"reference.State.Code","example":"AB","name":"StateCode"},"StateName":{"type":"string","description":"State name","example":"British Columbia","generated":"true","name":"StateName"}}}},"required":["FieldValues"]}
                
            
        responses:
            
            201:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                {"Id":5,"ColorDefinitionId":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15","Entity":{"Id":14146,"Name":"Kentel Corp"},"FieldValues":[{"FieldDefinitionId":1,"LanguageInvariantValue":"iPhone 4S 16 GB Black"}],"IdentifierGroups":[{"Type":"ManufacturerSKU","ForceOverride":false,"Identifiers":[{"Description":"Manufacturer sku","Entity":{"Id":14146,"Name":"Kentel Corp"},"Type":"ManufacturerSKU","Value":"ManufacturerSKU"}]}],"Regions":[{"CountryCode":"CA","CountryName":"Canada","StateCode":"AB","StateName":"British Columbia"}]}
                            schema: |
                                {"description":"To learn more about Master Products, Variations and Revisions, see {{ProductStructure_Concept}}.","name":"Revision","type":"object","$schema":"http://json-schema.org/draft-03/schema","properties":{"Id":{"type":"integer","description":"Identifier","example":"5","generated":"true"},"ColorDefinitionId":{"type":"string","description":"Unique identifier for a ColorDefinition","ref":"catalog.ColorDefinition.Id","example":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15"},"Entity":{"type":"object","description":"An identifier for an Entity this Revision was created for","ref":"catalog.Entity","isNested":"true","generated":"true","properties":{"Id":{"type":"integer","description":"Identifier of an Entity used for Entity Revisions. See [Carrier Revisions](/concepts/product-structure/#carrier-revisions) for more information","putDescription":"Identifier of an Entity used for Entity Revisions. See <a href='/concepts/product-structure/#carrier-revisions'>Carrier Revisions</a> for more information","ref":"company tree.Company.Id","example":"14146","name":"Id"},"Name":{"type":"string","description":"Entity name","ref":"company tree.Company.Name","generated":"true","example":"Kentel Corp","name":"Name"}},"required":["Id"]},"FieldValues":{"type":"array","arrayType":"object","description":"FieldValues representing properties that determine how this Revision differs from its parent Variation or MasterProduct","ref":"product structure.FieldValue","properties":{"FieldDefinitionId":{"type":"integer","description":"Identifier for a [FieldDefinition](/api/field-definitions/#fielddefinition)","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/field-definitions/#fielddefinition'>FieldDefinition</a>","ref":"field-definitions.FieldDefinition.Id","name":"FieldDefinitionId","example":"1"},"LanguageInvariantValue":{"type":"string","description":"Value","example":"iPhone 4S 16 GB Black","name":"LanguageInvariantValue"}},"required":["FieldDefinitionId","LanguageInvariantValue"]},"IdentifierGroups":{"type":"array","arrayType":"object","description":"List of IdentifierGroups","ref":"product structure.IdentifierGroup","properties":{"Type":{"type":"string","description":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","putDescription":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","example":"ManufacturerSKU","name":"Type"},"ForceOverride":{"type":"boolean","description":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","putDescription":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","example":"false","name":"ForceOverride"},"Identifiers":{"type":"array","arrayType":"object","description":"List of Identifiers of the given type","ref":"product structure.Identifier","isNested":"true","name":"Identifiers","properties":{"Description":{"type":"string","description":"Description","example":"Manufacturer sku","name":"Description"},"Entity":{"type":"object","description":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","putDescription":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","ref":"catalog.Entity","isNested":"true","name":"Entity","properties":{"Id":{"type":"integer","description":"Identifier of an Entity used for Entity Revisions. See [Carrier Revisions](/concepts/product-structure/#carrier-revisions) for more information","putDescription":"Identifier of an Entity used for Entity Revisions. See <a href='/concepts/product-structure/#carrier-revisions'>Carrier Revisions</a> for more information","ref":"company tree.Company.Id","example":"14146","name":"Id"},"Name":{"type":"string","description":"Entity name","ref":"company tree.Company.Name","generated":"true","example":"Kentel Corp","name":"Name"}},"required":["Id"]},"Type":{"type":"string","description":"This value should match the Type property of the IdentifierGroup","putDescription":"This value should match the Type property of the IdentifierGroup","example":"ManufacturerSKU","name":"Type"},"Value":{"type":"string","description":"Value","example":"ManufacturerSKU","name":"Value"}},"required":["Type","Value"]}},"required":["Type","ForceOveride"]},"Regions":{"type":"array","arrayType":"object","description":"List of regions this Revision is applicable to","ref":"catalog.Region","generated":"true","properties":{"CountryCode":{"type":"string","description":"Country in which this address resides. Uses the ISO 3166-1 alpha-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","ref":"reference.Country.Code","example":"CA","name":"CountryCode"},"CountryName":{"type":"string","description":"Country name","example":"Canada","generated":"true","name":"CountryName"},"StateCode":{"type":"string","description":"Code for the State in which this address resides. Based off the ISO 3166-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","ref":"reference.State.Code","example":"AB","name":"StateCode"},"StateName":{"type":"string","description":"State name","example":"British Columbia","generated":"true","name":"StateName"}}}},"required":["FieldValues"]}
                            
                        
                    
                
            
            204:
                
                body:
                    
                    application/json:
                        
                    
                
            
      
    put:
        
        displayName: Updating a Revision
                
        
        description: |            
            To update an existing Revision, the same URI paramters that were used to create the Revision must be used. 
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
            Content-Type:
                example: application/json
            
        body:
            
            application/json:
                
                
                example: |  
                    
                    {"Id":5,"ColorDefinitionId":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15","Entity":{"Id":14146,"Name":"Kentel Corp"},"FieldValues":[{"FieldDefinitionId":1,"LanguageInvariantValue":"iPhone 4S 16 GB Black"}],"IdentifierGroups":[{"Type":"ManufacturerSKU","ForceOverride":false,"Identifiers":[{"Description":"Manufacturer sku","Entity":{"Id":14146,"Name":"Kentel Corp"},"Type":"ManufacturerSKU","Value":"ManufacturerSKU"}]}],"Regions":[{"CountryCode":"CA","CountryName":"Canada","StateCode":"AB","StateName":"British Columbia"}]}
                    
                schema: |
                    {"description":"To learn more about Master Products, Variations and Revisions, see {{ProductStructure_Concept}}.","name":"Revision","type":"object","$schema":"http://json-schema.org/draft-03/schema","properties":{"Id":{"type":"integer","description":"Identifier","example":"5","generated":"true"},"ColorDefinitionId":{"type":"string","description":"Unique identifier for a ColorDefinition","ref":"catalog.ColorDefinition.Id","example":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15"},"Entity":{"type":"object","description":"An identifier for an Entity this Revision was created for","ref":"catalog.Entity","isNested":"true","generated":"true","properties":{"Id":{"type":"integer","description":"Identifier of an Entity used for Entity Revisions. See [Carrier Revisions](/concepts/product-structure/#carrier-revisions) for more information","putDescription":"Identifier of an Entity used for Entity Revisions. See <a href='/concepts/product-structure/#carrier-revisions'>Carrier Revisions</a> for more information","ref":"company tree.Company.Id","example":"14146","name":"Id"},"Name":{"type":"string","description":"Entity name","ref":"company tree.Company.Name","generated":"true","example":"Kentel Corp","name":"Name"}},"required":["Id"]},"FieldValues":{"type":"array","arrayType":"object","description":"FieldValues representing properties that determine how this Revision differs from its parent Variation or MasterProduct","ref":"product structure.FieldValue","properties":{"FieldDefinitionId":{"type":"integer","description":"Identifier for a [FieldDefinition](/api/field-definitions/#fielddefinition)","putDescription":"Identifier for a <a href='http://developers.iqmetrix.com/api/field-definitions/#fielddefinition'>FieldDefinition</a>","ref":"field-definitions.FieldDefinition.Id","name":"FieldDefinitionId","example":"1"},"LanguageInvariantValue":{"type":"string","description":"Value","example":"iPhone 4S 16 GB Black","name":"LanguageInvariantValue"}},"required":["FieldDefinitionId","LanguageInvariantValue"]},"IdentifierGroups":{"type":"array","arrayType":"object","description":"List of IdentifierGroups","ref":"product structure.IdentifierGroup","properties":{"Type":{"type":"string","description":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","putDescription":"Acceptable values include: ManufacturerSKU, VendorSKU, UPC","example":"ManufacturerSKU","name":"Type"},"ForceOverride":{"type":"boolean","description":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","putDescription":"A flag to indicate if this Identifier Group is inherited (synced) from a parent. See <a href='#extended-examples'>Extended Examples</a>","example":"false","name":"ForceOverride"},"Identifiers":{"type":"array","arrayType":"object","description":"List of Identifiers of the given type","ref":"product structure.Identifier","isNested":"true","name":"Identifiers","properties":{"Description":{"type":"string","description":"Description","example":"Manufacturer sku","name":"Description"},"Entity":{"type":"object","description":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","putDescription":"Manufacturer or Vendor information for ManufacturerSKU or VendorSKU","ref":"catalog.Entity","isNested":"true","name":"Entity","properties":{"Id":{"type":"integer","description":"Identifier of an Entity used for Entity Revisions. See [Carrier Revisions](/concepts/product-structure/#carrier-revisions) for more information","putDescription":"Identifier of an Entity used for Entity Revisions. See <a href='/concepts/product-structure/#carrier-revisions'>Carrier Revisions</a> for more information","ref":"company tree.Company.Id","example":"14146","name":"Id"},"Name":{"type":"string","description":"Entity name","ref":"company tree.Company.Name","generated":"true","example":"Kentel Corp","name":"Name"}},"required":["Id"]},"Type":{"type":"string","description":"This value should match the Type property of the IdentifierGroup","putDescription":"This value should match the Type property of the IdentifierGroup","example":"ManufacturerSKU","name":"Type"},"Value":{"type":"string","description":"Value","example":"ManufacturerSKU","name":"Value"}},"required":["Type","Value"]}},"required":["Type","ForceOveride"]},"Regions":{"type":"array","arrayType":"object","description":"List of regions this Revision is applicable to","ref":"catalog.Region","generated":"true","properties":{"CountryCode":{"type":"string","description":"Country in which this address resides. Uses the ISO 3166-1 alpha-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","ref":"reference.Country.Code","example":"CA","name":"CountryCode"},"CountryName":{"type":"string","description":"Country name","example":"Canada","generated":"true","name":"CountryName"},"StateCode":{"type":"string","description":"Code for the State in which this address resides. Based off the ISO 3166-2 standard. For a list of acceptable codes, see <a href='/api/reference/#getting-all-countries'>Getting All Countries</a>","ref":"reference.State.Code","example":"AB","name":"StateCode"},"StateName":{"type":"string","description":"State name","example":"British Columbia","generated":"true","name":"StateName"}}}},"required":["FieldValues"]}
                
            
        responses:
            
            204:
                
                body:
                    
                    application/json:
                        
                    
                
            
    

/ProductDocs({ProductDocumentId})/ColorDefinitions:
    
    uriParameters:
        
        ProductDocumentId:
            displayName: ProductDocumentId
            type: integer
            example: 8
            required: true
            description: Identifier for a <a href='http://developers.iqmetrix.com/api/product-structure/#productdocument'>ProductDocument</a>
          
      
    get:
        
        displayName: Getting Color Definitions
                
        
        description: |            
            This request can be used to get a <code>ColorDefinitionId</code> when creating a Variation or Revision.
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/json
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                {"ColorDefinitions":[{"Id":"5c6e2779-79d1-4fbd-b6a8-36b81e851b15","Name":"Black Sapphire","ColorTagIds":[1],"ColorTags":[{"Id":1,"Name":"Black","ColorCode":"#303232"}],"Swatch":{"Type":"ColorCode","AssetId":"null","ColorCode":"#C0C8D0"}}]}
                            schema: |
[...]
