#%RAML 0.8
title: punch-clock
baseUri: https://punchclockdemo.iqmetrix.net/v1
schemas: 

    
    - PunchEntry: |
        {
          "name": "PunchEntry",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "An instance of a clock punch for an employee at a location, with a punch-in time and (optionally) a punch-out time.\n\n",
          "properties": {
            "Id": { "type": "integer", "description": "Unique Identifier", "example": "1953" }, 
            "CreatedDateUtc": { "type": "DateTime", "description": "Created date and time, in UTC", "example": "2015-09-23T15:41:59.403" }, 
            "EmployeeVerified": { "type": "boolean", "description": "A flag to indicate if the employee has verified the PunchEntry", "example": "false" }, 
            "EmployeeSpecialId": { "type": "string", "description": "Special identifier for Employee in RQ", "example": "1002" }, 
            "LastUpdateDateUtc": { "type": "DateTime", "description": "Time of the last update, in UTC", "example": "2015-09-23T15:55:09.927" }, 
            "LocationCode": { "type": "string", "size": "100", "description": "An identifier for the Location in an external system", "example": "CWW" }, 
            "LocationId": { "type": "integer", "description": "Identifier for the [Location](/api/company-tree/#location)", "ref": "company tree.Location.Id" }, 
            "ManagerVerified": { "type": "boolean", "description": "A flag to indicate if the manager has verified the PunchEntry", "example": "false" }, 
            "PunchInComments": { "type": "string", "size": "100", "description": "Punch in comments", "example": "IN - FingerPrint/HomeConsole" }, 
            "PunchOutComments": { "type": "string", "size": "100", "description": "Punch out comments", "example": "OUT - HomeConsole" }, 
            "TimeInAtStore": { "type": "DateTime", "description": "Punch in time (local time at store), in UTC", "example": "2015-09-23T09:41:52.653" }, 
            "TimeOutAtStore": { "type": "DateTime", "description": "Punch out time (local time at store), in UTC", "example": "2015-09-23T09:55:03.973" }, 
            "UserId": { "type": "integer", "description": "Identifier for a [User](/api/user-manager/#user)", "ref": "user-manager.User.Id" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "example": "1" }, 
            "RQPunchId": { "type": "integer", "description": "Reserved for internal use", "example": "" }
          }
        }      
        

    

    
    - PunchEntryHal: |
        {
          "exclude": "true",        
          "name": "PunchEntryHal",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "_links": { "type": "object", "putDescription": "Relative links to requests related to this resource", "ref": "punch-clock.PunchLinks" },
            "_embedded": { "type": "object", "putDescription": "?????????????", "example": "" }, 
            "Id": { "type": "integer", "description": "Unique Identifier", "example": "1953" }, 
            "CreatedDateUtc": { "type": "DateTime", "description": "Created date and time, in UTC", "example": "2015-09-23T15:41:59.403" }, 
            "EmployeeVerified": { "type": "boolean", "description": "A flag to indicate if the employee has verified the PunchEntry", "example": "false" }, 
            "EmployeeSpecialId": { "type": "boolean", "description": "Special identifier for Employee in RQ", "example": "1002" }, 
            "LastUpdateDateUtc": { "type": "DateTime", "description": "Time of the last update, in UTC", "example": "2015-09-23T15:55:09.927" }, 
            "LocationCode": { "type": "string", "size": "100", "description": "An identifier for the Location in an external system", "example": "CWW" }, 
            "LocationId": { "type": "integer", "description": "Identifier for the [Location](/api/company-tree/#location)", "ref": "company tree.Location.Id" }, 
            "ManagerVerified": { "type": "boolean", "description": "A flag to indicate if the manager has verified the PunchEntry", "example": "false" }, 
            "PunchInComments": { "type": "string", "size": "100", "description": "Punch in comments", "example": "IN - FingerPrint/HomeConsole" }, 
            "PunchOutComments": { "type": "string", "size": "100", "description": "Punch out comments", "example": "OUT - HomeConsole" }, 
            "TimeInAtStore": { "type": "DateTime", "description": "Punch in time (local time at store), in UTC", "example": "2015-09-23T09:41:52.653" }, 
            "TimeOutAtStore": { "type": "DateTime", "description": "Punch out time (local time at store), in UTC", "example": "2015-09-23T09:55:03.973" }, 
            "UserId": { "type": "integer", "description": "Identifier for a [User](/api/user-manager/#user)", "ref": "user-manager.User.Id" }, 
            "Version": { "type": "integer", "description": "Latest revision number", "example": "1" }, 
            "RQPunchId": { "type": "integer", "description": "Reserved for internal use", "example": "" }
          }
        }            
        

    

    
    - PunchEntriesHal: |
        { 
          "name": "PunchEntriesHal",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "_links": { "type": "object", "putDescription": "Relative URL's used for Pagination", "ref": "punch-clock.PunchPropertyLinks" },
            "_embedded": { "type": "object", "ref": "punch-clock.PunchEmbeddedLinks" }
          }
        }
        

    

    
    - PunchEmbeddedLinks: |
        { 
          "name": "PunchEmbeddedLinks",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "self": { "type": "array", "arrayType": "object", "ref": "punch-clock.PunchEntryHal" }
          }
        }
        

    

    
    - PunchLinks: |
        {
          "name": "PunchLinks",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "self": { "type": "object", "ref": "punch-clock.PunchSelf" }
          }
        }
        

    

    
    - PunchSelf: |
        {
          "name": "PunchSelf",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "href": { "type": "string", "putDescription": "A link to the request that will return this Punch", "example": "v1/Companies(14146)/PunchEntries(15)" },
            "templated": { "type": "boolean", "putDescription": "A flag to indicate ????????????????", "example": "false" }
          }
        }              
        

    

    
    - PunchPropertyLinks: |
        { 
          "name": "PunchPropertyLinks",
          "type": "object",
          "exclude": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "prev": { "type": "object", "putDescription": "Refers to a resource containing the previous page of results, null if there is no previous page", "example": "null" },
            "self": { "type": "object", "putDescription": "The request that returned this result", "ref": "punch-clock.iqPunch" },
            "next": { "type": "object", "putDescription": "Refers to a resource containing the next page of results, null if this is the last page", "example": "null" }
          }
        }
        

    

    
    - iqPunch: |
        {
          "name": "iqPunch",
          "exclude": "true",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "href": { "type": "string", "example": "v1/Companies(14146)/PunchEntries?$filter=ransactionDateUTC ge datetime'2015-01-01T00:00:00.000' and TransactionDateUTC le datetime'2015-12-31T23:59:59.000'&$skip=0&$top=10" },
            "templated": { "type": "boolean", "putDescription": "A flag to indicate ????????????????", "example": "false" }
          }
        }             
        

    


/Companies({CompanyId})/PunchEntries?$filter=LastUpdateDateUtc ge datetime'{StartDate}' and LastUpdateDateUtc le datetime'{EndDate}'&$skip={Skip}&$top={Top}:
    
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14146
            required: true
            description: Identifier for the <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>
        
        StartDate:
            displayName: StartDate
            type: string
            example: 2014-12-31
            required: false
            description: Date at which to begin search request, in UTC
        
        EndDate:
            displayName: EndDate
            type: string
            example: 2015-12-31
            required: false
            description: Date at which to end search request, in UTC
        
        Skip:
            displayName: skip
            type: integer
            example: 1
            required: false
            description: Number of records to skip
        
        Top:
            displayName: top
            type: integer
            example: 10
            required: false
            description: Number of records to take
          
      
    get:
        
        displayName: Getting All Punch Entries
                
        
        description: |            
            By default, the sorting order of the response to this request will be **descending** order by `LastUpdateDateUtc`.
            
            {{note}}
            Don't forget <code>$filter=</code> in the request!
            {{end}}  

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept:
                example: application/hal+json
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/hal+json:
                        
                            
                            example: |
                                {"_links":{"prev":null,"self":{"href":"v1/Companies(14146)/PunchEntries?$filter=ransactionDateUTC ge datetime'2015-01-01T00:00:00.000' and TransactionDateUTC le datetime'2015-12-31T23:59:59.000'&$skip=0&$top=10","templated":false},"next":null},"_embedded":{"self":[{"_links":{"self":{"href":"v1/Companies(14146)/PunchEntries(15)","templated":false}},"_embedded":{},"Id":1953,"CreatedDateUtc":"2015-09-23T15:41:59.403","EmployeeVerified":false,"EmployeeSpecialId":1002,"LastUpdateDateUtc":"2015-09-23T15:55:09.927","LocationCode":"CWW","LocationId":14202,"ManagerVerified":false,"PunchInComments":"IN - FingerPrint/HomeConsole","PunchOutComments":"OUT - HomeConsole","TimeInAtStore":"2015-09-23T09:41:52.653","TimeOutAtStore":"2015-09-23T09:55:03.973","UserId":2576,"Version":1}]}}
                            schema: |
                                {"name":"PunchEntriesHal","type":"object","exclude":"true","$schema":"http://json-schema.org/draft-03/schema","properties":{"_links":{"type":"object","putDescription":"Relative URL's used for Pagination","ref":"punch-clock.PunchPropertyLinks","properties":{"prev":{"type":"object","putDescription":"Refers to a resource containing the previous page of results, null if there is no previous page","example":"null","name":"prev"},"self":{"type":"object","putDescription":"The request that returned this result","ref":"punch-clock.iqPunch","name":"self","properties":{"href":{"type":"string","example":"v1/Companies(14146)/PunchEntries?$filter=ransactionDateUTC ge datetime'2015-01-01T00:00:00.000' and TransactionDateUTC le datetime'2015-12-31T23:59:59.000'&$skip=0&$top=10","name":"href"},"templated":{"type":"boolean","putDescription":"A flag to indicate ????????????????","example":"false","name":"templated"}}},"next":{"type":"object","putDescription":"Refers to a resource containing the next page of results, null if this is the last page","example":"null","name":"next"}}},"_embedded":{"type":"object","ref":"punch-clock.PunchEmbeddedLinks","properties":{"self":{"type":"array","arrayType":"object","ref":"punch-clock.PunchEntryHal","name":"self","properties":{"_links":{"type":"object","putDescription":"Relative links to requests related to this resource","ref":"punch-clock.PunchLinks","name":"_links","properties":{"self":{"type":"object","ref":"punch-clock.PunchSelf","name":"self","properties":{"href":{"type":"string","putDescription":"A link to the request that will return this Punch","example":"v1/Companies(14146)/PunchEntries(15)","name":"href"},"templated":{"type":"boolean","putDescription":"A flag to indicate ????????????????","example":"false","name":"templated"}}}}},"_embedded":{"type":"object","putDescription":"?????????????","example":"","name":"_embedded"},"Id":{"type":"integer","description":"Unique Identifier","example":"1953","name":"Id"},"CreatedDateUtc":{"type":"datetime","description":"Created date and time, in UTC","example":"2015-09-23T15:41:59.403","name":"CreatedDateUtc"},"EmployeeVerified":{"type":"boolean","description":"A flag to indicate if the employee has verified the PunchEntry","example":"false","name":"EmployeeVerified"},"EmployeeSpecialId":{"type":"boolean","description":"Special identifier for Employee in RQ","example":"1002","name":"EmployeeSpecialId"},"LastUpdateDateUtc":{"type":"datetime","description":"Time of the last update, in UTC","example":"2015-09-23T15:55:09.927","name":"LastUpdateDateUtc"},"LocationCode":{"type":"string","size":"100","description":"An identifier for the Location in an external system","example":"CWW","name":"LocationCode"},"LocationId":{"type":"integer","description":"Identifier for the [Location](/api/company-tree/#location)","ref":"company tree.Location.Id","name":"LocationId","example":"14202"},"ManagerVerified":{"type":"boolean","description":"A flag to indicate if the manager has verified the PunchEntry","example":"false","name":"ManagerVerified"},"PunchInComments":{"type":"string","size":"100","description":"Punch in comments","example":"IN - FingerPrint/HomeConsole","name":"PunchInComments"},"PunchOutComments":{"type":"string","size":"100","description":"Punch out comments","example":"OUT - HomeConsole","name":"PunchOutComments"},"TimeInAtStore":{"type":"datetime","description":"Punch in time (local time at store), in UTC","example":"2015-09-23T09:41:52.653","name":"TimeInAtStore"},"TimeOutAtStore":{"type":"datetime","description":"Punch out time (local time at store), in UTC","example":"2015-09-23T09:55:03.973","name":"TimeOutAtStore"},"UserId":{"type":"integer","description":"Identifier for a [User](/api/user-manager/#user)","ref":"user-manager.User.Id","name":"UserId","example":"2576"},"Version":{"type":"integer","description":"Latest revision number","example":"1","name":"Version"},"RQPunchId":{"type":"integer","description":"Reserved for internal use","example":""}}}}}}}
                            
                        
                    
                
            
    
