#%RAML 0.8
title: RQ Data Connect Commission Reports
baseUri: https://rqdataconnectdemo.iqmetrix.net
schemas: 

    
    - VendorRebateHistoryReportData: |
        {
          "name": "VendorRebateHistoryReportData",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "ActivationAssociationNumber": { "type": "integer", "description": "Every product that is part of the same activation from the Phone Activation Wizard will have the same ActivationAssociationNumber.", "database": "INT", "example": "2" },
            "ActivationRowID": { "type": "guid", "description": "Identifier in RQ", "database": "UNIQUEIDENTIFIER", "example": "0d4652a7-a673-437a-817e-4641961ba3e6" },
            "Adjusted": { "type": "string", "description": "Adjusted - indicates if the rebate was adjusted", "database": "VARCHAR(3)", "example": "No" },
            "AssociationNumber": { "type": "integer", "description": "When adding products with PAW all associated products from the sale have the same association number tied together, this value increments based on how many sales are made on that order", "database": "SMALLINT", "example": "3" },
            "CarrierPrice": { "type": "decimal", "description": "Carrier Price - value or revenue that a carrier assigns this feature", "database": "MONEY", "example": "0" },
            "ChannelName": { "type": "string", "description": "Channel - channel for the rows location", "database": "VARCHAR(100)", "example": "English Channel" },
            "ChargeBack": { "type": "datetime", "description": "Charge Back - Yes or No column for if it is a Charge Back or not", "database": "DATETIME", "example": "No" },
            "Collected": { "type": "decimal", "description": "Collected - amount received from the carrier", "database": "MONEY", "example": "null" },
            "Comments": { "type": "string", "description": "Comments - any comments that were added as part of the reconciliation process", "database": "VARCHAR(500)", "example": "" },
            "Comments2": { "type": "string", "description": "Comments2 - any comments that were added as part of the reconciliation process", "database": "VARCHAR(500)", "example": "null" },
            "ContractNumber": { "type": "string", "description": "Contract # - number of the contract, recorded at the time of sale", "database": "VARCHAR(50)", "example": "123456789" },
            "CustomerID1": { "type": "integer", "description": "Customer Identifier - customer identifier as entered on the customers profile", "database": "INT", "example": "130834" },
            "CustomerName1": { "type": "string", "description": "Customer - name of the customer as entered on their profile", "database": "VARCHAR(101)", "example": "Bob Jones" },
            "DateCreated": { "type": "datetime", "description": "Sold On - date and time the invoice was tendered", "database": "DATETIME", "example": "2016-01-04T14:33:15.737" },
            "DateReconciled": { "type": "datetime", "description": "Reconciled On - date and time the rebate was reconciled", "database": "DATETIME", "example": "null" },
            "DistrictName": { "type": "string", "description": "District - district for the rows location", "database": "VARCHAR(100)", "example": "District B2" },
            "EmployeeID": { "type": "integer", "description": "Internal identifier for an employee in RQ, see EmployeeName", "database": "INT", "example": "0" },
            "EmployeeID1": { "type": "integer", "description": "Internal identifier for an employee in RQ, see EmployeeName1", "database": "INT", "example": "218" },
            "EmployeeName": { "type": "string", "description": "Reconciled By - name of the employee logged in when the rebate was reconciled", "database": "VARCHAR(51)", "example": "" },
            "EmployeeName1": { "type": "string", "description": "Sales Person - name of the employee of record for the sale, i.e. the employee whose name is in the Commission box", "database": "VARCHAR(51)", "example": "iQmetrix User" },
            "ExtraField": { "type": "string", "description": "Extra Field - an optional field", "database": "VARCHAR(30)", "example": "1234567890" },
            "Flagged": { "type": "string", "description": "Flagged - flagged in the Vendor Rebate Reconciliation screen", "database": "VARCHAR(3)", "example": "No" },
            "GlobalProductID": { "type": "integer", "description": "Identifier for a Product in RQ", "database": "INT", "example": "812" },
            "InvoiceComments": { "type": "string", "description": "Comments", "database": "VARCHAR(50)", "example": "" },
            "InvoicedAt": { "type": "string", "description": "Invoiced At - name of the location which takes the inventory on a refund, usually the same as Invoiced By but will be different if a second location process a refund", "database": "VARCHAR(100)", "example": "Regina Store" },
            "InvoicedAt_StoreID": { "type": "integer", "description": "Internal identifier for a store in RQ", "database": "INT", "example": "1" },
            "InvoicedBy": { "type": "string", "description": "Invoiced By - name of the location which credited with the sale, usually the same as Invoiced At but will be different if a second location process a refund", "database": "VARCHAR(100)", "example": "Regina Store" },
            "InvoicedBy_StoreID": { "type": "integer", "description": "Internal identifier for a store in RQ", "database": "INT", "example": "1" },
            "InvoiceIDByStore": { "type": "string", "description": "Invoice # - invoice number assigned by RQ", "database": "VARCHAR(14)", "example": "HJKIIIN2" },
            "InvoiceRowID": { "type": "guid", "description": "Internal identifier in RQ", "database": "UNIQUEIDENTIFIER", "example": "db8f28cf-5017-47f4-9ccf-b90cff32185d" },
            "JournalNumber": { "type": "string", "description": "Journal # - vendor account journal on which the rebate was reconciled", "database": "VARCHAR(20)", "example": "" },
            "OriginalSaleDate": { "type": "datetime", "description": "Original Sales Date - date of the original sale", "database": "DATETIME", "example": "null" },
            "OriginalSaleInvoiceID": { "type": "integer", "description": "Internal identifier in RQ", "database": "INT", "example": "null" },
            "OriginalSaleInvoiceIDByStore": { "type": "string", "description": "Original Invoice - invoice number of the original transaction", "database": "VARCHAR(14)", "example": "null" },
            "PartialCB": { "type": "decimal", "description": "Partial CB - amount the carrier is charging back", "database": "MONEY", "example": "0" },
            "PortNumber": { "type": "string", "description": "Port Number - if entered in transaction", "database": "VARCHAR(30)", "example": "" },
            "Postal_code": { "type": "string", "description": "Zip/Postal Code - zip code (USA) or postal code (Canada)", "database": "VARCHAR(15)", "example": "56789" },
            "ProductIdentifier": { "type": "string", "description": "Product SKU - RQ generated SKU", "database": "VARCHAR(12)", "example": "ACVZRB000001" },
            "ProductName": { "type": "string", "description": "Product Name - description of the product as it appears in the inventory", "database": "VARCHAR(100)", "example": "Verizon New Act_EquipmentRebate" },
            "ProductRowID": { "type": "guid", "description": "Internal identifier in RQ", "database": "UNIQUEIDENTIFIER", "example": "27be5c76-b0ba-4a34-ba7d-fa34aba0ab9c" },
            "Quantity": { "type": "integer", "description": "Qty - total quantity of this product SKU on the invoice", "database": "INT", "example": "1" },
            "RatePlan": { "type": "string", "description": "Rate Plan - name of the rate plan", "database": "VARCHAR(100)", "example": "Act $9.99 to $20.98" },
            "RatePlan2": { "type": "string", "description": "Rate Plan 2 - second rate plan if necessary", "database": "VARCHAR(100)", "example": "" },
            "Reconciled": { "type": "string", "description": "Reconciled - has been marked as reconciled in the Vendor Rebate Reconciliation screen", "database": "VARCHAR(3)", "example": "No" },
            "RegionID": { "type": "integer", "description": "Identifier for a region in RQ", "database": "INT", "example": "9" },
            "RegionName": { "type": "string", "description": "Region - region for the rows location", "database": "VARCHAR(100)", "example": "Region B" },
            "RelatedCost": { "type": "decimal", "description": "Related Cost - purchase cost for the product associated with this rebate", "database": "MONEY", "example": "404" },
            "RelatedPrice": { "type": "decimal", "description": "Related Price - price the customer paid for the product related to this rebate", "database": "MONEY", "example": "69.99" },
            "RelatedProduct": { "type": "string", "description": "Related Product - product associated with this rebate", "database": "VARCHAR(100)", "example": "Samsung Galaxy S4" },
            "RelatedProductSerialNumbers": { "type": "string", "description": "Related SN - serial number associated with this rebate, if any", "database": "VARCHAR(1000)", "example": "ACVZCB0026" },
            "RelatedProductSKU": { "type": "string", "description": "Related SKU - product SKU of the product associated with this rebate", "database": "VARCHAR(12)", "example": "ACVZCB000244" },
            "SaleInvoiceID": { "type": "integer", "description": "Internal identifier in RQ", "database": "INT", "example": "126526" },
            "SerialNumber": { "type": "string", "description": "Tracking # - tracking number associated with this entry", "database": "VARCHAR(100)", "example": "123000000000000" },
            "SocCode": { "type": "string", "description": "SOC Code - SOC Code if one was used", "database": "VARCHAR(50)", "example": "123000000000000" },
            "SocCode2": { "type": "string", "description": "SOC Code2 - Second SOC Code if used", "database": "VARCHAR(50)", "example": "" },
            "SpecialIdentifier": { "type": "string", "description": "Sales Person ID - ID number assigned to this sales person and recorded on the Admin tab of their Employee Profile", "database": "VARCHAR(25)", "example": "1" },
            "SpecialIdentifier1": { "type": "string", "description": "Internal identifier in RQ", "database": "VARCHAR (25)", "example": "" },
            "TermCode": { "type": "string", "description": "Term Code - [may not show in your database] indicates new activation, upgrade, etc.", "database": "VARCHAR(200)", "example": "" },
            "TotalPrice": { "type": "decimal", "description": "Total Rebate - total value of the rebate on this invoice calculated as Qty X Unit Rebate", "database": "MONEY", "example": "0" },
            "UnitPrice": { "type": "decimal", "description": "Unit Rebate - dollar value of this rebate", "database": "MONEY", "example": "0" },
            "VendorAccountName": { "type": "string", "description": "Vendor Account Name - vendor account for this rebate", "database": "VARCHAR(100)", "example": "Verizon 2" },
            "VendorName": { "type": "string", "description": "Vendor name in RQ", "database": "NVARCHAR(MAX)", "example": "Verizon" },
            "VendorNumber": { "type": "string", "description": "Vendor # - vendor account number entered for Vendor # By Location [if used]", "database": "NVARCHAR(3)", "example": "" },
            "VendorSKU": { "type": "string", "description": "Vendor SKU", "database": "VARCHAR(25)", "example": "" }
          }
        }
        

    

    
    - PartialChargeBackHistoryReportData: |
        {
          "name": "PartialChargeBackHistoryReportData",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "CarrierPrice": { "type": "decimal", "description": "Carrier Price - value or revenue that a carrier assigns this feature", "database": "DECIMAL", "example": "0" },
            "ChargeBack": { "type": "decimal", "description": "Charge Back - amount the carrier is charging back", "database": "MONEY", "example": "-1" },
            "ChargeBackID": { "type": "integer", "description": "RQ identifier for a Charge Back", "database": "INT", "example": "25" },
            "ChargeBackIDByStore": { "type": "string", "description": "Charge Back # - charge back invoice number assigned by RQ", "database": "VARCHAR (30)", "example": "REDSTCB10" },
            "DateAdjusted": { "type": "datetime", "description": "Applied Date - date the charge back was applied", "database": "DATETIME", "example": "2016-05-10T00:00:00" },
            "DateCreated": { "type": "datetime", "description": "Charge Back Date - date the charge back took effect", "database": "DATETIME", "example": "2016-05-10T08:18:57.377" },
            "EmployeeName": { "type": "string", "description": "Charged Back By - name of the employee logged into RQ when the Charge Back was done", "database": "VARCHAR (51)", "example": "iQmetrix User" },
            "InvoiceDate": { "type": "datetime", "description": "Invoice Date - date of the original sale invoice", "database": "DATETIME", "example": "2016-03-16T00:00:00" },
            "InvoiceIDByStore": { "type": "string", "description": "Invoice # - invoice number assigned by RQ", "database": "VARCHAR (14)", "example": "REDSTIN916" },
            "ProductIdentifier": { "type": "string", "description": "Product SKU - the RQ generated SKU", "database": "VARCHAR (12)", "example": "ASBORB000098" },
            "ProductName": { "type": "string", "description": "Product Name - description of the product as it appears in the inventory", "database": "NVARCHAR (MAX)", "example": "Apple iPhone 6 Plus 16GB Space Gray - AT&T" },
            "Quantity": { "type": "integer", "description": "Qty - total count of particular charged back SKUs on the charge back invoice", "database": "INT", "example": "1" },
            "SaleInvoiceID": { "type": "integer", "description": "Identifier for an invoice in RQ", "database": "INT", "example": "127354" },
            "SerialNumber": { "type": "string", "description": "Tracking # - the tracking number associated with this entry, most frequently the customers mobile number", "database": "VARCHAR (100)", "example": "123" },
            "TotalPrice": { "type": "decimal", "description": "Total Rebate - original rebate less the return amount", "database": "MONEY", "example": "699" },
            "UnitPrice": { "type": "decimal", "description": "Unit Rebate - reconciled amount, either the actual original amount or the adjusted from reconciliation amount", "database": "MONEY", "example": "700" },
            "VendorName": { "type": "string", "description": "Name for a vendor in RQ", "database": "NVARCHAR(MAX)", "example": "" },
            "VendorSKU": { "type": "string", "description": "Vendor SKU", "database": "VARCHAR(25)", "example": "" }
          }
        }
        

    


/reports/partialchargebackhistoryreport?StartDate={StartDate}&StopDate={StopDate}&ForWho={ForWho}&ForWhoIDs={ForWhoIDs}&LocationType={LocationType}&LocationTypeIDs={LocationTypeIDs}&Auth={Auth}&Response={Response}:
    
    uriParameters:
        
        StartDate:
            displayName: StartDate
            type: string
            example: 1969-12-31
            required: true
            description: Date at which report will begin
        
        StopDate:
            displayName: StopDate
            type: string
            example: 2015-12-31
            required: true
            description: Date at which report will end
        
        ForWho:
            displayName: ForWho
            type: integer
            example: 1
            required: false
            description: Identifier for a level at which to perform the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-report-levels-in-rq">Getting Report Levels in RQ</a>. If <strong>LocationType</strong> is provided, this value is ignored
        
        ForWhoIDs:
            displayName: ForWhoIDs
            type: integer
            example: 6679
            required: false
            description: A comma seperated list of identifiers to filter the report. For a list of identifiers, see <a href="/api/RQ-Data-Connect/#getting-nodes-by-location-type">Getting Nodes By Location Type</a>. If <strong>LocationTypeIDs</strong> is provided, this value is ignored. To ignore filtering use -1
        
        LocationType:
            displayName: LocationType
            type: string
            example: Store
            required: false
            description: A <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#locationtype'>LocationType</a> to filter the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-location-types">Getting Location Types</a>. If this value is provided, <strong>ForWho</strong> is ignored
        
        LocationTypeIDs:
            displayName: LocationTypeIDs
            type: string
            example: 1,2
            required: false
            description: A comma seperated list of <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#rqcompanytreenode'>RQCompanyTreeNode</a> identifiers to filter the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-location-ids">Getting Location Ids</a>. To ignore filtering, use -1 or *. If this value is provided, <strong>ForWhoIDs</strong> is ignored
        
        Auth:
            displayName: Auth
            type: string
            example: vRMt17P8rIBWWbVbLzLWjTNyLfvESgA2yfXhze0WZN7HSIl4slGV866p9dSw
            required: false
            description: Basic token used for authentication. For other methods of authentication, see {{AuthenticationOptions}}
        
        Response:
            displayName: Response
            type: string
            example: xml
            required: false
            description: Default is JSON. For other methods of response, see {{ResponseOptions}}
          
      
    get:
        
        displayName: Getting the Partial Charge Back History Report
                
        
        description: |            
            For more information, see {{support_PartialChargeBackHistoryReport}}.
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept-Encoding:
                example: gzip
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                [{"CarrierPrice":0,"ChargeBack":-1,"ChargeBackID":25,"ChargeBackIDByStore":"REDSTCB10","DateAdjusted":"2016-05-10T00:00:00","DateCreated":"2016-05-10T08:18:57.377","EmployeeName":"iQmetrix User","InvoiceDate":"2016-03-16T00:00:00","InvoiceIDByStore":"REDSTIN916","ProductIdentifier":"ASBORB000098","ProductName":"Apple iPhone 6 Plus 16GB Space Gray - AT&T","Quantity":1,"SaleInvoiceID":127354,"SerialNumber":"123","TotalPrice":699,"UnitPrice":700,"VendorName":"","VendorSKU":""}]
                            schema: |
                                {"name":"PartialChargeBackHistoryReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"CarrierPrice":{"type":"decimal","description":"Carrier Price - value or revenue that a carrier assigns this feature","database":"DECIMAL","example":"0"},"ChargeBack":{"type":"decimal","description":"Charge Back - amount the carrier is charging back","database":"MONEY","example":"-1"},"ChargeBackID":{"type":"integer","description":"RQ identifier for a Charge Back","database":"INT","example":"25"},"ChargeBackIDByStore":{"type":"string","description":"Charge Back # - charge back invoice number assigned by RQ","database":"VARCHAR (30)","example":"REDSTCB10"},"DateAdjusted":{"type":"datetime","description":"Applied Date - date the charge back was applied","database":"DATETIME","example":"2016-05-10T00:00:00"},"DateCreated":{"type":"datetime","description":"Charge Back Date - date the charge back took effect","database":"DATETIME","example":"2016-05-10T08:18:57.377"},"EmployeeName":{"type":"string","description":"Charged Back By - name of the employee logged into RQ when the Charge Back was done","database":"VARCHAR (51)","example":"iQmetrix User"},"InvoiceDate":{"type":"datetime","description":"Invoice Date - date of the original sale invoice","database":"DATETIME","example":"2016-03-16T00:00:00"},"InvoiceIDByStore":{"type":"string","description":"Invoice # - invoice number assigned by RQ","database":"VARCHAR (14)","example":"REDSTIN916"},"ProductIdentifier":{"type":"string","description":"Product SKU - the RQ generated SKU","database":"VARCHAR (12)","example":"ASBORB000098"},"ProductName":{"type":"string","description":"Product Name - description of the product as it appears in the inventory","database":"NVARCHAR (MAX)","example":"Apple iPhone 6 Plus 16GB Space Gray - AT&T"},"Quantity":{"type":"integer","description":"Qty - total count of particular charged back SKUs on the charge back invoice","database":"INT","example":"1"},"SaleInvoiceID":{"type":"integer","description":"Identifier for an invoice in RQ","database":"INT","example":"127354"},"SerialNumber":{"type":"string","description":"Tracking # - the tracking number associated with this entry, most frequently the customers mobile number","database":"VARCHAR (100)","example":"123"},"TotalPrice":{"type":"decimal","description":"Total Rebate - original rebate less the return amount","database":"MONEY","example":"699"},"UnitPrice":{"type":"decimal","description":"Unit Rebate - reconciled amount, either the actual original amount or the adjusted from reconciliation amount","database":"MONEY","example":"700"},"VendorName":{"type":"string","description":"Name for a vendor in RQ","database":"NVARCHAR(MAX)","example":""},"VendorSKU":{"type":"string","description":"Vendor SKU","database":"VARCHAR(25)","example":""}}}
                            
                        
                    
                    application/JsonDataTable:
                        
                            
                            example: |
                                [{"CarrierPrice":0,"ChargeBack":-1,"ChargeBackID":25,"ChargeBackIDByStore":"REDSTCB10","DateAdjusted":"2016-05-10T00:00:00","DateCreated":"2016-05-10T08:18:57.377","EmployeeName":"iQmetrix User","InvoiceDate":"2016-03-16T00:00:00","InvoiceIDByStore":"REDSTIN916","ProductIdentifier":"ASBORB000098","ProductName":"Apple iPhone 6 Plus 16GB Space Gray - AT&T","Quantity":1,"SaleInvoiceID":127354,"SerialNumber":"123","TotalPrice":699,"UnitPrice":700,"VendorName":"","VendorSKU":""}]
                            schema: |
                                {"name":"PartialChargeBackHistoryReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"CarrierPrice":{"type":"decimal","description":"Carrier Price - value or revenue that a carrier assigns this feature","database":"DECIMAL","example":"0"},"ChargeBack":{"type":"decimal","description":"Charge Back - amount the carrier is charging back","database":"MONEY","example":"-1"},"ChargeBackID":{"type":"integer","description":"RQ identifier for a Charge Back","database":"INT","example":"25"},"ChargeBackIDByStore":{"type":"string","description":"Charge Back # - charge back invoice number assigned by RQ","database":"VARCHAR (30)","example":"REDSTCB10"},"DateAdjusted":{"type":"datetime","description":"Applied Date - date the charge back was applied","database":"DATETIME","example":"2016-05-10T00:00:00"},"DateCreated":{"type":"datetime","description":"Charge Back Date - date the charge back took effect","database":"DATETIME","example":"2016-05-10T08:18:57.377"},"EmployeeName":{"type":"string","description":"Charged Back By - name of the employee logged into RQ when the Charge Back was done","database":"VARCHAR (51)","example":"iQmetrix User"},"InvoiceDate":{"type":"datetime","description":"Invoice Date - date of the original sale invoice","database":"DATETIME","example":"2016-03-16T00:00:00"},"InvoiceIDByStore":{"type":"string","description":"Invoice # - invoice number assigned by RQ","database":"VARCHAR (14)","example":"REDSTIN916"},"ProductIdentifier":{"type":"string","description":"Product SKU - the RQ generated SKU","database":"VARCHAR (12)","example":"ASBORB000098"},"ProductName":{"type":"string","description":"Product Name - description of the product as it appears in the inventory","database":"NVARCHAR (MAX)","example":"Apple iPhone 6 Plus 16GB Space Gray - AT&T"},"Quantity":{"type":"integer","description":"Qty - total count of particular charged back SKUs on the charge back invoice","database":"INT","example":"1"},"SaleInvoiceID":{"type":"integer","description":"Identifier for an invoice in RQ","database":"INT","example":"127354"},"SerialNumber":{"type":"string","description":"Tracking # - the tracking number associated with this entry, most frequently the customers mobile number","database":"VARCHAR (100)","example":"123"},"TotalPrice":{"type":"decimal","description":"Total Rebate - original rebate less the return amount","database":"MONEY","example":"699"},"UnitPrice":{"type":"decimal","description":"Unit Rebate - reconciled amount, either the actual original amount or the adjusted from reconciliation amount","database":"MONEY","example":"700"},"VendorName":{"type":"string","description":"Name for a vendor in RQ","database":"NVARCHAR(MAX)","example":""},"VendorSKU":{"type":"string","description":"Vendor SKU","database":"VARCHAR(25)","example":""}}}
                            
                        
                    
                    text/xml:
                        
                            
                            example: |
                                [{"CarrierPrice":0,"ChargeBack":-1,"ChargeBackID":25,"ChargeBackIDByStore":"REDSTCB10","DateAdjusted":"2016-05-10T00:00:00","DateCreated":"2016-05-10T08:18:57.377","EmployeeName":"iQmetrix User","InvoiceDate":"2016-03-16T00:00:00","InvoiceIDByStore":"REDSTIN916","ProductIdentifier":"ASBORB000098","ProductName":"Apple iPhone 6 Plus 16GB Space Gray - AT&T","Quantity":1,"SaleInvoiceID":127354,"SerialNumber":"123","TotalPrice":699,"UnitPrice":700,"VendorName":"","VendorSKU":""}]
                            schema: |
                                {"name":"PartialChargeBackHistoryReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"CarrierPrice":{"type":"decimal","description":"Carrier Price - value or revenue that a carrier assigns this feature","database":"DECIMAL","example":"0"},"ChargeBack":{"type":"decimal","description":"Charge Back - amount the carrier is charging back","database":"MONEY","example":"-1"},"ChargeBackID":{"type":"integer","description":"RQ identifier for a Charge Back","database":"INT","example":"25"},"ChargeBackIDByStore":{"type":"string","description":"Charge Back # - charge back invoice number assigned by RQ","database":"VARCHAR (30)","example":"REDSTCB10"},"DateAdjusted":{"type":"datetime","description":"Applied Date - date the charge back was applied","database":"DATETIME","example":"2016-05-10T00:00:00"},"DateCreated":{"type":"datetime","description":"Charge Back Date - date the charge back took effect","database":"DATETIME","example":"2016-05-10T08:18:57.377"},"EmployeeName":{"type":"string","description":"Charged Back By - name of the employee logged into RQ when the Charge Back was done","database":"VARCHAR (51)","example":"iQmetrix User"},"InvoiceDate":{"type":"datetime","description":"Invoice Date - date of the original sale invoice","database":"DATETIME","example":"2016-03-16T00:00:00"},"InvoiceIDByStore":{"type":"string","description":"Invoice # - invoice number assigned by RQ","database":"VARCHAR (14)","example":"REDSTIN916"},"ProductIdentifier":{"type":"string","description":"Product SKU - the RQ generated SKU","database":"VARCHAR (12)","example":"ASBORB000098"},"ProductName":{"type":"string","description":"Product Name - description of the product as it appears in the inventory","database":"NVARCHAR (MAX)","example":"Apple iPhone 6 Plus 16GB Space Gray - AT&T"},"Quantity":{"type":"integer","description":"Qty - total count of particular charged back SKUs on the charge back invoice","database":"INT","example":"1"},"SaleInvoiceID":{"type":"integer","description":"Identifier for an invoice in RQ","database":"INT","example":"127354"},"SerialNumber":{"type":"string","description":"Tracking # - the tracking number associated with this entry, most frequently the customers mobile number","database":"VARCHAR (100)","example":"123"},"TotalPrice":{"type":"decimal","description":"Total Rebate - original rebate less the return amount","database":"MONEY","example":"699"},"UnitPrice":{"type":"decimal","description":"Unit Rebate - reconciled amount, either the actual original amount or the adjusted from reconciliation amount","database":"MONEY","example":"700"},"VendorName":{"type":"string","description":"Name for a vendor in RQ","database":"NVARCHAR(MAX)","example":""},"VendorSKU":{"type":"string","description":"Vendor SKU","database":"VARCHAR(25)","example":""}}}
                            
                        
                    
                    text/XmlDataTable:
                        
                            
                            example: |
                                [{"CarrierPrice":0,"ChargeBack":-1,"ChargeBackID":25,"ChargeBackIDByStore":"REDSTCB10","DateAdjusted":"2016-05-10T00:00:00","DateCreated":"2016-05-10T08:18:57.377","EmployeeName":"iQmetrix User","InvoiceDate":"2016-03-16T00:00:00","InvoiceIDByStore":"REDSTIN916","ProductIdentifier":"ASBORB000098","ProductName":"Apple iPhone 6 Plus 16GB Space Gray - AT&T","Quantity":1,"SaleInvoiceID":127354,"SerialNumber":"123","TotalPrice":699,"UnitPrice":700,"VendorName":"","VendorSKU":""}]
                            schema: |
                                {"name":"PartialChargeBackHistoryReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"CarrierPrice":{"type":"decimal","description":"Carrier Price - value or revenue that a carrier assigns this feature","database":"DECIMAL","example":"0"},"ChargeBack":{"type":"decimal","description":"Charge Back - amount the carrier is charging back","database":"MONEY","example":"-1"},"ChargeBackID":{"type":"integer","description":"RQ identifier for a Charge Back","database":"INT","example":"25"},"ChargeBackIDByStore":{"type":"string","description":"Charge Back # - charge back invoice number assigned by RQ","database":"VARCHAR (30)","example":"REDSTCB10"},"DateAdjusted":{"type":"datetime","description":"Applied Date - date the charge back was applied","database":"DATETIME","example":"2016-05-10T00:00:00"},"DateCreated":{"type":"datetime","description":"Charge Back Date - date the charge back took effect","database":"DATETIME","example":"2016-05-10T08:18:57.377"},"EmployeeName":{"type":"string","description":"Charged Back By - name of the employee logged into RQ when the Charge Back was done","database":"VARCHAR (51)","example":"iQmetrix User"},"InvoiceDate":{"type":"datetime","description":"Invoice Date - date of the original sale invoice","database":"DATETIME","example":"2016-03-16T00:00:00"},"InvoiceIDByStore":{"type":"string","description":"Invoice # - invoice number assigned by RQ","database":"VARCHAR (14)","example":"REDSTIN916"},"ProductIdentifier":{"type":"string","description":"Product SKU - the RQ generated SKU","database":"VARCHAR (12)","example":"ASBORB000098"},"ProductName":{"type":"string","description":"Product Name - description of the product as it appears in the inventory","database":"NVARCHAR (MAX)","example":"Apple iPhone 6 Plus 16GB Space Gray - AT&T"},"Quantity":{"type":"integer","description":"Qty - total count of particular charged back SKUs on the charge back invoice","database":"INT","example":"1"},"SaleInvoiceID":{"type":"integer","description":"Identifier for an invoice in RQ","database":"INT","example":"127354"},"SerialNumber":{"type":"string","description":"Tracking # - the tracking number associated with this entry, most frequently the customers mobile number","database":"VARCHAR (100)","example":"123"},"TotalPrice":{"type":"decimal","description":"Total Rebate - original rebate less the return amount","database":"MONEY","example":"699"},"UnitPrice":{"type":"decimal","description":"Unit Rebate - reconciled amount, either the actual original amount or the adjusted from reconciliation amount","database":"MONEY","example":"700"},"VendorName":{"type":"string","description":"Name for a vendor in RQ","database":"NVARCHAR(MAX)","example":""},"VendorSKU":{"type":"string","description":"Vendor SKU","database":"VARCHAR(25)","example":""}}}
                            
                        
                    
                    text/csv:
                        
                            
                            example: |
                                [{"CarrierPrice":0,"ChargeBack":-1,"ChargeBackID":25,"ChargeBackIDByStore":"REDSTCB10","DateAdjusted":"2016-05-10T00:00:00","DateCreated":"2016-05-10T08:18:57.377","EmployeeName":"iQmetrix User","InvoiceDate":"2016-03-16T00:00:00","InvoiceIDByStore":"REDSTIN916","ProductIdentifier":"ASBORB000098","ProductName":"Apple iPhone 6 Plus 16GB Space Gray - AT&T","Quantity":1,"SaleInvoiceID":127354,"SerialNumber":"123","TotalPrice":699,"UnitPrice":700,"VendorName":"","VendorSKU":""}]
                            schema: |
                                {"name":"PartialChargeBackHistoryReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"CarrierPrice":{"type":"decimal","description":"Carrier Price - value or revenue that a carrier assigns this feature","database":"DECIMAL","example":"0"},"ChargeBack":{"type":"decimal","description":"Charge Back - amount the carrier is charging back","database":"MONEY","example":"-1"},"ChargeBackID":{"type":"integer","description":"RQ identifier for a Charge Back","database":"INT","example":"25"},"ChargeBackIDByStore":{"type":"string","description":"Charge Back # - charge back invoice number assigned by RQ","database":"VARCHAR (30)","example":"REDSTCB10"},"DateAdjusted":{"type":"datetime","description":"Applied Date - date the charge back was applied","database":"DATETIME","example":"2016-05-10T00:00:00"},"DateCreated":{"type":"datetime","description":"Charge Back Date - date the charge back took effect","database":"DATETIME","example":"2016-05-10T08:18:57.377"},"EmployeeName":{"type":"string","description":"Charged Back By - name of the employee logged into RQ when the Charge Back was done","database":"VARCHAR (51)","example":"iQmetrix User"},"InvoiceDate":{"type":"datetime","description":"Invoice Date - date of the original sale invoice","database":"DATETIME","example":"2016-03-16T00:00:00"},"InvoiceIDByStore":{"type":"string","description":"Invoice # - invoice number assigned by RQ","database":"VARCHAR (14)","example":"REDSTIN916"},"ProductIdentifier":{"type":"string","description":"Product SKU - the RQ generated SKU","database":"VARCHAR (12)","example":"ASBORB000098"},"ProductName":{"type":"string","description":"Product Name - description of the product as it appears in the inventory","database":"NVARCHAR (MAX)","example":"Apple iPhone 6 Plus 16GB Space Gray - AT&T"},"Quantity":{"type":"integer","description":"Qty - total count of particular charged back SKUs on the charge back invoice","database":"INT","example":"1"},"SaleInvoiceID":{"type":"integer","description":"Identifier for an invoice in RQ","database":"INT","example":"127354"},"SerialNumber":{"type":"string","description":"Tracking # - the tracking number associated with this entry, most frequently the customers mobile number","database":"VARCHAR (100)","example":"123"},"TotalPrice":{"type":"decimal","description":"Total Rebate - original rebate less the return amount","database":"MONEY","example":"699"},"UnitPrice":{"type":"decimal","description":"Unit Rebate - reconciled amount, either the actual original amount or the adjusted from reconciliation amount","database":"MONEY","example":"700"},"VendorName":{"type":"string","description":"Name for a vendor in RQ","database":"NVARCHAR(MAX)","example":""},"VendorSKU":{"type":"string","description":"Vendor SKU","database":"VARCHAR(25)","example":""}}}
                            
                        
                    
                    application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
                        
                            
                            example: |
                                [{"CarrierPrice":0,"ChargeBack":-1,"ChargeBackID":25,"ChargeBackIDByStore":"REDSTCB10","DateAdjusted":"2016-05-10T00:00:00","DateCreated":"2016-05-10T08:18:57.377","EmployeeName":"iQmetrix User","InvoiceDate":"2016-03-16T00:00:00","InvoiceIDByStore":"REDSTIN916","ProductIdentifier":"ASBORB000098","ProductName":"Apple iPhone 6 Plus 16GB Space Gray - AT&T","Quantity":1,"SaleInvoiceID":127354,"SerialNumber":"123","TotalPrice":699,"UnitPrice":700,"VendorName":"","VendorSKU":""}]
                            schema: |
                                {"name":"PartialChargeBackHistoryReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"CarrierPrice":{"type":"decimal","description":"Carrier Price - value or revenue that a carrier assigns this feature","database":"DECIMAL","example":"0"},"ChargeBack":{"type":"decimal","description":"Charge Back - amount the carrier is charging back","database":"MONEY","example":"-1"},"ChargeBackID":{"type":"integer","description":"RQ identifier for a Charge Back","database":"INT","example":"25"},"ChargeBackIDByStore":{"type":"string","description":"Charge Back # - charge back invoice number assigned by RQ","database":"VARCHAR (30)","example":"REDSTCB10"},"DateAdjusted":{"type":"datetime","description":"Applied Date - date the charge back was applied","database":"DATETIME","example":"2016-05-10T00:00:00"},"DateCreated":{"type":"datetime","description":"Charge Back Date - date the charge back took effect","database":"DATETIME","example":"2016-05-10T08:18:57.377"},"EmployeeName":{"type":"string","description":"Charged Back By - name of the employee logged into RQ when the Charge Back was done","database":"VARCHAR (51)","example":"iQmetrix User"},"InvoiceDate":{"type":"datetime","description":"Invoice Date - date of the original sale invoice","database":"DATETIME","example":"2016-03-16T00:00:00"},"InvoiceIDByStore":{"type":"string","description":"Invoice # - invoice number assigned by RQ","database":"VARCHAR (14)","example":"REDSTIN916"},"ProductIdentifier":{"type":"string","description":"Product SKU - the RQ generated SKU","database":"VARCHAR (12)","example":"ASBORB000098"},"ProductName":{"type":"string","description":"Product Name - description of the product as it appears in the inventory","database":"NVARCHAR (MAX)","example":"Apple iPhone 6 Plus 16GB Space Gray - AT&T"},"Quantity":{"type":"integer","description":"Qty - total count of particular charged back SKUs on the charge back invoice","database":"INT","example":"1"},"SaleInvoiceID":{"type":"integer","description":"Identifier for an invoice in RQ","database":"INT","example":"127354"},"SerialNumber":{"type":"string","description":"Tracking # - the tracking number associated with this entry, most frequently the customers mobile number","database":"VARCHAR (100)","example":"123"},"TotalPrice":{"type":"decimal","description":"Total Rebate - original rebate less the return amount","database":"MONEY","example":"699"},"UnitPrice":{"type":"decimal","description":"Unit Rebate - reconciled amount, either the actual original amount or the adjusted from reconciliation amount","database":"MONEY","example":"700"},"VendorName":{"type":"string","description":"Name for a vendor in RQ","database":"NVARCHAR(MAX)","example":""},"VendorSKU":{"type":"string","description":"Vendor SKU","database":"VARCHAR(25)","example":""}}}
                            
                        
                    
                
            
    

/reports/vendorrebatehistoryreport?StartDate={StartDate}&StopDate={StopDate}&SearchMethod={SearchMethod}&ApplyShowOnInvoice={ApplyShowOnInvoice}&ReconciledStatus={ReconciledStatus}&EmployeeIDOfReconcilers={EmployeeIDOfReconcilers}&VendorAccountID={VendorAccountID}&CategoryNumber={CategoryNumber}&ProductIdentifier={ProductIdentifier}&ForWho={ForWho}&ForWhoIDs={ForWhoIDs}&LocationType={LocationType}&LocationTypeIDs={LocationTypeIDs}&LanguageCode={LanguageCode}&SerialNumber={SerialNumber}&JournalNumber={JournalNumber}&Auth={Auth}&Response={Response}:
    
    uriParameters:
        
        StartDate:
            displayName: StartDate
            type: string
            example: 1969-12-31
            required: true
            description: Date at which report will begin
        
        StopDate:
            displayName: StopDate
            type: string
            example: 2015-12-31
            required: true
            description: Date at which report will end
        
        SearchMethod:
            displayName: SearchMethod
            type: integer
            example: 4
            required: true
            description: Acceptable values include 1 for Vendor Account, 2 for Journal Number, 3 for Reconciled By, 4 for Category, 5 for Tracking Number and 6 for Product SKU
        
        ApplyShowOnInvoice:
            displayName: ApplyShowOnInvoice
            type: integer
            example: 0
            required: true
            description: This value should always be 0
        
        ReconciledStatus:
            displayName: ReconciledStatus
            type: integer
            example: 2
            required: true
            description: Acceptable values include 0 for Unreconciled, 1 for Reconciled and 2 for Any
        
        EmployeeIDOfReconcilers:
            displayName: EmployeeIDOfReconcilers
            type: integer
            example: -1
            required: true
            description: Identifier of an employee who reconciled the rebate. Use -1 for all employees
        
        VendorAccountID:
            displayName: VendorAccountID
            type: integer
            example: -1
            required: true
            description: Identifier of a vendor account. Use -1 for all vendor accounts
        
        CategoryNumber:
            displayName: CategoryNumber
            type: integer
            example: 10
            required: true
            description: Identifier for a <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#categorynumber'>CategoryNumber</a>. For a complete list see <a href="/api/RQ-Data-Connect/#getting-category-numbers">Getting Category Numbers</a>
        
        ForWho:
            displayName: ForWho
            type: integer
            example: 1
            required: false
            description: Identifier for a level at which to perform the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-report-levels-in-rq">Getting Report Levels in RQ</a>. If <strong>LocationType</strong> is provided, this value is ignored
        
        ForWhoIDs:
            displayName: ForWhoIDs
            type: integer
            example: 6679
            required: false
            description: A comma seperated list of identifiers to filter the report. For a list of identifiers, see <a href="/api/RQ-Data-Connect/#getting-nodes-by-location-type">Getting Nodes By Location Type</a>. If <strong>LocationTypeIDs</strong> is provided, this value is ignored. To ignore filtering use -1
        
        LocationType:
            displayName: LocationType
            type: string
            example: Store
            required: false
            description: A <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#locationtype'>LocationType</a> to filter the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-location-types">Getting Location Types</a>. If this value is provided, <strong>ForWho</strong> is ignored
        
        LocationTypeIDs:
            displayName: LocationTypeIDs
            type: string
            example: 1,2
            required: false
            description: A comma seperated list of <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#rqcompanytreenode'>RQCompanyTreeNode</a> identifiers to filter the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-location-ids">Getting Location Ids</a>. To ignore filtering, use -1 or *. If this value is provided, <strong>ForWhoIDs</strong> is ignored
        
        LanguageCode:
            displayName: LanguageCode
            type: string
            example: en-us
            required: false
            description: Language code, defaults to en-us. For a complete list, see <a href='/api/RQ-Data-Connect/#getting-language-codes'>Getting Language Codes</a>
        
        ProductIdentifier:
            displayName: ProductIdentifier
            type: string
            example: ASCLMO000001
            required: false
            description: Product SKU
        
        SerialNumber:
            displayName: SerialNumber
            type: string
            example: 990003427999221
            required: false
            description: Serial Number
        
        JournalNumber:
            displayName: JournalNumber
            type: string
            example: Feb 2015 Spiff
            required: false
            description: Journal number
        
        Auth:
            displayName: Auth
            type: string
            example: vRMt17P8rIBWWbVbLzLWjTNyLfvESgA2yfXhze0WZN7HSIl4slGV866p9dSw
            required: false
            description: Basic token used for authentication. For other methods of authentication, see {{AuthenticationOptions}}
        
        Response:
            displayName: Response
            type: string
            example: xml
            required: false
            description: Default is JSON. For other methods of response, see {{ResponseOptions}}
          
      
    get:
        
        displayName: Getting the Vendor Rebate History Report
                
        
        description: |            
            For more information, see {{support_VendorRebateHistoryReport}}.
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept-Encoding:
                example: gzip
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                [{"ActivationAssociationNumber":2,"ActivationRowID":"0d4652a7-a673-437a-817e-4641961ba3e6","Adjusted":"No","AssociationNumber":3,"CarrierPrice":0,"ChannelName":"English Channel","ChargeBack":"No","Collected":null,"Comments":"","Comments2":"null","ContractNumber":"123456789","CustomerID1":130834,"CustomerName1":"Bob Jones","DateCreated":"2016-01-04T14:33:15.737","DateReconciled":"null","DistrictName":"District B2","EmployeeID":0,"EmployeeID1":218,"EmployeeName":"","EmployeeName1":"iQmetrix User","ExtraField":"1234567890","Flagged":"No","GlobalProductID":812,"InvoiceComments":"","InvoicedAt":"Regina Store","InvoicedAt_StoreID":1,"InvoicedBy":"Regina Store","InvoicedBy_StoreID":1,"InvoiceIDByStore":"HJKIIIN2","InvoiceRowID":"db8f28cf-5017-47f4-9ccf-b90cff32185d","JournalNumber":"","OriginalSaleDate":"null","OriginalSaleInvoiceID":null,"OriginalSaleInvoiceIDByStore":"null","PartialCB":0,"PortNumber":"","Postal_code":"56789","ProductIdentifier":"ACVZRB000001","ProductName":"Verizon New Act_EquipmentRebate","ProductRowID":"27be5c76-b0ba-4a34-ba7d-fa34aba0ab9c","Quantity":1,"RatePlan":"Act $9.99 to $20.98","RatePlan2":"","Reconciled":"No","RegionID":9,"RegionName":"Region B","RelatedCost":404,"RelatedPrice":69.99,"RelatedProduct":"Samsung Galaxy S4","RelatedProductSerialNumbers":"ACVZCB0026","RelatedProductSKU":"ACVZCB000244","SaleInvoiceID":126526,"SerialNumber":"123000000000000","SocCode":"123000000000000","SocCode2":"","SpecialIdentifier":"1","SpecialIdentifier1":"","TermCode":"","TotalPrice":0,"UnitPrice":0,"VendorAccountName":"Verizon 2","VendorName":"Verizon","VendorNumber":"","VendorSKU":""}]
                            schema: |
                                {"name":"VendorRebateHistoryReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"ActivationAssociationNumber":{"type":"integer","description":"Every product that is part of the same activation from the Phone Activation Wizard will have the same ActivationAssociationNumber.","database":"INT","example":"2"},"ActivationRowID":{"type":"guid","description":"Identifier in RQ","database":"UNIQUEIDENTIFIER","example":"0d4652a7-a673-437a-817e-4641961ba3e6"},"Adjusted":{"type":"string","description":"Adjusted - indicates if the rebate was adjusted","database":"VARCHAR(3)","example":"No"},"AssociationNumber":{"type":"integer","description":"When adding products with PAW all associated products from the sale have the same association number tied together, this value increments based on how many sales are made on that order","database":"SMALLINT","example":"3"},"CarrierPrice":{"type":"decimal","description":"Carrier Price - value or revenue that a carrier assigns this feature","database":"MONEY","example":"0"},"ChannelName":{"type":"string","description":"Channel - channel for the rows location","database":"VARCHAR(100)","example":"English Channel"},"ChargeBack":{"type":"datetime","description":"Charge Back - Yes or No column for if it is a Charge Back or not","database":"DATETIME","example":"No"},"Collected":{"type":"decimal","description":"Collected - amount received from the carrier","database":"MONEY","example":"null"},"Comments":{"type":"string","description":"Comments - any comments that were added as part of the reconciliation process","database":"VARCHAR(500)","example":""},"Comments2":{"type":"string","description":"Comments2 - any comments that were added as part of the reconciliation process","database":"VARCHAR(500)","example":"null"},"ContractNumber":{"type":"string","description":"Contract # - number of the contract, recorded at the time of sale","database":"VARCHAR(50)","example":"123456789"},"CustomerID1":{"type":"integer","description":"Customer Identifier - customer identifier as entered on the customers profile","database":"INT","example":"130834"},"CustomerName1":{"type":"string","description":"Customer - name of the customer as entered on their profile","database":"VARCHAR(101)","example":"Bob Jones"},"DateCreated":{"type":"datetime","description":"Sold On - date and time the invoice was tendered","database":"DATETIME","example":"2016-01-04T14:33:15.737"},"DateReconciled":{"type":"datetime","description":"Reconciled On - date and time the rebate was reconciled","database":"DATETIME","example":"null"},"DistrictName":{"type":"string","description":"District - district for the rows location","database":"VARCHAR(100)","example":"District B2"},"EmployeeID":{"type":"integer","description":"Internal identifier for an employee in RQ, see EmployeeName","database":"INT","example":"0"},"EmployeeID1":{"type":"integer","description":"Internal identifier for an employee in RQ, see EmployeeName1","database":"INT","example":"218"},"EmployeeName":{"type":"string","description":"Reconciled By - name of the employee logged in when the rebate was reconciled","database":"VARCHAR(51)","example":""},"EmployeeName1":{"type":"string","description":"Sales Person - name of the employee of record for the sale, i.e. the employee whose name is in the Commission box","database":"VARCHAR(51)","example":"iQmetrix User"},"ExtraField":{"type":"string","description":"Extra Field - an optional field","database":"VARCHAR(30)","example":"1234567890"},"Flagged":{"type":"string","description":"Flagged - flagged in the Vendor Rebate Reconciliation screen","database":"VARCHAR(3)","example":"No"},"GlobalProductID":{"type":"integer","description":"Identifier for a Product in RQ","database":"INT","example":"812"},"InvoiceComments":{"type":"string","description":"Comments","database":"VARCHAR(50)","example":""},"InvoicedAt":{"type":"string","description":"Invoiced At - name of the location which takes the inventory on a refund, usually the same as Invoiced By but will be different if a second location process a refund","database":"VARCHAR(100)","example":"Regina Store"},"InvoicedAt_StoreID":{"type":"integer","description":"Internal identifier for a store in RQ","database":"INT","example":"1"},"InvoicedBy":{"type":"string","description":"Invoiced By - name of the location which credited with the sale, usually the same as Invoiced At but will be different if a second location process a refund","database":"VARCHAR(100)","example":"Regina Store"},"InvoicedBy_StoreID":{"type":"integer","description":"Internal identifier for a store in RQ","database":"INT","example":"1"},"InvoiceIDByStore":{"type":"string","description":"Invoice # - invoice number assigned by RQ","database":"VARCHAR(14)","example":"HJKIIIN2"},"InvoiceRowID":{"type":"guid","description":"Internal identifier in RQ","database":"UNIQUEIDENTIFIER","example":"db8f28cf-5017-47f4-9ccf-b90cff32185d"},"JournalNumber":{"type":"string","description":"Journal # - vendor account journal on which the rebate was reconciled","database":"VARCHAR(20)","example":""},"OriginalSaleDate":{"type":"datetime","description":"Original Sales Date - date of the original sale","database":"DATETIME","example":"null"},"OriginalSaleInvoiceID":{"type":"integer","description":"Internal identifier in RQ","database":"INT","example":"null"},"OriginalSaleInvoiceIDByStore":{"type":"string","description":"Original Invoice - invoice number of the original transaction","database":"VARCHAR(14)","example":"null"},"PartialCB":{"type":"decimal","description":"Partial CB - amount the carrier is charging back","database":"MONEY","example":"0"},"PortNumber":{"type":"string","description":"Port Number - if entered in transaction","database":"VARCHAR(30)","example":""},"Postal_code":{"type":"string","description":"Zip/Postal Code - zip code (USA) or postal code (Canada)","database":"VARCHAR(15)","example":"56789"},"ProductIdentifier":{"type":"string","description":"Product SKU - RQ generated SKU","database":"VARCHAR(12)","example":"ACVZRB000001"},"ProductName":{"type":"string","description":"Product Name - description of the product as it appears in the inventory","database":"VARCHAR(100)","example":"Verizon New Act_EquipmentRebate"},"ProductRowID":{"type":"guid","description":"Internal identifier in RQ","database":"UNIQUEIDENTIFIER","example":"27be5c76-b0ba-4a34-ba7d-fa34aba0ab9c"},"Quantity":{"type":"integer","description":"Qty - total quantity of this product SKU on the invoice","database":"INT","example":"1"},"RatePlan":{"type":"string","description":"Rate Plan - name of the rate plan","database":"VARCHAR(100)","example":"Act $9.99 to $20.98"},"RatePlan2":{"type":"string","description":"Rate Plan 2 - second rate plan if necessary","database":"VARCHAR(100)","example":""},"Reconciled":{"type":"string","description":"Reconciled - has been marked as reconciled in the Vendor Rebate Reconciliation screen","database":"VARCHAR(3)","example":"No"},"RegionID":{"type":"integer","description":"Identifier for a region in RQ","database":"INT","example":"9"},"RegionName":{"type":"string","description":"Region - region for the rows location","database":"VARCHAR(100)","example":"Region B"},"RelatedCost":{"type":"decimal","description":"Related Cost - purchase cost for the product associated with this rebate","database":"MONEY","example":"404"},"RelatedPrice":{"type":"decimal","description":"Related Price - price the customer paid for the product related to this rebate","database":"MONEY","example":"69.99"},"RelatedProduct":{"type":"string","description":"Related Product - product associated with this rebate","database":"VARCHAR(100)","example":"Samsung Galaxy S4"},"RelatedProductSerialNumbers":{"type":"string","description":"Related SN - serial number associated with this rebate, if any","database":"VARCHAR(1000)","example":"ACVZCB0026"},"RelatedProductSKU":{"type":"string","description":"Related SKU - product SKU of the product associated with this rebate","database":"VARCHAR(12)","example":"ACVZCB000244"},"SaleInvoiceID":{"type":"integer","description":"Internal identifier in RQ","database":"INT","example":"126526"},"SerialNumber":{"type":"string","description":"Tracking # - tracking number associated with this entry","database":"VARCHAR(100)","example":"123000000000000"},"SocCode":{"type":"string","description":"SOC Code - SOC Code if one was used","database":"VARCHAR(50)","example":"123000000000000"},"SocCode2":{"type":"string","description":"SOC Code2 - Second SOC Code if used","database":"VARCHAR(50)","example":""},"SpecialIdentifier":{"type":"string","description":"Sales Person ID - ID number assigned to this sales person and recorded on the Admin tab of their Employee Profile","database":"VARCHAR(25)","example":"1"},"SpecialIdentifier1":{"type":"string","description":"Internal identifier in RQ","database":"VARCHAR (25)","example":""},"TermCode":{"type":"string","description":"Term Code - [may not show in your database] indicates new activation, upgrade, etc.","database":"VARCHAR(200)","example":""},"TotalPrice":{"type":"decimal","description":"Total Rebate - total value of the rebate on this invoice calculated as Qty X Unit Rebate","database":"MONEY","example":"0"},"UnitPrice":{"type":"decimal","description":"Unit Rebate - dollar value of this rebate","database":"MONEY","example":"0"},"VendorAccountName":{"type":"string","description":"Vendor Account Name - vendor account for this rebate","database":"VARCHAR(100)","example":"Verizon 2"},"VendorName":{"type":"string","description":"Vendor name in RQ","database":"NVARCHAR(MAX)","example":"Verizon"},"VendorNumber":{"type":"string","description":"Vendor # - vendor account number entered for Vendor # By Location [if used]","database":"NVARCHAR(3)","example":""},"VendorSKU":{"type":"string","description":"Vendor SKU","database":"VARCHAR(25)","example":""}}}
                            
                        
                    
                    application/JsonDataTable:
                        
                            
                            example: |
                                [{"ActivationAssociationNumber":2,"ActivationRowID":"0d4652a7-a673-437a-817e-4641961ba3e6","Adjusted":"No","AssociationNumber":3,"CarrierPrice":0,"ChannelName":"English Channel","ChargeBack":"No","Collected":null,"Comments":"","Comments2":"null","ContractNumber":"123456789","CustomerID1":130834,"CustomerName1":"Bob Jones","DateCreated":"2016-01-04T14:33:15.737","DateReconciled":"null","DistrictName":"District B2","EmployeeID":0,"EmployeeID1":218,"EmployeeName":"","EmployeeName1":"iQmetrix User","ExtraField":"1234567890","Flagged":"No","GlobalProductID":812,"InvoiceComments":"","InvoicedAt":"Regina Store","InvoicedAt_StoreID":1,"InvoicedBy":"Regina Store","InvoicedBy_StoreID":1,"InvoiceIDByStore":"HJKIIIN2","InvoiceRowID":"db8f28cf-5017-47f4-9ccf-b90cff32185d","JournalNumber":"","OriginalSaleDate":"null","OriginalSaleInvoiceID":null,"OriginalSaleInvoiceIDByStore":"null","PartialCB":0,"PortNumber":"","Postal_code":"56789","ProductIdentifier":"ACVZRB000001","ProductName":"Verizon New Act_EquipmentRebate","ProductRowID":"27be5c76-b0ba-4a34-ba7d-fa34aba0ab9c","Quantity":1,"RatePlan":"Act $9.99 to $20.98","RatePlan2":"","Reconciled":"No","RegionID":9,"RegionName":"Region B","RelatedCost":404,"RelatedPrice":69.99,"RelatedProduct":"Samsung Galaxy S4","RelatedProductSerialNumbers":"ACVZCB0026","RelatedProductSKU":"ACVZCB000244","SaleInvoiceID":126526,"SerialNumber":"123000000000000","SocCode":"123000000000000","SocCode2":"","SpecialIdentifier":"1","SpecialIdentifier1":"","TermCode":"","TotalPrice":0,"UnitPrice":0,"VendorAccountName":"Verizon 2","VendorName":"Verizon","VendorNumber":"","VendorSKU":""}]
                            schema: |
                                {"name":"VendorRebateHistoryReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"ActivationAssociationNumber":{"type":"integer","description":"Every product that is part of the same activation from the Phone Activation Wizard will have the same ActivationAssociationNumber.","database":"INT","example":"2"},"ActivationRowID":{"type":"guid","description":"Identifier in RQ","database":"UNIQUEIDENTIFIER","example":"0d4652a7-a673-437a-817e-4641961ba3e6"},"Adjusted":{"type":"string","description":"Adjusted - indicates if the rebate was adjusted","database":"VARCHAR(3)","example":"No"},"AssociationNumber":{"type":"integer","description":"When adding products with PAW all associated products from the sale have the same association number tied together, this value increments based on how many sales are made on that order","database":"SMALLINT","example":"3"},"CarrierPrice":{"type":"decimal","description":"Carrier Price - value or revenue that a carrier assigns this feature","database":"MONEY","example":"0"},"ChannelName":{"type":"string","description":"Channel - channel for the rows location","database":"VARCHAR(100)","example":"English Channel"},"ChargeBack":{"type":"datetime","description":"Charge Back - Yes or No column for if it is a Charge Back or not","database":"DATETIME","example":"No"},"Collected":{"type":"decimal","description":"Collected - amount received from the carrier","database":"MONEY","example":"null"},"Comments":{"type":"string","description":"Comments - any comments that were added as part of the reconciliation process","database":"VARCHAR(500)","example":""},"Comments2":{"type":"string","description":"Comments2 - any comments that were added as part of the reconciliation process","database":"VARCHAR(500)","example":"null"},"ContractNumber":{"type":"string","description":"Contract # - number of the contract, recorded at the time of sale","database":"VARCHAR(50)","example":"123456789"},"CustomerID1":{"type":"integer","description":"Customer Identifier - customer identifier as entered on the customers profile","database":"INT","example":"130834"},"CustomerName1":{"type":"string","description":"Customer - name of the customer as entered on their profile","database":"VARCHAR(101)","example":"Bob Jones"},"DateCreated":{"type":"datetime","description":"Sold On - date and time the invoice was tendered","database":"DATETIME","example":"2016-01-04T14:33:15.737"},"DateReconciled":{"type":"datetime","description":"Reconciled On - date and time the rebate was reconciled","database":"DATETIME","example":"null"},"DistrictName":{"type":"string","description":"District - district for the rows location","database":"VARCHAR(100)","example":"District B2"},"EmployeeID":{"type":"integer","description":"Internal identifier for an employee in RQ, see EmployeeName","database":"INT","example":"0"},"EmployeeID1":{"type":"integer","description":"Internal identifier for an employee in RQ, see EmployeeName1","database":"INT","example":"218"},"EmployeeName":{"type":"string","description":"Reconciled By - name of the employee logged in when the rebate was reconciled","database":"VARCHAR(51)","example":""},"EmployeeName1":{"type":"string","description":"Sales Person - name of the employee of record for the sale, i.e. the employee whose name is in the Commission box","database":"VARCHAR(51)","example":"iQmetrix User"},"ExtraField":{"type":"string","description":"Extra Field - an optional field","database":"VARCHAR(30)","example":"1234567890"},"Flagged":{"type":"string","description":"Flagged - flagged in the Vendor Rebate Reconciliation screen","database":"VARCHAR(3)","example":"No"},"GlobalProductID":{"type":"integer","description":"Identifier for a Product in RQ","database":"INT","example":"812"},"InvoiceComments":{"type":"string","description":"Comments","database":"VARCHAR(50)","example":""},"InvoicedAt":{"type":"string","description":"Invoiced At - name of the location which takes the inventory on a refund, usually the same as Invoiced By but will be different if a second location process a refund","database":"VARCHAR(100)","example":"Regina Store"},"InvoicedAt_StoreID":{"type":"integer","description":"Internal identifier for a store in RQ","database":"INT","example":"1"},"InvoicedBy":{"type":"string","description":"Invoiced By - name of the location which credited with the sale, usually the same as Invoiced At but will be different if a second location process a refund","database":"VARCHAR(100)","example":"Regina Store"},"InvoicedBy_StoreID":{"type":"integer","description":"Internal identifier for a store in RQ","database":"INT","example":"1"},"InvoiceIDByStore":{"type":"string","description":"Invoice # - invoice number assigned by RQ","database":"VARCHAR(14)","example":"HJKIIIN2"},"InvoiceRowID":{"type":"guid","description":"Internal identifier in RQ","database":"UNIQUEIDENTIFIER","example":"db8f28cf-5017-47f4-9ccf-b90cff32185d"},"JournalNumber":{"type":"string","description":"Journal # - vendor account journal on which the rebate was reconciled","database":"VARCHAR(20)","example":""},"OriginalSaleDate":{"type":"datetime","description":"Original Sales Date - date of the original sale","database":"DATETIME","example":"null"},"OriginalSaleInvoiceID":{"type":"integer","description":"Internal identifier in RQ","database":"INT","example":"null"},"OriginalSaleInvoiceIDByStore":{"type":"string","description":"Original Invoice - invoice number of the original transaction","database":"VARCHAR(14)","example":"null"},"PartialCB":{"type":"decimal","description":"Partial CB - amount the carrier is charging back","database":"MONEY","example":"0"},"PortNumber":{"type":"string","description":"Port Number - if entered in transaction","database":"VARCHAR(30)","example":""},"Postal_code":{"type":"string","description":"Zip/Postal Code - zip code (USA) or postal code (Canada)","database":"VARCHAR(15)","example":"56789"},"ProductIdentifier":{"type":"string","description":"Product SKU - RQ generated SKU","database":"VARCHAR(12)","example":"ACVZRB000001"},"ProductName":{"type":"string","description":"Product Name - description of the product as it appears in the inventory","database":"VARCHAR(100)","example":"Verizon New Act_EquipmentRebate"},"ProductRowID":{"type":"guid","description":"Internal identifier in RQ","database":"UNIQUEIDENTIFIER","example":"27be5c76-b0ba-4a34-ba7d-fa34aba0ab9c"},"Quantity":{"type":"integer","description":"Qty - total quantity of this product SKU on the invoice","database":"INT","example":"1"},"RatePlan":{"type":"string","description":"Rate Plan - name of the rate plan","database":"VARCHAR(100)","example":"Act $9.99 to $20.98"},"RatePlan2":{"type":"string","description":"Rate Plan 2 - second rate plan if necessary","database":"VARCHAR(100)","example":""},"Reconciled":{"type":"string","description":"Reconciled - has been marked as reconciled in the Vendor Rebate Reconciliation screen","database":"VARCHAR(3)","example":"No"},"RegionID":{"type":"integer","description":"Identifier for a region in RQ","database":"INT","example":"9"},"RegionName":{"type":"string","description":"Region - region for the rows location","database":"VARCHAR(100)","example":"Region B"},"RelatedCost":{"type":"decimal","description":"Related Cost - purchase cost for the product associated with this rebate","database":"MONEY","example":"404"},"RelatedPrice":{"type":"decimal","description":"Related Price - price the customer paid for the product related to this rebate","database":"MONEY","example":"69.99"},"RelatedProduct":{"type":"string","description":"Related Product - product associated with this rebate","database":"VARCHAR(100)","example":"Samsung Galaxy S4"},"RelatedProductSerialNumbers":{"type":"string","description":"Related SN - serial number associated with this rebate, if any","database":"VARCHAR(1000)","example":"ACVZCB0026"},"RelatedProductSKU":{"type":"string","description":"Related SKU - product SKU of the product associated with this rebate","database":"VARCHAR(12)","example":"ACVZCB000244"},"SaleInvoiceID":{"type":"integer","description":"Internal identifier in RQ","database":"INT","example":"126526"},"SerialNumber":{"type":"string","description":"Tracking # - tracking number associated with this entry","database":"VARCHAR(100)","example":"123000000000000"},"SocCode":{"type":"string","description":"SOC Code - SOC Code if one was used","database":"VARCHAR(50)","example":"123000000000000"},"SocCode2":{"type":"string","description":"SOC Code2 - Second SOC Code if used","database":"VARCHAR(50)","example":""},"SpecialIdentifier":{"type":"string","description":"Sales Person ID - ID number assigned to this sales person and recorded on the Admin tab of their Employee Profile","database":"VARCHAR(25)","example":"1"},"SpecialIdentifier1":{"type":"string","description":"Internal identifier in RQ","database":"VARCHAR (25)","example":""},"TermCode":{"type":"string","description":"Term Code - [may not show in your database] indicates new activation, upgrade, etc.","database":"VARCHAR(200)","example":""},"TotalPrice":{"type":"decimal","description":"Total Rebate - total value of the rebate on this invoice calculated as Qty X Unit Rebate","database":"MONEY","example":"0"},"UnitPrice":{"type":"decimal","description":"Unit Rebate - dollar value of this rebate","database":"MONEY","example":"0"},"VendorAccountName":{"type":"string","description":"Vendor Account Name - vendor account for this rebate","database":"VARCHAR(100)","example":"Verizon 2"},"VendorName":{"type":"string","description":"Vendor name in RQ","database":"NVARCHAR(MAX)","example":"Verizon"},"VendorNumber":{"type":"string","description":"Vendor # - vendor account number entered for Vendor # By Location [if used]","database":"NVARCHAR(3)","example":""},"VendorSKU":{"type":"string","description":"Vendor SKU","database":"VARCHAR(25)","example":""}}}
                            
                        
                    
                    text/xml:
                        
                            
                            example: |
                                [{"ActivationAssociationNumber":2,"ActivationRowID":"0d4652a7-a673-437a-817e-4641961ba3e6","Adjusted":"No","AssociationNumber":3,"CarrierPrice":0,"ChannelName":"English Channel","ChargeBack":"No","Collected":null,"Comments":"","Comments2":"null","ContractNumber":"123456789","CustomerID1":130834,"CustomerName1":"Bob Jones","DateCreated":"2016-01-04T14:33:15.737","DateReconciled":"null","DistrictName":"District B2","EmployeeID":0,"EmployeeID1":218,"EmployeeName":"","EmployeeName1":"iQmetrix User","ExtraField":"1234567890","Flagged":"No","GlobalProductID":812,"InvoiceComments":"","InvoicedAt":"Regina Store","InvoicedAt_StoreID":1,"InvoicedBy":"Regina Store","InvoicedBy_StoreID":1,"InvoiceIDByStore":"HJKIIIN2","InvoiceRowID":"db8f28cf-5017-47f4-9ccf-b90cff32185d","JournalNumber":"","OriginalSaleDate":"null","OriginalSaleInvoiceID":null,"OriginalSaleInvoiceIDByStore":"null","PartialCB":0,"PortNumber":"","Postal_code":"56789","ProductIdentifier":"ACVZRB000001","ProductName":"Verizon New Act_EquipmentRebate","ProductRowID":"27be5c76-b0ba-4a34-ba7d-fa34aba0ab9c","Quantity":1,"RatePlan":"Act $9.99 to $20.98","RatePlan2":"","Reconciled":"No","RegionID":9,"RegionName":"Region B","RelatedCost":404,"RelatedPrice":69.99,"RelatedProduct":"Samsung Galaxy S4","RelatedProductSerialNumbers":"ACVZCB0026","RelatedProductSKU":"ACVZCB000244","SaleInvoiceID":126526,"SerialNumber":"123000000000000","SocCode":"123000000000000","SocCode2":"","SpecialIdentifier":"1","SpecialIdentifier1":"","TermCode":"","TotalPrice":0,"UnitPrice":0,"VendorAccountName":"Verizon 2","VendorName":"Verizon","VendorNumber":"","VendorSKU":""}]
                            schema: |
                                {"name":"VendorRebateHistoryReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"ActivationAssociationNumber":{"type":"integer","description":"Every product that is part of the same activation from the Phone Activation Wizard will have the same ActivationAssociationNumber.","database":"INT","example":"2"},"ActivationRowID":{"type":"guid","description":"Identifier in RQ","database":"UNIQUEIDENTIFIER","example":"0d4652a7-a673-437a-817e-4641961ba3e6"},"Adjusted":{"type":"string","description":"Adjusted - indicates if the rebate was adjusted","database":"VARCHAR(3)","example":"No"},"AssociationNumber":{"type":"integer","description":"When adding products with PAW all associated products from the sale have the same association number tied together, this value increments based on how many sales are made on that order","database":"SMALLINT","example":"3"},"CarrierPrice":{"type":"decimal","description":"Carrier Price - value or revenue that a carrier assigns this feature","database":"MONEY","example":"0"},"ChannelName":{"type":"string","description":"Channel - channel for the rows location","database":"VARCHAR(100)","example":"English Channel"},"ChargeBack":{"type":"datetime","description":"Charge Back - Yes or No column for if it is a Charge Back or not","database":"DATETIME","example":"No"},"Collected":{"type":"decimal","description":"Collected - amount received from the carrier","database":"MONEY","example":"null"},"Comments":{"type":"string","description":"Comments - any comments that were added as part of the reconciliation process","database":"VARCHAR(500)","example":""},"Comments2":{"type":"string","description":"Comments2 - any comments that were added as part of the reconciliation process","database":"VARCHAR(500)","example":"null"},"ContractNumber":{"type":"string","description":"Contract # - number of the contract, recorded at the time of sale","database":"VARCHAR(50)","example":"123456789"},"CustomerID1":{"type":"integer","description":"Customer Identifier - customer identifier as entered on the customers profile","database":"INT","example":"130834"},"CustomerName1":{"type":"string","description":"Customer - name of the customer as entered on their profile","database":"VARCHAR(101)","example":"Bob Jones"},"DateCreated":{"type":"datetime","description":"Sold On - date and time the invoice was tendered","database":"DATETIME","example":"2016-01-04T14:33:15.737"},"DateReconciled":{"type":"datetime","description":"Reconciled On - date and time the rebate was reconciled","database":"DATETIME","example":"null"},"DistrictName":{"type":"string","description":"District - district for the rows location","database":"VARCHAR(100)","example":"District B2"},"EmployeeID":{"type":"integer","description":"Internal identifier for an employee in RQ, see EmployeeName","database":"INT","example":"0"},"EmployeeID1":{"type":"integer","description":"Internal identifier for an employee in RQ, see EmployeeName1","database":"INT","example":"218"},"EmployeeName":{"type":"string","description":"Reconciled By - name of the employee logged in when the rebate was reconciled","database":"VARCHAR(51)","example":""},"EmployeeName1":{"type":"string","description":"Sales Person - name of the employee of record for the sale, i.e. the employee whose name is in the Commission box","database":"VARCHAR(51)","example":"iQmetrix User"},"ExtraField":{"type":"string","description":"Extra Field - an optional field","database":"VARCHAR(30)","example":"1234567890"},"Flagged":{"type":"string","description":"Flagged - flagged in the Vendor Rebate Reconciliation screen","database":"VARCHAR(3)","example":"No"},"GlobalProductID":{"type":"integer","description":"Identifier for a Product in RQ","database":"INT","example":"812"},"InvoiceComments":{"type":"string","description":"Comments","database":"VARCHAR(50)","example":""},"InvoicedAt":{"type":"string","description":"Invoiced At - name of the location which takes the inventory on a refund, usually the same as Invoiced By but will be different if a second location process a refund","database":"VARCHAR(100)","example":"Regina Store"},"InvoicedAt_StoreID":{"type":"integer","description":"Internal identifier for a store in RQ","database":"INT","example":"1"},"InvoicedBy":{"type":"string","description":"Invoiced By - name of the location which credited with the sale, usually the same as Invoiced At but will be different if a second location process a refund","database":"VARCHAR(100)","example":"Regina Store"},"InvoicedBy_StoreID":{"type":"integer","description":"Internal identifier for a store in RQ","database":"INT","example":"1"},"InvoiceIDByStore":{"type":"string","description":"Invoice # - invoice number assigned by RQ","database":"VARCHAR(14)","example":"HJKIIIN2"},"InvoiceRowID":{"type":"guid","description":"Internal identifier in RQ","database":"UNIQUEIDENTIFIER","example":"db8f28cf-5017-47f4-9ccf-b90cff32185d"},"JournalNumber":{"type":"string","description":"Journal # - vendor account journal on which the rebate was reconciled","database":"VARCHAR(20)","example":""},"OriginalSaleDate":{"type":"datetime","description":"Original Sales Date - date of the original sale","database":"DATETIME","example":"null"},"OriginalSaleInvoiceID":{"type":"integer","description":"Internal identifier in RQ","database":"INT","example":"null"},"OriginalSaleInvoiceIDByStore":{"type":"string","description":"Original Invoice - invoice number of the original transaction","database":"VARCHAR(14)","example":"null"},"PartialCB":{"type":"decimal","description":"Partial CB - amount the carrier is charging back","database":"MONEY","example":"0"},"PortNumber":{"type":"string","description":"Port Number - if entered in transaction","database":"VARCHAR(30)","example":""},"Postal_code":{"type":"string","description":"Zip/Postal Code - zip code (USA) or postal code (Canada)","database":"VARCHAR(15)","example":"56789"},"ProductIdentifier":{"type":"string","description":"Product SKU - RQ generated SKU","database":"VARCHAR(12)","example":"ACVZRB000001"},"ProductName":{"type":"string","description":"Product Name - description of the product as it appears in the inventory","database":"VARCHAR(100)","example":"Verizon New Act_EquipmentRebate"},"ProductRowID":{"type":"guid","description":"Internal identifier in RQ","database":"UNIQUEIDENTIFIER","example":"27be5c76-b0ba-4a34-ba7d-fa34aba0ab9c"},"Quantity":{"type":"integer","description":"Qty - total quantity of this product SKU on the invoice","database":"INT","example":"1"},"RatePlan":{"type":"string","description":"Rate Plan - name of the rate plan","database":"VARCHAR(100)","example":"Act $9.99 to $20.98"},"RatePlan2":{"type":"string","description":"Rate Plan 2 - second rate plan if necessary","database":"VARCHAR(100)","example":""},"Reconciled":{"type":"string","description":"Reconciled - has been marked as reconciled in the Vendor Rebate Reconciliation screen","database":"VARCHAR(3)","example":"No"},"RegionID":{"type":"integer","description":"Identifier for a region in RQ","database":"INT","example":"9"},"RegionName":{"type":"string","description":"Region - region for the rows location","database":"VARCHAR(100)","example":"Region B"},"RelatedCost":{"type":"decimal","description":"Related Cost - purchase cost for the product associated with this rebate","database":"MONEY","example":"404"},"RelatedPrice":{"type":"decimal","description":"Related Price - price the customer paid for the product related to this rebate","database":"MONEY","example":"69.99"},"RelatedProduct":{"type":"string","description":"Related Product - product associated with this rebate","database":"VARCHAR(100)","example":"Samsung Galaxy S4"},"RelatedProductSerialNumbers":{"type":"string","description":"Related SN - serial number associated with this rebate, if any","database":"VARCHAR(1000)","example":"ACVZCB0026"},"RelatedProductSKU":{"type":"string","description":"Related SKU - product SKU of the product associated with this rebate","database":"VARCHAR(12)","example":"ACVZCB000244"},"SaleInvoiceID":{"type":"integer","description":"Internal identifier in RQ","database":"INT","example":"126526"},"SerialNumber":{"type":"string","description":"Tracking # - tracking number associated with this entry","database":"VARCHAR(100)","example":"123000000000000"},"SocCode":{"type":"string","description":"SOC Code - SOC Code if one was used","database":"VARCHAR(50)","example":"123000000000000"},"SocCode2":{"type":"string","description":"SOC Code2 - Second SOC Code if used","database":"VARCHAR(50)","example":""},"SpecialIdentifier":{"type":"string","description":"Sales Person ID - ID number assigned to this sales person and recorded on the Admin tab of their Employee Profile","database":"VARCHAR(25)","example":"1"},"SpecialIdentifier1":{"type":"string","description":"Internal identifier in RQ","database":"VARCHAR (25)","example":""},"TermCode":{"type":"string","description":"Term Code - [may not show in your database] indicates new activation, upgrade, etc.","database":"VARCHAR(200)","example":""},"TotalPrice":{"type":"decimal","description":"Total Rebate - total value of the rebate on this invoice calculated as Qty X Unit Rebate","database":"MONEY","example":"0"},"UnitPrice":{"type":"decimal","description":"Unit Rebate - dollar value of this rebate","database":"MONEY","example":"0"},"VendorAccountName":{"type":"string","description":"Vendor Account Name - vendor account for this rebate","database":"VARCHAR(100)","example":"Verizon 2"},"VendorName":{"type":"string","description":"Vendor name in RQ","database":"NVARCHAR(MAX)","example":"Verizon"},"VendorNumber":{"type":"string","description":"Vendor # - vendor account number entered for Vendor # By Location [if used]","database":"NVARCHAR(3)","example":""},"VendorSKU":{"type":"string","description":"Vendor SKU","database":"VARCHAR(25)","example":""}}}
                            
                        
                    
                    text/XmlDataTable:
                        
                            
                            example: |
                                [{"ActivationAssociationNumber":2,"ActivationRowID":"0d4652a7-a673-437a-817e-4641961ba3e6","Adjusted":"No","AssociationNumber":3,"CarrierPrice":0,"ChannelName":"English Channel","ChargeBack":"No","Collected":null,"Comments":"","Comments2":"null","ContractNumber":"123456789","CustomerID1":130834,"CustomerName1":"Bob Jones","DateCreated":"2016-01-04T14:33:15.737","DateReconciled":"null","DistrictName":"District B2","EmployeeID":0,"EmployeeID1":218,"EmployeeName":"","EmployeeName1":"iQmetrix User","ExtraField":"1234567890","Flagged":"No","GlobalProductID":812,"InvoiceComments":"","InvoicedAt":"Regina Store","InvoicedAt_StoreID":1,"InvoicedBy":"Regina Store","InvoicedBy_StoreID":1,"InvoiceIDByStore":"HJKIIIN2","InvoiceRowID":"db8f28cf-5017-47f4-9ccf-b90cff32185d","JournalNumber":"","OriginalSaleDate":"null","OriginalSaleInvoiceID":null,"OriginalSaleInvoiceIDByStore":"null","PartialCB":0,"PortNumber":"","Postal_code":"56789","ProductIdentifier":"ACVZRB000001","ProductName":"Verizon New Act_EquipmentRebate","ProductRowID":"27be5c76-b0ba-4a34-ba7d-fa34aba0ab9c","Quantity":1,"RatePlan":"Act $9.99 to $20.98","RatePlan2":"","Reconciled":"No","RegionID":9,"RegionName":"Region B","RelatedCost":404,"RelatedPrice":69.99,"RelatedProduct":"Samsung Galaxy S4","RelatedProductSerialNumbers":"ACVZCB0026","RelatedProductSKU":"ACVZCB000244","SaleInvoiceID":126526,"SerialNumber":"123000000000000","SocCode":"123000000000000","SocCode2":"","SpecialIdentifier":"1","SpecialIdentifier1":"","TermCode":"","TotalPrice":0,"UnitPrice":0,"VendorAccountName":"Verizon 2","VendorName":"Verizon","VendorNumber":"","VendorSKU":""}]
                            schema: |
                                {"name":"VendorRebateHistoryReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"ActivationAssociationNumber":{"type":"integer","description":"Every product that is part of the same activation from the Phone Activation Wizard will have the same ActivationAssociationNumber.","database":"INT","example":"2"},"ActivationRowID":{"type":"guid","description":"Identifier in RQ","database":"UNIQUEIDENTIFIER","example":"0d4652a7-a673-437a-817e-4641961ba3e6"},"Adjusted":{"type":"string","description":"Adjusted - indicates if the rebate was adjusted","database":"VARCHAR(3)","example":"No"},"AssociationNumber":{"type":"integer","description":"When adding products with PAW all associated products from the sale have the same association number tied together, this value increments based on how many sales are made on that order","database":"SMALLINT","example":"3"},"CarrierPrice":{"type":"decimal","description":"Carrier Price - value or revenue that a carrier assigns this feature","database":"MONEY","example":"0"},"ChannelName":{"type":"string","description":"Channel - channel for the rows location","database":"VARCHAR(100)","example":"English Channel"},"ChargeBack":{"type":"datetime","description":"Charge Back - Yes or No column for if it is a Charge Back or not","database":"DATETIME","example":"No"},"Collected":{"type":"decimal","description":"Collected - amount received from the carrier","database":"MONEY","example":"null"},"Comments":{"type":"string","description":"Comments - any comments that were added as part of the reconciliation process","database":"VARCHAR(500)","example":""},"Comments2":{"type":"string","description":"Comments2 - any comments that were added as part of the reconciliation process","database":"VARCHAR(500)","example":"null"},"ContractNumber":{"type":"string","description":"Contract # - number of the contract, recorded at the time of sale","database":"VARCHAR(50)","example":"123456789"},"CustomerID1":{"type":"integer","description":"Customer Identifier - customer identifier as entered on the customers profile","database":"INT","example":"130834"},"CustomerName1":{"type":"string","description":"Customer - name of the customer as entered on their profile","database":"VARCHAR(101)","example":"Bob Jones"},"DateCreated":{"type":"datetime","description":"Sold On - date and time the invoice was tendered","database":"DATETIME","example":"2016-01-04T14:33:15.737"},"DateReconciled":{"type":"datetime","description":"Reconciled On - date and time the rebate was reconciled","database":"DATETIME","example":"null"},"DistrictName":{"type":"string","description":"District - district for the rows location","database":"VARCHAR(100)","example":"District B2"},"EmployeeID":{"type":"integer","description":"Internal identifier for an employee in RQ, see EmployeeName","database":"INT","example":"0"},"EmployeeID1":{"type":"integer","description":"Internal identifier for an employee in RQ, see EmployeeName1","database":"INT","example":"218"},"EmployeeName":{"type":"string","description":"Reconciled By - name of the employee logged in when the rebate was reconciled","database":"VARCHAR(51)","example":""},"EmployeeName1":{"type":"string","description":"Sales Person - name of the employee of record for the sale, i.e. the employee whose name is in the Commission box","database":"VARCHAR(51)","example":"iQmetrix User"},"ExtraField":{"type":"string","description":"Extra Field - an optional field","database":"VARCHAR(30)","example":"1234567890"},"Flagged":{"type":"string","description":"Flagged - flagged in the Vendor Rebate Reconciliation screen","database":"VARCHAR(3)","example":"No"},"GlobalProductID":{"type":"integer","description":"Identifier for a Product in RQ","database":"INT","example":"812"},"InvoiceComments":{"type":"string","description":"Comments","database":"VARCHAR(50)","example":""},"InvoicedAt":{"type":"string","description":"Invoiced At - name of the location which takes the inventory on a refund, usually the same as Invoiced By but will be different if a second location process a refund","database":"VARCHAR(100)","example":"Regina Store"},"InvoicedAt_StoreID":{"type":"integer","description":"Internal identifier for a store in RQ","database":"INT","example":"1"},"InvoicedBy":{"type":"string","description":"Invoiced By - name of the location which credited with the sale, usually the same as Invoiced At but will be different if a second location process a refund","database":"VARCHAR(100)","example":"Regina Store"},"InvoicedBy_StoreID":{"type":"integer","description":"Internal identifier for a store in RQ","database":"INT","example":"1"},"InvoiceIDByStore":{"type":"string","description":"Invoice # - invoice number assigned by RQ","database":"VARCHAR(14)","example":"HJKIIIN2"},"InvoiceRowID":{"type":"guid","description":"Internal identifier in RQ","database":"UNIQUEIDENTIFIER","example":"db8f28cf-5017-47f4-9ccf-b90cff32185d"},"JournalNumber":{"type":"string","description":"Journal # - vendor account journal on which the rebate was reconciled","database":"VARCHAR(20)","example":""},"OriginalSaleDate":{"type":"datetime","description":"Original Sales Date - date of the original sale","database":"DATETIME","example":"null"},"OriginalSaleInvoiceID":{"type":"integer","description":"Internal identifier in RQ","database":"INT","example":"null"},"OriginalSaleInvoiceIDByStore":{"type":"string","description":"Original Invoice - invoice number of the original transaction","database":"VARCHAR(14)","example":"null"},"PartialCB":{"type":"decimal","description":"Partial CB - amount the carrier is charging back","database":"MONEY","example":"0"},"PortNumber":{"type":"string","description":"Port Number - if entered in transaction","database":"VARCHAR(30)","example":""},"Postal_code":{"type":"string","description":"Zip/Postal Code - zip code (USA) or postal code (Canada)","database":"VARCHAR(15)","example":"56789"},"ProductIdentifier":{"type":"string","description":"Product SKU - RQ generated SKU","database":"VARCHAR(12)","example":"ACVZRB000001"},"ProductName":{"type":"string","description":"Product Name - description of the product as it appears in the inventory","database":"VARCHAR(100)","example":"Verizon New Act_EquipmentRebate"},"ProductRowID":{"type":"guid","description":"Internal identifier in RQ","database":"UNIQUEIDENTIFIER","example":"27be5c76-b0ba-4a34-ba7d-fa34aba0ab9c"},"Quantity":{"type":"integer","description":"Qty - total quantity of this product SKU on the invoice","database":"INT","example":"1"},"RatePlan":{"type":"string","description":"Rate Plan - name of the rate plan","database":"VARCHAR(100)","example":"Act $9.99 to $20.98"},"RatePlan2":{"type":"string","description":"Rate Plan 2 - second rate plan if necessary","database":"VARCHAR(100)","example":""},"Reconciled":{"type":"string","description":"Reconciled - has been marked as reconciled in the Vendor Rebate Reconciliation screen","database":"VARCHAR(3)","example":"No"},"RegionID":{"type":"integer","description":"Identifier for a region in RQ","database":"INT","example":"9"},"RegionName":{"type":"string","description":"Region - region for the rows location","database":"VARCHAR(100)","example":"Region B"},"RelatedCost":{"type":"decimal","description":"Related Cost - purchase cost for the product associated with this rebate","database":"MONEY","example":"404"},"RelatedPrice":{"type":"decimal","description":"Related Price - price the customer paid for the product related to this rebate","database":"MONEY","example":"69.99"},"RelatedProduct":{"type":"string","description":"Related Product - product associated with this rebate","database":"VARCHAR(100)","example":"Samsung Galaxy S4"},"RelatedProductSerialNumbers":{"type":"string","description":"Related SN - serial number associated with this rebate, if any","database":"VARCHAR(1000)","example":"ACVZCB0026"},"RelatedProductSKU":{"type":"string","description":"Related SKU - product SKU of the product associated with this rebate","database":"VARCHAR(12)","example":"ACVZCB000244"},"SaleInvoiceID":{"type":"integer","description":"Internal identifier in RQ","database":"INT","example":"126526"},"SerialNumber":{"type":"string","description":"Tracking # - tracking number associated with this entry","database":"VARCHAR(100)","example":"123000000000000"},"SocCode":{"type":"string","description":"SOC Code - SOC Code if one was used","database":"VARCHAR(50)","example":"123000000000000"},"SocCode2":{"type":"string","description":"SOC Code2 - Second SOC Code if used","database":"VARCHAR(50)","example":""},"SpecialIdentifier":{"type":"string","description":"Sales Person ID - ID number assigned to this sales person and recorded on the Admin tab of their Employee Profile","database":"VARCHAR(25)","example":"1"},"SpecialIdentifier1":{"type":"string","description":"Internal identifier in RQ","database":"VARCHAR (25)","example":""},"TermCode":{"type":"string","description":"Term Code - [may not show in your database] indicates new activation, upgrade, etc.","database":"VARCHAR(200)","example":""},"TotalPrice":{"type":"decimal","description":"Total Rebate - total value of the rebate on this invoice calculated as Qty X Unit Rebate","database":"MONEY","example":"0"},"UnitPrice":{"type":"decimal","description":"Unit Rebate - dollar value of this rebate","database":"MONEY","example":"0"},"VendorAccountName":{"type":"string","description":"Vendor Account Name - vendor account for this rebate","database":"VARCHAR(100)","example":"Verizon 2"},"VendorName":{"type":"string","description":"Vendor name in RQ","database":"NVARCHAR(MAX)","example":"Verizon"},"VendorNumber":{"type":"string","description":"Vendor # - vendor account number entered for Vendor # By Location [if used]","database":"NVARCHAR(3)","example":""},"VendorSKU":{"type":"string","description":"Vendor SKU","database":"VARCHAR(25)","example":""}}}
                            
                        
                    
                    text/csv:
                        
                            
                            example: |
                                [{"ActivationAssociationNumber":2,"ActivationRowID":"0d4652a7-a673-437a-817e-4641961ba3e6","Adjusted":"No","AssociationNumber":3,"CarrierPrice":0,"ChannelName":"English Channel","ChargeBack":"No","Collected":null,"Comments":"","Comments2":"null","ContractNumber":"123456789","CustomerID1":130834,"CustomerName1":"Bob Jones","DateCreated":"2016-01-04T14:33:15.737","DateReconciled":"null","DistrictName":"District B2","EmployeeID":0,"EmployeeID1":218,"EmployeeName":"","EmployeeName1":"iQmetrix User","ExtraField":"1234567890","Flagged":"No","GlobalProductID":812,"InvoiceComments":"","InvoicedAt":"Regina Store","InvoicedAt_StoreID":1,"InvoicedBy":"Regina Store","InvoicedBy_StoreID":1,"InvoiceIDByStore":"HJKIIIN2","InvoiceRowID":"db8f28cf-5017-47f4-9ccf-b90cff32185d","JournalNumber":"","OriginalSaleDate":"null","OriginalSaleInvoiceID":null,"OriginalSaleInvoiceIDByStore":"null","PartialCB":0,"PortNumber":"","Postal_code":"56789","ProductIdentifier":"ACVZRB000001","ProductName":"Verizon New Act_EquipmentRebate","ProductRowID":"27be5c76-b0ba-4a34-ba7d-fa34aba0ab9c","Quantity":1,"RatePlan":"Act $9.99 to $20.98","RatePlan2":"","Reconciled":"No","RegionID":9,"RegionName":"Region B","RelatedCost":404,"RelatedPrice":69.99,"RelatedProduct":"Samsung Galaxy S4","RelatedProductSerialNumbers":"ACVZCB0026","RelatedProductSKU":"ACVZCB000244","SaleInvoiceID":126526,"SerialNumber":"123000000000000","SocCode":"123000000000000","SocCode2":"","SpecialIdentifier":"1","SpecialIdentifier1":"","TermCode":"","TotalPrice":0,"UnitPrice":0,"VendorAccountName":"Verizon 2","VendorName":"Verizon","VendorNumber":"","VendorSKU":""}]
                            schema: |
                                {"name":"VendorRebateHistoryReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"ActivationAssociationNumber":{"type":"integer","description":"Every product that is part of the same activation from the Phone Activation Wizard will have the same ActivationAssociationNumber.","database":"INT","example":"2"},"ActivationRowID":{"type":"guid","description":"Identifier in RQ","database":"UNIQUEIDENTIFIER","example":"0d4652a7-a673-437a-817e-4641961ba3e6"},"Adjusted":{"type":"string","description":"Adjusted - indicates if the rebate was adjusted","database":"VARCHAR(3)","example":"No"},"AssociationNumber":{"type":"integer","description":"When adding products with PAW all associated products from the sale have the same association number tied together, this value increments based on how many sales are made on that order","database":"SMALLINT","example":"3"},"CarrierPrice":{"type":"decimal","description":"Carrier Price - value or revenue that a carrier assigns this feature","database":"MONEY","example":"0"},"ChannelName":{"type":"string","description":"Channel - channel for the rows location","database":"VARCHAR(100)","example":"English Channel"},"ChargeBack":{"type":"datetime","description":"Charge Back - Yes or No column for if it is a Charge Back or not","database":"DATETIME","example":"No"},"Collected":{"type":"decimal","description":"Collected - amount received from the carrier","database":"MONEY","example":"null"},"Comments":{"type":"string","description":"Comments - any comments that were added as part of the reconciliation process","database":"VARCHAR(500)","example":""},"Comments2":{"type":"string","description":"Comments2 - any comments that were added as part of the reconciliation process","database":"VARCHAR(500)","example":"null"},"ContractNumber":{"type":"string","description":"Contract # - number of the contract, recorded at the time of sale","database":"VARCHAR(50)","example":"123456789"},"CustomerID1":{"type":"integer","description":"Customer Identifier - customer identifier as entered on the customers profile","database":"INT","example":"130834"},"CustomerName1":{"type":"string","description":"Customer - name of the customer as entered on their profile","database":"VARCHAR(101)","example":"Bob Jones"},"DateCreated":{"type":"datetime","description":"Sold On - date and time the invoice was tendered","database":"DATETIME","example":"2016-01-04T14:33:15.737"},"DateReconciled":{"type":"datetime","description":"Reconciled On - date and time the rebate was reconciled","database":"DATETIME","example":"null"},"DistrictName":{"type":"string","description":"District - district for the rows location","database":"VARCHAR(100)","example":"District B2"},"EmployeeID":{"type":"integer","description":"Internal identifier for an employee in RQ, see EmployeeName","database":"INT","example":"0"},"EmployeeID1":{"type":"integer","description":"Internal identifier for an employee in RQ, see EmployeeName1","database":"INT","example":"218"},"EmployeeName":{"type":"string","description":"Reconciled By - name of the employee logged in when the rebate was reconciled","database":"VARCHAR(51)","example":""},"EmployeeName1":{"type":"string","description":"Sales Person - name of the employee of record for the sale, i.e. the employee whose name is in the Commission box","database":"VARCHAR(51)","example":"iQmetrix User"},"ExtraField":{"type":"string","description":"Extra Field - an optional field","database":"VARCHAR(30)","example":"1234567890"},"Flagged":{"type":"string","description":"Flagged - flagged in the Vendor Rebate Reconciliation screen","database":"VARCHAR(3)","example":"No"},"GlobalProductID":{"type":"integer","description":"Identifier for a Product in RQ","database":"INT","example":"812"},"InvoiceComments":
[...]
