#%RAML 0.8
title: RQ Data Connect Employee Reports
baseUri: https://rqdataconnectdemo.iqmetrix.net
schemas: 

    
    - AutoPunchOutReportData: |
        {
            "type": "array",
            "name": "AutoPunchOutReportData",
            "$schema": "http://json-schema.org/draft-03/schema",
            "description": "",
            "properties": { 
              "EmployeeID": { "type": "integer", "database": "INT", "example": "250", "description": "Internal identifier for an employee in RQ" },  
              "Abbreviation": { "type": "string", "database": "VARCHAR(5)", "example": "84WEA", "description": "Abbreviation - abbreviation for the location" },  
              "StoreName": { "type": "string", "database": "NVARCHAR(MAX)", "example": "84 West", "description": "Location - location where the auto punch was performed" },  
              "FirstName": { "type": "string", "database": "VARCHAR(25)", "example": "iQmetrix", "description": "First Name - first name of the employee" },  
              "LastName": { "type": "string", "database": "VARCHAR(25)", "example": "Employee", "description": "Last Name - last name of the employee" },  
              "PunchInTime": { "type": "datetime", "database": "DATETIME", "example": "2015-07-02T12:15:02.45", "description": "Punch In - date and time the employee punched in" },  
              "PunchOutTime": { "type": "datetime", "database": "DATETIME", "example": "2015-07-10T13:49:47.457", "description": "Punch Out - if there is a date and time it will be a revised value and it will be blank if the software auto punched out for the employee" },  
              "PunchInComments": { "type": "string", "database": "VARCHAR(100)", "example": "", "description": "Punch In Comments - any employee comments" }  
            }  
          }
        

    

    
    - EmployeeListReportData: |
        {
          "name": "EmployeeListReportData",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Address": {  "type": "string", "database": "VARCHAR(50)", "description": "Address - employee's address", "example": "127 starlight lane" },
            "Cellular_Number": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "Cell Phone # - employee's cell phone number", "example": "5555555555" },
            "City": {  "type": "string", "database": "VARCHAR(50)", "description": "City - employee's city", "example": "Fargo" },
            "DefaultLocation": {  "type": "integer", "database": "INT", "description": "Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value", "example": "null" },
            "DefaultZoneForWho": {  "type": "integer", "database": "TINYINT", "description": "Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value", "example": "null" },
            "Email": {  "type": "string", "database": "VARCHAR(50)", "description": "Email Address - employee's work email address", "example": "sams@kentel.com" },
            "EmailAddress": {  "type": "string", "database": "VARCHAR(50)", "description": "Email ", "example": "sams@kentel.com" },
            "Employee_Name": {  "type": "string", "database": "VARCHAR(51)", "description": "Employee - name of the employee as entered on their employee profile", "example": "Sam Smith" },
            "ID_Number": {  "type": "integer", "database": "INT", "description": "Internal identifier for employee in RQ", "example": "59" },
            "IsPartTime": {  "type": "boolean", "database": "BIT", "description": "Part Time - indicates if an employee is Part Time", "example": "false" },
            "Last_Name": {  "type": "string", "database": "VARCHAR(25)", "description": "Employee last name", "example": "Smith" },
            "LastHireDate": {  "type": "string", "database": "VARCHAR(50)", "description": "Hire Date - day and date the employee was hired", "example": "2015-07-03T22:31:05.403" },
            "Location": {  "type": "string", "database": "VARCHAR(51)", "description": "Location - Only present if Unique is not -1. Every location the employee is assigned to", "example": "100: My Network LLC - Anchorage" },
            "PersonalEmail": {  "type": "string", "database": "VARCHAR(50)", "description": "Personal Email - employee's personal email address", "example": "sam@yopmail.com" },
            "Postal_Code": {  "type": "string", "database": "VARCHAR(15)", "description": "Zip/Postal Code - zip code (USA) or postal code (Canada)", "example": "90123" },
            "Province": {  "type": "string", "database": "VARCHAR(50)", "description": "Province - employee's province or state", "example": "ND" },
            "RoleDescription": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "Security Role - security role assigned to this employee", "example": "Sales Representative" },
            "ScheduledTerminationDate": {  "type": "datetime", "database": "DATETIME", "description": "Scheduled termination date", "example": "2015-11-22T08:00:00.000" },
            "SMS_Number": {  "type": "string", "database": "VARCHAR(50)", "description": "SMS # - employee's text number", "example": "5555555555@yopmail.com" },
            "SpecialIdentifier": {  "type": "string", "database": "VARCHAR(25)", "description": "ID # - ID number assigned when hired", "example": "912345987654321" },
            "StartDate": {  "type": "datetime", "database": "DATETIME", "description": "Start Date", "example": "2010-11-22T10:06:35.133" },
            "Status": {  "type": "string", "database": "VARCHAR(8)", "description": "Status - shows if the employee is enabled or disabled if Any Status is selected", "example": "Enabled" },
            "TerminationDate": {  "type": "datetime", "database": "DATETIME", "description": "Termination Date - date of termination (date the employee was disabled)", "example": "2015-11-22T08:00:25.345" },
            "Title": {  "type": "string", "database": "VARCHAR(50)", "description": "Title - title assigned to this employee", "example": "Wireless Consultant" },
            "Username": {  "type": "string", "database": "VARCHAR(25)", "description": "Username - username of the employee as entered on their employee profile", "example": "Sam.Smith" },
            "Work_Number": {  "type": "datetime", "database": "DATETIME", "description": "Work Phone # - employee's work number", "example": "5555555555" }
          }
        }
        

    

    
    - TimeAndAttendanceReportData: |
        {
          "name": "TimeAndAttendanceReportData",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "DoubleOTClockedMinutes": {  "type": "integer", "database": "INT", "description": "Double OT Clocked - total of double overtime hours calculated, calculated using decimal time rather than hours:minutes", "example": "0" },
            "DoubleOTScheduleMinutes": {  "type": "integer", "database": "INT", "description": "Double OT Scheduled - total of double overtime hours scheduled, calculated using decimal time rather than hours:minutes", "example": "0" },
            "EmployeeCompensationType": {  "type": "string", "database": "VARCHAR(50)", "description": "Compensation - type of compensation for the employee", "example": "3" },
            "EmployeeGroup": {  "type": "string", "database": "VARCHAR(50)", "description": "Commission - type of commission for the employee", "example": "100% (35% GP)" },
            "EmployeeID": {  "type": "integer", "database": "INT", "description": "Identifier for an Employee in RQ", "example": "186" },
            "EmployeeLastName": {  "type": "string", "database": "VARCHAR(25)", "description": "Employee last name", "example": "Smith" },
            "EmployeeName": {  "type": "string", "database": "VARCHAR(51)", "description": "Employee - any employee who was scheduled to work or punched in within in the report's criteria", "example": "Brooke Smith" },
            "EmployeeUsername": {  "type": "string", "database": "VARCHAR(51)", "description": "Username - username of the employee who was scheduled to work or punched in within in the report's criteria", "example": "Brooke.Smith" },
            "IsPartTime": {  "type": "string", "database": "VARCHAR(50)", "description": "Part Time - a check box indicating if an employee is Part Time", "example": "0" },
            "ManagerVerified": {  "type": "integer", "database": "TINYINT", "description": "Internal flag used in RQ", "example": "0" },
            "OTClockedMinutes": {  "type": "integer", "database": "INT", "description": "Overtime Clocked - total of overtime hours clocked, calculated using decimal time rather than hours:minutes", "example": "0" },
            "OTScheduleMinutes": {  "type": "integer", "database": "INT", "description": "Overtime Scheduled - total of overtime hours scheduled, calculated using decimal time rather than hours:minutes", "example": "105" },
            "PartTimeVacationEarned": {  "type": "decimal", "database": "DECIMAL", "description": "PT Vacation Earned - total amount of part time vacation earned, calculated using decimal time rather than hours:minutes", "example": "0" },
            "PersonalUsedHours": {  "type": "decimal", "database": "DECIMAL", "description": "Personal Used - total amount of personal days used, calculated using decimal time rather than hours:minutes", "example": "0" },
            "PT_DoubleOTVacationEarned": {  "type": "decimal", "database": "DECIMAL", "description": "Double OT Vacation - total amount of Double OT vacation earned, calculated using decimal time rather than hours:minutes", "example": "0" },
            "PT_OTVacationEarned": {  "type": "decimal", "database": "DECIMAL", "description": "OT Vacation Earned - total amount of OT vacation earned, calculated using decimal time rather than hours:minutes", "example": "0" },
            "SickUsedHours": {  "type": "decimal", "database": "DECIMAL", "description": "Sick Used - total amount of sick time used, calculated using decimal time rather than hours:minutes", "example": "0" },
            "SpecialIdentifier": {  "type": "string", "database": "VARCHAR(25)", "description": "ID # - ID number assigned when hired", "example": "912345987654321" },
            "SupervisorName": {  "type": "string", "database": "VARCHAR(51)", "description": "Supervisor - name of the employee's supervisor", "example": "Bob Roberts" },
            "SupervisorUsername": {  "type": "string", "database": "VARCHAR(51)", "description": "Supervisor Username - username of the name of the employee's supervisor", "example": "Bob.Roberts" },
            "ThresholdConflict": {  "type": "integer", "database": "INT", "description": "A flag to indicate if the employee is working in multiple locations that have different work weeks or OT parameters, highlighted in red in the report", "example": "0" },
            "Title": {  "type": "string", "database": "VARCHAR(50)", "description": "Title - title assigned to this employee", "example": "Store Clerk" },
            "TotalClockedMinutes": {  "type": "integer", "database": "INT", "description": "Total Clocked - total of all hours clocked, calculated using decimal time rather than hours:minutes", "example": "0" },
            "TotalScheduleMinutes": {  "type": "integer", "database": "INT", "description": "Total Scheduled - total of all hours scheduled, calculated using decimal time rather than hours:minutes", "example": "105" },
            "VacationUsedHours": {  "type": "decimal", "database": "DECIMAL", "description": "Vacation Used - total of amount of vacation used, calculated using decimal time rather than hours:minutes", "example": "0" }
          }
        }      
        

    


/reports/AutoPunchOutReport?StartDate={StartDate}&StopDate={StopDate}&ForWho={ForWho}&ForWhoIDs={ForWhoIDs}&LocationType={LocationType}&LocationTypeIDs={LocationTypeIDs}&LanguageCode={LanguageCode}&Auth={Auth}&Response={Response}:
    
    uriParameters:
        
        StartDate:
            displayName: StartDate
            type: string
            example: 1969-12-31
            required: true
            description: Date at which report will begin
        
        StopDate:
            displayName: StopDate
            type: string
            example: 2015-12-31
            required: true
            description: Date at which report will end
        
        ForWho:
            displayName: ForWho
            type: integer
            example: 4
            required: false
            description: Identifier for a level at which to perform the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-report-levels-in-rq">Getting Report Levels in RQ</a>. If <strong>LocationType</strong> is provided, this value is ignored
        
        ForWhoIDs:
            displayName: ForWhoIDs
            type: integer
            example: 1
            required: false
            description: A comma seperated list of identifiers to filter the report. For a list of identifiers, see <a href="/api/RQ-Data-Connect/#getting-nodes-by-location-type">Getting Nodes By Location Type</a>. If <strong>LocationTypeIDs</strong> is provided, this value is ignored. To ignore filtering use -1
        
        LocationType:
            displayName: LocationType
            type: string
            example: Store
            required: false
            description: A <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#locationtype'>LocationType</a> to filter the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-location-types">Getting Location Types</a>. If this value is provided, <strong>ForWho</strong> is ignored
        
        LocationTypeIDs:
            displayName: LocationTypeIDs
            type: string
            example: 1,2
            required: false
            description: A comma seperated list of <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#rqcompanytreenode'>RQCompanyTreeNode</a> identifiers to filter the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-location-ids">Getting Location Ids</a>. To ignore filtering, use -1 or *. If this value is provided, <strong>ForWhoIDs</strong> is ignored
        
        LanguageCode:
            displayName: LanguageCode
            type: string
            example: en-us
            required: false
            description: Language code, defaults to en-us. For a complete list, see <a href='/api/RQ-Data-Connect/#getting-language-codes'>Getting Language Codes</a>
        
        Auth:
            displayName: Auth
            type: string
            example: vRMt17P8rIBWWbVbLzLWjTNyLfvESgA2yfXhze0WZN7HSIl4slGV866p9dSw
            required: false
            description: Basic token used for authentication. For other methods of authentication, see {{AuthenticationOptions}}
        
        Response:
            displayName: Response
            type: string
            example: xml
            required: false
            description: Default is JSON. For other methods of response, see {{ResponseOptions}}
          
      
    get:
        
        displayName: Getting the Auto Punch Out Report
                
        
        description: |            
            For more information see {{support_AutoPunchOutReport}}.
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept-Encoding:
                example: gzip
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                [{"EmployeeID":250,"Abbreviation":"84WEA","StoreName":"84 West","FirstName":"iQmetrix","LastName":"Employee","PunchInTime":"2015-07-02T12:15:02.45","PunchOutTime":"2015-07-10T13:49:47.457","PunchInComments":""}]
                            schema: |
                                {"type":"array","name":"AutoPunchOutReportData","$schema":"http://json-schema.org/draft-03/schema","description":"","properties":{"EmployeeID":{"type":"integer","database":"INT","example":"250","description":"Internal identifier for an employee in RQ"},"Abbreviation":{"type":"string","database":"VARCHAR(5)","example":"84WEA","description":"Abbreviation - abbreviation for the location"},"StoreName":{"type":"string","database":"NVARCHAR(MAX)","example":"84 West","description":"Location - location where the auto punch was performed"},"FirstName":{"type":"string","database":"VARCHAR(25)","example":"iQmetrix","description":"First Name - first name of the employee"},"LastName":{"type":"string","database":"VARCHAR(25)","example":"Employee","description":"Last Name - last name of the employee"},"PunchInTime":{"type":"datetime","database":"DATETIME","example":"2015-07-02T12:15:02.45","description":"Punch In - date and time the employee punched in"},"PunchOutTime":{"type":"datetime","database":"DATETIME","example":"2015-07-10T13:49:47.457","description":"Punch Out - if there is a date and time it will be a revised value and it will be blank if the software auto punched out for the employee"},"PunchInComments":{"type":"string","database":"VARCHAR(100)","example":"","description":"Punch In Comments - any employee comments"}}}
                            
                        
                    
                    application/JsonDataTable:
                        
                            
                            example: |
                                [{"EmployeeID":250,"Abbreviation":"84WEA","StoreName":"84 West","FirstName":"iQmetrix","LastName":"Employee","PunchInTime":"2015-07-02T12:15:02.45","PunchOutTime":"2015-07-10T13:49:47.457","PunchInComments":""}]
                            schema: |
                                {"type":"array","name":"AutoPunchOutReportData","$schema":"http://json-schema.org/draft-03/schema","description":"","properties":{"EmployeeID":{"type":"integer","database":"INT","example":"250","description":"Internal identifier for an employee in RQ"},"Abbreviation":{"type":"string","database":"VARCHAR(5)","example":"84WEA","description":"Abbreviation - abbreviation for the location"},"StoreName":{"type":"string","database":"NVARCHAR(MAX)","example":"84 West","description":"Location - location where the auto punch was performed"},"FirstName":{"type":"string","database":"VARCHAR(25)","example":"iQmetrix","description":"First Name - first name of the employee"},"LastName":{"type":"string","database":"VARCHAR(25)","example":"Employee","description":"Last Name - last name of the employee"},"PunchInTime":{"type":"datetime","database":"DATETIME","example":"2015-07-02T12:15:02.45","description":"Punch In - date and time the employee punched in"},"PunchOutTime":{"type":"datetime","database":"DATETIME","example":"2015-07-10T13:49:47.457","description":"Punch Out - if there is a date and time it will be a revised value and it will be blank if the software auto punched out for the employee"},"PunchInComments":{"type":"string","database":"VARCHAR(100)","example":"","description":"Punch In Comments - any employee comments"}}}
                            
                        
                    
                    text/xml:
                        
                            
                            example: |
                                [{"EmployeeID":250,"Abbreviation":"84WEA","StoreName":"84 West","FirstName":"iQmetrix","LastName":"Employee","PunchInTime":"2015-07-02T12:15:02.45","PunchOutTime":"2015-07-10T13:49:47.457","PunchInComments":""}]
                            schema: |
                                {"type":"array","name":"AutoPunchOutReportData","$schema":"http://json-schema.org/draft-03/schema","description":"","properties":{"EmployeeID":{"type":"integer","database":"INT","example":"250","description":"Internal identifier for an employee in RQ"},"Abbreviation":{"type":"string","database":"VARCHAR(5)","example":"84WEA","description":"Abbreviation - abbreviation for the location"},"StoreName":{"type":"string","database":"NVARCHAR(MAX)","example":"84 West","description":"Location - location where the auto punch was performed"},"FirstName":{"type":"string","database":"VARCHAR(25)","example":"iQmetrix","description":"First Name - first name of the employee"},"LastName":{"type":"string","database":"VARCHAR(25)","example":"Employee","description":"Last Name - last name of the employee"},"PunchInTime":{"type":"datetime","database":"DATETIME","example":"2015-07-02T12:15:02.45","description":"Punch In - date and time the employee punched in"},"PunchOutTime":{"type":"datetime","database":"DATETIME","example":"2015-07-10T13:49:47.457","description":"Punch Out - if there is a date and time it will be a revised value and it will be blank if the software auto punched out for the employee"},"PunchInComments":{"type":"string","database":"VARCHAR(100)","example":"","description":"Punch In Comments - any employee comments"}}}
                            
                        
                    
                    text/XmlDataTable:
                        
                            
                            example: |
                                [{"EmployeeID":250,"Abbreviation":"84WEA","StoreName":"84 West","FirstName":"iQmetrix","LastName":"Employee","PunchInTime":"2015-07-02T12:15:02.45","PunchOutTime":"2015-07-10T13:49:47.457","PunchInComments":""}]
                            schema: |
                                {"type":"array","name":"AutoPunchOutReportData","$schema":"http://json-schema.org/draft-03/schema","description":"","properties":{"EmployeeID":{"type":"integer","database":"INT","example":"250","description":"Internal identifier for an employee in RQ"},"Abbreviation":{"type":"string","database":"VARCHAR(5)","example":"84WEA","description":"Abbreviation - abbreviation for the location"},"StoreName":{"type":"string","database":"NVARCHAR(MAX)","example":"84 West","description":"Location - location where the auto punch was performed"},"FirstName":{"type":"string","database":"VARCHAR(25)","example":"iQmetrix","description":"First Name - first name of the employee"},"LastName":{"type":"string","database":"VARCHAR(25)","example":"Employee","description":"Last Name - last name of the employee"},"PunchInTime":{"type":"datetime","database":"DATETIME","example":"2015-07-02T12:15:02.45","description":"Punch In - date and time the employee punched in"},"PunchOutTime":{"type":"datetime","database":"DATETIME","example":"2015-07-10T13:49:47.457","description":"Punch Out - if there is a date and time it will be a revised value and it will be blank if the software auto punched out for the employee"},"PunchInComments":{"type":"string","database":"VARCHAR(100)","example":"","description":"Punch In Comments - any employee comments"}}}
                            
                        
                    
                    text/csv:
                        
                            
                            example: |
                                [{"EmployeeID":250,"Abbreviation":"84WEA","StoreName":"84 West","FirstName":"iQmetrix","LastName":"Employee","PunchInTime":"2015-07-02T12:15:02.45","PunchOutTime":"2015-07-10T13:49:47.457","PunchInComments":""}]
                            schema: |
                                {"type":"array","name":"AutoPunchOutReportData","$schema":"http://json-schema.org/draft-03/schema","description":"","properties":{"EmployeeID":{"type":"integer","database":"INT","example":"250","description":"Internal identifier for an employee in RQ"},"Abbreviation":{"type":"string","database":"VARCHAR(5)","example":"84WEA","description":"Abbreviation - abbreviation for the location"},"StoreName":{"type":"string","database":"NVARCHAR(MAX)","example":"84 West","description":"Location - location where the auto punch was performed"},"FirstName":{"type":"string","database":"VARCHAR(25)","example":"iQmetrix","description":"First Name - first name of the employee"},"LastName":{"type":"string","database":"VARCHAR(25)","example":"Employee","description":"Last Name - last name of the employee"},"PunchInTime":{"type":"datetime","database":"DATETIME","example":"2015-07-02T12:15:02.45","description":"Punch In - date and time the employee punched in"},"PunchOutTime":{"type":"datetime","database":"DATETIME","example":"2015-07-10T13:49:47.457","description":"Punch Out - if there is a date and time it will be a revised value and it will be blank if the software auto punched out for the employee"},"PunchInComments":{"type":"string","database":"VARCHAR(100)","example":"","description":"Punch In Comments - any employee comments"}}}
                            
                        
                    
                    application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
                        
                            
                            example: |
                                [{"EmployeeID":250,"Abbreviation":"84WEA","StoreName":"84 West","FirstName":"iQmetrix","LastName":"Employee","PunchInTime":"2015-07-02T12:15:02.45","PunchOutTime":"2015-07-10T13:49:47.457","PunchInComments":""}]
                            schema: |
                                {"type":"array","name":"AutoPunchOutReportData","$schema":"http://json-schema.org/draft-03/schema","description":"","properties":{"EmployeeID":{"type":"integer","database":"INT","example":"250","description":"Internal identifier for an employee in RQ"},"Abbreviation":{"type":"string","database":"VARCHAR(5)","example":"84WEA","description":"Abbreviation - abbreviation for the location"},"StoreName":{"type":"string","database":"NVARCHAR(MAX)","example":"84 West","description":"Location - location where the auto punch was performed"},"FirstName":{"type":"string","database":"VARCHAR(25)","example":"iQmetrix","description":"First Name - first name of the employee"},"LastName":{"type":"string","database":"VARCHAR(25)","example":"Employee","description":"Last Name - last name of the employee"},"PunchInTime":{"type":"datetime","database":"DATETIME","example":"2015-07-02T12:15:02.45","description":"Punch In - date and time the employee punched in"},"PunchOutTime":{"type":"datetime","database":"DATETIME","example":"2015-07-10T13:49:47.457","description":"Punch Out - if there is a date and time it will be a revised value and it will be blank if the software auto punched out for the employee"},"PunchInComments":{"type":"string","database":"VARCHAR(100)","example":"","description":"Punch In Comments - any employee comments"}}}
                            
                        
                    
                
            
    

/reports/employeelistreport?Status={Status}&Unique={Unique}&GroupID={GroupID}&ForWho={ForWho}&ForWhoIDs={ForWhoIDs}&LocationType={LocationType}&LocationTypeIDs={LocationTypeIDs}&LanguageCode={LanguageCode}&Auth={Auth}&Response={Response}:
    
    uriParameters:
        
        Status:
            displayName: Status
            type: integer
            example: 1
            required: true
            description: Select employees with a status of Disabled (0), Enabled (1) or Any Status (2)
        
        Unique:
            displayName: Unique
            type: boolean
            example: false
            required: true
            description: A flag to indicate if the "Master List" should be returned. If you choose to search by a district, region or the entire company, use a value of 1 for this paramter. A master list of employees, will display each employee once no matter how many locations they are assigned to
        
        GroupID:
            displayName: GroupID
            type: integer
            example: -1
            required: true
            description: Identifier for an Employee group in RQ. Use -1 for all groups
        
        ForWho:
            displayName: ForWho
            type: integer
            example: 1
            required: false
            description: Identifier for a level at which to perform the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-report-levels-in-rq">Getting Report Levels in RQ</a>. If <strong>LocationType</strong> is provided, this value is ignored
        
        ForWhoIDs:
            displayName: ForWhoIDs
            type: integer
            example: 6679
            required: false
            description: A comma seperated list of identifiers to filter the report. For a list of identifiers, see <a href="/api/RQ-Data-Connect/#getting-nodes-by-location-type">Getting Nodes By Location Type</a>. If <strong>LocationTypeIDs</strong> is provided, this value is ignored. To ignore filtering use -1
        
        LocationType:
            displayName: LocationType
            type: string
            example: Store
            required: false
            description: A <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#locationtype'>LocationType</a> to filter the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-location-types">Getting Location Types</a>. If this value is provided, <strong>ForWho</strong> is ignored
        
        LocationTypeIDs:
            displayName: LocationTypeIDs
            type: string
            example: 1,2
            required: false
            description: A comma seperated list of <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#rqcompanytreenode'>RQCompanyTreeNode</a> identifiers to filter the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-location-ids">Getting Location Ids</a>. To ignore filtering, use -1 or *. If this value is provided, <strong>ForWhoIDs</strong> is ignored
        
        LanguageCode:
            displayName: LanguageCode
            type: string
            example: en-us
            required: false
            description: Language code, defaults to en-us. For a complete list, see <a href='/api/RQ-Data-Connect/#getting-language-codes'>Getting Language Codes</a>
        
        Auth:
            displayName: Auth
            type: string
            example: vRMt17P8rIBWWbVbLzLWjTNyLfvESgA2yfXhze0WZN7HSIl4slGV866p9dSw
            required: false
            description: Basic token used for authentication. For other methods of authentication, see {{AuthenticationOptions}}
        
        Response:
            displayName: Response
            type: string
            example: xml
            required: false
            description: Default is JSON. For other methods of response, see {{ResponseOptions}}
          
      
    get:
        
        displayName: Getting the Employee List Report
                
        
        description: |            
            For more information, see {{support_EmployeeListReport}}.
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept-Encoding:
                example: gzip
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                [{"Address":"127 starlight lane","Cellular_Number":"5555555555","City":"Fargo","DefaultLocation":null,"DefaultZoneForWho":null,"Email":"sams@kentel.com","EmailAddress":"sams@kentel.com","Employee_Name":"Sam Smith","ID_Number":59,"IsPartTime":false,"Last_Name":"Smith","LastHireDate":"2015-07-03T22:31:05.403","Location":"100: My Network LLC - Anchorage","PersonalEmail":"sam@yopmail.com","Postal_Code":"90123","Province":"ND","RoleDescription":"Sales Representative","ScheduledTerminationDate":"2015-11-22T08:00:00.000","SMS_Number":"5555555555@yopmail.com","SpecialIdentifier":"912345987654321","StartDate":"2010-11-22T10:06:35.133","Status":"Enabled","TerminationDate":"2015-11-22T08:00:25.345","Title":"Wireless Consultant","Username":"Sam.Smith","Work_Number":"5555555555"}]
                            schema: |
                                {"name":"EmployeeListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Address":{"type":"string","database":"VARCHAR(50)","description":"Address - employee's address","example":"127 starlight lane"},"Cellular_Number":{"type":"string","database":"NVARCHAR(MAX)","description":"Cell Phone # - employee's cell phone number","example":"5555555555"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - employee's city","example":"Fargo"},"DefaultLocation":{"type":"integer","database":"INT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"DefaultZoneForWho":{"type":"integer","database":"TINYINT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"Email":{"type":"string","database":"VARCHAR(50)","description":"Email Address - employee's work email address","example":"sams@kentel.com"},"EmailAddress":{"type":"string","database":"VARCHAR(50)","description":"Email ","example":"sams@kentel.com"},"Employee_Name":{"type":"string","database":"VARCHAR(51)","description":"Employee - name of the employee as entered on their employee profile","example":"Sam Smith"},"ID_Number":{"type":"integer","database":"INT","description":"Internal identifier for employee in RQ","example":"59"},"IsPartTime":{"type":"boolean","database":"BIT","description":"Part Time - indicates if an employee is Part Time","example":"false"},"Last_Name":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"LastHireDate":{"type":"string","database":"VARCHAR(50)","description":"Hire Date - day and date the employee was hired","example":"2015-07-03T22:31:05.403"},"Location":{"type":"string","database":"VARCHAR(51)","description":"Location - Only present if Unique is not -1. Every location the employee is assigned to","example":"100: My Network LLC - Anchorage"},"PersonalEmail":{"type":"string","database":"VARCHAR(50)","description":"Personal Email - employee's personal email address","example":"sam@yopmail.com"},"Postal_Code":{"type":"string","database":"VARCHAR(15)","description":"Zip/Postal Code - zip code (USA) or postal code (Canada)","example":"90123"},"Province":{"type":"string","database":"VARCHAR(50)","description":"Province - employee's province or state","example":"ND"},"RoleDescription":{"type":"string","database":"NVARCHAR(MAX)","description":"Security Role - security role assigned to this employee","example":"Sales Representative"},"ScheduledTerminationDate":{"type":"datetime","database":"DATETIME","description":"Scheduled termination date","example":"2015-11-22T08:00:00.000"},"SMS_Number":{"type":"string","database":"VARCHAR(50)","description":"SMS # - employee's text number","example":"5555555555@yopmail.com"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"StartDate":{"type":"datetime","database":"DATETIME","description":"Start Date","example":"2010-11-22T10:06:35.133"},"Status":{"type":"string","database":"VARCHAR(8)","description":"Status - shows if the employee is enabled or disabled if Any Status is selected","example":"Enabled"},"TerminationDate":{"type":"datetime","database":"DATETIME","description":"Termination Date - date of termination (date the employee was disabled)","example":"2015-11-22T08:00:25.345"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Wireless Consultant"},"Username":{"type":"string","database":"VARCHAR(25)","description":"Username - username of the employee as entered on their employee profile","example":"Sam.Smith"},"Work_Number":{"type":"datetime","database":"DATETIME","description":"Work Phone # - employee's work number","example":"5555555555"}}}
                            
                        
                    
                    application/JsonDataTable:
                        
                            
                            example: |
                                [{"Address":"127 starlight lane","Cellular_Number":"5555555555","City":"Fargo","DefaultLocation":null,"DefaultZoneForWho":null,"Email":"sams@kentel.com","EmailAddress":"sams@kentel.com","Employee_Name":"Sam Smith","ID_Number":59,"IsPartTime":false,"Last_Name":"Smith","LastHireDate":"2015-07-03T22:31:05.403","Location":"100: My Network LLC - Anchorage","PersonalEmail":"sam@yopmail.com","Postal_Code":"90123","Province":"ND","RoleDescription":"Sales Representative","ScheduledTerminationDate":"2015-11-22T08:00:00.000","SMS_Number":"5555555555@yopmail.com","SpecialIdentifier":"912345987654321","StartDate":"2010-11-22T10:06:35.133","Status":"Enabled","TerminationDate":"2015-11-22T08:00:25.345","Title":"Wireless Consultant","Username":"Sam.Smith","Work_Number":"5555555555"}]
                            schema: |
                                {"name":"EmployeeListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Address":{"type":"string","database":"VARCHAR(50)","description":"Address - employee's address","example":"127 starlight lane"},"Cellular_Number":{"type":"string","database":"NVARCHAR(MAX)","description":"Cell Phone # - employee's cell phone number","example":"5555555555"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - employee's city","example":"Fargo"},"DefaultLocation":{"type":"integer","database":"INT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"DefaultZoneForWho":{"type":"integer","database":"TINYINT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"Email":{"type":"string","database":"VARCHAR(50)","description":"Email Address - employee's work email address","example":"sams@kentel.com"},"EmailAddress":{"type":"string","database":"VARCHAR(50)","description":"Email ","example":"sams@kentel.com"},"Employee_Name":{"type":"string","database":"VARCHAR(51)","description":"Employee - name of the employee as entered on their employee profile","example":"Sam Smith"},"ID_Number":{"type":"integer","database":"INT","description":"Internal identifier for employee in RQ","example":"59"},"IsPartTime":{"type":"boolean","database":"BIT","description":"Part Time - indicates if an employee is Part Time","example":"false"},"Last_Name":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"LastHireDate":{"type":"string","database":"VARCHAR(50)","description":"Hire Date - day and date the employee was hired","example":"2015-07-03T22:31:05.403"},"Location":{"type":"string","database":"VARCHAR(51)","description":"Location - Only present if Unique is not -1. Every location the employee is assigned to","example":"100: My Network LLC - Anchorage"},"PersonalEmail":{"type":"string","database":"VARCHAR(50)","description":"Personal Email - employee's personal email address","example":"sam@yopmail.com"},"Postal_Code":{"type":"string","database":"VARCHAR(15)","description":"Zip/Postal Code - zip code (USA) or postal code (Canada)","example":"90123"},"Province":{"type":"string","database":"VARCHAR(50)","description":"Province - employee's province or state","example":"ND"},"RoleDescription":{"type":"string","database":"NVARCHAR(MAX)","description":"Security Role - security role assigned to this employee","example":"Sales Representative"},"ScheduledTerminationDate":{"type":"datetime","database":"DATETIME","description":"Scheduled termination date","example":"2015-11-22T08:00:00.000"},"SMS_Number":{"type":"string","database":"VARCHAR(50)","description":"SMS # - employee's text number","example":"5555555555@yopmail.com"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"StartDate":{"type":"datetime","database":"DATETIME","description":"Start Date","example":"2010-11-22T10:06:35.133"},"Status":{"type":"string","database":"VARCHAR(8)","description":"Status - shows if the employee is enabled or disabled if Any Status is selected","example":"Enabled"},"TerminationDate":{"type":"datetime","database":"DATETIME","description":"Termination Date - date of termination (date the employee was disabled)","example":"2015-11-22T08:00:25.345"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Wireless Consultant"},"Username":{"type":"string","database":"VARCHAR(25)","description":"Username - username of the employee as entered on their employee profile","example":"Sam.Smith"},"Work_Number":{"type":"datetime","database":"DATETIME","description":"Work Phone # - employee's work number","example":"5555555555"}}}
                            
                        
                    
                    text/xml:
                        
                            
                            example: |
                                [{"Address":"127 starlight lane","Cellular_Number":"5555555555","City":"Fargo","DefaultLocation":null,"DefaultZoneForWho":null,"Email":"sams@kentel.com","EmailAddress":"sams@kentel.com","Employee_Name":"Sam Smith","ID_Number":59,"IsPartTime":false,"Last_Name":"Smith","LastHireDate":"2015-07-03T22:31:05.403","Location":"100: My Network LLC - Anchorage","PersonalEmail":"sam@yopmail.com","Postal_Code":"90123","Province":"ND","RoleDescription":"Sales Representative","ScheduledTerminationDate":"2015-11-22T08:00:00.000","SMS_Number":"5555555555@yopmail.com","SpecialIdentifier":"912345987654321","StartDate":"2010-11-22T10:06:35.133","Status":"Enabled","TerminationDate":"2015-11-22T08:00:25.345","Title":"Wireless Consultant","Username":"Sam.Smith","Work_Number":"5555555555"}]
                            schema: |
                                {"name":"EmployeeListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Address":{"type":"string","database":"VARCHAR(50)","description":"Address - employee's address","example":"127 starlight lane"},"Cellular_Number":{"type":"string","database":"NVARCHAR(MAX)","description":"Cell Phone # - employee's cell phone number","example":"5555555555"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - employee's city","example":"Fargo"},"DefaultLocation":{"type":"integer","database":"INT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"DefaultZoneForWho":{"type":"integer","database":"TINYINT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"Email":{"type":"string","database":"VARCHAR(50)","description":"Email Address - employee's work email address","example":"sams@kentel.com"},"EmailAddress":{"type":"string","database":"VARCHAR(50)","description":"Email ","example":"sams@kentel.com"},"Employee_Name":{"type":"string","database":"VARCHAR(51)","description":"Employee - name of the employee as entered on their employee profile","example":"Sam Smith"},"ID_Number":{"type":"integer","database":"INT","description":"Internal identifier for employee in RQ","example":"59"},"IsPartTime":{"type":"boolean","database":"BIT","description":"Part Time - indicates if an employee is Part Time","example":"false"},"Last_Name":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"LastHireDate":{"type":"string","database":"VARCHAR(50)","description":"Hire Date - day and date the employee was hired","example":"2015-07-03T22:31:05.403"},"Location":{"type":"string","database":"VARCHAR(51)","description":"Location - Only present if Unique is not -1. Every location the employee is assigned to","example":"100: My Network LLC - Anchorage"},"PersonalEmail":{"type":"string","database":"VARCHAR(50)","description":"Personal Email - employee's personal email address","example":"sam@yopmail.com"},"Postal_Code":{"type":"string","database":"VARCHAR(15)","description":"Zip/Postal Code - zip code (USA) or postal code (Canada)","example":"90123"},"Province":{"type":"string","database":"VARCHAR(50)","description":"Province - employee's province or state","example":"ND"},"RoleDescription":{"type":"string","database":"NVARCHAR(MAX)","description":"Security Role - security role assigned to this employee","example":"Sales Representative"},"ScheduledTerminationDate":{"type":"datetime","database":"DATETIME","description":"Scheduled termination date","example":"2015-11-22T08:00:00.000"},"SMS_Number":{"type":"string","database":"VARCHAR(50)","description":"SMS # - employee's text number","example":"5555555555@yopmail.com"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"StartDate":{"type":"datetime","database":"DATETIME","description":"Start Date","example":"2010-11-22T10:06:35.133"},"Status":{"type":"string","database":"VARCHAR(8)","description":"Status - shows if the employee is enabled or disabled if Any Status is selected","example":"Enabled"},"TerminationDate":{"type":"datetime","database":"DATETIME","description":"Termination Date - date of termination (date the employee was disabled)","example":"2015-11-22T08:00:25.345"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Wireless Consultant"},"Username":{"type":"string","database":"VARCHAR(25)","description":"Username - username of the employee as entered on their employee profile","example":"Sam.Smith"},"Work_Number":{"type":"datetime","database":"DATETIME","description":"Work Phone # - employee's work number","example":"5555555555"}}}
                            
                        
                    
                    text/XmlDataTable:
                        
                            
                            example: |
                                [{"Address":"127 starlight lane","Cellular_Number":"5555555555","City":"Fargo","DefaultLocation":null,"DefaultZoneForWho":null,"Email":"sams@kentel.com","EmailAddress":"sams@kentel.com","Employee_Name":"Sam Smith","ID_Number":59,"IsPartTime":false,"Last_Name":"Smith","LastHireDate":"2015-07-03T22:31:05.403","Location":"100: My Network LLC - Anchorage","PersonalEmail":"sam@yopmail.com","Postal_Code":"90123","Province":"ND","RoleDescription":"Sales Representative","ScheduledTerminationDate":"2015-11-22T08:00:00.000","SMS_Number":"5555555555@yopmail.com","SpecialIdentifier":"912345987654321","StartDate":"2010-11-22T10:06:35.133","Status":"Enabled","TerminationDate":"2015-11-22T08:00:25.345","Title":"Wireless Consultant","Username":"Sam.Smith","Work_Number":"5555555555"}]
                            schema: |
                                {"name":"EmployeeListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Address":{"type":"string","database":"VARCHAR(50)","description":"Address - employee's address","example":"127 starlight lane"},"Cellular_Number":{"type":"string","database":"NVARCHAR(MAX)","description":"Cell Phone # - employee's cell phone number","example":"5555555555"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - employee's city","example":"Fargo"},"DefaultLocation":{"type":"integer","database":"INT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"DefaultZoneForWho":{"type":"integer","database":"TINYINT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"Email":{"type":"string","database":"VARCHAR(50)","description":"Email Address - employee's work email address","example":"sams@kentel.com"},"EmailAddress":{"type":"string","database":"VARCHAR(50)","description":"Email ","example":"sams@kentel.com"},"Employee_Name":{"type":"string","database":"VARCHAR(51)","description":"Employee - name of the employee as entered on their employee profile","example":"Sam Smith"},"ID_Number":{"type":"integer","database":"INT","description":"Internal identifier for employee in RQ","example":"59"},"IsPartTime":{"type":"boolean","database":"BIT","description":"Part Time - indicates if an employee is Part Time","example":"false"},"Last_Name":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"LastHireDate":{"type":"string","database":"VARCHAR(50)","description":"Hire Date - day and date the employee was hired","example":"2015-07-03T22:31:05.403"},"Location":{"type":"string","database":"VARCHAR(51)","description":"Location - Only present if Unique is not -1. Every location the employee is assigned to","example":"100: My Network LLC - Anchorage"},"PersonalEmail":{"type":"string","database":"VARCHAR(50)","description":"Personal Email - employee's personal email address","example":"sam@yopmail.com"},"Postal_Code":{"type":"string","database":"VARCHAR(15)","description":"Zip/Postal Code - zip code (USA) or postal code (Canada)","example":"90123"},"Province":{"type":"string","database":"VARCHAR(50)","description":"Province - employee's province or state","example":"ND"},"RoleDescription":{"type":"string","database":"NVARCHAR(MAX)","description":"Security Role - security role assigned to this employee","example":"Sales Representative"},"ScheduledTerminationDate":{"type":"datetime","database":"DATETIME","description":"Scheduled termination date","example":"2015-11-22T08:00:00.000"},"SMS_Number":{"type":"string","database":"VARCHAR(50)","description":"SMS # - employee's text number","example":"5555555555@yopmail.com"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"StartDate":{"type":"datetime","database":"DATETIME","description":"Start Date","example":"2010-11-22T10:06:35.133"},"Status":{"type":"string","database":"VARCHAR(8)","description":"Status - shows if the employee is enabled or disabled if Any Status is selected","example":"Enabled"},"TerminationDate":{"type":"datetime","database":"DATETIME","description":"Termination Date - date of termination (date the employee was disabled)","example":"2015-11-22T08:00:25.345"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Wireless Consultant"},"Username":{"type":"string","database":"VARCHAR(25)","description":"Username - username of the employee as entered on their employee profile","example":"Sam.Smith"},"Work_Number":{"type":"datetime","database":"DATETIME","description":"Work Phone # - employee's work number","example":"5555555555"}}}
                            
                        
                    
                    text/csv:
                        
                            
                            example: |
                                [{"Address":"127 starlight lane","Cellular_Number":"5555555555","City":"Fargo","DefaultLocation":null,"DefaultZoneForWho":null,"Email":"sams@kentel.com","EmailAddress":"sams@kentel.com","Employee_Name":"Sam Smith","ID_Number":59,"IsPartTime":false,"Last_Name":"Smith","LastHireDate":"2015-07-03T22:31:05.403","Location":"100: My Network LLC - Anchorage","PersonalEmail":"sam@yopmail.com","Postal_Code":"90123","Province":"ND","RoleDescription":"Sales Representative","ScheduledTerminationDate":"2015-11-22T08:00:00.000","SMS_Number":"5555555555@yopmail.com","SpecialIdentifier":"912345987654321","StartDate":"2010-11-22T10:06:35.133","Status":"Enabled","TerminationDate":"2015-11-22T08:00:25.345","Title":"Wireless Consultant","Username":"Sam.Smith","Work_Number":"5555555555"}]
                            schema: |
                                {"name":"EmployeeListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Address":{"type":"string","database":"VARCHAR(50)","description":"Address - employee's address","example":"127 starlight lane"},"Cellular_Number":{"type":"string","database":"NVARCHAR(MAX)","description":"Cell Phone # - employee's cell phone number","example":"5555555555"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - employee's city","example":"Fargo"},"DefaultLocation":{"type":"integer","database":"INT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"DefaultZoneForWho":{"type":"integer","database":"TINYINT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"Email":{"type":"string","database":"VARCHAR(50)","description":"Email Address - employee's work email address","example":"sams@kentel.com"},"EmailAddress":{"type":"string","database":"VARCHAR(50)","description":"Email ","example":"sams@kentel.com"},"Employee_Name":{"type":"string","database":"VARCHAR(51)","description":"Employee - name of the employee as entered on their employee profile","example":"Sam Smith"},"ID_Number":{"type":"integer","database":"INT","description":"Internal identifier for employee in RQ","example":"59"},"IsPartTime":{"type":"boolean","database":"BIT","description":"Part Time - indicates if an employee is Part Time","example":"false"},"Last_Name":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"LastHireDate":{"type":"string","database":"VARCHAR(50)","description":"Hire Date - day and date the employee was hired","example":"2015-07-03T22:31:05.403"},"Location":{"type":"string","database":"VARCHAR(51)","description":"Location - Only present if Unique is not -1. Every location the employee is assigned to","example":"100: My Network LLC - Anchorage"},"PersonalEmail":{"type":"string","database":"VARCHAR(50)","description":"Personal Email - employee's personal email address","example":"sam@yopmail.com"},"Postal_Code":{"type":"string","database":"VARCHAR(15)","description":"Zip/Postal Code - zip code (USA) or postal code (Canada)","example":"90123"},"Province":{"type":"string","database":"VARCHAR(50)","description":"Province - employee's province or state","example":"ND"},"RoleDescription":{"type":"string","database":"NVARCHAR(MAX)","description":"Security Role - security role assigned to this employee","example":"Sales Representative"},"ScheduledTerminationDate":{"type":"datetime","database":"DATETIME","description":"Scheduled termination date","example":"2015-11-22T08:00:00.000"},"SMS_Number":{"type":"string","database":"VARCHAR(50)","description":"SMS # - employee's text number","example":"5555555555@yopmail.com"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"StartDate":{"type":"datetime","database":"DATETIME","description":"Start Date","example":"2010-11-22T10:06:35.133"},"Status":{"type":"string","database":"VARCHAR(8)","description":"Status - shows if the employee is enabled or disabled if Any Status is selected","example":"Enabled"},"TerminationDate":{"type":"datetime","database":"DATETIME","description":"Termination Date - date of termination (date the employee was disabled)","example":"2015-11-22T08:00:25.345"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Wireless Consultant"},"Username":{"type":"string","database":"VARCHAR(25)","description":"Username - username of the employee as entered on their employee profile","example":"Sam.Smith"},"Work_Number":{"type":"datetime","database":"DATETIME","description":"Work Phone # - employee's work number","example":"5555555555"}}}
                            
                        
                    
                    application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
                        
                            
                            example: |
                                [{"Address":"127 starlight lane","Cellular_Number":"5555555555","City":"Fargo","DefaultLocation":null,"DefaultZoneForWho":null,"Email":"sams@kentel.com","EmailAddress":"sams@kentel.com","Employee_Name":"Sam Smith","ID_Number":59,"IsPartTime":false,"Last_Name":"Smith","LastHireDate":"2015-07-03T22:31:05.403","Location":"100: My Network LLC - Anchorage","PersonalEmail":"sam@yopmail.com","Postal_Code":"90123","Province":"ND","RoleDescription":"Sales Representative","ScheduledTerminationDate":"2015-11-22T08:00:00.000","SMS_Number":"5555555555@yopmail.com","SpecialIdentifier":"912345987654321","StartDate":"2010-11-22T10:06:35.133","Status":"Enabled","TerminationDate":"2015-11-22T08:00:25.345","Title":"Wireless Consultant","Username":"Sam.Smith","Work_Number":"5555555555"}]
                            schema: |
                                {"name":"EmployeeListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Address":{"type":"string","database":"VARCHAR(50)","description":"Address - employee's address","example":"127 starlight lane"},"Cellular_Number":{"type":"string","database":"NVARCHAR(MAX)","description":"Cell Phone # - employee's cell phone number","example":"5555555555"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - employee's city","example":"Fargo"},"DefaultLocation":{"type":"integer","database":"INT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"DefaultZoneForWho":{"type":"integer","database":"TINYINT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"Email":{"type":"string","database":"VARCHAR(50)","description":"Email Address - employee's work email address","example":"sams@kentel.com"},"EmailAddress":{"type":"string","database":"VARCHAR(50)","description":"Email ","example":"sams@kentel.com"},"Employee_Name":{"type":"string","database":"VARCHAR(51)","description":"Employee - name of the employee as entered on their employee profile","example":"Sam Smith"},"ID_Number":{"type":"integer","database":"INT","description":"Internal identifier for employee in RQ","example":"59"},"IsPartTime":{"type":"boolean","database":"BIT","description":"Part Time - indicates if an employee is Part Time","example":"false"},"Last_Name":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"LastHireDate":{"type":"string","database":"VARCHAR(50)","description":"Hire Date - day and date the employee was hired","example":"2015-07-03T22:31:05.403"},"Location":{"type":"string","database":"VARCHAR(51)","description":"Location - Only present if Unique is not -1. Every location the employee is assigned to","example":"100: My Network LLC - Anchorage"},"PersonalEmail":{"type":"string","database":"VARCHAR(50)","description":"Personal Email - employee's personal email address","example":"sam@yopmail.com"},"Postal_Code":{"type":"string","database":"VARCHAR(15)","description":"Zip/Postal Code - zip code (USA) or postal code (Canada)","example":"90123"},"Province":{"type":"string","database":"VARCHAR(50)","description":"Province - employee's province or state","example":"ND"},"RoleDescription":{"type":"string","database":"NVARCHAR(MAX)","description":"Security Role - security role assigned to this employee","example":"Sales Representative"},"ScheduledTerminationDate":{"type":"datetime","database":"DATETIME","description":"Scheduled termination date","example":"2015-11-22T08:00:00.000"},"SMS_Number":{"type":"string","database":"VARCHAR(50)","description":"SMS # - employee's text number","example":"5555555555@yopmail.com"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"StartDate":{"type":"datetime","database":"DATETIME","description":"Start Date","example":"2010-11-22T10:06:35.133"},"Status":{"type":"string","database":"VARCHAR(8)","description":"Status - shows if the employee is enabled or disabled if Any Status is selected","example":"Enabled"},"TerminationDate":{"type":"datetime","database":"DATETIME","description":"Termination Date - date of termination (date the employee was disabled)","example":"2015-11-22T08:00:25.345"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Wireless Consultant"},"Username":{"type":"string","database":"VARCHAR(25)","description":"Username - username of the employee as entered on their employee profile","example":"Sam.Smith"},"Work_Number":{"type":"datetime","database":"DATETIME","description":"Work Phone # - employee's work number","example":"5555555555"}}}
                            
                        
                    
                
            
    

/reports/timeandattendancereport?StartDate={StartDate}&StopDate={StopDate}&ForWho={ForWho}&ForWhoIDs={ForWhoIDs}&LocationType={LocationType}&LocationTypeIDs={LocationTypeIDs}&Auth={Auth}&Response={Response}:
    
    uriParameters:
        
        StartDate:
            displayName: StartDate
            type: string
            example: 1969-12-31
            required: true
            description: Date at which report will begin
        
        StopDate:
            displayName: StopDate
            type: string
            example: 2015-12-31
            required: true
            description: Date at which report will end
        
        ForWho:
            displayName: ForWho
            type: integer
            example: 1
            required: false
            description: Identifier for a level at which to perform the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-report-levels-in-rq">Getting Report Levels in RQ</a>. If <strong>LocationType</strong> is provided, this value is ignored
        
        ForWhoIDs:
            displayName: ForWhoIDs
            type: integer
            example: 6679
            required: false
            description: A comma seperated list of identifiers to filter the report. For a list of identifiers, see <a href="/api/RQ-Data-Connect/#getting-nodes-by-location-type">Getting Nodes By Location Type</a>. If <strong>LocationTypeIDs</strong> is provided, this value is ignored. To ignore filtering use -1
        
        LocationType:
            displayName: LocationType
            type: string
            example: Store
            required: false
            description: A <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#locationtype'>LocationType</a> to filter the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-location-types">Getting Location Types</a>. If this value is provided, <strong>ForWho</strong> is ignored
        
        LocationTypeIDs:
            displayName: LocationTypeIDs
            type: string
            example: 1,2
            required: false
            description: A comma seperated list of <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#rqcompanytreenode'>RQCompanyTreeNode</a> identifiers to filter the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-location-ids">Getting Location Ids</a>. To ignore filtering, use -1 or *. If this value is provided, <strong>ForWhoIDs</strong> is ignored
        
        Auth:
            displayName: Auth
            type: string
            example: vRMt17P8rIBWWbVbLzLWjTNyLfvESgA2yfXhze0WZN7HSIl4slGV866p9dSw
            required: false
            description: Basic token used for authentication. For other methods of authentication, see {{AuthenticationOptions}}
        
        Response:
            displayName: Response
            type: string
            example: xml
            required: false
            description: Default is JSON. For other methods of response, see {{ResponseOptions}}
          
      
    get:
        
        displayName: Getting the Time and Attendance Report
                
        
        description: |            
            For more information, see {{support_TimeAndAttendanceReport}}.

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept-Encoding:
                example: gzip
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                [{"DoubleOTClockedMinutes":0,"DoubleOTScheduleMinutes":0,"EmployeeCompensationType":"3","EmployeeGroup":"100% (35% GP)","EmployeeID":186,"EmployeeLastName":"Smith","EmployeeName":"Brooke Smith","EmployeeUsername":"Brooke.Smith","IsPartTime":"0","ManagerVerified":0,"OTClockedMinutes":0,"OTScheduleMinutes":105,"PartTimeVacationEarned":0,"PersonalUsedHours":0,"PT_DoubleOTVacationEarned":0,"PT_OTVacationEarned":0,"SickUsedHours":0,"SpecialIdentifier":"912345987654321","SupervisorName":"Bob Roberts","SupervisorUsername":"Bob.Roberts","ThresholdConflict":0,"Title":"Store Clerk","TotalClockedMinutes":0,"TotalScheduleMinutes":105,"VacationUsedHours":0}]
                            schema: |
                                {"name":"TimeAndAttendanceReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"DoubleOTClockedMinutes":{"type":"integer","database":"INT","description":"Double OT Clocked - total of double overtime hours calculated, calculated using decimal time rather than hours:minutes","example":"0"},"DoubleOTScheduleMinutes":{"type":"integer","database":"INT","description":"Double OT Scheduled - total of double overtime hours scheduled, calculated using decimal time rather than hours:minutes","example":"0"},"EmployeeCompensationType":{"type":"string","database":"VARCHAR(50)","description":"Compensation - type of compensation for the employee","example":"3"},"EmployeeGroup":{"type":"string","database":"VARCHAR(50)","description":"Commission - type of commission for the employee","example":"100% (35% GP)"},"EmployeeID":{"type":"integer","database":"INT","description":"Identifier for an Employee in RQ","example":"186"},"EmployeeLastName":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"EmployeeName":{"type":"string","database":"VARCHAR(51)","description":"Employee - any employee who was scheduled to work or punched in within in the report's criteria","example":"Brooke Smith"},"EmployeeUsername":{"type":"string","database":"VARCHAR(51)","description":"Username - username of the employee who was scheduled to work or punched in within in the report's criteria","example":"Brooke.Smith"},"IsPartTime":{"type":"string","database":"VARCHAR(50)","description":"Part Time - a check box indicating if an employee is Part Time","example":"0"},"ManagerVerified":{"type":"integer","database":"TINYINT","description":"Internal flag used in RQ","example":"0"},"OTClockedMinutes":{"type":"integer","database":"INT","description":"Overtime Clocked - total of overtime hours clocked, calculated using decimal time rather than hours:minutes","example":"0"},"OTScheduleMinutes":{"type":"integer","database":"INT","description":"Overtime Scheduled - total of overtime hours scheduled, calculated using decimal time rather than hours:minutes","example":"105"},"PartTimeVacationEarned":{"type":"decimal","database":"DECIMAL","description":"PT Vacation Earned - total amount of part time vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"PersonalUsedHours":{"type":"decimal","database":"DECIMAL","description":"Personal Used - total amount of personal days used, calculated using decimal time rather than hours:minutes","example":"0"},"PT_DoubleOTVacationEarned":{"type":"decimal","database":"DECIMAL","description":"Double OT Vacation - total amount of Double OT vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"PT_OTVacationEarned":{"type":"decimal","database":"DECIMAL","description":"OT Vacation Earned - total amount of OT vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"SickUsedHours":{"type":"decimal","database":"DECIMAL","description":"Sick Used - total amount of sick time used, calculated using decimal time rather than hours:minutes","example":"0"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"SupervisorName":{"type":"string","database":"VARCHAR(51)","description":"Supervisor - name of the employee's supervisor","example":"Bob Roberts"},"SupervisorUsername":{"type":"string","database":"VARCHAR(51)","description":"Supervisor Username - username of the name of the employee's supervisor","example":"Bob.Roberts"},"ThresholdConflict":{"type":"integer","database":"INT","description":"A flag to indicate if the employee is working in multiple locations that have different work weeks or OT parameters, highlighted in red in the report","example":"0"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Store Clerk"},"TotalClockedMinutes":{"type":"integer","database":"INT","description":"Total Clocked - total of all hours clocked, calculated using decimal time rather than hours:minutes","example":"0"},"TotalScheduleMinutes":{"type":"integer","database":"INT","description":"Total Scheduled - total of all hours scheduled, calculated using decimal time rather than hours:minutes","example":"105"},"VacationUsedHours":{"type":"decimal","database":"DECIMAL","description":"Vacation Used - total of amount of vacation used, calculated using decimal time rather than hours:minutes","example":"0"}}}
                            
                        
                    
                    application/JsonDataTable:
                        
                            
                            example: |
                                [{"DoubleOTClockedMinutes":0,"DoubleOTScheduleMinutes":0,"EmployeeCompensationType":"3","EmployeeGroup":"100% (35% GP)","EmployeeID":186,"EmployeeLastName":"Smith","EmployeeName":"Brooke Smith","EmployeeUsername":"Brooke.Smith","IsPartTime":"0","ManagerVerified":0,"OTClockedMinutes":0,"OTScheduleMinutes":105,"PartTimeVacationEarned":0,"PersonalUsedHours":0,"PT_DoubleOTVacationEarned":0,"PT_OTVacationEarned":0,"SickUsedHours":0,"SpecialIdentifier":"912345987654321","SupervisorName":"Bob Roberts","SupervisorUsername":"Bob.Roberts","ThresholdConflict":0,"Title":"Store Clerk","TotalClockedMinutes":0,"TotalScheduleMinutes":105,"VacationUsedHours":0}]
                            schema: |
                                {"name":"TimeAndAttendanceReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"DoubleOTClockedMinutes":{"type":"integer","database":"INT","description":"Double OT Clocked - total of double overtime hours calculated, calculated using decimal time rather than hours:minutes","example":"0"},"DoubleOTScheduleMinutes":{"type":"integer","database":"INT","description":"Double OT Scheduled - total of double overtime hours scheduled, calculated using decimal time rather than hours:minutes","example":"0"},"EmployeeCompensationType":{"type":"string","database":"VARCHAR(50)","description":"Compensation - type of compensation for the employee","example":"3"},"EmployeeGroup":{"type":"string","database":"VARCHAR(50)","description":"Commission - type of commission for the employee","example":"100% (35% GP)"},"EmployeeID":{"type":"integer","database":"INT","description":"Identifier for an Employee in RQ","example":"186"},"EmployeeLastName":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"EmployeeName":{"type":"string","database":"VARCHAR(51)","description":"Employee - any employee who was scheduled to work or punched in within in the report's criteria","example":"Brooke Smith"},"EmployeeUsername":{"type":"string","database":"VARCHAR(51)","description":"Username - username of the employee who was scheduled to work or punched in within in the report's criteria","example":"Brooke.Smith"},"IsPartTime":{"type":"string","database":"VARCHAR(50)","description":"Part Time - a check box indicating if an employee is Part Time","example":"0"},"ManagerVerified":{"type":"integer","database":"TINYINT","description":"Internal flag used in RQ","example":"0"},"OTClockedMinutes":{"type":"integer","database":"INT","description":"Overtime Clocked - total of overtime hours clocked, calculated using decimal time rather than hours:minutes","example":"0"},"OTScheduleMinutes":{"type":"integer","database":"INT","description":"Overtime Scheduled - total of overtime hours scheduled, calculated using decimal time rather than hours:minutes","example":"105"},"PartTimeVacationEarned":{"type":"decimal","database":"DECIMAL","description":"PT Vacation Earned - total amount of part time vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"PersonalUsedHours":{"type":"decimal","database":"DECIMAL","description":"Personal Used - total amount of personal days used, calculated using decimal time rather than hours:minutes","example":"0"},"PT_DoubleOTVacationEarned":{"type":"decimal","database":"DECIMAL","description":"Double OT Vacation - total amount of Double OT vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"PT_OTVacationEarned":{"type":"decimal","database":"DECIMAL","description":"OT Vacation Earned - total amount of OT vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"SickUsedHours":{"type":"decimal","database":"DECIMAL","description":"Sick Used - total amount of sick time used, calculated using decimal time rather than hours:minutes","example":"0"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"SupervisorName":{"type":"string","database":"VARCHAR(51)","description":"Supervisor - name of the employee's supervisor","example":"Bob Roberts"},"SupervisorUsername":{"type":"string","database":"VARCHAR(51)","description":"Supervisor Username - username of the name of the employee's supervisor","example":"Bob.Roberts"},"ThresholdConflict":{"type":"integer","database":"INT","description":"A flag to indicate if the employee is working in multiple locations that have different work weeks or OT parameters, highlighted in red in the report","example":"0"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Store Clerk"},"TotalClockedMinutes":{"type":"integer","database":"INT","description":"Total Clocked - total of all hours clocked, calculated using decimal time rather than hours:minutes","example":"0"},"TotalScheduleMinutes":{"type":"integer","database":"INT","description":"Total Scheduled - total of all hours scheduled, calculated using decimal time rather than hours:minutes","example":"105"},"VacationUsedHours":{"type":"decimal","database":"DECIMAL","description":"Vacation Used - total of amount of vacation used, calculated using decimal time rather than hours:minutes","example":"0"}}}
                            
                        
                    
                    text/xml:
                        
                            
                            example: |
                                [{"DoubleOTClockedMinutes":0,"DoubleOTScheduleMinutes":0,"EmployeeCompensationType":"3","EmployeeGroup":"100% (35% GP)","EmployeeID":186,"EmployeeLastName":"Smith","EmployeeName":"Brooke Smith","EmployeeUsername":"Brooke.Smith","IsPartTime":"0","ManagerVerified":0,"OTClockedMinutes":0,"OTScheduleMinutes":105,"PartTimeVacationEarned":0,"PersonalUsedHours":0,"PT_DoubleOTVacationEarned":0,"PT_OTVacationEarned":0,"SickUsedHours":0,"SpecialIdentifier":"912345987654321","SupervisorName":"Bob Roberts","SupervisorUsername":"Bob.Roberts","ThresholdConflict":0,"Title":"Store Clerk","TotalClockedMinutes":0,"TotalScheduleMinutes":105,"VacationUsedHours":0}]
                            schema: |
                                {"name":"TimeAndAttendanceReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"DoubleOTClockedMinutes":{"type":"integer","database":"INT","description":"Double OT Clocked - total of double overtime hours calculated, calculated using decimal time rather than hours:minutes","example":"0"},"DoubleOTScheduleMinutes":{"type":"integer","database":"INT","description":"Double OT Scheduled - total of double overtime hours scheduled, calculated using decimal time rather than hours:minutes","example":"0"},"EmployeeCompensationType":{"type":"string","database":"VARCHAR(50)","description":"Compensation - type of compensation for the employee","example":"3"},"EmployeeGroup":{"type":"string","database":"VARCHAR(50)","description":"Commission - type of commission for the employee","example":"100% (35% GP)"},"EmployeeID":{"type":"integer","database":"INT","description":"Identifier for an Employee in RQ","example":"186"},"EmployeeLastName":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"EmployeeName":{"type":"string","database":"VARCHAR(51)","description":"Employee - any employee who was scheduled to work or punched in within in the report's criteria","example":"Brooke Smith"},"EmployeeUsername":{"type":"string","database":"VARCHAR(51)","description":"Username - username of the employee who was scheduled to work or punched in within in the report's criteria","example":"Brooke.Smith"},"IsPartTime":{"type":"string","database":"VARCHAR(50)","description":"Part Time - a check box indicating if an employee is Part Time","example":"0"},"ManagerVerified":{"type":"integer","database":"TINYINT","description":"Internal flag used in RQ","example":"0"},"OTClockedMinutes":{"type":"integer","database":"INT","description":"Overtime Clocked - total of overtime hours clocked, calculated using decimal time rather than hours:minutes","example":"0"},"OTScheduleMinutes":{"type":"integer","database":"INT","description":"Overtime Scheduled - total of overtime hours scheduled, calculated using decimal time rather than hours:minutes","example":"105"},"PartTimeVacationEarned":{"type":"decimal","database":"DECIMAL","description":"PT Vacation Earned - total amount of part time vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"PersonalUsedHours":{"type":"decimal","database":"DECIMAL","description":"Personal Used - total amount of personal days used, calculated using decimal time rather than hours:minutes","example":"0"},"PT_DoubleOTVacationEarned":{"type":"decimal","database":"DECIMAL","description":"Double OT Vacation - total amount of Double OT vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"PT_OTVacationEarned":{"type":"decimal","database":"DECIMAL","description":"OT Vacation Earned - total amount of OT vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"SickUsedHours":{"type":"decimal","database":"DECIMAL","description":"Sick Used - total amount of sick time used, calculated using decimal time rather than hours:minutes","example":"0"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"SupervisorName":{"type":"string","database":"VARCHAR(51)","description":"Supervisor - name of the employee's supervisor","example":"Bob Roberts"},"SupervisorUsername":{"type":"string","database":"VARCHAR(51)","description":"Supervisor Username - username of the name of the employee's supervisor","example":"Bob.Roberts"},"ThresholdConflict":{"type":"integer","database":"INT","description":"A flag to indicate if the employee is working in multiple locations that have different work weeks or OT parameters, highlighted in red in the report","example":"0"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Store Clerk"},"TotalClockedMinutes":{"type":"integer","database":"INT","description":"Total Clocked - total of all hours clocked, calculated using decimal time rather than hours:minutes","example":"0"},"TotalScheduleMinutes":{"type":"integer","database":"INT","description":"Total Scheduled - total of all hours scheduled, calculated using decimal time rather than hours:minutes","example":"105"},"VacationUsedHours":{"type":"decimal","database":"DECIMAL","description":"Vacation Used - total of amount of vacation used, calculated using decimal time rather than hours:minutes","example":"0"}}}
                            
                        
                    
                    text/XmlDataTable:
                        
                            
                            example: |
                                [{"DoubleOTClockedMinutes":0,"DoubleOTScheduleMinutes":0,"EmployeeCompensationType":"3","EmployeeGroup":"100% (35% GP)","EmployeeID":186,"EmployeeLastName":"Smith","EmployeeName":"Brooke Smith","EmployeeUsername":"Brooke.Smith","IsPartTime":"0","ManagerVerified":0,"OTClockedMinutes":0,"OTScheduleMinutes":105,"PartTimeVacationEarned":0,"PersonalUsedHours":0,"PT_DoubleOTVacationEarned":0,"PT_OTVacationEarned":0,"SickUsedHours":0,"SpecialIdentifier":"912345987654321","SupervisorName":"Bob Roberts","SupervisorUsername":"Bob.Roberts","ThresholdConflict":0,"Title":"Store Clerk","TotalClockedMinutes":0,"TotalScheduleMinutes":105,"VacationUsedHours":0}]
                            schema: |
                                {"name":"TimeAndAttendanceReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"DoubleOTClockedMinutes":{"type":"integer","database":"INT","description":"Double OT Clocked - total of double overtime hours calculated, calculated using decimal time rather than hours:minutes","example":"0"},"DoubleOTScheduleMinutes":{"type":"integer","database":"INT","description":"Double OT Scheduled - total of double overtime hours scheduled, calculated using decimal time rather than hours:minutes","example":"0"},"EmployeeCompensationType":{"type":"string","database":"VARCHAR(50)","description":"Compensation - type of compensation for the employee","example":"3"},"EmployeeGroup":{"type":"string","database":"VARCHAR(50)","description":"Commission - type of commission for the employee","example":"100% (35% GP)"},"EmployeeID":{"type":"integer","database":"INT","description":"Identifier for an Employee in RQ","example":"186"},"EmployeeLastName":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"EmployeeName":{"type":"string","database":"VARCHAR(51)","description":"Employee - any employee who was scheduled to work or punched in within in the report's criteria","example":"Brooke Smith"},"EmployeeUsername":{"type":"string","database":"VARCHAR(51)","description":"Username - username of the employee who was scheduled to work or punched in within in the report's criteria","example":"Brooke.Smith"},"IsPartTime":{"type":"string","database":"VARCHAR(50)","description":"Part Time - a check box indicating if an employee is Part Time","example":"0"},"ManagerVerified":{"type":"integer","database":"TINYINT","description":"Internal flag used in RQ","example":"0"},"OTClockedMinutes":{"type":"integer","database":"INT","description":"Overtime Clocked - total of overtime hours clocked, calculated using decimal time rather than hours:minutes","example":"0"},"OTScheduleMinutes":{"type":"integer","database":"INT","description":"Overtime Scheduled - total of overtime hours scheduled, calculated using decimal time rather than hours:minutes","example":"105"},"PartTimeVacationEarned":{"type":"decimal","database":"DECIMAL","description":"PT Vacation Earned - total amount of part time vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"PersonalUsedHours":{"type":"decimal","database":"DECIMAL","description":"Personal Used - total amount of personal days used, calculated using decimal time rather than hours:minutes","example":"0"},"PT_DoubleOTVacationEarned":{"type":"decimal","database":"DECIMAL","description":"Double OT Vacation - total amount of Double OT vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"PT_OTVacationEarned":{"type":"decimal","database":"DECIMAL","description":"OT Vacation Earned - total amount of OT vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"SickUsedHours":{"type":"decimal","database":"DECIMAL","description":"Sick Used - total amount of sick time used, calculated using decimal time rather than hours:minutes","example":"0"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"SupervisorName":{"type":"string","database":"VARCHAR(51)","description":"Supervisor - name of the employee's supervisor","example":"Bob Roberts"},"SupervisorUsername":{"type":"string","database":"VARCHAR(51)","description":"Supervisor Username - username of the name of the employee's supervisor","example":"Bob.Roberts"},"ThresholdConflict":{"type":"integer","database":"INT","description":"A flag to indicate if the employee is working in multiple locations that have different work weeks or OT parameters, highlighted in red in the report","example":"0"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Store Clerk"},"TotalClockedMinutes":{"type":"integer","database":"INT","description":"Total Clocked - total of all hours clocked, calculated using decimal time rather than hours:minutes","example":"0"},"TotalScheduleMinutes":{"type":"integer","database":"INT","description":"Total Scheduled - total of all hours scheduled, calculated using decimal time rather than hours:minutes","example":"105"},"VacationUsedHours":{"type":"decimal","database":"DECIMAL","description":"Vacation Used - total of amount of vacation used, calculated using decimal time rather than hours:minutes","example":"0"}}}
                            
                        
                    
                    text/csv:
                        
                            
                            example: |
                                [{"DoubleOTClockedMinutes":0,"DoubleOTScheduleMinutes":0,"EmployeeCompensationType":"3","EmployeeGroup":"100% (35% GP)","EmployeeID":186,"EmployeeLastName":"Smith","EmployeeName":"Brooke Smith","EmployeeUsername":"Brooke.Smith","IsPartTime":"0","ManagerVerified":0,"OTClockedMinutes":0,"OTScheduleMinutes":105,"PartTimeVacationEarned":0,"PersonalUsedHours":0,"PT_DoubleOTVacationEarned":0,"PT_OTVacationEarned":0,"SickUsedHours":0,"SpecialIdentifier":"912345987654321","SupervisorName":"Bob Roberts","SupervisorUsername":"Bob.Roberts","ThresholdConflict":0,"Title":"Store Clerk","TotalClockedMinutes":0,"TotalScheduleMinutes":105,"VacationUsedHours":0}]
                            schema: |
                                {"name":"TimeAndAttendanceReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"DoubleOTClockedMinutes":{"type":"integer","database":"INT","description":"Double OT Clocked - total of double overtime hours calculated, calculated using decimal time rather than hours:minutes","example":"0"},"DoubleOTScheduleMinutes":{"type":"integer","database":"INT","description":"Double OT Scheduled - total of double overtime hours scheduled, calculated using decimal time rather than hours:minutes","example":"0"},"EmployeeCompensationType":{"type":"string","database":"VARCHAR(50)","description":"Compensation - type of compensation for the employee","example":"3"},"EmployeeGroup":{"type":"string","database":"VARCHAR(50)","description":"Commission - type of commission for the employee","example":"100% (35% GP)"},"EmployeeID":{"type":"integer","database":"INT","description":"Identifier for an Employee in RQ","example":"186"},"EmployeeLastName":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"EmployeeName":{"type":"string","database":"VARCHAR(51)","description":"Employee - any employee who was scheduled to work or punched in within in the report's criteria","example":"Brooke Smith"},"EmployeeUsername":{"type":"string","database":"VARCHAR(51)","description":"Username - username of the employee who was scheduled to work or punched in within in the report's criteria","example":"Brooke.Smith"},"IsPartTime":{"type":"string","database":"VARCHAR(50)","description":"Part Time - a check box indicating if an employee is Part Time","example":"0"},"ManagerVerified":{"type":"integer","database":"TINYINT","description":"Internal flag used in RQ","example":"0"},"OTClockedMinutes":{"type":"integer","database":"INT","description":"Overtime Clocked - total of overtime hours clocked, calculated using decimal time rather than hours:minutes","example":"0"},"OTScheduleMinutes":{"type":"integer","database":"INT","description":"Overtime Scheduled - total of overtime hours scheduled, calculated using decimal time rather than hours:minutes","example":"105"},"PartTimeVacationEarned":{"type":"decimal","database":"DECIMAL","description":"PT Vacation Earned - total amount of part time vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"PersonalUsedHours":{"type":"decimal","database":"DECIMAL","description":"Personal Used - total amount of personal days used, calculated using decimal time rather than hours:minutes","example":"0"},"PT_DoubleOTVacationEarned":{"type":"decimal","database":"DECIMAL","description":"Double OT Vacation - total amount of Double OT vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"PT_OTVacationEarned":{"type":"decimal","database":"DECIMAL","description":"OT Vacation Earned - total amount of OT vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"SickUsedHours":{"type":"decimal","database":"DECIMAL","description":"Sick Used - total amount of sick time used, calculated using decimal time rather than hours:minutes","example":"0"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"SupervisorName":{"type":"string","database":"VARCHAR(51)","description":"Supervisor - name of the employee's supervisor","example":"Bob Roberts"},"SupervisorUsername":{"type":"string","database":"VARCHAR(51)","description":"Supervisor Username - username of the name of the employee's supervisor","example":"Bob.Roberts"},"ThresholdConflict":{"type":"integer","database":"INT","description":"A flag to indicate if the employee is working in multiple locations that have different work weeks or OT parameters, highlighted in red in the report","example":"0"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Store Clerk"},"TotalClockedMinutes":{"type":"integer","database":"INT","description":"Total Clocked - total of all hours clocked, calculated using decimal time rather than hours:minutes","example":"0"},"TotalScheduleMinutes":{"type":"integer","database":"INT","description":"Total Scheduled - total of all hours scheduled, calculated using decimal time rather than hours:minutes","example":"105"},"VacationUsedHours":{"type":"decimal","database":"DECIMAL","description":"Vacation Used - total of amount of vacation used, calculated using decimal time rather than hours:minutes","example":"0"}}}
                            
                        
                    
                    application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
                        
                            
                            example: |
                                [{"DoubleOTClockedMinutes":0,"DoubleOTScheduleMinutes":0,"EmployeeCompensationType":"3","EmployeeGroup":"100% (35% GP)","EmployeeID":186,"EmployeeLastName":"Smith","EmployeeName":"Brooke Smith","EmployeeUsername":"Brooke.Smith","IsPartTime":"0","ManagerVerified":0,"OTClockedMinutes":0,"OTScheduleMinutes":105,"PartTimeVacationEarned":0,"PersonalUsedHours":0,"PT_DoubleOTVacationEarned":0,"PT_OTVacationEarned":0,"SickUsedHours":0,"SpecialIdentifier":"912345987654321","SupervisorName":"Bob Roberts","SupervisorUsername":"Bob.Roberts","ThresholdConflict":0,"Title":"Store Clerk","TotalClockedMinutes":0,"TotalScheduleMinutes":105,"VacationUsedHours":0}]
                            schema: |
                                {"name":"TimeAndAttendanceReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"DoubleOTClockedMinutes":{"type":"integer","database":"INT","description":"Double OT Clocked - total of double overtime hours calculated, calculated using decimal time rather than hours:minutes","example":"0"},"DoubleOTScheduleMinutes":{"type":"integer","database":"INT","description":"Double OT Scheduled - total of double overtime hours scheduled, calculated using decimal time rather than hours:minutes","example":"0"},"EmployeeCompensationType":{"type":"string","database":"VARCHAR(50)","description":"Compensation - type of compensation for the employee","example":"3"},"EmployeeGroup":{"type":"string","database":"VARCHAR(50)","description":"Commission - type of commission for the employee","example":"100% (35% GP)"},"EmployeeID":{"type":"integer","database":"INT","description":"Identifier for an Employee in RQ","example":"186"},"EmployeeLastName":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"EmployeeName":{"type":"string","database":"VARCHAR(51)","description":"Employee - any employee who was scheduled to work or punched in within in the report's criteria","example":"Brooke Smith"},"EmployeeUsername":{"type":"string","database":"VARCHAR(51)","description":"Username - username of the employee who was scheduled to work or punched in within in the report's criteria","example":"Brooke.Smith"},"IsPartTime":{"type":"string","database":"VARCHAR(50)","description":"Part Time - a check box indicating if an employee is Part Time","example":"0"},"ManagerVerified":{"type":"integer","database":"TINYINT","description":"Internal flag used in RQ","example":"0"},"OTClockedMinutes":{"type":"integer","database":"INT","description":"Overtime Clocked - total of overtime hours clocked, calculated using decimal time rather than hours:minutes","example":"0"},"OTScheduleMinutes":{"type":"integer","database":"INT","description":"Overtime Scheduled - total of overtime hours scheduled, calculated using decimal time rather than hours:minutes","example":"105"},"PartTimeVacationEarned":{"type":"decimal","database":"DECIMAL","description":"PT Vacation Earned - total amount of part time vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"PersonalUsedHours":{"type":"decimal","database":"DECIMAL","description":"Personal Used - total amount of personal days used, calculated using decimal time rather than hours:minutes","example":"0"},"PT_DoubleOTVacationEarned":{"type":"decimal","database":"DECIMAL","description":"Double OT Vacation - total amount of Double OT vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"PT_OTVacationEarned":{"type":"decimal","database":"DECIMAL","description":"OT Vacation Earned - total amount of OT vacation earned, calculated using decimal time rather than hours:minutes","example":"0"},"SickUsedHours":{"type":"decimal","database":"DECIMAL","description":"Sick Used - total amount of sick time used, calculated using decimal time rather than hours:minutes","example":"0"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"SupervisorName":{"type":"string","database":"VARCHAR(51)","description":"Supervisor - name of the employee's supervisor","example":"Bob Roberts"},"SupervisorUsername":{"type":"string","database":"VARCHAR(51)","description":"Supervisor Username - username of the name of the employee's supervisor","example":"Bob.Roberts"},"ThresholdConflict":{"type":"integer","database":"INT","description":"A flag to indicate if the employee is working in multiple locations that have different work weeks or OT parameters, highlighted in red in the report","example":"0"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Store Clerk"},"TotalClockedMinutes":{"type":"integer","database":"INT","description":"Total Clocked - total of all hours clocked, calculated using decimal time rather than hours:minutes","example":"0"},"TotalScheduleMinutes":{"type":"integer","database":"INT","description":"Total Scheduled - total of all hours scheduled, calculated using decimal time rather than hours:minutes","example":"105"},"VacationUsedHours":{"type":"decimal","database":"DECIMAL","description":"Vacation Used - total of amount of vacation used, calculated using decimal time rather than hours:minutes","example":"0"}}}
                            
                        
                    
                
            
    
