#%RAML 0.8
title: RQ Data Connect Inventory Reports
baseUri: https://rqdataconnectdemo.iqmetrix.net
schemas: 

    
    - AdjustmentHistoryInvoiceDetailReportData: |
        {
          "name": "AdjustmentHistoryInvoiceDetailReportData",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "AdjustmentType": { "type": "integer", "description": "Type: 0 = Not Set : 1 = Quantity : 2 = Unit Cost : 3 = New Product : 4 = Delete Product", "database": "TINYINT", "example": "1" },
            "Comments": { "type": "string", "description": "Comments - any comments entered regarding the adjustment; if the adjustment was done via the reconcile receiving invoices screen, it will be noted here automatically", "database": "VARCHAR (1000)", "example": "Comment" },
            "CountSheetID": { "type": "integer", "description": "Internal identifier for a Count Sheet in RQ", "database": "INT", "example": "1" },
            "CountSheetIDByStore": { "type": "string", "description": "Count Sheet # - if an adjustment is generated from an inventory count sheet it will be noted here", "database": "VARCHAR (14)", "example": "1" },
            "DateCreated": { "type": "datetime", "description": "Adjusted On - date and time the adjustment was made", "database": "DATETIME", "example": "2015-12-16T07:39:39.49" },
            "EmployeeName": { "type": "string", "description": "Created By - name of the employee who did the adjustment", "database": "VARCHAR (51)", "example": "iQmetrix User" },
            "IsReceiving": { "type": "boolean", "description": "Is Adjustment from receiving Products or not (adjustments made either made through receiving, or manual adjustment)", "database": "BIT", "example": "false" },
            "StoreName": { "type": "string", "description": "Location - where the adjustment was made", "database": "NVARCHAR (MAX)", "example": "100: My Network LLC - Anchorage" },
            "TotalInvoice": { "type": "decimal", "description": "Total Invoice - total dollar amount of the adjustment invoice", "database": "MONEY", "example": "0" },
            "TransactionID": { "type": "integer", "description": "Internal RQ identifier", "database": "INT", "example": "19240" },
            "TransactionIDByStore": { "type": "string", "description": "Transaction # - transaction number, including corrected purchase orders", "database": "VARCHAR (14)", "example": "84WEAIA1187" }
          }
        }
        

    

    
    - AdjustmentHistoryProductDetailReportData: |
        {
          "name": "AdjustmentHistoryProductDetailReportData",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Comments": { "type": "string", "description": "Comments - any comments entered regarding the adjustment; if an adjustment was made via the reconcile receiving invoices screen, it will automatically be entered in comments", "database": "VARCHAR (100)", "example": "Comment" },
            "CountSheetID": { "type": "integer", "description": "Internal identifier for a Count Sheet in RQ", "database": "INT", "example": "0" },
            "CountSheetIDByStore": { "type": "string", "description": "Count Sheet # - if an adjustment is generated from an inventory count sheet it will be noted here", "database": "VARCHAR (14)", "example": "" },
            "DateCreated": { "type": "datetime", "description": "Adjusted On - date and time the adjustment was made", "database": "DATETIME", "example": "2015-12-16T07:39:39.49" },
            "EmployeeName": { "type": "string", "description": "Created By - name of the employee who did the adjustment", "database": "VARCHAR (51)", "example": "iQmetrix User" },
            "IsReceiving": { "type": "boolean", "description": "Is Adjustment from receiving Products or not (adjustments made either made through receiving, or manual adjustment)", "database": "BIT", "example": "false" },
            "ProductIdentifier": { "type": "string", "description": "Product SKU - RQ generated SKU for the product adjusted", "database": "VARCHAR (12)", "example": "ASMAAP000017" },
            "ProductName": { "type": "string", "description": "Product Name - name of the product as it appears in inventory", "database": "NVARCHAR (MAX)", "example": "Samsung Galaxy S4" },
            "Quantity": { "type": "integer", "description": "Quantity - total quantity of the product adjusted", "database": "INT", "example": "5" },
            "ReasonCode": { "type": "string", "description": "Reason Code - reason code selected from the drop down list at the time of adjustment", "database": "NVARCHAR (MAX)", "example": "Unexplained Shrinkage" },
            "SerialNumber": { "type": "string", "description": "Tracking # - tracking number, if there is one", "database": "VARCHAR (100)", "example": "123000000000000" },
            "StoreName": { "type": "string", "description": "Location - where the adjustment was made", "database": "NVARCHAR (MAX)", "example": "100: My Network LLC - Anchorage" },
            "TotalCost": { "type": "decimal", "description": "Total Cost - total cost for that product calculated as Quantity X Unit Cost", "database": "MONEY", "example": "0" },
            "TransactionID": { "type": "integer", "description": "Internal RQ identifier", "database": "INT", "example": "19240" },
            "TransactionIDByStore": { "type": "string", "description": "Transaction # - transaction number, including corrected purchase orders", "database": "VARCHAR (14)", "example": "84WEAIA1187" },
            "UnitCost": { "type": "decimal", "description": "Unit Cost - purchase cost per unit; weighted average cost for non-serialized products and true cost for serialized products", "database": "MONEY", "example": "0" },
            "VendorName": { "type": "string", "description": "Name for a vendor in RQ", "database": "NVARCHAR(MAX)", "example": "" },
            "VendorSKU": { "type": "string", "description": "Vendor SKU", "database": "VARCHAR(25)", "example": "" }
          }
        }
        

    

    
    - InventoryListingReportData: |
        {
          "name": "InventoryListingReportData",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "BarCode": { "type": "string", "description": "Bar Code - any bar code(s) you have assigned to this product", "database": "VARCHAR (20)", "example": "" },
            "BinStatus": { "type": "string", "description": "Status - dependent on the Status setting in the search criteria but can be In Stock, On RMA, Transfer In, Transfer Out, On Order, On Loan or Non Sellable", "database": "VARCHAR(100)", "example": "String_InStock" },
            "CategoryPath": { "type": "string", "description": "Category - inventory category", "database": "NVARCHAR (MAX)", "example": ">> @ Activations (Price Sheets) >> AT&T Price Sheet >> Equipment" },
            "ChannelName": { "type": "string", "description": "Channel - channel for the rows location", "database": "NVARCHAR (MAX)", "example": "English Channel" },
            "DateEOL": { "type": "datetime", "description": "EOL - date this product will be End of Life", "database": "DATETIME", "example": "null" },
            "DiscontinuedDate": { "type": "datetime", "description": "Discontinued Date - date that this product was, or will be, discontinued", "database": "DATETIME", "example": "null" },
            "DistrictName": { "type": "string", "description": "District - district for the rows location", "database": "NVARCHAR (MAX)", "example": "Westminster" },
            "DoNotOrder": { "type": "boolean", "description": "Do Not Order - yes/no field noting whether this product has been marked Do Not Order", "database": "BIT", "example": "false" },
            "IsUsed": { "type": "boolean", "description": "Used - this will show checked if the product is in a used status", "database": "BIT", "example": "false" },
            "ManufacturerPartNumber": { "type": "string", "description": "Manufacturer SKU - SKU assigned by the manufacturer (can be anything user specifies, not necessarily from manufacturer)", "database": "VARCHAR (50)", "example": "" },
            "NoSale": { "type": "boolean", "description": "Do Not Sell - yes/no field noting whether this product has been marked Do Not Sell", "database": "BIT", "example": "false" },
            "ProductIdentifier": { "type": "string", "description": "Product SKU - RQ generated SKU", "database": "VARCHAR (12)", "example": "AAATAP000093" },
            "ProductName": { "type": "string", "description": "Product Name - name of the product as it appears in the inventory", "database": "NVARCHAR (MAX)", "example": "Apple iPhone 6 Plus 16GB Space Gray - AT&T" },
            "Quantity": { "type": "integer", "description": "Quantity - total number in stock at the location", "database": "INT", "example": "1" },
            "RefundPeriodLength": { "type": "integer", "description": "Refund Period (days) - number of days that product can be refunded in", "database": "INT", "example": "null" },
            "RegionName": { "type": "string", "description": "Region - region for the rows location", "database": "NVARCHAR (MAX)", "example": "London" },
            "SerialNumber": { "type": "string", "description": "Tracking # - any serial number attached to the particular product", "database": "VARCHAR(100)", "example": "2342342341" },
            "SpecialOrder": { "type": "boolean", "description": "Special Order - yes/no field noting this product as a Special Order", "database": "BIT", "example": "false" },
            "StoreName": { "type": "string", "description": "Location - where the product is in stock", "database": "NVARCHAR (MAX)", "example": "100: My Network LLC - Anchorage" },
            "StoreTypeName": { "type": "string", "description": "Location Type - location type where the product is in stock", "database": "NVARCHAR (MAX)", "example": "Costco" },
            "TotalCost": { "type": "decimal", "description": "Total Cost - Quantity X Unit Cost", "database": "MONEY", "example": "699" },
            "UnitCost": { "type": "decimal", "description": "Unit Cost - purchase cost per unit; weighted average cost for non-serialized products and true cost for serialized products", "database": "MONEY", "example": "699" },
            "VendorName": { "type": "string", "description": "Vendor - vendor from whom the individual product was purchased", "database": "NVARCHAR (MAX)", "example": "Offwire" },
            "VendorPartNumber": { "type": "string", "description": "Vendor SKU - SKU assigned by the vendor", "database": "VARCHAR (25)", "example": "" },
            "WarehouseLocation": { "type": "string", "description": "Warehouse Location - where the stock is located in the warehouse, if used", "database": "VARCHAR (100)", "example": "" },
            "WriteOff": { "type": "boolean", "description": "Write Off - yes/no field noting this product as a Write Off", "database": "BIT", "example": "false" }
          }
        }      
        

    

    
    - RMAHistoryInvoiceReportData: |
        {
          "name": "RMAHistoryInvoiceReportData",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "ChannelName": { "type": "string", "description": "Channel - channel for the rows location", "database": "NVARCHAR (MAX)", "example": "English Channel" },
            "Comments": { "type": "string", "description": "Comments - comments entered on the RMA form will be displayed here", "database": "VARCHAR (1000)", "example": "Phone missing from package delivered on invoice #87742" },
            "Committed": { "type": "boolean", "description": "Committed - indicates if the RMA is committed or non-committed", "database": "BIT", "example": "true"},
            "Completed": { "type": "boolean", "description": "Completed - indicates if the RMA is completed", "database": "BIT", "example": "true"},
            "CreditInvoiceNumber": { "type": "string", "description": "Credit Invoice # - number of the credit invoice from vendor used to provide an audit trail", "database": "VARCHAR (20)", "example": "" },
            "CustomerID": { "type": "integer", "description": "Identifier for a customer in RQ", "database": "INT", "example": "-1" },
            "CustomerName": { "type": "string", "description": "Customer - it is possible to RMA a customer owned product (very rare); customer name will be recorded here", "database": "VARCHAR (101)", "example": "" },
            "DateCommitted": { "type": "datetime", "description": "Committed On - date and time committed", "database": "DATETIME", "example": "2011-03-02T17:10:11.78" },
            "DateCreated": { "type": "datetime", "description": "Created On - date and time the RMA was created", "database": "DATETIME", "example": "2011-03-02T17:10:11.78" },
            "DistrictName": { "type": "string", "description": "District - district for the rows location", "database": "NVARCHAR (MAX)", "example": "Valley Area District" },
            "EmployeeName": { "type": "string", "description": "Created By - name of the employee logged into RQ when the RMA was created", "database": "VARCHAR (51)", "example": "iQmetrix User" },
            "ReceivingComments": { "type": "string", "description": "Receiving Comments - comments entered during the RMA completion process will be displayed here", "database": "VARCHAR (1000)", "example": "Received Credit on 2/22/11." },
            "RegionName": { "type": "string", "description": "Region - region for the rows location", "database": "NVARCHAR (MAX)", "example": "Region A" },
            "RMANumber": { "type": "string", "description": "Vendor RMA # - RMA # provided by the vendor, should be noted to provide an audit trail.", "database": "VARCHAR (15)", "example": "112482" },
            "ShippedAway": { "type": "boolean", "description": "Shipped Away - indicates if the Shipped box on the RMA has been checked", "database": "BIT", "example": "true"},
            "ShippingCost": { "type": "decimal", "description": "Shipping Cost - total of the cost to return the product", "database": "MONEY", "example": "8.5" },
            "ShippingMethod": { "type": "string", "description": "Shipping Method - shipping company name will appear here", "database": "VARCHAR (30)", "example": "Regular" },
            "StockBalanceID": { "type": "integer", "description": "Identifier in RQ", "database": "INT", "example": "1" },
            "StockBalanceIDByStore": { "type": "string", "description": "RMA # - RMA number assigned by RQ", "database": "VARCHAR (14)", "example": "84WEASB1" },
            "StoreName": { "type": "string", "description": "Location - location that created the RMA", "database": "NVARCHAR (MAX)", "example": "84 West" },
            "TotalCost": { "type": "decimal", "description": "Total Cost - total cost of items sent away on RMA", "database": "MONEY", "example": "460" },
            "TotalCostCredited": { "type": "decimal", "description": "Total Cost Credited - amount credited by vendor for products on the RMA. It grabs the average cost under the product.", "database": "MONEY", "example": "459" },
            "VendorName": { "type": "string", "description": "Vendor - vendor receiving the RMA", "database": "NVARCHAR (MAX)", "example": "Reliance" },
            "WaybillNumber": { "type": "string", "description": "Way Bill # - tracking number provided by shipping company, e.g. UPS, Purolator, etc.", "database": "VARCHAR (50)", "example": "" }
          }
        }
        

    

    
    - RMAHistoryProductReportData: |
        {
          "name": "RMAHistoryProductReportData",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "ActionTaken": { "type": "integer", "description": "Type - indicated the type of RMA: Credit, Replacement, Rejected or Repaired (1:Credit, 2:Replacement, 3:Rejected, 4:Repaired)", "database": "TINYINT", "example": "1" },
            "ChannelName": { "type": "string", "description": "Channel - channel for the rows location", "database": "NVARCHAR (MAX)", "example": "English Channel" },
            "DateCreated": { "type": "datetime", "description": "Created On - date and time the RMA was created", "database": "DATETIME", "example": "2011-03-02T17:10:11.78" },
            "DateReceived": { "type": "datetime", "description": "Received On - date and time the RMA was received", "database": "DATETIME", "example": "2011-03-02T17:18:44.913" },
            "DateShipped": { "type": "datetime", "description": "Shipped On - date and time the Shipped box was checked", "database": "DATETIME", "example": "2011-03-02T17:10:12.17" },
            "DistrictName": { "type": "string", "description": "District - district for the rows location", "database": "NVARCHAR (MAX)", "example": "Valley Area District" },
            "EmployeeName1": { "type": "string", "description": "Shipped By - name of the employee logged into RQ when the RMA was shipped", "database": "VARCHAR (51)", "example": "iQmetrix User" },
            "EmployeeName2": { "type": "string", "description": "TransferHistoryInvoiceDetailReportData", "database": "VARCHAR (51)", "example": "iQmetrix User" },
            "ProductIdentifier": { "type": "string", "description": "Product SKU - RQ generated SKU", "database": "VARCHAR (12)", "example": "ACPHUT000163" },
            "ProductName": { "type": "string", "description": "Product Name - name of the product as it appears in the inventory", "database": "NVARCHAR (MAX)", "example": "HTC Droid Incredible" },
            "Quantity": { "type": "integer", "description": "Quantity - total number of that product SKU on the purchase order", "database": "INT", "example": "1" },
            "RegionName": { "type": "string", "description": "Region - region for the rows location", "database": "NVARCHAR (MAX)", "example": "Region A" },
        
            "RMANumber": { "type": "string", "description": "Vendor RMA # - RMA # provided by the vendor, should be noted to provide an audit trail", "database": "VARCHAR (15)", "example": "112482" },
        
            "SerialNumberAdded": { "type": "string", "description": "Tracking # Received - tracking number received as replacement", "database": "VARCHAR (100)", "example": "" },
            "SerialNumberRemoved": { "type": "string", "description": "Tracking # Shipped - tracking number shipped from inventory", "database": "VARCHAR (100)", "example": "A1000017AB0E93" },
        
            "StockBalanceID": { "type": "integer", "description": "Identifier in RQ", "database": "INT", "example": "1" },
            "StockBalanceIDByStore": { "type": "string", "description": "RMA # - RMA number assigned by RQ", "database": "VARCHAR (14)", "example": "84WEASB1" },
        
            "StoreName": { "type": "string", "description": "Location - location that created the RMA", "database": "NVARCHAR (MAX)", "example": "84 West" },
            "TotalCost": { "type": "decimal", "description": "Total Cost - total cost of items sent away on RMA", "database": "MONEY", "example": "460" },
            "TotalCostCredited": { "type": "decimal", "description": "Total Cost Credited - dollar amount credited by vendor for products on the RMA", "database": "MONEY", "example": "459" },
            "UnitCost": { "type": "decimal", "description": "Unit Cost - purchase cost per unit sent away on RMA; weighted average cost for non-serialized products and true cost for serialized products", "database": "MONEY", "example": "460" },
            "UnitCostCredited": { "type": "decimal", "description": "Unit Cost Credited - dollar amount of the credit granted by the vendor per unit", "database": "MONEY", "example": "459" },
            "VendorInvoiceNumber": { "type": "string", "description": "Vendor Invoice # - invoice number assigned by the vendor for the purchase order", "database": "VARCHAR (20)", "example": "" },
            "VendorName": { "type": "string", "description": "RMA Vendor - vendor to whom the product was returned", "database": "NVARCHAR (MAX)", "example": "Reliance" },
            "VendorPartNumber": { "type": "string", "description": "RMA Vendor SKU - SKU assigned by the RMA Vendor", "database": "VARCHAR (25)", "example": "" }
          }
        }
        

    

    
    - TransferHistoryInvoiceDetailReportData: |
        {
          "name": "TransferHistoryInvoiceDetailReportData",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "BillingStoreName": { "type": "string", "description": "Bill To - location to be billed", "database": "NVARCHAR(MAX)", "example": "100: My Network LLC - Anchorage" },
            "CancelledByID": { "type": "integer", "description": "Internal identifier in RQ", "database": "INT", "example": "null" },
            "CancelledByName": { "type": "string", "description": "Cancelled By - employee logged into RQ when the transfer was cancelled", "database": "VARCHAR (51)", "example": "null" },
            "CancelledDate": { "type": "datetime", "description": "Cancelled On - date and time the transfer was cancelled", "database": "DATETIME", "example": "null" },
            "Committed": { "type": "boolean", "description": "Committed - indicates if the transfer has been committed or not", "database": "BIT", "example": "true"},
            "Completed": { "type": "boolean", "description": "Completed - indicates if the transfer has been completed, i.e. received by the requesting location", "database": "BIT", "example": "true"},
            "DateCommitted": { "type": "datetime", "description": "Committed On - date and time the transfer was committed", "database": "DATETIME", "example": "2016-04-19T14:57:20.32" },
            "DateRequested": { "type": "datetime", "description": "Requested On - date and time the product(s) were requested", "database": "DATETIME", "example": "2016-04-19T14:57:20.32" },
            "EstimatedArrivalDate": { "type": "datetime", "description": "ETA - original estimate of date of delivery", "database": "DATETIME", "example": "2016-04-20T00:00:00" },
            "ReceivingChannelName": { "type": "string", "description": "Received At Channel - channel that received the inventory", "database": "NVARCHAR(MAX)", "example": "English Channel" },
            "ReceivingComments": { "type": "string", "description": "Receiving Comments - any commented entered at the time the transfer was received", "database": "VARCHAR (500)", "example": "" },
            "ReceivingDistrictName": { "type": "string", "description": "Received At District - district that received the inventory", "database": "NVARCHAR(MAX)", "example": "Westminster" },
            "ReceivingRegionName": { "type": "string", "description": "Received At Region - region that received the inventory", "database": "NVARCHAR(MAX)", "example": "London" },
            "ReceivingStoreName": { "type": "string", "description": "Received At - location that received the product(s) shipped from another location", "database": "NVARCHAR(MAX)", "example": "100: My Network LLC - Anchorage" },
            "RequestingComments": { "type": "string", "description": "Requesting Comments - any comments entered at the time the transfer request was made", "database": "VARCHAR (500)", "example": "" },
            "RequestingEmployeeName": { "type": "string", "description": "Requested By - employee logged into RQ when the request was made", "database": "VARCHAR (51)", "example": "iQmetrix User" },
            "ShippingChannelName": { "type": "string", "description": "Shipped From Channel - channel that shipped the inventory", "database": "NVARCHAR(MAX)", "example": "English Channel" },
            "ShippingComments": { "type": "string", "description": "Shipping Comments - any comments entered at the time the transfer was shipped", "database": "VARCHAR (500)", "example": "" },
            "ShippingCost": { "type": "decimal", "description": "Shipping Cost - total cost to ship the product(s)", "database": "MONEY", "example": "0" },
            "ShippingDistrictName": { "type": "string", "description": "Shipped From District - district that shipped the inventory", "database": "NVARCHAR(MAX)", "example": "Valley Area District" },
            "ShippingMethod": { "type": "string", "description": "Shipping Method - selected at the time of shipping", "database": "VARCHAR (30)", "example": "Regular" },
            "ShippingRegionName": { "type": "string", "description": "Shipped From Region - region that shipped the inventory", "database": "NVARCHAR(MAX)", "example": "Region A" },
            "ShippingStoreName": { "type": "string", "description": "Shipped From - location that shipped the product(s) to another location", "database": "NVARCHAR(MAX)", "example": "84 West" },
            "TotalInvoice": { "type": "decimal", "description": "Total Invoice - total dollar amount of the cost of the product(s) on being transferred", "database": "MONEY", "example": "500" },
            "TransferID": { "type": "integer", "description": "Identifier for a transfer in RQ", "database": "INT", "example": "4326" },
            "TransferIDByStore": { "type": "string", "description": "Transfer # - transfer number generated by RQ", "database": "VARCHAR (14)", "example": "77224TR1" },
            "WaybillNumber": { "type": "string", "description": "Way Bill # - tracking number provided by shipping company, e.g. UPS, Purolator, etc.", "database": "VARCHAR (100)", "example": "53454354" }
          }
        }
        

    

    
    - TransferHistoryProductDetailReportData: |
        {
          "name": "TransferHistoryProductDetailReportData",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "CancelledByID": { "type": "integer", "description": "Internal identifier in RQ", "database": "INT", "example": "null" },
            "CancelledByName": { "type": "string", "description": "Cancelled By - cancelling employee", "database": "VARCHAR (51)", "example": "null" },
            "CancelledDate": { "type": "datetime", "description": "Cancelled On - date the transfer was cancelled", "database": "DATETIME", "example": "null" },
            "CategoryPath": { "type": "string", "description": "Category - inventory category this product lives in", "database": "NVARCHAR(MAX)", "example": ">> Phones >> Galaxies" },
            "DateReceived": { "type": "datetime", "description": "Received On - date the item(s) were received on", "database": "DATETIME", "example": "2011-06-02T10:04:51.59" },
            "DateShipped": { "type": "datetime", "description": "Shipped On - date the item(s) was shipped", "database": "DATETIME", "example": "2011-06-02T09:41:08.027" },
            "ProductIdentifier": { "type": "string", "description": "Product SKU - RQ generated SKU", "database": "VARCHAR(12)", "example": "ASBORI000028" },
            "ProductName": { "type": "string", "description": "Product Name - name of this product as it appears in inventory", "database": "NVARCHAR(MAX)", "example": "BG Curve2 Posh PK" },
            "Quantity": { "type": "integer", "description": "Quantity - quantity of item transferred", "database": "INT", "example": "1" },
            "ReceivingChannelName": { "type": "string", "description": "Received At Channel - channel that received the inventory", "database": "NVARCHAR(MAX)", "example": "English Channel" },
            "ReceivingDistrictName": { "type": "string", "description": "Received At District - district that received the inventory", "database": "NVARCHAR(MAX)", "example": "Westminster" },
            "ReceivingEmployeeName": { "type": "string", "description": "Received By - employee who received the transfer", "database": "VARCHAR (51)", "example": "Courtney Noon" },
            "ReceivingRegionName": { "type": "string", "description": "Received At Region - region that received the inventory", "database": "NVARCHAR(MAX)", "example": "London" },
            "ReceivingStoreName": { "type": "string", "description": "Received At - location that received the product(s) shipped from another location", "database": "NVARCHAR(MAX)", "example": "100: My Network LLC - Anchorage" },
            "RequestingEmployeeName": { "type": "string", "description": "Requested By - employee who requested the transfer", "database": "VARCHAR (51)", "example": "iQmetrix User" },
            "SerialNumber": { "type": "string", "description": "Tracking # - tracking # for the item shipped", "database": "VARCHAR (100)", "example": "" },
            "ShippingChannelName": { "type": "string", "description": "Shipped From Channel - channel that shipped the inventory", "database": "NVARCHAR(MAX)", "example": "English Channel" },
            "ShippingDistrictName": { "type": "string", "description": "Shipped From District - district that shipped the inventory", "database": "NVARCHAR(MAX)", "example": "Valley Area District" },
            "ShippingEmployeeName": { "type": "string", "description": "Shipped By - employee who shipped the transfer", "database": "VARCHAR (51)", "example": "Courtney Noon" },
            "ShippingRegionName": { "type": "string", "description": "Shipped From Region - region that shipped the inventory", "database": "NVARCHAR(MAX)", "example": "Region A" },
            "ShippingStoreName": { "type": "string", "description": "Shipped From - location that shipped the product(s) to another location", "database": "NVARCHAR(MAX)", "example": "84 West" },
            "TotalCost": { "type": "decimal", "description": "Total Cost - cost per item multiplied by how many of the item were transferred", "database": "MONEY", "example": "9.6705" },
            "TransferID": { "type": "integer", "description": "Internal identifier in RQ", "database": "INT", "example": "718" },
            "TransferIDByStore": { "type": "string", "description": "Transfer # - transfer number generated by RQ", "database": "VARCHAR(14)", "example": "WIREGTR73" },
            "UnitCost": { "type": "decimal", "description": "Unit Cost - cost per item", "database": "MONEY", "example": "9.6705" },
            "VendorName": { "type": "string", "description": "Vendor - vendor the item was purchased from", "database": "NVARCHAR(MAX)", "example": "LTD Wireless" },
            "VendorPartNumber": { "type": "string", "description": "Vendor SKU - vendor SKU", "database": "VARCHAR (25)", "example": "bgcrv2poshpk" },
            "WaybillNumber": { "type": "string", "description": "Way Bill # - tracking number provided by shipping company, e.g. UPS, Purolator, etc.", "database": "VARCHAR (100)", "example": "53454354" }
          }
        }
        

    


/reports/adjustmenthistoryinvoicedetailreport?ReasonCode={ReasonCode}&StartDate={StartDate}&StopDate={StopDate}&ForWho={ForWho}&ForWhoIDs={ForWhoIDs}&LocationType={LocationType}&LocationTypeIDs={LocationTypeIDs}&SerialNumber={SerialNumber}&ProductIdentifier={ProductIdentifier}&LanguageCode={LanguageCode}&Auth={Auth}&Response={Response}:
    
    uriParameters:
        
        ReasonCode:
            displayName: ReasonCode
            type: integer
            example: -1
            required: true
            description: Identifier for a <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#reasoncode'>ReasonCode</a>. Use -1 to specify All Reason Codes. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-reason-codes">Getting Reason Codes</a>
        
        StartDate:
            displayName: StartDate
            type: string
            example: 1969-12-31
            required: true
            description: Date at which report will begin
        
        StopDate:
            displayName: StopDate
            type: string
            example: 2015-12-31
            required: true
            description: Date at which report will end
        
        ForWho:
            displayName: ForWho
            type: integer
            example: 1
            required: false
            description: Identifier for a level at which to perform the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-report-levels-in-rq">Getting Report Levels in RQ</a>. If <strong>LocationType</strong> is provided, this value is ignored
        
        ForWhoIDs:
            displayName: ForWhoIDs
            type: integer
            example: 6679
            required: false
            description: A comma seperated list of identifiers to filter the report. For a list of identifiers, see <a href="/api/RQ-Data-Connect/#getting-nodes-by-location-type">Getting Nodes By Location Type</a>. If <strong>LocationTypeIDs</strong> is provided, this value is ignored. To ignore filtering use -1
        
        LocationType:
            displayName: LocationType
            type: string
            example: Store
            required: false
            description: A <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#locationtype'>LocationType</a> to filter the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-location-types">Getting Location Types</a>. If this value is provided, <strong>ForWho</strong> is ignored
        
        LocationTypeIDs:
            displayName: LocationTypeIDs
            type: string
            example: 1,2
            required: false
            description: A comma seperated list of <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#rqcompanytreenode'>RQCompanyTreeNode</a> identifiers to filter the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-location-ids">Getting Location Ids</a>. To ignore filtering, use -1 or *. If this value is provided, <strong>ForWhoIDs</strong> is ignored
        
        SerialNumber:
            displayName: SerialNumber
            type: string
            example: 990003427999221
            required: false
            description: Serial Number
        
        ProductIdentifier:
            displayName: ProductIdentifier
            type: string
            example: ASCLMO000001
            required: false
            description: Product SKU
        
        LanguageCode:
            displayName: LanguageCode
            type: string
            example: en-us
            required: false
            description: Language code, defaults to en-us. For a complete list, see <a href='/api/RQ-Data-Connect/#getting-language-codes'>Getting Language Codes</a>
        
        Auth:
            displayName: Auth
            type: string
            example: vRMt17P8rIBWWbVbLzLWjTNyLfvESgA2yfXhze0WZN7HSIl4slGV866p9dSw
            required: false
            description: Basic token used for authentication. For other methods of authentication, see {{AuthenticationOptions}}
        
        Response:
            displayName: Response
            type: string
            example: xml
            required: false
            description: Default is JSON. For other methods of response, see {{ResponseOptions}}
          
      
    get:
        
        displayName: Getting the Adjustment History Invoice Detail Report
                
        
        description: |            
            For more information, see {{support_AdjustmentHistoryReport}}.
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept-Encoding:
                example: gzip
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                [{"AdjustmentType":1,"Comments":"Comment","CountSheetID":1,"CountSheetIDByStore":"1","DateCreated":"2015-12-16T07:39:39.49","EmployeeName":"iQmetrix User","IsReceiving":false,"StoreName":"100: My Network LLC - Anchorage","TotalInvoice":0,"TransactionID":19240,"TransactionIDByStore":"84WEAIA1187"}]
                            schema: |
                                {"name":"AdjustmentHistoryInvoiceDetailReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"AdjustmentType":{"type":"integer","description":"Type: 0 = Not Set : 1 = Quantity : 2 = Unit Cost : 3 = New Product : 4 = Delete Product","database":"TINYINT","example":"1"},"Comments":{"type":"string","description":"Comments - any comments entered regarding the adjustment; if the adjustment was done via the reconcile receiving invoices screen, it will be noted here automatically","database":"VARCHAR (1000)","example":"Comment"},"CountSheetID":{"type":"integer","description":"Internal identifier for a Count Sheet in RQ","database":"INT","example":"1"},"CountSheetIDByStore":{"type":"string","description":"Count Sheet # - if an adjustment is generated from an inventory count sheet it will be noted here","database":"VARCHAR (14)","example":"1"},"DateCreated":{"type":"datetime","description":"Adjusted On - date and time the adjustment was made","database":"DATETIME","example":"2015-12-16T07:39:39.49"},"EmployeeName":{"type":"string","description":"Created By - name of the employee who did the adjustment","database":"VARCHAR (51)","example":"iQmetrix User"},"IsReceiving":{"type":"boolean","description":"Is Adjustment from receiving Products or not (adjustments made either made through receiving, or manual adjustment)","database":"BIT","example":"false"},"StoreName":{"type":"string","description":"Location - where the adjustment was made","database":"NVARCHAR (MAX)","example":"100: My Network LLC - Anchorage"},"TotalInvoice":{"type":"decimal","description":"Total Invoice - total dollar amount of the adjustment invoice","database":"MONEY","example":"0"},"TransactionID":{"type":"integer","description":"Internal RQ identifier","database":"INT","example":"19240"},"TransactionIDByStore":{"type":"string","description":"Transaction # - transaction number, including corrected purchase orders","database":"VARCHAR (14)","example":"84WEAIA1187"}}}
                            
                        
                    
                    application/JsonDataTable:
                        
                            
                            example: |
                                [{"AdjustmentType":1,"Comments":"Comment","CountSheetID":1,"CountSheetIDByStore":"1","DateCreated":"2015-12-16T07:39:39.49","EmployeeName":"iQmetrix User","IsReceiving":false,"StoreName":"100: My Network LLC - Anchorage","TotalInvoice":0,"TransactionID":19240,"TransactionIDByStore":"84WEAIA1187"}]
                            schema: |
                                {"name":"AdjustmentHistoryInvoiceDetailReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"AdjustmentType":{"type":"integer","description":"Type: 0 = Not Set : 1 = Quantity : 2 = Unit Cost : 3 = New Product : 4 = Delete Product","database":"TINYINT","example":"1"},"Comments":{"type":"string","description":"Comments - any comments entered regarding the adjustment; if the adjustment was done via the reconcile receiving invoices screen, it will be noted here automatically","database":"VARCHAR (1000)","example":"Comment"},"CountSheetID":{"type":"integer","description":"Internal identifier for a Count Sheet in RQ","database":"INT","example":"1"},"CountSheetIDByStore":{"type":"string","description":"Count Sheet # - if an adjustment is generated from an inventory count sheet it will be noted here","database":"VARCHAR (14)","example":"1"},"DateCreated":{"type":"datetime","description":"Adjusted On - date and time the adjustment was made","database":"DATETIME","example":"2015-12-16T07:39:39.49"},"EmployeeName":{"type":"string","description":"Created By - name of the employee who did the adjustment","database":"VARCHAR (51)","example":"iQmetrix User"},"IsReceiving":{"type":"boolean","description":"Is Adjustment from receiving Products or not (adjustments made either made through receiving, or manual adjustment)","database":"BIT","example":"false"},"StoreName":{"type":"string","description":"Location - where the adjustment was made","database":"NVARCHAR (MAX)","example":"100: My Network LLC - Anchorage"},"TotalInvoice":{"type":"decimal","description":"Total Invoice - total dollar amount of the adjustment invoice","database":"MONEY","example":"0"},"TransactionID":{"type":"integer","description":"Internal RQ identifier","database":"INT","example":"19240"},"TransactionIDByStore":{"type":"string","description":"Transaction # - transaction number, including corrected purchase orders","database":"VARCHAR (14)","example":"84WEAIA1187"}}}
                            
                        
                    
                    text/xml:
                        
                            
                            example: |
                                [{"AdjustmentType":1,"Comments":"Comment","CountSheetID":1,"CountSheetIDByStore":"1","DateCreated":"2015-12-16T07:39:39.49","EmployeeName":"iQmetrix User","IsReceiving":false,"StoreName":"100: My Network LLC - Anchorage","TotalInvoice":0,"TransactionID":19240,"TransactionIDByStore":"84WEAIA1187"}]
                            schema: |
                                {"name":"AdjustmentHistoryInvoiceDetailReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"AdjustmentType":{"type":"integer","description":"Type: 0 = Not Set : 1 = Quantity : 2 = Unit Cost : 3 = New Product : 4 = Delete Product","database":"TINYINT","example":"1"},"Comments":{"type":"string","description":"Comments - any comments entered regarding the adjustment; if the adjustment was done via the reconcile receiving invoices screen, it will be noted here automatically","database":"VARCHAR (1000)","example":"Comment"},"CountSheetID":{"type":"integer","description":"Internal identifier for a Count Sheet in RQ","database":"INT","example":"1"},"CountSheetIDByStore":{"type":"string","description":"Count Sheet # - if an adjustment is generated from an inventory count sheet it will be noted here","database":"VARCHAR (14)","example":"1"},"DateCreated":{"type":"datetime","description":"Adjusted On - date and time the adjustment was made","database":"DATETIME","example":"2015-12-16T07:39:39.49"},"EmployeeName":{"type":"string","description":"Created By - name of the employee who did the adjustment","database":"VARCHAR (51)","example":"iQmetrix User"},"IsReceiving":{"type":"boolean","description":"Is Adjustment from receiving Products or not (adjustments made either made through receiving, or manual adjustment)","database":"BIT","example":"false"},"StoreName":{"type":"string","description":"Location - where the adjustment was made","database":"NVARCHAR (MAX)","example":"100: My Network LLC - Anchorage"},"TotalInvoice":{"type":"decimal","description":"Total Invoice - total dollar amount of the adjustment invoice","database":"MONEY","example":"0"},"TransactionID":{"type":"integer","description":"Internal RQ identifier","database":"INT","example":"19240"},"TransactionIDByStore":{"type":"string","description":"Transaction # - transaction number, including corrected purchase orders","database":"VARCHAR (14)","example":"84WEAIA1187"}}}
                            
                        
                    
                    text/XmlDataTable:
                        
                            
                            example: |
                                [{"AdjustmentType":1,"Comments":"Comment","CountSheetID":1,"CountSheetIDByStore":"1","DateCreated":"2015-12-16T07:39:39.49","EmployeeName":"iQmetrix User","IsReceiving":false,"StoreName":"100: My Network LLC - Anchorage","TotalInvoice":0,"TransactionID":19240,"TransactionIDByStore":"84WEAIA1187"}]
                            schema: |
                                {"name":"AdjustmentHistoryInvoiceDetailReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"AdjustmentType":{"type":"integer","description":"Type: 0 = Not Set : 1 = Quantity : 2 = Unit Cost : 3 = New Product : 4 = Delete Product","database":"TINYINT","example":"1"},"Comments":{"type":"string","description":"Comments - any comments entered regarding the adjustment; if the adjustment was done via the reconcile receiving invoices screen, it will be noted here automatically","database":"VARCHAR (1000)","example":"Comment"},"CountSheetID":{"type":"integer","description":"Internal identifier for a Count Sheet in RQ","database":"INT","example":"1"},"CountSheetIDByStore":{"type":"string","description":"Count Sheet # - if an adjustment is generated from an inventory count sheet it will be noted here","database":"VARCHAR (14)","example":"1"},"DateCreated":{"type":"datetime","description":"Adjusted On - date and time the adjustment was made","database":"DATETIME","example":"2015-12-16T07:39:39.49"},"EmployeeName":{"type":"string","description":"Created By - name of the employee who did the adjustment","database":"VARCHAR (51)","example":"iQmetrix User"},"IsReceiving":{"type":"boolean","description":"Is Adjustment from receiving Products or not (adjustments made either made through receiving, or manual adjustment)","database":"BIT","example":"false"},"StoreName":{"type":"string","description":"Location - where the adjustment was made","database":"NVARCHAR (MAX)","example":"100: My Network LLC - Anchorage"},"TotalInvoice":{"type":"decimal","description":"Total Invoice - total dollar amount of the adjustment invoice","database":"MONEY","example":"0"},"TransactionID":{"type":"integer","description":"Internal RQ identifier","database":"INT","example":"19240"},"TransactionIDByStore":{"type":"string","description":"Transaction # - transaction number, including corrected purchase orders","database":"VARCHAR (14)","example":"84WEAIA1187"}}}
                            
                        
                    
                    text/csv:
                        
                            
                            example: |
                                [{"AdjustmentType":1,"Comments":"Comment","CountSheetID":1,"CountSheetIDByStore":"1","DateCreated":"2015-12-16T07:39:39.49","EmployeeName":"iQmetrix User","IsReceiving":false,"StoreName":"100: My Network LLC - Anchorage","TotalInvoice":0,"TransactionID":19240,"TransactionIDByStore":"84WEAIA1187"}]
                            schema: |
                                {"name":"AdjustmentHistoryInvoiceDetailReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"AdjustmentType":{"type":"integer","description":"Type: 0 = Not Set : 1 = Quantity : 2 = Unit Cost : 3 = New Product : 4 = Delete Product","database":"TINYINT","example":"1"},"Comments":{"type":"string","description":"Comments - any comments entered regarding the adjustment; if the adjustment was done via the reconcile receiving invoices screen, it will be noted here automatically","database":"VARCHAR (1000)","example":"Comment"},"CountSheetID":{"type":"integer","description":"Internal identifier for a Count Sheet in RQ","database":"INT","example":"1"},"CountSheetIDByStore":{"type":"string","description":"Count Sheet # - if an adjustment is generated from an inventory count sheet it will be noted here","database":"VARCHAR (14)","example":"1"},"DateCreated":{"type":"datetime","description":"Adjusted On - date and time the adjustment was made","database":"DATETIME","example":"2015-12-16T07:39:39.49"},"EmployeeName":{"type":"string","description":"Created By - name of the employee who did the adjustment","database":"VARCHAR (51)","example":"iQmetrix User"},"IsReceiving":{"type":"boolean","description":"Is Adjustment from receiving Products or not (adjustments made either made through receiving, or manual adjustment)","database":"BIT","example":"false"},"StoreName":{"type":"string","description":"Location - where the adjustment was made","database":"NVARCHAR (MAX)","example":"100: My Network LLC - Anchorage"},"TotalInvoice":{"type":"decimal","description":"Total Invoice - total dollar amount of the adjustment invoice","database":"MONEY","example":"0"},"TransactionID":{"type":"integer","description":"Internal RQ identifier","database":"INT","example":"19240"},"TransactionIDByStore":{"type":"string","description":"Transaction # - transaction number, including corrected purchase orders","database":"VARCHAR (14)","example":"84WEAIA1187"}}}
                            
                        
                    
                    application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
                        
                            
                            example: |
                                [{"AdjustmentType":1,"Comments":"Comment","CountSheetID":1,"CountSheetIDByStore":"1","DateCreated":"2015-12-16T07:39:39.49","EmployeeName":"iQmetrix User","IsReceiving":false,"StoreName":"100: My Network LLC - Anchorage","TotalInvoice":0,"TransactionID":19240,"TransactionIDByStore":"84WEAIA1187"}]
                            schema: |
                                {"name":"AdjustmentHistoryInvoiceDetailReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"AdjustmentType":{"type":"integer","description":"Type: 0 = Not Set : 1 = Quantity : 2 = Unit Cost : 3 = New Product : 4 = Delete Product","database":"TINYINT","example":"1"},"Comments":{"type":"string","description":"Comments - any comments entered regarding the adjustment; if the adjustment was done via the reconcile receiving invoices screen, it will be noted here automatically","database":"VARCHAR (1000)","example":"Comment"},"CountSheetID":{"type":"integer","description":"Internal identifier for a Count Sheet in RQ","database":"INT","example":"1"},"CountSheetIDByStore":{"type":"string","description":"Count Sheet # - if an adjustment is generated from an inventory count sheet it will be noted here","database":"VARCHAR (14)","example":"1"},"DateCreated":{"type":"datetime","description":"Adjusted On - date and time the adjustment was made","database":"DATETIME","example":"2015-12-16T07:39:39.49"},"EmployeeName":{"type":"string","description":"Created By - name of the employee who did the adjustment","database":"VARCHAR (51)","example":"iQmetrix User"},"IsReceiving":{"type":"boolean","description":"Is Adjustment from receiving Products or not (adjustments made either made through receiving, or manual adjustment)","database":"BIT","example":"false"},"StoreName":{"type":"string","description":"Location - where the adjustment was made","database":"NVARCHAR (MAX)","example":"100: My Network LLC - Anchorage"},"TotalInvoice":{"type":"decimal","description":"Total Invoice - total dollar amount of the adjustment invoice","database":"MONEY","example":"0"},"TransactionID":{"type":"integer","description":"Internal RQ identifier","database":"INT","example":"19240"},"TransactionIDByStore":{"type":"string","description":"Transaction # - transaction number, including corrected purchase orders","database":"VARCHAR (14)","example":"84WEAIA1187"}}}
                            
                        
                    
                
            
    

/reports/adjustmenthistoryproductdetailreport?ReasonCode={ReasonCode}&StartDate={StartDate}&StopDate={StopDate}&ForWho={ForWho}&ForWhoIDs={ForWhoIDs}&LocationType={LocationType}&LocationTypeIDs={LocationTypeIDs}&LanguageCode={LanguageCode}&ProductIdentifier={ProductIdentifier}&Auth={Auth}&Response={Response}:
    
    uriParameters:
        
        ReasonCode:
            displayName: ReasonCode
            type: integer
            example: -1
            required: true
            description: Identifier for a <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#reasoncode'>ReasonCode</a>. Use -1 to specify All Reason Codes. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-reason-codes">Getting Reason Codes</a>
        
        StartDate:
            displayName: StartDate
            type: string
            example: 1969-12-31
            required: true
            description: Date at which report will begin
        
        StopDate:
            displayName: StopDate
            type: string
            example: 2015-12-31
            required: true
            description: Date at which report will end
        
        ForWho:
            displayName: ForWho
            type: integer
            example: 1
            required: false
            description: Identifier for a level at which to perform the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-report-levels-in-rq">Getting Report Levels in RQ</a>. If <strong>LocationType</strong> is provided, this value is ignored
        
        ForWhoIDs:
            displayName: ForWhoIDs
            type: integer
            example: 6679
            required: false
            description: A comma seperated list of identifiers to filter the report. For a list of identifiers, see <a href="/api/RQ-Data-Connect/#getting-nodes-by-location-type">Getting Nodes By Location Type</a>. If <strong>LocationTypeIDs</strong> is provided, this value is ignored. To ignore filtering use -1
        
        LocationType:
            displayName: LocationType
            type: string
            example: Store
            required: false
            description: A <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#locationtype'>LocationType</a> to filter the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-location-types">Getting Location Types</a>. If this value is provided, <strong>ForWho</strong> is ignored
        
        LocationTypeIDs:
            displayName: LocationTypeIDs
            type: string
            example: 1,2
            required: false
            description: A comma seperated list of <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#rqcompanytreenode'>RQCompanyTreeNode</a> identifiers to filter the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-location-ids">Getting Location Ids</a>. To ignore filtering, use -1 or *. If this value is provided, <strong>ForWhoIDs</strong> is ignored
        
        LanguageCode:
            displayName: LanguageCode
            type: string
            example: en-us
            required: false
            description: Language code, defaults to en-us. For a complete list, see <a href='/api/RQ-Data-Connect/#getting-language-codes'>Getting Language Codes</a>
        
        ProductIdentifier:
            displayName: ProductIdentifier
            type: string
            example: ASCLMO000001
            required: false
            description: Product SKU
        
        Auth:
            displayName: Auth
            type: string
            example: vRMt17P8rIBWWbVbLzLWjTNyLfvESgA2yfXhze0WZN7HSIl4slGV866p9dSw
            required: false
            description: Basic token used for authentication. For other methods of authentication, see {{AuthenticationOptions}}
        
        Response:
            displayName: Response
            type: string
            example: xml
            required: false
            description: Default is JSON. For other methods of response, see {{ResponseOptions}}
          
      
    get:
        
        displayName: Getting the Adjustment History Product Detail Report
                
        
        description: |            
            For more information, see {{support_AdjustmentHistoryReport}}.
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept-Encoding:
                example: gzip
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                [{"Comments":"Comment","CountSheetID":0,"CountSheetIDByStore":"","DateCreated":"2015-12-16T07:39:39.49","EmployeeName":"iQmetrix User","IsReceiving":false,"ProductIdentifier":"ASMAAP000017","ProductName":"Samsung Galaxy S4","Quantity":5,"ReasonCode":"Unexplained Shrinkage","SerialNumber":"123000000000000","StoreName":"100: My Network LLC - Anchorage","TotalCost":0,"TransactionID":19240,"TransactionIDByStore":"84WEAIA1187","UnitCost":0,"VendorName":"","VendorSKU":""}]
                            schema: |
                                {"name":"AdjustmentHistoryProductDetailReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Comments":{"type":"string","description":"Comments - any comments entered regarding the adjustment; if an adjustment was made via the reconcile receiving invoices screen, it will automatically be entered in comments","database":"VARCHAR (100)","example":"Comment"},"CountSheetID":{"type":"integer","description":"Internal identifier for a Count Sheet in RQ","database":"INT","example":"0"},"CountSheetIDByStore":{"type":"string","description":"Count Sheet # - if an adjustment is generated from an inventory count sheet it will be noted here","database":"VARCHAR (14)","example":""},"DateCreated":{"type":"datetime","description":"Adjusted On - date and time the adjustment was made","database":"DATETIME","example":"2015-12-16T07:39:39.49"},"EmployeeName":{"type":"string","description":"Created By - name of the employee who did the adjustment","database":"VARCHAR (51)","example":"iQmetrix User"},"IsReceiving":{"type":"boolean","description":"Is Adjustment from receiving Products or not (adjustments made either made through receiving, or manual adjustment)","database":"BIT","example":"false"},"ProductIdentifier":{"type":"string","description":"Product SKU - RQ generated SKU for the product adjusted","database":"VARCHAR (12)","example":"ASMAAP000017"},"ProductName":{"type":"string","description":"Product Name - name of the product as it appears in inventory","database":"NVARCHAR (MAX)","example":"Samsung Galaxy S4"},"Quantity":{"type":"integer","description":"Quantity - total quantity of the product adjusted","database":"INT","example":"5"},"ReasonCode":{"type":"string","description":"Reason Code - reason code selected from the drop down list at the time of adjustment","database":"NVARCHAR (MAX)","example":"Unexplained Shrinkage"},"SerialNumber":{"type":"string","description":"Tracking # - tracking number, if there is one","database":"VARCHAR (100)","example":"123000000000000"},"StoreName":{"type":"string","description":"Location - where the adjustment was made","database":"NVARCHAR (MAX)","example":"100: My Network LLC - Anchorage"},"TotalCost":{"type":"decimal","description":"Total Cost - total cost for that product calculated as Quantity X Unit Cost","database":"MONEY","example":"0"},"TransactionID":{"type":"integer","description":"Internal RQ identifier","database":"INT","example":"19240"},"TransactionIDByStore":{"type":"string","description":"Transaction # - transaction number, including corrected purchase orders","database":"VARCHAR (14)","example":"84WEAIA1187"},"UnitCost":{"type":"decimal","description":"Unit Cost - purchase cost per unit; weighted average cost for non-serialized products and true cost for serialized products","database":"MONEY","example":"0"},"VendorName":{"type":"string","description":"Name for a vendor in RQ","database":"NVARCHAR(MAX)","example":""},"VendorSKU":{"type":"string","description":"Vendor SKU","database":"VARCHAR(25)","example":""}}}
                            
                        
                    
                    application/JsonDataTable:
                        
                            
                            example: |
                                [{"Comments":"Comment","CountSheetID":0,"CountSheetIDByStore":"","DateCreated":"2015-12-16T07:39:39.49","EmployeeName":"iQmetrix User","IsReceiving":false,"ProductIdentifier":"ASMAAP000017","ProductName":"Samsung Galaxy S4","Quantity":5,"ReasonCode":"Unexplained Shrinkage","SerialNumber":"123000000000000","StoreName":"100: My Network LLC - Anchorage","TotalCost":0,"TransactionID":19240,"TransactionIDByStore":"84WEAIA1187","UnitCost":0,"VendorName":"","VendorSKU":""}]
                            schema: |
                                {"name":"AdjustmentHistoryProductDetailReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Comments":{"type":"string","description":"Comments - any comments entered regarding the adjustment; if an adjustment was made via the reconcile receiving invoices screen, it will automatically be entered in comments","database":"VARCHAR (100)","example":"Comment"},"CountSheetID":{"type":"integer","description":"Internal identifier for a Count Sheet in RQ","database":"INT","example":"0"},"CountSheetIDByStore":{"type":"string","description":"Count Sheet # - if an adjustment is generated from an inventory count sheet it will be noted here","database":"VARCHAR (14)","example":""},"DateCreated":{"type":"datetime","description":"Adjusted On - date and time the adjustment was made","database":"DATETIME","example":"2015-12-16T07:39:39.49"},"EmployeeName":{"type":"string","description":"Created By - name of the employee who did the adjustment","database":"VARCHAR (51)","example":"iQmetrix User"},"IsReceiving":{"type":"boolean","description":"Is Adjustment from receiving Products or not (adjustments made either made through receiving, or manual adjustment)","database":"BIT","example":"false"},"ProductIdentifier":{"type":"string","description":"Product SKU - RQ generated SKU for the product adjusted","database":"VARCHAR (12)","example":"ASMAAP000017"},"ProductName":{"type":"string","description":"Product Name - name of the product as it appears in inventory","database":"NVARCHAR (MAX)","example":"Samsung Galaxy S4"},"Quantity":{"type":"integer","description":"Quantity - total quantity of the product adjusted","database":"INT","example":"5"},"ReasonCode":{"type":"string","description":"Reason Code - reason code selected from the drop down list at the time of adjustment","database":"NVARCHAR (MAX)","example":"Unexplained Shrinkage"},"SerialNumber":{"type":"string","description":"Tracking # - tracking number, if there is one","database":"VARCHAR (100)","example":"123000000000000"},"StoreName":{"type":"string","description":"Location - where the adjustment was made","database":"NVARCHAR (MAX)","example":"100: My Network LLC - Anchorage"},"TotalCost":{"type":"decimal","description":"Total Cost - total cost for that product calculated as Quantity X Unit Cost","database":"MONEY","example":"0"},"TransactionID":{"type":"integer","description":"Internal RQ identifier","database":"INT","example":"19240"},"TransactionIDByStore":{"type":"string","description":"Transaction # - transaction number, including corrected purchase orders","database":"VARCHAR (14)","example":"84WEAIA1187"},"UnitCost":{"type":"decimal","description":"Unit Cost - purchase cost per unit; weighted average cost for non-serialized products and true cost for serialized products","database":"MONEY","example":"0"},"VendorName":{"type":"string","description":"Name for a vendor in RQ","database":"NVARCHAR(MAX)","example":""},"VendorSKU":{"type":"string","description":"Vendor SKU","database":"VARCHAR(25)","example":""}}}
                            
                        
                    
                    text/xml:
                        
                            
                            example: |
                                [{"Comments":"Comment","CountSheetID":0,"CountSheetIDByStore":"","DateCreated":"2015-12-16T07:39:39.49","EmployeeName":"iQmetrix User","IsReceiving":false,"ProductIdentifier":"ASMAAP000017","ProductName":"Samsung Galaxy S4","Quantity":5,"ReasonCode":"Unexplained Shrinkage","SerialNumber":"123000000000000","StoreName":"100: My Network LLC - Anchorage","TotalCost":0,"TransactionID":19240,"TransactionIDByStore":"84WEAIA1187","UnitCost":0,"VendorName":"","VendorSKU":""}]
                            schema: |
                                {"name":"AdjustmentHistoryProductDetailReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Comments":{"type":"string","description":"Comments - any comments entered regarding the adjustment; if an adjustment was made via the reconcile receiving invoices screen, it will automatically be entered in comments","database":"VARCHAR (100)","example":"Comment"},"CountSheetID":{"type":"integer","description":"Internal identifier for a Count Sheet in RQ","database":"INT","example":"0"},"CountSheetIDByStore":{"type":"string","description":"Count Sheet # - if an adjustment is generated from an inventory count sheet it will be noted here","database":"VARCHAR (14)","example":""},"DateCreated":{"type":"datetime","description":"Adjusted On - date and time the adjustment was made","database":"DATETIME","example":"2015-12-16T07:39:39.49"},"EmployeeName":{"type":"string","description":"Created By - name of the employee who did the adjustment","database":"VARCHAR (51)","example":"iQmetrix User"},"IsReceiving":{"type":"boolean","description":"Is Adjustment from receiving Products or not (adjustments made either made through receiving, or manual adjustment)","database":"BIT","example":"false"},"ProductIdentifier":{"type":"string","description":"Product SKU - RQ generated SKU for the product adjusted","database":"VARCHAR (12)","example":"ASMAAP000017"},"ProductName":{"type":"string","description":"Product Name - name of the product as it appears in inventory","database":"NVARCHAR (MAX)","example":"Samsung Galaxy S4"},"Quantity":{"type":"integer","description":"Quantity - total quantity of the product adjusted","database":"INT","example":"5"},"ReasonCode":{"type":"string","description":"Reason Code - reason code selected from the drop down list at the time of adjustment","database":"NVARCHAR (MAX)","example":"Unexplained Shrinkage"},"SerialNumber":{"type":"string","description":"Tracking # - tracking number, if there is one","database":"VARCHAR (100)","example":"123000000000000"},"StoreName":{"type":"string","description":"Location - where the adjustment was made","database":"NVARCHAR (MAX)","example":"100: My Network LLC - Anchorage"},"TotalCost":{"type":"decimal","description":"Total Cost - total cost for that product calculated as Quantity X Unit Cost","database":"MONEY","example":"0"},"TransactionID":{"type":"integer","description":"Internal RQ identifier","database":"INT","example":"19240"},"TransactionIDByStore":{"type":"string","description":"Transaction # - transaction number, including corrected purchase orders","database":"VARCHAR (14)","example":"84WEAIA1187"},"UnitCost":{"type":"decimal","description":"Unit Cost - purchase cost per unit; weighted average cost for non-serialized products and true cost for serialized products","database":"MONEY","example":"0"},"VendorName":{"type":"string","description":"Name for a vendor in RQ","database":"NVARCHAR(MAX)","example":""},"VendorSKU":{"type":"string","description":"Vendor SKU","database":"VARCHAR(25)","example":""}}}
                            
                        
                    
                    text/XmlDataTable:
                        
                            
                            example: |
                                [{"Comments":"Comment","CountSheetID":0,"CountSheetIDByStore":"","DateCreated":"2015-12-16T07:39:39.49","EmployeeName":"iQmetrix User","IsReceiving":false,"ProductIdentifier":"ASMAAP000017","ProductName":"Samsung Galaxy S4","Quantity":5,"ReasonCode":"Unexplained Shrinkage","SerialNumber":"123000000000000","StoreName":"100: My Network LLC - Anchorage","TotalCost":0,"TransactionID":19240,"TransactionIDByStore":"84WEAIA1187","UnitCost":0,"VendorName":"","VendorSKU":""}]
                            schema: |
                                {"name":"AdjustmentHistoryProductDetailReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Comments":{"type":"string","description":"Comments - any comments entered regarding the adjustment; if an adjustment was made via the reconcile receiving invoices screen, it will automatically be entered in comments","database":"VARCHAR (100)","example":"Comment"},"CountSheetID":{"type":"integer","description":"Internal identifier for a Count Sheet in RQ","database":"INT","example":"0"},"CountSheetIDByStore":{"type":"string","description":"Count Sheet # - if an adjustment is generated from an inventory count sheet it will be noted here","database":"VARCHAR (14)","example":""},"DateCreated":{"type":"datetime","description":"Adjusted On - date and time the adjustment was made","database":"DATETIME","example":"2015-12-16T07:39:39.49"},"EmployeeName":{"type":"string","description":"Created By - name of the employee who did the adjustment","database":"VARCHAR (51)","example":"iQmetrix User"},"IsReceiving":{"type":"boolean","description":"Is Adjustment from receiving Products or not (adjustments made either made through receiving, or manual adjustment)","database":"BIT","example":"false"},"ProductIdentifier":{"type":"string","description":"Product SKU - RQ generated SKU for the product adjusted","database":"VARCHAR (12)","example":"ASMAAP000017"},"ProductName":{"type":"string","description":"Product Name - name of the product as it appears in inventory","database":"NVARCHAR (MAX)","example":"Samsung Galaxy S4"},"Quantity":{"type":"integer","description":"Quantity - total quantity of the product adjusted","database":"INT","example":"5"},"ReasonCode":{"type":"string","description":"Reason Code - reason code selected from the drop down list at the time of adjustment","database":"NVARCHAR (MAX)","example":"Unexplained Shrinkage"},"SerialNumber":{"type":"string","description":"Tracking # - tracking number, if there is one","database":"VARCHAR (100)","example":"123000000000000"},"StoreName":{"type":"string","description":"Location - where the adjustment was made","database":"NVARCHAR (MAX)","example":"100: My Network LLC - Anchorage"},"TotalCost":{"type":"decimal","description":"Total Cost - total cost for that product calculated as Quantity X Unit Cost","database":"MONEY","example":"0"},"TransactionID":{"type":"integer","description":"Internal RQ identifier","database":"INT","example":"19240"},"TransactionIDByStore":{"type":"string","description":"Transaction # - transaction number, including corrected purchase orders","database":"VARCHAR (14)","example":"84WEAIA1187"},"UnitCost":{"type":"decimal","description":"Unit Cost - purchase cost per unit; weighted average cost for non-serialized products and true cost for serialized products","database":"MONEY","example":"0"},"VendorName":{"type":"string","description":"Name for a vendor in RQ","database":"NVARCHAR(MAX)","example":""},"VendorSKU":{"type":"string","description":"Vendor SKU","database":"VARCHAR(25)","example":""}}}
                            
                        
                    
                    text/csv:
                        
                            
                            example: |
                                [{"Comments":"Comment","CountSheetID":0,"CountSheetIDByStore":"","DateCreated":"2015-12-16T07:39:39.49","EmployeeName":"iQmetrix User","IsReceiving":false,"ProductIdentifier":"ASMAAP000017","ProductName":"Samsung Galaxy S4","Quantity":5,"ReasonCode":"Unexplained Shrinkage","SerialNumber":"123000000000000","StoreName":"100: My Network LLC - Anchorage","TotalCost":0,"TransactionID":19240,"TransactionIDByStore":"84WEAIA1187","UnitCost":0,"VendorName":"","VendorSKU":""}]
                            schema: |
                                {"name":"AdjustmentHistoryProductDetailReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Comments":{"type":"string","description":"Comments - any comments entered regarding the adjustment; if an adjustment was made via the reconcile receiving invoices screen, it will automatically be entered in comments","database":"VARCHAR (100)","example":"Comment"},"CountSheetID":{"type":"integer","description":"Internal identifier for a Count Sheet in RQ","database":"INT","example":"0"},"CountSheetIDByStore":{"type":"string","description":"Count Sheet # - if an adjustment is generated from an inventory count sheet it will be noted here","database":"VARCHAR (14)","example":""},"DateCreated":{"type":"datetime","description":"Adjusted On - date and time the adjustment was made","database":"DATETIME","example":"2015-12-16T07:39:39.49"},"EmployeeName":{"type":"string","description":"Created By - name of the employee who did the adjustment","database":"VARCHAR (51)","example":"iQmetrix User"},"IsReceiving":{"type":"boolean","description":"Is Adjustment from receiving Products or not (adjustments made either made through receiving, or manual adjustment)","database":"BIT","example":"false"},"ProductIdentifier":{"type":"string","description":"Product SKU - RQ generated SKU for the product adjusted","database":"VARCHAR (12)","example":"ASMAAP000017"},"ProductName":{"type":"string","description":"Product Name - name of the product as it appears in inventory","database":"NVARCHAR (MAX)","example":"Samsung Galaxy S4"},"Quantity":{"type":"integer","description":"Quantity - total quantity of the product adjusted","database":"INT","example":"5"},"ReasonCode":{"type":"string","description":"Reason Code - reason code selected from the drop down list at the time of adjustment","database":"NVARCHAR (MAX)","example":"Unexplained Shrinkage"},"SerialNumber":{"type":"string","description":"Tracking # - tracking number, if there is one","database":"VARCHAR (100)","example":"123000000000000"},"StoreName":{"type":"string","description":"Location - where the adjustment was made","database":"NVARCHAR (MAX)","example":"100: My Network LLC - Anchorage"},"TotalCost":{"type":"decimal","description":"Total Cost - total cost for that product calculated as Quantity X Unit Cost","database":"MONEY","example":"0"},"TransactionID":{"type":"integer","description":"Internal RQ identifier","database":"INT","example":"19240"},"TransactionIDByStore":{"type":"string","description":"Transaction # - transaction number, including corrected purchase orders","database":"VARCHAR (14)","example":"84WEAIA1187"},"UnitCost":{"type":"decimal","description":"Unit Cost - purchase cost per unit; weighted average cost for non-serialized products and true cost for serialized products","database":"MONEY","example":"0"},"VendorName":{"type":"string","description":"Name for a vendor in RQ","database":"NVARCHAR(MAX)","example":""},"VendorSKU":{"type":"string","description":"Vendor SKU","database":"VARCHAR(25)","example":""}}}
                            
                        
                    
                    application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
                        
                            
                            example: |
                                [{"Comments":"Comment","CountSheetID":0,"CountSheetIDByStore":"","DateCreated":"2015-12-16T07:39:39.49","EmployeeName":"iQmetrix User","IsReceiving":false,"ProductIdentifier":"ASMAAP000017","ProductName":"Samsung Galaxy S4","Quantity":5,"ReasonCode":"Unexplained Shrinkage","SerialNumber":"123000000000000","StoreName":"100: My Network LLC - Anchorage","TotalCost":0,"TransactionID":19240,"TransactionIDByStore":"84WEAIA1187","UnitCost":0,"VendorName":"","VendorSKU":""}]
                            schema: |
                                {"name":"AdjustmentHistoryProductDetailReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Comments":{"type":"string","description":"Comments - any comments entered regarding the adjustment; if an adjustment was made via the reconcile receiving invoices screen, it will automatically be entered in comments","database":"VARCHAR (100)","example":"Comment"},"CountSheetID":{"type":"integer","description":"Internal identifier for a Count Sheet in RQ","database":"INT","example":"0"},"CountSheetIDByStore":{"type":"string","description":"Count Sheet # - if an adjustment is generated from an inventory count sheet it will be noted here","database":"VARCHAR (14)","example":""},"DateCreated":{"type":"datetime","description":"Adjusted On - date and time the adjustment was made","database":"DATETIME","example":"2015-12-16T07:39:39.49"},"EmployeeName":{"type":"string","description":"Created By - name of the employee who did the adjustment","database":"VARCHAR (51)","example":"iQmetrix User"},"IsReceiving":{"type":"boolean","description":"Is Adjustment from receiving Products or not (adjustments made either made through receiving, or manual adjustment)","database":"BIT","example":"false"},"ProductIdentifier":{"type":"string","description":"Product SKU - RQ generated SKU for the product adjusted","database":"VARCHAR (12)","example":"ASMAAP000017"},"ProductName":{"type":"string","description":"Product Name - name of the product as it appears in inventory","database":"NVARCHAR (MAX)","example":"Samsung Galaxy S4"},"Quantity":{"type":"integer","description":"Quantity - total quantity of the product adjusted","database":"INT","example":"5"},"ReasonCode":{"type":"string","description":"Reason Code - reason code selected from the drop down list at the time of adjustment","database":"NVARCHAR (MAX)","example":"Unexplained Shrinkage"},"SerialNumber":{"type":"string","description":"Tracking # - tracking number, if there is one","database":"VARCHAR (100)","example":"123000000000000"},"StoreName":{"type":"string","description":"Location - where the adjustment was made","database":"NVARCHAR (MAX)","example":"100: My Network LLC - Anchorage"},"TotalCost":{"type":"decimal","description":"Total Cost - total cost for that product calculated as Quantity X Unit Cost","database":"MONEY","example":"0"},"TransactionID":{"type":"integer","description":"Internal RQ identifier","database":"INT","example":"19240"},"TransactionIDByStore":{"type":"string","description":"Transaction # - transaction number, including corrected purchase orders","database":"VARCHAR (14)","example":"84WEAIA1187"},"UnitCost":{"type":"decimal","description":"Unit Cost - purchase cost per unit; weighted average cost for non-serialized products and true cost for serialized products","database":"MONEY","example":"0"},"VendorName":{"type":"string","description":"Name for a vendor in RQ","database":"NVARCHAR(MAX)","example":""},"VendorSKU":{"type":"string","description":"Vendor SKU","database":"VARCHAR(25)","example":""}}}
                            
                        
                    
                
            
    

/reports/inventorylistingreport?CategoryNumber={CategoryNumber}&BinStatus={BinStatus}&QtyStatus={QtyStatus}&BlindInventory={BlindInventory}&DateAsOf={DateAsOf}&ForWho={ForWho}&ForWhoIDs={ForWhoIDs}&LocationType={LocationType}&LocationTypeIDs={LocationTypeIDs}&LanguageCode={LanguageCode}&Auth={Auth}&Response={Response}:
    
    uriParameters:
        
        CategoryNumber:
            displayName: CategoryNumber
            type: integer
            example: 10
            required: true
            description: Identifier for a <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#categorynumber'>CategoryNumber</a>. For a complete list see <a href="/api/RQ-Data-Connect/#getting-category-numbers">Getting Category Numbers</a>
        
        BinStatus:
            displayName: BinStatus
            type: integer
            example: 1
            required: true
            description: See <a href="#binstatus">BinStatus</a> for a list of acceptable values
        
        QtyStatus:
            displayName: QtyStatus
            type: integer
            example: 4
            required: true
            description: Acceptable values include 1 for negative quantities, 2 for positive quantities, 3 for zero quantities and 4 for all quantities
        
        BlindInventory:
            displayName: BlindInventory
            type: integer
            example: 0
            required: true
            description: A flag to indicate if the report will include product quantities (0) or only product details (1)
        
        DateAsOf:
            displayName: DateAsOf
            type: string
            example: 2015-12-31
            required: true
            description: Date at which the report will be run. NOTE the inventory will be listed as of 11:59 PM / 2359 for the date chosen
        
        ForWho:
            displayName: ForWho
            type: integer
            example: 1
            required: false
            description: Identifier for a level at which to perform the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-report-levels-in-rq">Getting Report Levels in RQ</a>. If <strong>LocationType</strong> is provided, this value is ignored
        
        ForWhoIDs:
            displayName: ForWhoIDs
            type: integer
            example: 6679
            required: false
            description: A comma seperated list of identifiers to filter the report. For a list of identifiers, see <a href="/api/RQ-Data-Connect/#getting-nodes-by-location-type">Getting Nodes By Location Type</a>. If <strong>LocationTypeIDs</strong> is provided, this value is ignored. To ignore filtering use -1
        
        LocationType:
            displayName: LocationType
            type: string
            example: Store
            required: false
            description: A <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#locationtype'>LocationType</a> to filter the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-location-types">Getting Location Types</a>. If this value is provided, <strong>ForWho</strong> is ignored
        
        LocationTypeIDs:
            displayName: LocationTypeIDs
            type: string
            example: 1,2
            required: false
            description: A comma seperated list of <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#rqcompanytreenode'>RQCompanyTreeNode</a> identifiers to filter the report. For a complete list, see <a href="/api/RQ-Data-Connect/#getting-location-ids">Getting Location Ids</a>. To ignore filtering, use -1 or *. If this value is provided, <strong>ForWhoIDs</strong> is ignored
        
        LanguageCode:
            displayName: LanguageCode
            type: string
            example: en-us
            required: false
            description: Language code, defaults to en-us. For a complete list, see <a href='/api/RQ-Data-Connect/#getting-language-codes'>Getting Language Codes</a>
        
        Auth:
            displayName: Auth
            type: string
            example: vRMt17P8rIBWWbVbLzLWjTNyLfvESgA2yfXhze0WZN7HSIl4slGV866p9dSw
            required: false
            description: Basic token used for authentication. For other methods of authentication, see {{AuthenticationOptions}}
        
        Response:
            displayName: Response
            type: string
            example: xml
            required: false
            description: Default is JSON. For other methods of response, see {{ResponseOptions}}
          
      
    get:
        
        displayName: Getting the Inventory Listing Report
                
        
        description: |            
            <a name="inventory-reports"></a>For more information, see {{support_InventoryListingReport}}.      
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept-Encoding:
                example: gzip
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                [{"BarCode":"","BinStatus":"String_InStock","CategoryPath":">> @ Activations (Price Sheets) >> AT&T Price Sheet >> Equipment","ChannelName":"English Channel","DateEOL":"null","DiscontinuedDate":"null","DistrictName":"Westminster","DoNotOrder":false,"IsUsed":false,"ManufacturerPartNumber":"","NoSale":false,"ProductIdentifier":"AAATAP000093","ProductName":"Apple iPhone 6 Plus 16GB Space Gray - AT&T","Quantity":1,"RefundPeriodLength":null,"RegionName":"London","SerialNumber":"2342342341","SpecialOrder":false,"StoreName":"100: My Network LLC - Anchorage","StoreTypeName":"Costco","TotalCost":699,"UnitCost":699,"VendorName":"Offwire","VendorPartNumber":"","WarehouseLocation":"","WriteOff":false}]
                            schema: |
                                {"name":"InventoryListingReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"BarCode":{"type":"string","description":"Bar Code - any bar code(s) you have assigned to this product","database":"VARCHAR (20)","example":""},"BinStatus":{"type":"string","description":"Status - dependent on the Status setting in the search criteria but can be In Stock, On RMA, Transfer In, Transfer Out, On Order, On Loan or Non Sellable","database":"VARCHAR(100)","example":"String_InStock"},"CategoryPath":{"type":"string","description":"Category - inventory category","database":"NVARCHAR (MAX)","example":">> @ Activations (Price Sheets) >> AT&T Price Sheet >> Equipment"},"ChannelName":{"type":"string","description":"Channel - channel for the rows location","database":"NVARCHAR (MAX)","example":"English Channel"},"DateEOL":{"type":"datetime","description":"EOL - date this product will be End of Life","database":"DATETIME","example":"null"},"DiscontinuedDate":{"type":"datetime","description":"Discontinued Date - date that this product was, or will be, discontinued","database":"DATETIME","example":"null"},"DistrictName":{"type":"string","description":"District - district for the rows location","database":"NVARCHAR (MAX)","example":"Westminster"},"DoNotOrder":{"type":"boolean","description":"Do Not Order - yes/no field noting whether this product has been marked Do Not Order","database":"BIT","example":"false"},"IsUsed":{"type":"boolean","description":"Used - this will show checked if the product is in a used status","database":"BIT","example":"false"},"ManufacturerPartNumber":{"type":"string","description":"Manufacturer SKU - SKU assigned by the manufacturer (can be anything user specifies, not necessarily from manufacturer)","database":"VARCHAR (50)","example":""},"NoSale":{"type":"boolean","description":"Do Not Sell - yes/no field noting whether this product has been marked Do Not Sell","database":"BIT","example":"false"},"ProductIdentifier":{"type":"string","description":"Product SKU - RQ generated SKU","database":"VARCHAR (12)","example":"AAATAP000093"},"ProductName":{"type":"string","description":"Product Name - name of the product as it appears in the inventory","database":"NVARCHAR (MAX)","example":"Apple iPhone 6 Plus 16GB Space Gray - AT&T"},"Quantity":{"type":"integer","description":"Quantity - total number in stock at the location","database":"INT","example":"1"},"RefundPeriodLength":{"type":"integer","description":"Refund Period (days) - number of days that product can be refunded in","database":"INT","example":"null"},"RegionName":{"type":"string","description":"Region - region for the rows location","database":"NVARCHAR (MAX)","example":"London"},"SerialNumber":{"type":"string","description":"Tracking # - any serial number attached to the particular product","database":"VARCHAR(100)","example":"2342342341"},"SpecialOrder":{"type":"boolean","description":"Special Order - yes/no field noting this product as a Special Order","database":"BIT","example":"false"},"StoreName":{"type":"string","description":"Location - where the product is in stock","database":"NVARCHAR (MAX)","example":"100: My Network LLC - Anchorage"},"StoreTypeName":{"type":"string","description":"Location Type - location type where the product is in stock","database":"NVARCHAR (MAX)","example":"Costco"},"TotalCost":{"type":"decimal","description":"Total Cost - Quantity X Unit Cost","database":"MONEY","example":"699"},"UnitCost":{"type":"decimal","description":"Unit Cost - purchase cost per unit; weighted average cost for non-serialized products and true cost for serialized products","database":"MONEY","example":"699"},"VendorName":{"type":"string","description":"Vendor - vendor from whom the individual product was purchased","database":"NVARCHAR (MAX)","example":"Offwire"},"VendorPartNumber":{"type":"string","description":"Vendor SKU - SKU assigned by the vendor","database":"VARCHAR (25)","example":""},"WarehouseLocation":{"type":"string","description":"Warehouse Location - where the stock is located in the warehouse, if used","database":"VARCHAR (100)","example":""},"WriteOff":{"type":"boolean","description":"Write Off - yes/no field noting this product as a Write Off","database":"BIT","example":"false"}}}
                            
                        
                    
                    application/JsonDataTable:
                        
                            
                            example: |
                                [{"BarCode":"","BinStatus":"String_InStock","CategoryPath":">> @ Activations (Price Sheets) >> AT&T Price Sheet >> Equipment","ChannelName":"English Channel","DateEOL":"null","DiscontinuedDate":"null","DistrictName":"Westminster","DoNotOrder":false,"IsUsed":false,"ManufacturerPartNumber":"","NoSale":false,"ProductIdentifier":"AAATAP000093","ProductName":"Apple iPhone 6 Plus 16GB Space Gray - AT&T","Quantity":1,"RefundPeriodLength":null,"RegionName":"London","SerialNumber":"2342342341","SpecialOrder":false,"StoreName":"100: My Network LLC - Anchorage","StoreTypeName":"Costco","TotalCost":699,"UnitCost":699,"VendorName":"Offwire","VendorPartNumber":"","WarehouseLocation":"","WriteOff":false}]
                            schema: |
                                {"name":"InventoryListingReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"BarCode":{"type":"string","description":"Bar Code - any bar code(s) you have assigned to this product","database":"VARCHAR (20)","example":""},"BinStatus":{"type":"string","description":"Status - dependent on the Status setting in the search criteria but can be In Stock, On RMA, Transfer In, Transfer Out, On Order, On Loan or Non Sellable","database":"VARCHAR(100)","example":"String_InStock"},"CategoryPath":{"type":"string","description":"Category - inventory category","database":"NVARCHAR (MAX)","example":">> @ Activations (Price Sheets) >> AT&T Price Sheet >> Equipment"},"ChannelName":{"type":"string","description":"Channel - channel for the rows location","database":"NVARCHAR (MAX)","example":"English Channel"},"DateEOL":{"type":"datetime","description":"EOL - date this product will be End of Life","database":"DATETIME","example":"null"},"DiscontinuedDate":{"type":"datetime","description":"Discontinued Date - date that this product was, or will be, discontinued","database":"DATETIME","example":"null"},"DistrictName":{"type":"string","description":"District - district for the rows location","database":"NVARCHAR (MAX)","example":"Westminster"},"DoNotOrder":{"type":"boolean","description":"Do Not Order - yes/no field noting whether this product has been marked Do Not Order","database":"BIT","example":"false"},"IsUsed":{"type":"boolean","description":"Used - this will show checked if the product is in a used status","database":"BIT","example":"false"},"ManufacturerPartNumber":{"type":"string","description":"Manufacturer SKU - SKU assigned by the manufacturer (can be anything user specifies, not necessarily from manufacturer)","database":"VARCHAR (50)","example":""},"NoSale":{"type":"boolean","description":"Do Not Sell - yes/no field noting whether this product has been marked Do Not Sell","database":"BIT","example":"false"},"ProductIdentifier":{"type":"string","description":"Product SKU - RQ generated SKU","database":"VARCHAR (12)","example":"AAATAP000093"},"ProductName":{"type":"string","description":"Product Name - name of the product as it appears in the inventory","database":"NVARCHAR (MAX)","example":"Apple iPhone 6 Plus 16GB Space Gray - AT&T"},"Quantity":{"type":"integer","description":"Quantity - total number in stock at the location","database":"INT","example":"1"},"RefundPeriodLength":{"type":"integer","description":"Refund Period (days) - number of days that product can be refunded in","database":"INT","example":"null"},"RegionName":{"type":"string","description":"Region - region for the rows location","database":"NVARCHAR (MAX)","example":"London"},"SerialNumber":{"type":"string","description":"Tracking # - any serial number attached to the particular product","database":"VARCHAR(100)","example":"2342342341"},"SpecialOrder":{"type":"boolean","description":"Special Order - yes/no field noting this product as a Special Order","database":"BIT","example":"false"},"StoreName":{"type":"string","description":"Location - where the product is in stock","database":"NVARCHAR (MAX)","example":"100: My Network LLC - Anchorage"},"StoreTypeName":{"type":"string","description":"Location Type - location type where the product is in stock","database":"NVARCHAR (MAX)","example":"Costco"},"TotalCost":{"type":"decimal","description":"Total Cost - Quantity X Unit Cost","database":"MONEY","example":"699"},"UnitCost":{"type":"decimal","description":"Unit Cost - purchase cost per unit; weighted average cost for non-serialized products and true cost for serialized products","database":"MONEY","example":"699"},"VendorName":{"type":"string","description":"Vendor - vendor from whom the individual product was purchased","database":"NVARCHAR (MAX)","example":"Offwire"},"VendorPartNumber":{"type":"string","description":"Vendor SKU - SKU assigned by the vendor","database":"VARCHAR (25)","example":""},"WarehouseLocation":{"type":"string","description":"Warehouse Location - where the stock is located in the warehouse, if used","database":"VARCHAR (100)","example":""},"WriteOff":{"type":"boolean","description":"Write Off - yes/no field noting this product as a Write Off","database":"BIT","example":"false"}}}
                            
                        
                    
                    text/xml:
                        
                            
                            example: |
                                [{"BarCode":"","BinStatus":"String_InStock","CategoryPath":">> @ Activations (Price Sheets) >> AT&T Price Sheet >> Equipment","ChannelName":"English Channel","DateEOL":"null","DiscontinuedDate":"null","DistrictName":"Westminster","DoNotOrder":false,"IsUsed":false,"ManufacturerPartNumber":"","NoSale":false,"ProductIdentifier":"AAATAP000093","ProductName":"Apple iPhone 6 Plus 16GB Space Gray - AT&T","Quantity":1,"RefundPeriodLength":null,"RegionName":"London","SerialNumber":"2342342341","SpecialOrder":false,"StoreName":"100: My Network LLC - Anchorage","StoreTypeName":"Costco","TotalCost":699,"UnitCost":699,"VendorName":"Offwire","VendorPartNumber":"","WarehouseLocation":"","WriteOff":false}]
                            schema: |
                                {"name":"InventoryListingReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"BarCode":{"type":"string","description":"Bar Code - any bar code(s) you have assigned to this product","database":"VARCHAR (20)","example":""},"BinStatus":{"type":"string","description":"Status - dependent on the Status setting in the search criteria but can be In Stock, On RMA, Transfer In, Transfer Out, On Order, On Loan or Non Sellable","database":"VARCHAR(100)","example":"String_InStock"},"CategoryPath":{"type":"string","description":"Category - inventory category","database":"NVARCHAR (MAX)","example":">> @ Activations (Price Sheets) >> AT&T Price Sheet >> Equipment"},"ChannelName":{"type":"string","description":"Channel - channel for the rows location","database":"NVARCHAR (MAX)","example":"English Channel"},"DateEOL":{"type":"datetime","description":"EOL - date this product will be End of Life","database":"DATETIME","example":"null"},"DiscontinuedDate":{"type":"datetime","description":"Discontinued Date - date that this product was, or will be, discontinued","database":"DATETIME","example":"null"},"DistrictName":{"type":"string","description":"District - district for the rows location","database":"NVARCHAR (MAX)","example":"Westminster"},"DoNotOrder":{"type":"boolean","description":"Do Not Order - yes/no field noting whether this product has been marked Do Not Order","database":"BIT","example":"false"},"IsUsed":{"type":"boolean","description":"Used - this will show checked if the product is in a used status","database":"BIT","example":"false"},"ManufacturerPartNumber":{"type":"string","description":"Manufacturer SKU - SKU assigned by the manufacturer (can be anything user specifies, not necessarily from manufacturer)","database":"VARCHAR (50)","example":""},"NoSale":{"type":"boolean","description":"Do Not Sell - yes/no field noting whether this product has been marked Do Not Sell","database":"BIT","example":"false"},"ProductIdentifier":{"type":"string","description":"Product SKU - RQ generated SKU","database":"VARCHAR (12)","example":"AAATAP000093"},"ProductName":{"type":"string","description":"Product Name - name of the product as it appears in the inventory","database":"NVARCHAR (MAX)","example":"Apple iPhone 6 Plus 16GB Space Gray - AT&T"},"Quantity":{"type":"integer","description":"Quantity - total number in stock at the location","database":"INT","example":"1"},"RefundPeriodLength":{"type":"integer","description":"Refund Period (days) - number of days that product can be refunded in","database":"INT","example":"null"},"RegionName":{"type":"string","description":"Region - region for the rows location","database":"NVARCHAR (MAX)","example":"London"},"SerialNumber":{"type":"string","description":"Tracking # - any serial number attached to the particular product","database":"VARCHAR(100)","example":"2342342341"},"SpecialOrder":{"type":"boolean","description":"Special Order - yes/no field noting this product as a Special Order","database":"BIT","example":"false"},"StoreName":{"type":"string","description":"Location - where the product is in stock","database":"NVARCHAR (MAX)","example":"100: My Network LLC - Anchorage"},"StoreTypeName":{"type":"string","description":"Location Type - location type where the product is in stock","database":"NVARCHAR (MAX)","example":"Costco"},"TotalCost":{"type":"decimal","description":"Total Cost - Quantity X Unit Cost","database":"MONEY","example":"699"},"UnitCost":{"type":"decimal","description":"Unit Cost - purchase cost per unit; weighted average cost for non-serialized products and true cost for serialized products","database":"MONEY","example":"699"},"VendorName":{"type":"string","description":"Vendor - vendor from whom the individual product was purchased","database":"NVARCHAR (MAX)","example":"Offwire"},"VendorPartNumber":{"type":"string","description":"Vendor SKU - SKU assigned by the vendor","database":"VARCHAR (25)","example":""},"WarehouseLocation":{"type":"string","description":"Warehouse Location - where the stock is located in the warehouse, if used","database":"VARCHAR (100)","exam
[...]
