#%RAML 0.8
title: SellPro Reports
baseUri: https://rqdataconnectdemo.iqmetrix.net
schemas: 

    
    - EmployeeListReportData: |
        {
          "name": "EmployeeListReportData",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Address": {  "type": "string", "database": "VARCHAR(50)", "description": "Address - employee's address", "example": "127 starlight lane" },
            "Cellular_Number": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "Cell Phone # - employee's cell phone number", "example": "5555555555" },
            "City": {  "type": "string", "database": "VARCHAR(50)", "description": "City - employee's city", "example": "Fargo" },
            "DefaultLocation": {  "type": "integer", "database": "INT", "description": "Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value", "example": "null" },
            "DefaultZoneForWho": {  "type": "integer", "database": "TINYINT", "description": "Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value", "example": "null" },
            "Email": {  "type": "string", "database": "VARCHAR(50)", "description": "Email Address - employee's work email address", "example": "sams@kentel.com" },
            "EmailAddress": {  "type": "string", "database": "VARCHAR(50)", "description": "Email ", "example": "sams@kentel.com" },
            "Employee_Name": {  "type": "string", "database": "VARCHAR(51)", "description": "Employee - name of the employee as entered on their employee profile", "example": "Sam Smith" },
            "ID_Number": {  "type": "integer", "database": "INT", "description": "Internal identifier for employee in RQ", "example": "59" },
            "IsPartTime": {  "type": "boolean", "database": "BIT", "description": "Part Time - indicates if an employee is Part Time", "example": "false" },
            "Last_Name": {  "type": "string", "database": "VARCHAR(25)", "description": "Employee last name", "example": "Smith" },
            "LastHireDate": {  "type": "string", "database": "VARCHAR(50)", "description": "Hire Date - day and date the employee was hired", "example": "2015-07-03T22:31:05.403" },
            "Location": {  "type": "string", "database": "VARCHAR(51)", "description": "Location - Only present if Unique is not -1. Every location the employee is assigned to", "example": "100: My Network LLC - Anchorage" },
            "PersonalEmail": {  "type": "string", "database": "VARCHAR(50)", "description": "Personal Email - employee's personal email address", "example": "sam@yopmail.com" },
            "Postal_Code": {  "type": "string", "database": "VARCHAR(15)", "description": "Zip/Postal Code - zip code (USA) or postal code (Canada)", "example": "90123" },
            "Province": {  "type": "string", "database": "VARCHAR(50)", "description": "Province - employee's province or state", "example": "ND" },
            "RoleDescription": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "Security Role - security role assigned to this employee", "example": "Sales Representative" },
            "ScheduledTerminationDate": {  "type": "datetime", "database": "DATETIME", "description": "Scheduled termination date", "example": "2015-11-22T08:00:00.000" },
            "SMS_Number": {  "type": "string", "database": "VARCHAR(50)", "description": "SMS # - employee's text number", "example": "5555555555@yopmail.com" },
            "SpecialIdentifier": {  "type": "string", "database": "VARCHAR(25)", "description": "ID # - ID number assigned when hired", "example": "912345987654321" },
            "StartDate": {  "type": "datetime", "database": "DATETIME", "description": "Start Date", "example": "2010-11-22T10:06:35.133" },
            "Status": {  "type": "string", "database": "VARCHAR(8)", "description": "Status - shows if the employee is enabled or disabled if Any Status is selected", "example": "Enabled" },
            "TerminationDate": {  "type": "datetime", "database": "DATETIME", "description": "Termination Date - date of termination (date the employee was disabled)", "example": "2015-11-22T08:00:25.345" },
            "Title": {  "type": "string", "database": "VARCHAR(50)", "description": "Title - title assigned to this employee", "example": "Wireless Consultant" },
            "Username": {  "type": "string", "database": "VARCHAR(25)", "description": "Username - username of the employee as entered on their employee profile", "example": "Sam.Smith" },
            "Work_Number": {  "type": "datetime", "database": "DATETIME", "description": "Work Phone # - employee's work number", "example": "5555555555" }
          }
        } 
        

    

    
    - LocationMasterListReportData: |
        {
          "name": "LocationMasterListReportData",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Abbreviation": {  "type": "string", "database": "VARCHAR(5)", "description": "Abbreviation - this cannot be edited", "example": "LIT22" },
            "Address": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "Address - address assigned to location", "example": "4970 Hillside Avenue" },
            "AddressVerified": {  "type": "string", "database": "VARCHAR(12)", "description": "Address Verified - if the address can not be verified then you will have the option to edit the Latitude and Longitude to verify it", "example": "Not Verified" },
            "AdjustDST": {  "type": "boolean", "database": "BIT", "description": "Adjust DST - check if the location adjusts for daylight savings", "example": "false" },
            "BankDetails": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "Bank Details - the Banks name for the location", "example": "CashSmart" },
            "CashPolicy": {  "type": "string", "database": "VARCHAR(13)", "description": "Cash Policy - states the cash policy (single/multi-drawer)", "example": "Single-Drawer" },
            "ChannelName": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "Channel - channel the region is assigned to", "example": "Alabama" },
            "City": {  "type": "string", "database": "VARCHAR(50)", "description": "City - city the location resides in", "example": "Kansas" },
            "Comment_on_OE": {  "type": "boolean", "database": "BIT", "description": "Comment on OE - show product and location comments on sales order", "example": "false" },
            "Country": {  "type": "string", "database": "VARCHAR(50)", "description": "Country - country the location is located in", "example": "United States" },
            "DepositTaken": {  "type": "decimal", "database": "MONEY", "description": "Deposit Taken - lists the deposit if applicable", "example": "0" },
            "Disabled": {  "type": "integer", "database": "INT", "description": "Disable - indicates if the location is enabled or disabled", "example": "1" },
            "DistrictName": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "District - district the location is assigned to", "example": "Smithton" },
            "EmailAddress": {  "type": "string", "database": "VARCHAR(255)", "description": "Email Address - email address assigned to the location", "example": "abarea@kentel.com" },
            "FaxNumber": {  "type": "string", "database": "VARCHAR(10)", "description": "Fax # - Fax # listed under the location", "example": "5555555555" },
            "GeneralLocationNotes": {  "type": "string", "database": "VARCHAR(255)", "description": "General Location Notes - notes specific to the location", "example": "note" },
            "GLCode": {  "type": "string", "database": "VARCHAR(100)", "description": "Code - coded associated to the location", "example": "-MILLH" },
            "HideCustomerAddress": {  "type": "boolean", "database": "BIT", "description": "Hide Customer Address - prevents the customers address from being seen on an invoice", "example": "false" },
            "InsuranceAmount": {  "type": "decimal", "database": "MONEY", "description": "Insurance - cost of Insurance", "example": "0" },
            "InsuranceCompany": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "Insurance Company - name of the insurance company", "example": "Safefair" },
            "LandlordName": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "Landlord Name - name of the landlord", "example": "Jim Jones" },
            "LandlordNotes": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "Landlord Notes - notes specific to the landlord", "example": "sample note" },
            "Latitude": {  "type": "decimal", "database": "DECIMAL", "description": "Latitude - latitude location of the store", "example": "50.443559" },
            "LeaseEndDate": {  "type": "datetime", "database": "DATETIME", "description": "Lease End Date - the day the lease ends", "example": "2014-12-24T00:00:00" },
            "LeaseNotes": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "Lease Notes - notes specific to the lease", "example": "note" },
            "LeaseStartDate": {  "type": "datetime", "database": "DATETIME", "description": "Lease Start Date - day the lease started", "example": "2014-11-26T00:00:00" },
            "LocationCode": {  "type": "string", "database": "VARCHAR(100)", "description": "Location Code - code entered in the property details tab in the Location Setup", "example": "500" },
            "LocationEntityID": {  "type": "integer", "database": "INT", "description": "Identifier of the store as a <a href='http://developers.iqmetrix.com/api/company-tree/#location'>Location</a> in Entity Store", "example": "48540" },
            "Longitude": {  "type": "decimal", "database": "DECIMAL", "description": "Longitude - longitude location of the store", "example": "-104.612034" },
            "ManagerCommissionable": {  "type": "boolean", "database": "BIT", "description": "Manager Commissionable - indicates if the manager is commissionable.", "example": "false" },
            "ManagerEmployeeID": {  "type": "integer", "database": "INT", "description": "Manager - manager assigned to the location", "example": "233" },
            "MaxCashDrawer": {  "type": "decimal", "database": "MONEY", "description": "Max Cash Drawer - maximum amount of cash allowed in a cash drawer", "example": "0" },
            "OtherCharges": {  "type": "decimal", "database": "MONEY", "description": "Other Charges - other charges associated to the location", "example": "0" },
            "PAW_on_OE": {  "type": "boolean", "database": "BIT", "description": "PAW on OE - launch PAW on sales orders", "example": "false" },
            "Phone_on_OE": {  "type": "boolean", "database": "BIT", "description": "Force phone number for entry on sales orders", "example": "true" },
            "PhoneNumber": {  "type": "string", "database": "VARCHAR(10)", "description": "Phone # - designated number for the location", "example": "4353424234" },
            "PropertyTaxes": {  "type": "decimal", "database": "MONEY", "description": "Property Taxes - applicable property taxes", "example": "0" },
            "RegionName": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "Region - region the district is assigned to", "example": "Abarea" },
            "RelocationDate": {  "type": "datetime", "database": "DATETIME", "description": "Relocation Date - lists the date of the relocation if applicable", "example": "2016-02-26T00:00:00" },
            "Rent": {  "type": "decimal", "database": "MONEY", "description": "Rent - rent amount for the location", "example": "0" },
            "SaleInvoiceComment": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "Sale Invoice Comment - locations sales invoice comment", "example": "Sale Invoice Comments" },
            "Serial_on_OE": {  "type": "boolean", "database": "BIT", "description": "Serial # on OE - force serial # for entry on sales orders", "example": "false" },
            "SquareFootage": {  "type": "integer", "database": "INT", "description": "Square Feet - approx square feet of the store", "example": "0" },
            "StaffLevel": {  "type": "decimal", "database": "DECIMAL", "description": "Staff Level - designated staffing level for the location", "example": "12" },
            "StateProv": {  "type": "string", "database": "NVARCHAR(3)", "description": "State/Prov - state or province the location is located in", "example": "AL" },
            "StoreID": {  "type": "integer", "database": "INT", "description": "Internal identifier for the store in RQ", "example": "1187" },
            "StoreName": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "Store Name - name of the store", "example": "Dufferin Mall" },
            "StoreType": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "Store Type - will state the store type", "example": "Retail Store" },
            "Taxes": {  "type": "string", "database": "NVARCHAR(MAX)", "description": "Taxes - taxes assigned to the location", "example": "GOODS AND SERVICES TAX (GST)" },
            "TimeZone": {  "type": "string", "database": "VARCHAR(200)", "description": "Time Zone - time zone assigned to location", "example": "(GMT-06:00) Saskatchewan" },
            "UseLocationEmail": {  "type": "boolean", "database": "BIT", "description": "Use Location for Email - use the location for the email contact", "example": "false" },
            "ZipPostal": {  "type": "string", "database": "VARCHAR(15)", "description": "Zip/Postal - zip/postal for the location", "example": "90210" }          
          }
        }                
        

    

    
    - Relationship: |
        {
          "name": "Relationship",
          "type": "array",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "CompanyID": {  "type": "integer", "database": "INTEGER", "description": "Identifier for a <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>", "example": "14831" },
            "CompanyName": {  "type": "string", "database": "VARCHAR(50)", "description": "Company name", "example": "KENTEL" }
          }
        }
        

    


/partner/relationships?Auth={Auth}&Response={Response}:
    
    uriParameters:
        
        Auth:
            displayName: Auth
            type: string
            example: vRMt17P8rIBWWbVbLzLWjTNyLfvESgA2yfXhze0WZN7HSIl4slGV866p9dSw
            required: false
            description: Basic token used for authentication. For other methods of authentication, see {{AuthenticationOptions}}
        
        Response:
            displayName: Response
            type: string
            example: xml
            required: false
            description: Default is JSON. For other methods of response, see {{ResponseOptions}}
          
      
    get:
        
        displayName: Getting Partner Relationships
                
        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept-Encoding:
                example: gzip
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                [{"CompanyID":14831,"CompanyName":"KENTEL"}]
                            schema: |
                                {"name":"Relationship","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"CompanyID":{"type":"integer","database":"INTEGER","description":"Identifier for a <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>","example":"14831"},"CompanyName":{"type":"string","database":"VARCHAR(50)","description":"Company name","example":"KENTEL"}}}
                            
                        
                    
                    application/JsonDataTable:
                        
                            
                            example: |
                                [{"CompanyID":14831,"CompanyName":"KENTEL"}]
                            schema: |
                                {"name":"Relationship","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"CompanyID":{"type":"integer","database":"INTEGER","description":"Identifier for a <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>","example":"14831"},"CompanyName":{"type":"string","database":"VARCHAR(50)","description":"Company name","example":"KENTEL"}}}
                            
                        
                    
                    text/xml:
                        
                            
                            example: |
                                [{"CompanyID":14831,"CompanyName":"KENTEL"}]
                            schema: |
                                {"name":"Relationship","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"CompanyID":{"type":"integer","database":"INTEGER","description":"Identifier for a <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>","example":"14831"},"CompanyName":{"type":"string","database":"VARCHAR(50)","description":"Company name","example":"KENTEL"}}}
                            
                        
                    
                    text/XmlDataTable:
                        
                            
                            example: |
                                [{"CompanyID":14831,"CompanyName":"KENTEL"}]
                            schema: |
                                {"name":"Relationship","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"CompanyID":{"type":"integer","database":"INTEGER","description":"Identifier for a <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>","example":"14831"},"CompanyName":{"type":"string","database":"VARCHAR(50)","description":"Company name","example":"KENTEL"}}}
                            
                        
                    
                    text/csv:
                        
                            
                            example: |
                                [{"CompanyID":14831,"CompanyName":"KENTEL"}]
                            schema: |
                                {"name":"Relationship","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"CompanyID":{"type":"integer","database":"INTEGER","description":"Identifier for a <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>","example":"14831"},"CompanyName":{"type":"string","database":"VARCHAR(50)","description":"Company name","example":"KENTEL"}}}
                            
                        
                    
                    application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
                        
                            
                            example: |
                                [{"CompanyID":14831,"CompanyName":"KENTEL"}]
                            schema: |
                                {"name":"Relationship","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"CompanyID":{"type":"integer","database":"INTEGER","description":"Identifier for a <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>","example":"14831"},"CompanyName":{"type":"string","database":"VARCHAR(50)","description":"Company name","example":"KENTEL"}}}
                            
                        
                    
                
            
    

/partner/SellPro/employeelistreport?CompanyId={CompanyId}&Status={Status}&Unique={Unique}&GroupID={GroupID}&ForWho={ForWho}&ForWhoIDs={ForWhoIDs}&LocationType={LocationType}&LocationTypeIDs={LocationTypeIDs}&LanguageCode={LanguageCode}&Auth={Auth}&Response={Response}:
    
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14831
            required: true
            description: Identifier for a <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>, for a list see Getting Partner Relationships
        
        Status:
            displayName: Status
            type: integer
            example: 1
            required: true
            description: Select employees with a status of Disabled (0), Enabled (1) or Any Status (2)
        
        Unique:
            displayName: Unique
            type: boolean
            example: false
            required: true
            description: A flag to indicate if the "Master List" should be returned. If you choose to search by a district, region or the entire company, use a value of 1 for this paramter. A master list of employees, will display each employee once no matter how many locations they are assigned to
        
        GroupID:
            displayName: GroupID
            type: integer
            example: -1
            required: true
            description: Identifier for an Employee group in RQ. Use -1 for all groups
        
        ForWho:
            displayName: ForWho
            type: integer
            example: 1
            required: false
            description: Identifier for a level at which to perform the report. For a complete list, see <a href="#getting-report-levels-in-rq">Getting Report Levels in RQ</a>. If <strong>LocationType</strong> is provided, this value is ignored
        
        ForWhoIDs:
            displayName: ForWhoIDs
            type: integer
            example: 6679
            required: false
            description: A comma seperated list of identifiers to filter the report. For a list of identifiers, see <a href="#getting-nodes-by-location-type">Getting Nodes By Location Type</a>. If <strong>LocationTypeIDs</strong> is provided, this value is ignored. To ignore filtering use -1
        
        LocationType:
            displayName: LocationType
            type: string
            example: Store
            required: false
            description: A <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#locationtype'>LocationType</a> to filter the report. For a complete list, see <a href="#getting-location-types">Getting Location Types</a>. If this value is provided, <strong>ForWho</strong> is ignored
        
        LocationTypeIDs:
            displayName: LocationTypeIDs
            type: string
            example: 1,2
            required: false
            description: A comma seperated list of <a href='http://developers.iqmetrix.com/api/RQ-Data-Connect/#rqcompanytreenode'>RQCompanyTreeNode</a> identifiers to filter the report. For a complete list, see <a href="#getting-location-ids">Getting Location Ids</a>. To ignore filtering, use -1 or *. If this value is provided, <strong>ForWhoIDs</strong> is ignored
        
        LanguageCode:
            displayName: LanguageCode
            type: string
            example: en-us
            required: false
            description: Language code, defaults to en-us. For a complete list, see <a href='#getting-language-codes'>Getting Language Codes</a>
        
        Auth:
            displayName: Auth
            type: string
            example: vRMt17P8rIBWWbVbLzLWjTNyLfvESgA2yfXhze0WZN7HSIl4slGV866p9dSw
            required: false
            description: Basic token used for authentication. For other methods of authentication, see {{AuthenticationOptions}}
        
        Response:
            displayName: Response
            type: string
            example: xml
            required: false
            description: Default is JSON. For other methods of response, see {{ResponseOptions}}
          
      
    get:
        
        displayName: Getting the Employee List Report
                
        
        description: |            
            For more information, see {{support_EmployeeListReport}}.   
            

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept-Encoding:
                example: gzip
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                [{"Address":"127 starlight lane","Cellular_Number":"5555555555","City":"Fargo","DefaultLocation":null,"DefaultZoneForWho":null,"Email":"sams@kentel.com","EmailAddress":"sams@kentel.com","Employee_Name":"Sam Smith","ID_Number":59,"IsPartTime":false,"Last_Name":"Smith","LastHireDate":"2015-07-03T22:31:05.403","Location":"100: My Network LLC - Anchorage","PersonalEmail":"sam@yopmail.com","Postal_Code":"90123","Province":"ND","RoleDescription":"Sales Representative","ScheduledTerminationDate":"2015-11-22T08:00:00.000","SMS_Number":"5555555555@yopmail.com","SpecialIdentifier":"912345987654321","StartDate":"2010-11-22T10:06:35.133","Status":"Enabled","TerminationDate":"2015-11-22T08:00:25.345","Title":"Wireless Consultant","Username":"Sam.Smith","Work_Number":"5555555555"}]
                            schema: |
                                {"name":"EmployeeListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Address":{"type":"string","database":"VARCHAR(50)","description":"Address - employee's address","example":"127 starlight lane"},"Cellular_Number":{"type":"string","database":"NVARCHAR(MAX)","description":"Cell Phone # - employee's cell phone number","example":"5555555555"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - employee's city","example":"Fargo"},"DefaultLocation":{"type":"integer","database":"INT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"DefaultZoneForWho":{"type":"integer","database":"TINYINT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"Email":{"type":"string","database":"VARCHAR(50)","description":"Email Address - employee's work email address","example":"sams@kentel.com"},"EmailAddress":{"type":"string","database":"VARCHAR(50)","description":"Email ","example":"sams@kentel.com"},"Employee_Name":{"type":"string","database":"VARCHAR(51)","description":"Employee - name of the employee as entered on their employee profile","example":"Sam Smith"},"ID_Number":{"type":"integer","database":"INT","description":"Internal identifier for employee in RQ","example":"59"},"IsPartTime":{"type":"boolean","database":"BIT","description":"Part Time - indicates if an employee is Part Time","example":"false"},"Last_Name":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"LastHireDate":{"type":"string","database":"VARCHAR(50)","description":"Hire Date - day and date the employee was hired","example":"2015-07-03T22:31:05.403"},"Location":{"type":"string","database":"VARCHAR(51)","description":"Location - Only present if Unique is not -1. Every location the employee is assigned to","example":"100: My Network LLC - Anchorage"},"PersonalEmail":{"type":"string","database":"VARCHAR(50)","description":"Personal Email - employee's personal email address","example":"sam@yopmail.com"},"Postal_Code":{"type":"string","database":"VARCHAR(15)","description":"Zip/Postal Code - zip code (USA) or postal code (Canada)","example":"90123"},"Province":{"type":"string","database":"VARCHAR(50)","description":"Province - employee's province or state","example":"ND"},"RoleDescription":{"type":"string","database":"NVARCHAR(MAX)","description":"Security Role - security role assigned to this employee","example":"Sales Representative"},"ScheduledTerminationDate":{"type":"datetime","database":"DATETIME","description":"Scheduled termination date","example":"2015-11-22T08:00:00.000"},"SMS_Number":{"type":"string","database":"VARCHAR(50)","description":"SMS # - employee's text number","example":"5555555555@yopmail.com"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"StartDate":{"type":"datetime","database":"DATETIME","description":"Start Date","example":"2010-11-22T10:06:35.133"},"Status":{"type":"string","database":"VARCHAR(8)","description":"Status - shows if the employee is enabled or disabled if Any Status is selected","example":"Enabled"},"TerminationDate":{"type":"datetime","database":"DATETIME","description":"Termination Date - date of termination (date the employee was disabled)","example":"2015-11-22T08:00:25.345"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Wireless Consultant"},"Username":{"type":"string","database":"VARCHAR(25)","description":"Username - username of the employee as entered on their employee profile","example":"Sam.Smith"},"Work_Number":{"type":"datetime","database":"DATETIME","description":"Work Phone # - employee's work number","example":"5555555555"}}}
                            
                        
                    
                    application/JsonDataTable:
                        
                            
                            example: |
                                [{"Address":"127 starlight lane","Cellular_Number":"5555555555","City":"Fargo","DefaultLocation":null,"DefaultZoneForWho":null,"Email":"sams@kentel.com","EmailAddress":"sams@kentel.com","Employee_Name":"Sam Smith","ID_Number":59,"IsPartTime":false,"Last_Name":"Smith","LastHireDate":"2015-07-03T22:31:05.403","Location":"100: My Network LLC - Anchorage","PersonalEmail":"sam@yopmail.com","Postal_Code":"90123","Province":"ND","RoleDescription":"Sales Representative","ScheduledTerminationDate":"2015-11-22T08:00:00.000","SMS_Number":"5555555555@yopmail.com","SpecialIdentifier":"912345987654321","StartDate":"2010-11-22T10:06:35.133","Status":"Enabled","TerminationDate":"2015-11-22T08:00:25.345","Title":"Wireless Consultant","Username":"Sam.Smith","Work_Number":"5555555555"}]
                            schema: |
                                {"name":"EmployeeListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Address":{"type":"string","database":"VARCHAR(50)","description":"Address - employee's address","example":"127 starlight lane"},"Cellular_Number":{"type":"string","database":"NVARCHAR(MAX)","description":"Cell Phone # - employee's cell phone number","example":"5555555555"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - employee's city","example":"Fargo"},"DefaultLocation":{"type":"integer","database":"INT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"DefaultZoneForWho":{"type":"integer","database":"TINYINT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"Email":{"type":"string","database":"VARCHAR(50)","description":"Email Address - employee's work email address","example":"sams@kentel.com"},"EmailAddress":{"type":"string","database":"VARCHAR(50)","description":"Email ","example":"sams@kentel.com"},"Employee_Name":{"type":"string","database":"VARCHAR(51)","description":"Employee - name of the employee as entered on their employee profile","example":"Sam Smith"},"ID_Number":{"type":"integer","database":"INT","description":"Internal identifier for employee in RQ","example":"59"},"IsPartTime":{"type":"boolean","database":"BIT","description":"Part Time - indicates if an employee is Part Time","example":"false"},"Last_Name":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"LastHireDate":{"type":"string","database":"VARCHAR(50)","description":"Hire Date - day and date the employee was hired","example":"2015-07-03T22:31:05.403"},"Location":{"type":"string","database":"VARCHAR(51)","description":"Location - Only present if Unique is not -1. Every location the employee is assigned to","example":"100: My Network LLC - Anchorage"},"PersonalEmail":{"type":"string","database":"VARCHAR(50)","description":"Personal Email - employee's personal email address","example":"sam@yopmail.com"},"Postal_Code":{"type":"string","database":"VARCHAR(15)","description":"Zip/Postal Code - zip code (USA) or postal code (Canada)","example":"90123"},"Province":{"type":"string","database":"VARCHAR(50)","description":"Province - employee's province or state","example":"ND"},"RoleDescription":{"type":"string","database":"NVARCHAR(MAX)","description":"Security Role - security role assigned to this employee","example":"Sales Representative"},"ScheduledTerminationDate":{"type":"datetime","database":"DATETIME","description":"Scheduled termination date","example":"2015-11-22T08:00:00.000"},"SMS_Number":{"type":"string","database":"VARCHAR(50)","description":"SMS # - employee's text number","example":"5555555555@yopmail.com"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"StartDate":{"type":"datetime","database":"DATETIME","description":"Start Date","example":"2010-11-22T10:06:35.133"},"Status":{"type":"string","database":"VARCHAR(8)","description":"Status - shows if the employee is enabled or disabled if Any Status is selected","example":"Enabled"},"TerminationDate":{"type":"datetime","database":"DATETIME","description":"Termination Date - date of termination (date the employee was disabled)","example":"2015-11-22T08:00:25.345"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Wireless Consultant"},"Username":{"type":"string","database":"VARCHAR(25)","description":"Username - username of the employee as entered on their employee profile","example":"Sam.Smith"},"Work_Number":{"type":"datetime","database":"DATETIME","description":"Work Phone # - employee's work number","example":"5555555555"}}}
                            
                        
                    
                    text/xml:
                        
                            
                            example: |
                                [{"Address":"127 starlight lane","Cellular_Number":"5555555555","City":"Fargo","DefaultLocation":null,"DefaultZoneForWho":null,"Email":"sams@kentel.com","EmailAddress":"sams@kentel.com","Employee_Name":"Sam Smith","ID_Number":59,"IsPartTime":false,"Last_Name":"Smith","LastHireDate":"2015-07-03T22:31:05.403","Location":"100: My Network LLC - Anchorage","PersonalEmail":"sam@yopmail.com","Postal_Code":"90123","Province":"ND","RoleDescription":"Sales Representative","ScheduledTerminationDate":"2015-11-22T08:00:00.000","SMS_Number":"5555555555@yopmail.com","SpecialIdentifier":"912345987654321","StartDate":"2010-11-22T10:06:35.133","Status":"Enabled","TerminationDate":"2015-11-22T08:00:25.345","Title":"Wireless Consultant","Username":"Sam.Smith","Work_Number":"5555555555"}]
                            schema: |
                                {"name":"EmployeeListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Address":{"type":"string","database":"VARCHAR(50)","description":"Address - employee's address","example":"127 starlight lane"},"Cellular_Number":{"type":"string","database":"NVARCHAR(MAX)","description":"Cell Phone # - employee's cell phone number","example":"5555555555"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - employee's city","example":"Fargo"},"DefaultLocation":{"type":"integer","database":"INT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"DefaultZoneForWho":{"type":"integer","database":"TINYINT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"Email":{"type":"string","database":"VARCHAR(50)","description":"Email Address - employee's work email address","example":"sams@kentel.com"},"EmailAddress":{"type":"string","database":"VARCHAR(50)","description":"Email ","example":"sams@kentel.com"},"Employee_Name":{"type":"string","database":"VARCHAR(51)","description":"Employee - name of the employee as entered on their employee profile","example":"Sam Smith"},"ID_Number":{"type":"integer","database":"INT","description":"Internal identifier for employee in RQ","example":"59"},"IsPartTime":{"type":"boolean","database":"BIT","description":"Part Time - indicates if an employee is Part Time","example":"false"},"Last_Name":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"LastHireDate":{"type":"string","database":"VARCHAR(50)","description":"Hire Date - day and date the employee was hired","example":"2015-07-03T22:31:05.403"},"Location":{"type":"string","database":"VARCHAR(51)","description":"Location - Only present if Unique is not -1. Every location the employee is assigned to","example":"100: My Network LLC - Anchorage"},"PersonalEmail":{"type":"string","database":"VARCHAR(50)","description":"Personal Email - employee's personal email address","example":"sam@yopmail.com"},"Postal_Code":{"type":"string","database":"VARCHAR(15)","description":"Zip/Postal Code - zip code (USA) or postal code (Canada)","example":"90123"},"Province":{"type":"string","database":"VARCHAR(50)","description":"Province - employee's province or state","example":"ND"},"RoleDescription":{"type":"string","database":"NVARCHAR(MAX)","description":"Security Role - security role assigned to this employee","example":"Sales Representative"},"ScheduledTerminationDate":{"type":"datetime","database":"DATETIME","description":"Scheduled termination date","example":"2015-11-22T08:00:00.000"},"SMS_Number":{"type":"string","database":"VARCHAR(50)","description":"SMS # - employee's text number","example":"5555555555@yopmail.com"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"StartDate":{"type":"datetime","database":"DATETIME","description":"Start Date","example":"2010-11-22T10:06:35.133"},"Status":{"type":"string","database":"VARCHAR(8)","description":"Status - shows if the employee is enabled or disabled if Any Status is selected","example":"Enabled"},"TerminationDate":{"type":"datetime","database":"DATETIME","description":"Termination Date - date of termination (date the employee was disabled)","example":"2015-11-22T08:00:25.345"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Wireless Consultant"},"Username":{"type":"string","database":"VARCHAR(25)","description":"Username - username of the employee as entered on their employee profile","example":"Sam.Smith"},"Work_Number":{"type":"datetime","database":"DATETIME","description":"Work Phone # - employee's work number","example":"5555555555"}}}
                            
                        
                    
                    text/XmlDataTable:
                        
                            
                            example: |
                                [{"Address":"127 starlight lane","Cellular_Number":"5555555555","City":"Fargo","DefaultLocation":null,"DefaultZoneForWho":null,"Email":"sams@kentel.com","EmailAddress":"sams@kentel.com","Employee_Name":"Sam Smith","ID_Number":59,"IsPartTime":false,"Last_Name":"Smith","LastHireDate":"2015-07-03T22:31:05.403","Location":"100: My Network LLC - Anchorage","PersonalEmail":"sam@yopmail.com","Postal_Code":"90123","Province":"ND","RoleDescription":"Sales Representative","ScheduledTerminationDate":"2015-11-22T08:00:00.000","SMS_Number":"5555555555@yopmail.com","SpecialIdentifier":"912345987654321","StartDate":"2010-11-22T10:06:35.133","Status":"Enabled","TerminationDate":"2015-11-22T08:00:25.345","Title":"Wireless Consultant","Username":"Sam.Smith","Work_Number":"5555555555"}]
                            schema: |
                                {"name":"EmployeeListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Address":{"type":"string","database":"VARCHAR(50)","description":"Address - employee's address","example":"127 starlight lane"},"Cellular_Number":{"type":"string","database":"NVARCHAR(MAX)","description":"Cell Phone # - employee's cell phone number","example":"5555555555"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - employee's city","example":"Fargo"},"DefaultLocation":{"type":"integer","database":"INT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"DefaultZoneForWho":{"type":"integer","database":"TINYINT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"Email":{"type":"string","database":"VARCHAR(50)","description":"Email Address - employee's work email address","example":"sams@kentel.com"},"EmailAddress":{"type":"string","database":"VARCHAR(50)","description":"Email ","example":"sams@kentel.com"},"Employee_Name":{"type":"string","database":"VARCHAR(51)","description":"Employee - name of the employee as entered on their employee profile","example":"Sam Smith"},"ID_Number":{"type":"integer","database":"INT","description":"Internal identifier for employee in RQ","example":"59"},"IsPartTime":{"type":"boolean","database":"BIT","description":"Part Time - indicates if an employee is Part Time","example":"false"},"Last_Name":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"LastHireDate":{"type":"string","database":"VARCHAR(50)","description":"Hire Date - day and date the employee was hired","example":"2015-07-03T22:31:05.403"},"Location":{"type":"string","database":"VARCHAR(51)","description":"Location - Only present if Unique is not -1. Every location the employee is assigned to","example":"100: My Network LLC - Anchorage"},"PersonalEmail":{"type":"string","database":"VARCHAR(50)","description":"Personal Email - employee's personal email address","example":"sam@yopmail.com"},"Postal_Code":{"type":"string","database":"VARCHAR(15)","description":"Zip/Postal Code - zip code (USA) or postal code (Canada)","example":"90123"},"Province":{"type":"string","database":"VARCHAR(50)","description":"Province - employee's province or state","example":"ND"},"RoleDescription":{"type":"string","database":"NVARCHAR(MAX)","description":"Security Role - security role assigned to this employee","example":"Sales Representative"},"ScheduledTerminationDate":{"type":"datetime","database":"DATETIME","description":"Scheduled termination date","example":"2015-11-22T08:00:00.000"},"SMS_Number":{"type":"string","database":"VARCHAR(50)","description":"SMS # - employee's text number","example":"5555555555@yopmail.com"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"StartDate":{"type":"datetime","database":"DATETIME","description":"Start Date","example":"2010-11-22T10:06:35.133"},"Status":{"type":"string","database":"VARCHAR(8)","description":"Status - shows if the employee is enabled or disabled if Any Status is selected","example":"Enabled"},"TerminationDate":{"type":"datetime","database":"DATETIME","description":"Termination Date - date of termination (date the employee was disabled)","example":"2015-11-22T08:00:25.345"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Wireless Consultant"},"Username":{"type":"string","database":"VARCHAR(25)","description":"Username - username of the employee as entered on their employee profile","example":"Sam.Smith"},"Work_Number":{"type":"datetime","database":"DATETIME","description":"Work Phone # - employee's work number","example":"5555555555"}}}
                            
                        
                    
                    text/csv:
                        
                            
                            example: |
                                [{"Address":"127 starlight lane","Cellular_Number":"5555555555","City":"Fargo","DefaultLocation":null,"DefaultZoneForWho":null,"Email":"sams@kentel.com","EmailAddress":"sams@kentel.com","Employee_Name":"Sam Smith","ID_Number":59,"IsPartTime":false,"Last_Name":"Smith","LastHireDate":"2015-07-03T22:31:05.403","Location":"100: My Network LLC - Anchorage","PersonalEmail":"sam@yopmail.com","Postal_Code":"90123","Province":"ND","RoleDescription":"Sales Representative","ScheduledTerminationDate":"2015-11-22T08:00:00.000","SMS_Number":"5555555555@yopmail.com","SpecialIdentifier":"912345987654321","StartDate":"2010-11-22T10:06:35.133","Status":"Enabled","TerminationDate":"2015-11-22T08:00:25.345","Title":"Wireless Consultant","Username":"Sam.Smith","Work_Number":"5555555555"}]
                            schema: |
                                {"name":"EmployeeListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Address":{"type":"string","database":"VARCHAR(50)","description":"Address - employee's address","example":"127 starlight lane"},"Cellular_Number":{"type":"string","database":"NVARCHAR(MAX)","description":"Cell Phone # - employee's cell phone number","example":"5555555555"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - employee's city","example":"Fargo"},"DefaultLocation":{"type":"integer","database":"INT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"DefaultZoneForWho":{"type":"integer","database":"TINYINT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"Email":{"type":"string","database":"VARCHAR(50)","description":"Email Address - employee's work email address","example":"sams@kentel.com"},"EmailAddress":{"type":"string","database":"VARCHAR(50)","description":"Email ","example":"sams@kentel.com"},"Employee_Name":{"type":"string","database":"VARCHAR(51)","description":"Employee - name of the employee as entered on their employee profile","example":"Sam Smith"},"ID_Number":{"type":"integer","database":"INT","description":"Internal identifier for employee in RQ","example":"59"},"IsPartTime":{"type":"boolean","database":"BIT","description":"Part Time - indicates if an employee is Part Time","example":"false"},"Last_Name":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"LastHireDate":{"type":"string","database":"VARCHAR(50)","description":"Hire Date - day and date the employee was hired","example":"2015-07-03T22:31:05.403"},"Location":{"type":"string","database":"VARCHAR(51)","description":"Location - Only present if Unique is not -1. Every location the employee is assigned to","example":"100: My Network LLC - Anchorage"},"PersonalEmail":{"type":"string","database":"VARCHAR(50)","description":"Personal Email - employee's personal email address","example":"sam@yopmail.com"},"Postal_Code":{"type":"string","database":"VARCHAR(15)","description":"Zip/Postal Code - zip code (USA) or postal code (Canada)","example":"90123"},"Province":{"type":"string","database":"VARCHAR(50)","description":"Province - employee's province or state","example":"ND"},"RoleDescription":{"type":"string","database":"NVARCHAR(MAX)","description":"Security Role - security role assigned to this employee","example":"Sales Representative"},"ScheduledTerminationDate":{"type":"datetime","database":"DATETIME","description":"Scheduled termination date","example":"2015-11-22T08:00:00.000"},"SMS_Number":{"type":"string","database":"VARCHAR(50)","description":"SMS # - employee's text number","example":"5555555555@yopmail.com"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"StartDate":{"type":"datetime","database":"DATETIME","description":"Start Date","example":"2010-11-22T10:06:35.133"},"Status":{"type":"string","database":"VARCHAR(8)","description":"Status - shows if the employee is enabled or disabled if Any Status is selected","example":"Enabled"},"TerminationDate":{"type":"datetime","database":"DATETIME","description":"Termination Date - date of termination (date the employee was disabled)","example":"2015-11-22T08:00:25.345"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Wireless Consultant"},"Username":{"type":"string","database":"VARCHAR(25)","description":"Username - username of the employee as entered on their employee profile","example":"Sam.Smith"},"Work_Number":{"type":"datetime","database":"DATETIME","description":"Work Phone # - employee's work number","example":"5555555555"}}}
                            
                        
                    
                    application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
                        
                            
                            example: |
                                [{"Address":"127 starlight lane","Cellular_Number":"5555555555","City":"Fargo","DefaultLocation":null,"DefaultZoneForWho":null,"Email":"sams@kentel.com","EmailAddress":"sams@kentel.com","Employee_Name":"Sam Smith","ID_Number":59,"IsPartTime":false,"Last_Name":"Smith","LastHireDate":"2015-07-03T22:31:05.403","Location":"100: My Network LLC - Anchorage","PersonalEmail":"sam@yopmail.com","Postal_Code":"90123","Province":"ND","RoleDescription":"Sales Representative","ScheduledTerminationDate":"2015-11-22T08:00:00.000","SMS_Number":"5555555555@yopmail.com","SpecialIdentifier":"912345987654321","StartDate":"2010-11-22T10:06:35.133","Status":"Enabled","TerminationDate":"2015-11-22T08:00:25.345","Title":"Wireless Consultant","Username":"Sam.Smith","Work_Number":"5555555555"}]
                            schema: |
                                {"name":"EmployeeListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Address":{"type":"string","database":"VARCHAR(50)","description":"Address - employee's address","example":"127 starlight lane"},"Cellular_Number":{"type":"string","database":"NVARCHAR(MAX)","description":"Cell Phone # - employee's cell phone number","example":"5555555555"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - employee's city","example":"Fargo"},"DefaultLocation":{"type":"integer","database":"INT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"DefaultZoneForWho":{"type":"integer","database":"TINYINT","description":"Primary Location - primary location if one has been assigned. DefaultLocation and DefaultZoneForWho are used to determine this value","example":"null"},"Email":{"type":"string","database":"VARCHAR(50)","description":"Email Address - employee's work email address","example":"sams@kentel.com"},"EmailAddress":{"type":"string","database":"VARCHAR(50)","description":"Email ","example":"sams@kentel.com"},"Employee_Name":{"type":"string","database":"VARCHAR(51)","description":"Employee - name of the employee as entered on their employee profile","example":"Sam Smith"},"ID_Number":{"type":"integer","database":"INT","description":"Internal identifier for employee in RQ","example":"59"},"IsPartTime":{"type":"boolean","database":"BIT","description":"Part Time - indicates if an employee is Part Time","example":"false"},"Last_Name":{"type":"string","database":"VARCHAR(25)","description":"Employee last name","example":"Smith"},"LastHireDate":{"type":"string","database":"VARCHAR(50)","description":"Hire Date - day and date the employee was hired","example":"2015-07-03T22:31:05.403"},"Location":{"type":"string","database":"VARCHAR(51)","description":"Location - Only present if Unique is not -1. Every location the employee is assigned to","example":"100: My Network LLC - Anchorage"},"PersonalEmail":{"type":"string","database":"VARCHAR(50)","description":"Personal Email - employee's personal email address","example":"sam@yopmail.com"},"Postal_Code":{"type":"string","database":"VARCHAR(15)","description":"Zip/Postal Code - zip code (USA) or postal code (Canada)","example":"90123"},"Province":{"type":"string","database":"VARCHAR(50)","description":"Province - employee's province or state","example":"ND"},"RoleDescription":{"type":"string","database":"NVARCHAR(MAX)","description":"Security Role - security role assigned to this employee","example":"Sales Representative"},"ScheduledTerminationDate":{"type":"datetime","database":"DATETIME","description":"Scheduled termination date","example":"2015-11-22T08:00:00.000"},"SMS_Number":{"type":"string","database":"VARCHAR(50)","description":"SMS # - employee's text number","example":"5555555555@yopmail.com"},"SpecialIdentifier":{"type":"string","database":"VARCHAR(25)","description":"ID # - ID number assigned when hired","example":"912345987654321"},"StartDate":{"type":"datetime","database":"DATETIME","description":"Start Date","example":"2010-11-22T10:06:35.133"},"Status":{"type":"string","database":"VARCHAR(8)","description":"Status - shows if the employee is enabled or disabled if Any Status is selected","example":"Enabled"},"TerminationDate":{"type":"datetime","database":"DATETIME","description":"Termination Date - date of termination (date the employee was disabled)","example":"2015-11-22T08:00:25.345"},"Title":{"type":"string","database":"VARCHAR(50)","description":"Title - title assigned to this employee","example":"Wireless Consultant"},"Username":{"type":"string","database":"VARCHAR(25)","description":"Username - username of the employee as entered on their employee profile","example":"Sam.Smith"},"Work_Number":{"type":"datetime","database":"DATETIME","description":"Work Phone # - employee's work number","example":"5555555555"}}}
                            
                        
                    
                
            
    

/partner/SellPro/locationmasterlistreport?CompanyId={CompanyId}&Auth={Auth}&Response={Response}:
    
    uriParameters:
        
        CompanyId:
            displayName: CompanyId
            type: integer
            example: 14831
            required: true
            description: Identifier for a <a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>, for a list see Getting Partner Relationships
        
        Auth:
            displayName: Auth
            type: string
            example: vRMt17P8rIBWWbVbLzLWjTNyLfvESgA2yfXhze0WZN7HSIl4slGV866p9dSw
            required: false
            description: Basic token used for authentication. For other methods of authentication, see {{AuthenticationOptions}}
        
        Response:
            displayName: Response
            type: string
            example: xml
            required: false
            description: Default is JSON. For other methods of response, see {{ResponseOptions}}
          
      
    get:
        
        displayName: Getting the Location Master List Report
                
        
        description: |            
            For more information, see {{support_LocationMasterListReport}}.   

        
        headers:
            
            Authorization:
                example: Bearer (Access Token)
            
            Accept-Encoding:
                example: gzip
            
        body:
            
        responses:
            
            200:
                
                body:
                    
                    application/json:
                        
                            
                            example: |
                                [{"Abbreviation":"LIT22","Address":"4970 Hillside Avenue","AddressVerified":"Not Verified","AdjustDST":false,"BankDetails":"CashSmart","CashPolicy":"Single-Drawer","ChannelName":"Alabama","City":"Kansas","Comment_on_OE":false,"Country":"United States","DepositTaken":0,"Disabled":1,"DistrictName":"Smithton","EmailAddress":"abarea@kentel.com","FaxNumber":"5555555555","GeneralLocationNotes":"note","GLCode":"-MILLH","HideCustomerAddress":false,"InsuranceAmount":0,"InsuranceCompany":"Safefair","LandlordName":"Jim Jones","LandlordNotes":"sample note","Latitude":50.443559,"LeaseEndDate":"2014-12-24T00:00:00","LeaseNotes":"note","LeaseStartDate":"2014-11-26T00:00:00","LocationCode":"500","LocationEntityID":48540,"Longitude":-104.612034,"ManagerCommissionable":false,"ManagerEmployeeID":233,"MaxCashDrawer":0,"OtherCharges":0,"PAW_on_OE":false,"Phone_on_OE":true,"PhoneNumber":"4353424234","PropertyTaxes":0,"RegionName":"Abarea","RelocationDate":"2016-02-26T00:00:00","Rent":0,"SaleInvoiceComment":"Sale Invoice Comments","Serial_on_OE":false,"SquareFootage":0,"StaffLevel":12,"StateProv":"AL","StoreID":1187,"StoreName":"Dufferin Mall","StoreType":"Retail Store","Taxes":"GOODS AND SERVICES TAX (GST)","TimeZone":"(GMT-06:00) Saskatchewan","UseLocationEmail":false,"ZipPostal":"90210"}]
                            schema: |
                                {"name":"LocationMasterListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Abbreviation":{"type":"string","database":"VARCHAR(5)","description":"Abbreviation - this cannot be edited","example":"LIT22"},"Address":{"type":"string","database":"NVARCHAR(MAX)","description":"Address - address assigned to location","example":"4970 Hillside Avenue"},"AddressVerified":{"type":"string","database":"VARCHAR(12)","description":"Address Verified - if the address can not be verified then you will have the option to edit the Latitude and Longitude to verify it","example":"Not Verified"},"AdjustDST":{"type":"boolean","database":"BIT","description":"Adjust DST - check if the location adjusts for daylight savings","example":"false"},"BankDetails":{"type":"string","database":"NVARCHAR(MAX)","description":"Bank Details - the Banks name for the location","example":"CashSmart"},"CashPolicy":{"type":"string","database":"VARCHAR(13)","description":"Cash Policy - states the cash policy (single/multi-drawer)","example":"Single-Drawer"},"ChannelName":{"type":"string","database":"NVARCHAR(MAX)","description":"Channel - channel the region is assigned to","example":"Alabama"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - city the location resides in","example":"Kansas"},"Comment_on_OE":{"type":"boolean","database":"BIT","description":"Comment on OE - show product and location comments on sales order","example":"false"},"Country":{"type":"string","database":"VARCHAR(50)","description":"Country - country the location is located in","example":"United States"},"DepositTaken":{"type":"decimal","database":"MONEY","description":"Deposit Taken - lists the deposit if applicable","example":"0"},"Disabled":{"type":"integer","database":"INT","description":"Disable - indicates if the location is enabled or disabled","example":"1"},"DistrictName":{"type":"string","database":"NVARCHAR(MAX)","description":"District - district the location is assigned to","example":"Smithton"},"EmailAddress":{"type":"string","database":"VARCHAR(255)","description":"Email Address - email address assigned to the location","example":"abarea@kentel.com"},"FaxNumber":{"type":"string","database":"VARCHAR(10)","description":"Fax # - Fax # listed under the location","example":"5555555555"},"GeneralLocationNotes":{"type":"string","database":"VARCHAR(255)","description":"General Location Notes - notes specific to the location","example":"note"},"GLCode":{"type":"string","database":"VARCHAR(100)","description":"Code - coded associated to the location","example":"-MILLH"},"HideCustomerAddress":{"type":"boolean","database":"BIT","description":"Hide Customer Address - prevents the customers address from being seen on an invoice","example":"false"},"InsuranceAmount":{"type":"decimal","database":"MONEY","description":"Insurance - cost of Insurance","example":"0"},"InsuranceCompany":{"type":"string","database":"NVARCHAR(MAX)","description":"Insurance Company - name of the insurance company","example":"Safefair"},"LandlordName":{"type":"string","database":"NVARCHAR(MAX)","description":"Landlord Name - name of the landlord","example":"Jim Jones"},"LandlordNotes":{"type":"string","database":"NVARCHAR(MAX)","description":"Landlord Notes - notes specific to the landlord","example":"sample note"},"Latitude":{"type":"decimal","database":"DECIMAL","description":"Latitude - latitude location of the store","example":"50.443559"},"LeaseEndDate":{"type":"datetime","database":"DATETIME","description":"Lease End Date - the day the lease ends","example":"2014-12-24T00:00:00"},"LeaseNotes":{"type":"string","database":"NVARCHAR(MAX)","description":"Lease Notes - notes specific to the lease","example":"note"},"LeaseStartDate":{"type":"datetime","database":"DATETIME","description":"Lease Start Date - day the lease started","example":"2014-11-26T00:00:00"},"LocationCode":{"type":"string","database":"VARCHAR(100)","description":"Location Code - code entered in the property details tab in the Location Setup","example":"500"},"LocationEntityID":{"type":"integer","database":"INT","description":"Identifier of the store as a <a href='http://developers.iqmetrix.com/api/company-tree/#location'>Location</a> in Entity Store","example":"48540"},"Longitude":{"type":"decimal","database":"DECIMAL","description":"Longitude - longitude location of the store","example":"-104.612034"},"ManagerCommissionable":{"type":"boolean","database":"BIT","description":"Manager Commissionable - indicates if the manager is commissionable.","example":"false"},"ManagerEmployeeID":{"type":"integer","database":"INT","description":"Manager - manager assigned to the location","example":"233"},"MaxCashDrawer":{"type":"decimal","database":"MONEY","description":"Max Cash Drawer - maximum amount of cash allowed in a cash drawer","example":"0"},"OtherCharges":{"type":"decimal","database":"MONEY","description":"Other Charges - other charges associated to the location","example":"0"},"PAW_on_OE":{"type":"boolean","database":"BIT","description":"PAW on OE - launch PAW on sales orders","example":"false"},"Phone_on_OE":{"type":"boolean","database":"BIT","description":"Force phone number for entry on sales orders","example":"true"},"PhoneNumber":{"type":"string","database":"VARCHAR(10)","description":"Phone # - designated number for the location","example":"4353424234"},"PropertyTaxes":{"type":"decimal","database":"MONEY","description":"Property Taxes - applicable property taxes","example":"0"},"RegionName":{"type":"string","database":"NVARCHAR(MAX)","description":"Region - region the district is assigned to","example":"Abarea"},"RelocationDate":{"type":"datetime","database":"DATETIME","description":"Relocation Date - lists the date of the relocation if applicable","example":"2016-02-26T00:00:00"},"Rent":{"type":"decimal","database":"MONEY","description":"Rent - rent amount for the location","example":"0"},"SaleInvoiceComment":{"type":"string","database":"NVARCHAR(MAX)","description":"Sale Invoice Comment - locations sales invoice comment","example":"Sale Invoice Comments"},"Serial_on_OE":{"type":"boolean","database":"BIT","description":"Serial # on OE - force serial # for entry on sales orders","example":"false"},"SquareFootage":{"type":"integer","database":"INT","description":"Square Feet - approx square feet of the store","example":"0"},"StaffLevel":{"type":"decimal","database":"DECIMAL","description":"Staff Level - designated staffing level for the location","example":"12"},"StateProv":{"type":"string","database":"NVARCHAR(3)","description":"State/Prov - state or province the location is located in","example":"AL"},"StoreID":{"type":"integer","database":"INT","description":"Internal identifier for the store in RQ","example":"1187"},"StoreName":{"type":"string","database":"NVARCHAR(MAX)","description":"Store Name - name of the store","example":"Dufferin Mall"},"StoreType":{"type":"string","database":"NVARCHAR(MAX)","description":"Store Type - will state the store type","example":"Retail Store"},"Taxes":{"type":"string","database":"NVARCHAR(MAX)","description":"Taxes - taxes assigned to the location","example":"GOODS AND SERVICES TAX (GST)"},"TimeZone":{"type":"string","database":"VARCHAR(200)","description":"Time Zone - time zone assigned to location","example":"(GMT-06:00) Saskatchewan"},"UseLocationEmail":{"type":"boolean","database":"BIT","description":"Use Location for Email - use the location for the email contact","example":"false"},"ZipPostal":{"type":"string","database":"VARCHAR(15)","description":"Zip/Postal - zip/postal for the location","example":"90210"}}}
                            
                        
                    
                    application/JsonDataTable:
                        
                            
                            example: |
                                [{"Abbreviation":"LIT22","Address":"4970 Hillside Avenue","AddressVerified":"Not Verified","AdjustDST":false,"BankDetails":"CashSmart","CashPolicy":"Single-Drawer","ChannelName":"Alabama","City":"Kansas","Comment_on_OE":false,"Country":"United States","DepositTaken":0,"Disabled":1,"DistrictName":"Smithton","EmailAddress":"abarea@kentel.com","FaxNumber":"5555555555","GeneralLocationNotes":"note","GLCode":"-MILLH","HideCustomerAddress":false,"InsuranceAmount":0,"InsuranceCompany":"Safefair","LandlordName":"Jim Jones","LandlordNotes":"sample note","Latitude":50.443559,"LeaseEndDate":"2014-12-24T00:00:00","LeaseNotes":"note","LeaseStartDate":"2014-11-26T00:00:00","LocationCode":"500","LocationEntityID":48540,"Longitude":-104.612034,"ManagerCommissionable":false,"ManagerEmployeeID":233,"MaxCashDrawer":0,"OtherCharges":0,"PAW_on_OE":false,"Phone_on_OE":true,"PhoneNumber":"4353424234","PropertyTaxes":0,"RegionName":"Abarea","RelocationDate":"2016-02-26T00:00:00","Rent":0,"SaleInvoiceComment":"Sale Invoice Comments","Serial_on_OE":false,"SquareFootage":0,"StaffLevel":12,"StateProv":"AL","StoreID":1187,"StoreName":"Dufferin Mall","StoreType":"Retail Store","Taxes":"GOODS AND SERVICES TAX (GST)","TimeZone":"(GMT-06:00) Saskatchewan","UseLocationEmail":false,"ZipPostal":"90210"}]
                            schema: |
                                {"name":"LocationMasterListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Abbreviation":{"type":"string","database":"VARCHAR(5)","description":"Abbreviation - this cannot be edited","example":"LIT22"},"Address":{"type":"string","database":"NVARCHAR(MAX)","description":"Address - address assigned to location","example":"4970 Hillside Avenue"},"AddressVerified":{"type":"string","database":"VARCHAR(12)","description":"Address Verified - if the address can not be verified then you will have the option to edit the Latitude and Longitude to verify it","example":"Not Verified"},"AdjustDST":{"type":"boolean","database":"BIT","description":"Adjust DST - check if the location adjusts for daylight savings","example":"false"},"BankDetails":{"type":"string","database":"NVARCHAR(MAX)","description":"Bank Details - the Banks name for the location","example":"CashSmart"},"CashPolicy":{"type":"string","database":"VARCHAR(13)","description":"Cash Policy - states the cash policy (single/multi-drawer)","example":"Single-Drawer"},"ChannelName":{"type":"string","database":"NVARCHAR(MAX)","description":"Channel - channel the region is assigned to","example":"Alabama"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - city the location resides in","example":"Kansas"},"Comment_on_OE":{"type":"boolean","database":"BIT","description":"Comment on OE - show product and location comments on sales order","example":"false"},"Country":{"type":"string","database":"VARCHAR(50)","description":"Country - country the location is located in","example":"United States"},"DepositTaken":{"type":"decimal","database":"MONEY","description":"Deposit Taken - lists the deposit if applicable","example":"0"},"Disabled":{"type":"integer","database":"INT","description":"Disable - indicates if the location is enabled or disabled","example":"1"},"DistrictName":{"type":"string","database":"NVARCHAR(MAX)","description":"District - district the location is assigned to","example":"Smithton"},"EmailAddress":{"type":"string","database":"VARCHAR(255)","description":"Email Address - email address assigned to the location","example":"abarea@kentel.com"},"FaxNumber":{"type":"string","database":"VARCHAR(10)","description":"Fax # - Fax # listed under the location","example":"5555555555"},"GeneralLocationNotes":{"type":"string","database":"VARCHAR(255)","description":"General Location Notes - notes specific to the location","example":"note"},"GLCode":{"type":"string","database":"VARCHAR(100)","description":"Code - coded associated to the location","example":"-MILLH"},"HideCustomerAddress":{"type":"boolean","database":"BIT","description":"Hide Customer Address - prevents the customers address from being seen on an invoice","example":"false"},"InsuranceAmount":{"type":"decimal","database":"MONEY","description":"Insurance - cost of Insurance","example":"0"},"InsuranceCompany":{"type":"string","database":"NVARCHAR(MAX)","description":"Insurance Company - name of the insurance company","example":"Safefair"},"LandlordName":{"type":"string","database":"NVARCHAR(MAX)","description":"Landlord Name - name of the landlord","example":"Jim Jones"},"LandlordNotes":{"type":"string","database":"NVARCHAR(MAX)","description":"Landlord Notes - notes specific to the landlord","example":"sample note"},"Latitude":{"type":"decimal","database":"DECIMAL","description":"Latitude - latitude location of the store","example":"50.443559"},"LeaseEndDate":{"type":"datetime","database":"DATETIME","description":"Lease End Date - the day the lease ends","example":"2014-12-24T00:00:00"},"LeaseNotes":{"type":"string","database":"NVARCHAR(MAX)","description":"Lease Notes - notes specific to the lease","example":"note"},"LeaseStartDate":{"type":"datetime","database":"DATETIME","description":"Lease Start Date - day the lease started","example":"2014-11-26T00:00:00"},"LocationCode":{"type":"string","database":"VARCHAR(100)","description":"Location Code - code entered in the property details tab in the Location Setup","example":"500"},"LocationEntityID":{"type":"integer","database":"INT","description":"Identifier of the store as a <a href='http://developers.iqmetrix.com/api/company-tree/#location'>Location</a> in Entity Store","example":"48540"},"Longitude":{"type":"decimal","database":"DECIMAL","description":"Longitude - longitude location of the store","example":"-104.612034"},"ManagerCommissionable":{"type":"boolean","database":"BIT","description":"Manager Commissionable - indicates if the manager is commissionable.","example":"false"},"ManagerEmployeeID":{"type":"integer","database":"INT","description":"Manager - manager assigned to the location","example":"233"},"MaxCashDrawer":{"type":"decimal","database":"MONEY","description":"Max Cash Drawer - maximum amount of cash allowed in a cash drawer","example":"0"},"OtherCharges":{"type":"decimal","database":"MONEY","description":"Other Charges - other charges associated to the location","example":"0"},"PAW_on_OE":{"type":"boolean","database":"BIT","description":"PAW on OE - launch PAW on sales orders","example":"false"},"Phone_on_OE":{"type":"boolean","database":"BIT","description":"Force phone number for entry on sales orders","example":"true"},"PhoneNumber":{"type":"string","database":"VARCHAR(10)","description":"Phone # - designated number for the location","example":"4353424234"},"PropertyTaxes":{"type":"decimal","database":"MONEY","description":"Property Taxes - applicable property taxes","example":"0"},"RegionName":{"type":"string","database":"NVARCHAR(MAX)","description":"Region - region the district is assigned to","example":"Abarea"},"RelocationDate":{"type":"datetime","database":"DATETIME","description":"Relocation Date - lists the date of the relocation if applicable","example":"2016-02-26T00:00:00"},"Rent":{"type":"decimal","database":"MONEY","description":"Rent - rent amount for the location","example":"0"},"SaleInvoiceComment":{"type":"string","database":"NVARCHAR(MAX)","description":"Sale Invoice Comment - locations sales invoice comment","example":"Sale Invoice Comments"},"Serial_on_OE":{"type":"boolean","database":"BIT","description":"Serial # on OE - force serial # for entry on sales orders","example":"false"},"SquareFootage":{"type":"integer","database":"INT","description":"Square Feet - approx square feet of the store","example":"0"},"StaffLevel":{"type":"decimal","database":"DECIMAL","description":"Staff Level - designated staffing level for the location","example":"12"},"StateProv":{"type":"string","database":"NVARCHAR(3)","description":"State/Prov - state or province the location is located in","example":"AL"},"StoreID":{"type":"integer","database":"INT","description":"Internal identifier for the store in RQ","example":"1187"},"StoreName":{"type":"string","database":"NVARCHAR(MAX)","description":"Store Name - name of the store","example":"Dufferin Mall"},"StoreType":{"type":"string","database":"NVARCHAR(MAX)","description":"Store Type - will state the store type","example":"Retail Store"},"Taxes":{"type":"string","database":"NVARCHAR(MAX)","description":"Taxes - taxes assigned to the location","example":"GOODS AND SERVICES TAX (GST)"},"TimeZone":{"type":"string","database":"VARCHAR(200)","description":"Time Zone - time zone assigned to location","example":"(GMT-06:00) Saskatchewan"},"UseLocationEmail":{"type":"boolean","database":"BIT","description":"Use Location for Email - use the location for the email contact","example":"false"},"ZipPostal":{"type":"string","database":"VARCHAR(15)","description":"Zip/Postal - zip/postal for the location","example":"90210"}}}
                            
                        
                    
                    text/xml:
                        
                            
                            example: |
                                [{"Abbreviation":"LIT22","Address":"4970 Hillside Avenue","AddressVerified":"Not Verified","AdjustDST":false,"BankDetails":"CashSmart","CashPolicy":"Single-Drawer","ChannelName":"Alabama","City":"Kansas","Comment_on_OE":false,"Country":"United States","DepositTaken":0,"Disabled":1,"DistrictName":"Smithton","EmailAddress":"abarea@kentel.com","FaxNumber":"5555555555","GeneralLocationNotes":"note","GLCode":"-MILLH","HideCustomerAddress":false,"InsuranceAmount":0,"InsuranceCompany":"Safefair","LandlordName":"Jim Jones","LandlordNotes":"sample note","Latitude":50.443559,"LeaseEndDate":"2014-12-24T00:00:00","LeaseNotes":"note","LeaseStartDate":"2014-11-26T00:00:00","LocationCode":"500","LocationEntityID":48540,"Longitude":-104.612034,"ManagerCommissionable":false,"ManagerEmployeeID":233,"MaxCashDrawer":0,"OtherCharges":0,"PAW_on_OE":false,"Phone_on_OE":true,"PhoneNumber":"4353424234","PropertyTaxes":0,"RegionName":"Abarea","RelocationDate":"2016-02-26T00:00:00","Rent":0,"SaleInvoiceComment":"Sale Invoice Comments","Serial_on_OE":false,"SquareFootage":0,"StaffLevel":12,"StateProv":"AL","StoreID":1187,"StoreName":"Dufferin Mall","StoreType":"Retail Store","Taxes":"GOODS AND SERVICES TAX (GST)","TimeZone":"(GMT-06:00) Saskatchewan","UseLocationEmail":false,"ZipPostal":"90210"}]
                            schema: |
                                {"name":"LocationMasterListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Abbreviation":{"type":"string","database":"VARCHAR(5)","description":"Abbreviation - this cannot be edited","example":"LIT22"},"Address":{"type":"string","database":"NVARCHAR(MAX)","description":"Address - address assigned to location","example":"4970 Hillside Avenue"},"AddressVerified":{"type":"string","database":"VARCHAR(12)","description":"Address Verified - if the address can not be verified then you will have the option to edit the Latitude and Longitude to verify it","example":"Not Verified"},"AdjustDST":{"type":"boolean","database":"BIT","description":"Adjust DST - check if the location adjusts for daylight savings","example":"false"},"BankDetails":{"type":"string","database":"NVARCHAR(MAX)","description":"Bank Details - the Banks name for the location","example":"CashSmart"},"CashPolicy":{"type":"string","database":"VARCHAR(13)","description":"Cash Policy - states the cash policy (single/multi-drawer)","example":"Single-Drawer"},"ChannelName":{"type":"string","database":"NVARCHAR(MAX)","description":"Channel - channel the region is assigned to","example":"Alabama"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - city the location resides in","example":"Kansas"},"Comment_on_OE":{"type":"boolean","database":"BIT","description":"Comment on OE - show product and location comments on sales order","example":"false"},"Country":{"type":"string","database":"VARCHAR(50)","description":"Country - country the location is located in","example":"United States"},"DepositTaken":{"type":"decimal","database":"MONEY","description":"Deposit Taken - lists the deposit if applicable","example":"0"},"Disabled":{"type":"integer","database":"INT","description":"Disable - indicates if the location is enabled or disabled","example":"1"},"DistrictName":{"type":"string","database":"NVARCHAR(MAX)","description":"District - district the location is assigned to","example":"Smithton"},"EmailAddress":{"type":"string","database":"VARCHAR(255)","description":"Email Address - email address assigned to the location","example":"abarea@kentel.com"},"FaxNumber":{"type":"string","database":"VARCHAR(10)","description":"Fax # - Fax # listed under the location","example":"5555555555"},"GeneralLocationNotes":{"type":"string","database":"VARCHAR(255)","description":"General Location Notes - notes specific to the location","example":"note"},"GLCode":{"type":"string","database":"VARCHAR(100)","description":"Code - coded associated to the location","example":"-MILLH"},"HideCustomerAddress":{"type":"boolean","database":"BIT","description":"Hide Customer Address - prevents the customers address from being seen on an invoice","example":"false"},"InsuranceAmount":{"type":"decimal","database":"MONEY","description":"Insurance - cost of Insurance","example":"0"},"InsuranceCompany":{"type":"string","database":"NVARCHAR(MAX)","description":"Insurance Company - name of the insurance company","example":"Safefair"},"LandlordName":{"type":"string","database":"NVARCHAR(MAX)","description":"Landlord Name - name of the landlord","example":"Jim Jones"},"LandlordNotes":{"type":"string","database":"NVARCHAR(MAX)","description":"Landlord Notes - notes specific to the landlord","example":"sample note"},"Latitude":{"type":"decimal","database":"DECIMAL","description":"Latitude - latitude location of the store","example":"50.443559"},"LeaseEndDate":{"type":"datetime","database":"DATETIME","description":"Lease End Date - the day the lease ends","example":"2014-12-24T00:00:00"},"LeaseNotes":{"type":"string","database":"NVARCHAR(MAX)","description":"Lease Notes - notes specific to the lease","example":"note"},"LeaseStartDate":{"type":"datetime","database":"DATETIME","description":"Lease Start Date - day the lease started","example":"2014-11-26T00:00:00"},"LocationCode":{"type":"string","database":"VARCHAR(100)","description":"Location Code - code entered in the property details tab in the Location Setup","example":"500"},"LocationEntityID":{"type":"integer","database":"INT","description":"Identifier of the store as a <a href='http://developers.iqmetrix.com/api/company-tree/#location'>Location</a> in Entity Store","example":"48540"},"Longitude":{"type":"decimal","database":"DECIMAL","description":"Longitude - longitude location of the store","example":"-104.612034"},"ManagerCommissionable":{"type":"boolean","database":"BIT","description":"Manager Commissionable - indicates if the manager is commissionable.","example":"false"},"ManagerEmployeeID":{"type":"integer","database":"INT","description":"Manager - manager assigned to the location","example":"233"},"MaxCashDrawer":{"type":"decimal","database":"MONEY","description":"Max Cash Drawer - maximum amount of cash allowed in a cash drawer","example":"0"},"OtherCharges":{"type":"decimal","database":"MONEY","description":"Other Charges - other charges associated to the location","example":"0"},"PAW_on_OE":{"type":"boolean","database":"BIT","description":"PAW on OE - launch PAW on sales orders","example":"false"},"Phone_on_OE":{"type":"boolean","database":"BIT","description":"Force phone number for entry on sales orders","example":"true"},"PhoneNumber":{"type":"string","database":"VARCHAR(10)","description":"Phone # - designated number for the location","example":"4353424234"},"PropertyTaxes":{"type":"decimal","database":"MONEY","description":"Property Taxes - applicable property taxes","example":"0"},"RegionName":{"type":"string","database":"NVARCHAR(MAX)","description":"Region - region the district is assigned to","example":"Abarea"},"RelocationDate":{"type":"datetime","database":"DATETIME","description":"Relocation Date - lists the date of the relocation if applicable","example":"2016-02-26T00:00:00"},"Rent":{"type":"decimal","database":"MONEY","description":"Rent - rent amount for the location","example":"0"},"SaleInvoiceComment":{"type":"string","database":"NVARCHAR(MAX)","description":"Sale Invoice Comment - locations sales invoice comment","example":"Sale Invoice Comments"},"Serial_on_OE":{"type":"boolean","database":"BIT","description":"Serial # on OE - force serial # for entry on sales orders","example":"false"},"SquareFootage":{"type":"integer","database":"INT","description":"Square Feet - approx square feet of the store","example":"0"},"StaffLevel":{"type":"decimal","database":"DECIMAL","description":"Staff Level - designated staffing level for the location","example":"12"},"StateProv":{"type":"string","database":"NVARCHAR(3)","description":"State/Prov - state or province the location is located in","example":"AL"},"StoreID":{"type":"integer","database":"INT","description":"Internal identifier for the store in RQ","example":"1187"},"StoreName":{"type":"string","database":"NVARCHAR(MAX)","description":"Store Name - name of the store","example":"Dufferin Mall"},"StoreType":{"type":"string","database":"NVARCHAR(MAX)","description":"Store Type - will state the store type","example":"Retail Store"},"Taxes":{"type":"string","database":"NVARCHAR(MAX)","description":"Taxes - taxes assigned to the location","example":"GOODS AND SERVICES TAX (GST)"},"TimeZone":{"type":"string","database":"VARCHAR(200)","description":"Time Zone - time zone assigned to location","example":"(GMT-06:00) Saskatchewan"},"UseLocationEmail":{"type":"boolean","database":"BIT","description":"Use Location for Email - use the location for the email contact","example":"false"},"ZipPostal":{"type":"string","database":"VARCHAR(15)","description":"Zip/Postal - zip/postal for the location","example":"90210"}}}
                            
                        
                    
                    text/XmlDataTable:
                        
                            
                            example: |
                                [{"Abbreviation":"LIT22","Address":"4970 Hillside Avenue","AddressVerified":"Not Verified","AdjustDST":false,"BankDetails":"CashSmart","CashPolicy":"Single-Drawer","ChannelName":"Alabama","City":"Kansas","Comment_on_OE":false,"Country":"United States","DepositTaken":0,"Disabled":1,"DistrictName":"Smithton","EmailAddress":"abarea@kentel.com","FaxNumber":"5555555555","GeneralLocationNotes":"note","GLCode":"-MILLH","HideCustomerAddress":false,"InsuranceAmount":0,"InsuranceCompany":"Safefair","LandlordName":"Jim Jones","LandlordNotes":"sample note","Latitude":50.443559,"LeaseEndDate":"2014-12-24T00:00:00","LeaseNotes":"note","LeaseStartDate":"2014-11-26T00:00:00","LocationCode":"500","LocationEntityID":48540,"Longitude":-104.612034,"ManagerCommissionable":false,"ManagerEmployeeID":233,"MaxCashDrawer":0,"OtherCharges":0,"PAW_on_OE":false,"Phone_on_OE":true,"PhoneNumber":"4353424234","PropertyTaxes":0,"RegionName":"Abarea","RelocationDate":"2016-02-26T00:00:00","Rent":0,"SaleInvoiceComment":"Sale Invoice Comments","Serial_on_OE":false,"SquareFootage":0,"StaffLevel":12,"StateProv":"AL","StoreID":1187,"StoreName":"Dufferin Mall","StoreType":"Retail Store","Taxes":"GOODS AND SERVICES TAX (GST)","TimeZone":"(GMT-06:00) Saskatchewan","UseLocationEmail":false,"ZipPostal":"90210"}]
                            schema: |
                                {"name":"LocationMasterListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Abbreviation":{"type":"string","database":"VARCHAR(5)","description":"Abbreviation - this cannot be edited","example":"LIT22"},"Address":{"type":"string","database":"NVARCHAR(MAX)","description":"Address - address assigned to location","example":"4970 Hillside Avenue"},"AddressVerified":{"type":"string","database":"VARCHAR(12)","description":"Address Verified - if the address can not be verified then you will have the option to edit the Latitude and Longitude to verify it","example":"Not Verified"},"AdjustDST":{"type":"boolean","database":"BIT","description":"Adjust DST - check if the location adjusts for daylight savings","example":"false"},"BankDetails":{"type":"string","database":"NVARCHAR(MAX)","description":"Bank Details - the Banks name for the location","example":"CashSmart"},"CashPolicy":{"type":"string","database":"VARCHAR(13)","description":"Cash Policy - states the cash policy (single/multi-drawer)","example":"Single-Drawer"},"ChannelName":{"type":"string","database":"NVARCHAR(MAX)","description":"Channel - channel the region is assigned to","example":"Alabama"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - city the location resides in","example":"Kansas"},"Comment_on_OE":{"type":"boolean","database":"BIT","description":"Comment on OE - show product and location comments on sales order","example":"false"},"Country":{"type":"string","database":"VARCHAR(50)","description":"Country - country the location is located in","example":"United States"},"DepositTaken":{"type":"decimal","database":"MONEY","description":"Deposit Taken - lists the deposit if applicable","example":"0"},"Disabled":{"type":"integer","database":"INT","description":"Disable - indicates if the location is enabled or disabled","example":"1"},"DistrictName":{"type":"string","database":"NVARCHAR(MAX)","description":"District - district the location is assigned to","example":"Smithton"},"EmailAddress":{"type":"string","database":"VARCHAR(255)","description":"Email Address - email address assigned to the location","example":"abarea@kentel.com"},"FaxNumber":{"type":"string","database":"VARCHAR(10)","description":"Fax # - Fax # listed under the location","example":"5555555555"},"GeneralLocationNotes":{"type":"string","database":"VARCHAR(255)","description":"General Location Notes - notes specific to the location","example":"note"},"GLCode":{"type":"string","database":"VARCHAR(100)","description":"Code - coded associated to the location","example":"-MILLH"},"HideCustomerAddress":{"type":"boolean","database":"BIT","description":"Hide Customer Address - prevents the customers address from being seen on an invoice","example":"false"},"InsuranceAmount":{"type":"decimal","database":"MONEY","description":"Insurance - cost of Insurance","example":"0"},"InsuranceCompany":{"type":"string","database":"NVARCHAR(MAX)","description":"Insurance Company - name of the insurance company","example":"Safefair"},"LandlordName":{"type":"string","database":"NVARCHAR(MAX)","description":"Landlord Name - name of the landlord","example":"Jim Jones"},"LandlordNotes":{"type":"string","database":"NVARCHAR(MAX)","description":"Landlord Notes - notes specific to the landlord","example":"sample note"},"Latitude":{"type":"decimal","database":"DECIMAL","description":"Latitude - latitude location of the store","example":"50.443559"},"LeaseEndDate":{"type":"datetime","database":"DATETIME","description":"Lease End Date - the day the lease ends","example":"2014-12-24T00:00:00"},"LeaseNotes":{"type":"string","database":"NVARCHAR(MAX)","description":"Lease Notes - notes specific to the lease","example":"note"},"LeaseStartDate":{"type":"datetime","database":"DATETIME","description":"Lease Start Date - day the lease started","example":"2014-11-26T00:00:00"},"LocationCode":{"type":"string","database":"VARCHAR(100)","description":"Location Code - code entered in the property details tab in the Location Setup","example":"500"},"LocationEntityID":{"type":"integer","database":"INT","description":"Identifier of the store as a <a href='http://developers.iqmetrix.com/api/company-tree/#location'>Location</a> in Entity Store","example":"48540"},"Longitude":{"type":"decimal","database":"DECIMAL","description":"Longitude - longitude location of the store","example":"-104.612034"},"ManagerCommissionable":{"type":"boolean","database":"BIT","description":"Manager Commissionable - indicates if the manager is commissionable.","example":"false"},"ManagerEmployeeID":{"type":"integer","database":"INT","description":"Manager - manager assigned to the location","example":"233"},"MaxCashDrawer":{"type":"decimal","database":"MONEY","description":"Max Cash Drawer - maximum amount of cash allowed in a cash drawer","example":"0"},"OtherCharges":{"type":"decimal","database":"MONEY","description":"Other Charges - other charges associated to the location","example":"0"},"PAW_on_OE":{"type":"boolean","database":"BIT","description":"PAW on OE - launch PAW on sales orders","example":"false"},"Phone_on_OE":{"type":"boolean","database":"BIT","description":"Force phone number for entry on sales orders","example":"true"},"PhoneNumber":{"type":"string","database":"VARCHAR(10)","description":"Phone # - designated number for the location","example":"4353424234"},"PropertyTaxes":{"type":"decimal","database":"MONEY","description":"Property Taxes - applicable property taxes","example":"0"},"RegionName":{"type":"string","database":"NVARCHAR(MAX)","description":"Region - region the district is assigned to","example":"Abarea"},"RelocationDate":{"type":"datetime","database":"DATETIME","description":"Relocation Date - lists the date of the relocation if applicable","example":"2016-02-26T00:00:00"},"Rent":{"type":"decimal","database":"MONEY","description":"Rent - rent amount for the location","example":"0"},"SaleInvoiceComment":{"type":"string","database":"NVARCHAR(MAX)","description":"Sale Invoice Comment - locations sales invoice comment","example":"Sale Invoice Comments"},"Serial_on_OE":{"type":"boolean","database":"BIT","description":"Serial # on OE - force serial # for entry on sales orders","example":"false"},"SquareFootage":{"type":"integer","database":"INT","description":"Square Feet - approx square feet of the store","example":"0"},"StaffLevel":{"type":"decimal","database":"DECIMAL","description":"Staff Level - designated staffing level for the location","example":"12"},"StateProv":{"type":"string","database":"NVARCHAR(3)","description":"State/Prov - state or province the location is located in","example":"AL"},"StoreID":{"type":"integer","database":"INT","description":"Internal identifier for the store in RQ","example":"1187"},"StoreName":{"type":"string","database":"NVARCHAR(MAX)","description":"Store Name - name of the store","example":"Dufferin Mall"},"StoreType":{"type":"string","database":"NVARCHAR(MAX)","description":"Store Type - will state the store type","example":"Retail Store"},"Taxes":{"type":"string","database":"NVARCHAR(MAX)","description":"Taxes - taxes assigned to the location","example":"GOODS AND SERVICES TAX (GST)"},"TimeZone":{"type":"string","database":"VARCHAR(200)","description":"Time Zone - time zone assigned to location","example":"(GMT-06:00) Saskatchewan"},"UseLocationEmail":{"type":"boolean","database":"BIT","description":"Use Location for Email - use the location for the email contact","example":"false"},"ZipPostal":{"type":"string","database":"VARCHAR(15)","description":"Zip/Postal - zip/postal for the location","example":"90210"}}}
                            
                        
                    
                    text/csv:
                        
                            
                            example: |
                                [{"Abbreviation":"LIT22","Address":"4970 Hillside Avenue","AddressVerified":"Not Verified","AdjustDST":false,"BankDetails":"CashSmart","CashPolicy":"Single-Drawer","ChannelName":"Alabama","City":"Kansas","Comment_on_OE":false,"Country":"United States","DepositTaken":0,"Disabled":1,"DistrictName":"Smithton","EmailAddress":"abarea@kentel.com","FaxNumber":"5555555555","GeneralLocationNotes":"note","GLCode":"-MILLH","HideCustomerAddress":false,"InsuranceAmount":0,"InsuranceCompany":"Safefair","LandlordName":"Jim Jones","LandlordNotes":"sample note","Latitude":50.443559,"LeaseEndDate":"2014-12-24T00:00:00","LeaseNotes":"note","LeaseStartDate":"2014-11-26T00:00:00","LocationCode":"500","LocationEntityID":48540,"Longitude":-104.612034,"ManagerCommissionable":false,"ManagerEmployeeID":233,"MaxCashDrawer":0,"OtherCharges":0,"PAW_on_OE":false,"Phone_on_OE":true,"PhoneNumber":"4353424234","PropertyTaxes":0,"RegionName":"Abarea","RelocationDate":"2016-02-26T00:00:00","Rent":0,"SaleInvoiceComment":"Sale Invoice Comments","Serial_on_OE":false,"SquareFootage":0,"StaffLevel":12,"StateProv":"AL","StoreID":1187,"StoreName":"Dufferin Mall","StoreType":"Retail Store","Taxes":"GOODS AND SERVICES TAX (GST)","TimeZone":"(GMT-06:00) Saskatchewan","UseLocationEmail":false,"ZipPostal":"90210"}]
                            schema: |
                                {"name":"LocationMasterListReportData","type":"array","$schema":"http://json-schema.org/draft-03/schema","properties":{"Abbreviation":{"type":"string","database":"VARCHAR(5)","description":"Abbreviation - this cannot be edited","example":"LIT22"},"Address":{"type":"string","database":"NVARCHAR(MAX)","description":"Address - address assigned to location","example":"4970 Hillside Avenue"},"AddressVerified":{"type":"string","database":"VARCHAR(12)","description":"Address Verified - if the address can not be verified then you will have the option to edit the Latitude and Longitude to verify it","example":"Not Verified"},"AdjustDST":{"type":"boolean","database":"BIT","description":"Adjust DST - check if the location adjusts for daylight savings","example":"false"},"BankDetails":{"type":"string","database":"NVARCHAR(MAX)","description":"Bank Details - the Banks name for the location","example":"CashSmart"},"CashPolicy":{"type":"string","database":"VARCHAR(13)","description":"Cash Policy - states the cash policy (single/multi-drawer)","example":"Single-Drawer"},"ChannelName":{"type":"string","database":"NVARCHAR(MAX)","description":"Channel - channel the region is assigned to","example":"Alabama"},"City":{"type":"string","database":"VARCHAR(50)","description":"City - city the location resides in","example":"Kansas"},"Comment_on_OE":{"type":"boolean","database":"BIT","description":"Comment on OE - show product and location comments on sales order","example":"false"},"Country":{"type":"string","database":"VARCHAR(50)","description":"Country - country the location is located in","example":"United States"},"DepositTaken":{"type":"decimal","database":"MONEY","description":"Deposit Taken - lists the deposit if applicable","example":"0"},"Disabled":{"type":"integer","database":"INT","description":"Disable - indicates if the location is enabled or disabled","example":"1"},"DistrictName":{"type":"string","database":"NVARCHAR(MAX)","description":"District - district the location is assigned to","example":"Smithton"},"EmailAddress":{"type":"string","database":"VARCHAR(255)","description":"Email Address - email address assigned to the location","example":"abarea@kentel.com"},"FaxNumber":{"type":"string","database":"VARCHAR(10)","description":"Fax # - Fax # listed under the location","example":"5555555555"},"GeneralLocationNotes":{"type":"string","database":"VARCHAR(255)","description":"General Location Notes - notes specific to the location","example":"note"},"GLCode":{"type":"string","database":"VARCHAR(100)","description":"Code - coded associated to the location","example":"-MILLH"},"HideCustomerAddress":{"type":"boolean","database":"BIT","description":"Hide Customer Address - prevents the customers address from being seen on an invoice","example":"false"},"InsuranceAmount":{"type":"decimal","database":"MONEY","description":"Insurance - cost of Insurance","example":"0"},"InsuranceCompany":{"type":"string","database":"NVARCHAR(MAX)","description":"Insurance Company - name of the insurance company","example":"Safefair"},"LandlordName":{"type":"string","database":"NVARCHAR(MAX)","description":"Landlord Name - name of the landlord","example":"Jim Jones"},"LandlordNotes":{"type":"string","database":"NVARCHAR(MAX)","description":"Landlord Notes - notes specific to the landlord","example":"sample note"},"Latitude":{"type":"decimal","database":"DECIMAL","description":"Latitude - latitude location of the store","example":"50.443559"},"LeaseEndDate":{"type":"datetime","database":"DATETIME","description":"Lease End Date - the day the lease ends","example":"2014-12-24T00:00:00"},"LeaseNotes":{"type":"string","database":"NVARCHAR(MAX)","description":"Lease Notes - notes specific to the lease","example":"note"},"LeaseStartDate":{"type":"datetime","database":"DATETIME","description":"Lease Start Date - day the lease started","example":"2014-11-26T00:00:00"},"LocationCode":{"type":"string","database":"VARCHAR(100)","description":"Location Code - code entered in the property details tab in the Location Setup","example":"500"},"LocationEntityID":{"type":"integer","database":"INT","description":"Identifier of the store as a <a href='http://developers.iqmetrix.com/api/company-tree/#location'>Location</a> in Entity Store","example":"48540"},"Longitude":{"type":"decimal","database":"DECIMAL","description":"Longitude - longitude location of the store","example":"-104.612034"},"ManagerCommissionable":{"type":"boolean","database":"BIT","description":"Manager Commissionable - indicates if the manager is commissionab
[...]
