#%RAML 0.8
title: vmi
baseUri: https://vmidemo.iqmetrix.net/VMIService.asmx
schemas: 

    
    - VendorIdentity: |
        {
          "name": "VendorIdentity",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "Authentication for the VMI API is done by including a VendorIdentity resource in a `<vendor>` section at the beginning of each request.\n\nVendorIdentitiy information is supplied by iQmetrix and used to authenticate requests made to the VMI API.\n{{note}}Please be aware of the subtle difference between <code>&lt;vendor&gt;</code> and <code>&lt;Vendor&gt;</code> in the various requests. This API is case-sensitive and will cause an error should the incorrect tag be used.{{end}}\n\n{{note}}VendorIdentity authentication information is <a href=\"{{'#environments' | prepend: site.api_baseurl}}\">Environment</a> specific{{end}}",
          "properties": {
            "VendorID": { "type": "GUID", "description": "Vendor identifier", "example": "9DC6AA95-856B-42C9-8AAF-392A2A02AC77" }, 
            "Username": { "type": "String", "description": "Username", "example": "sampleusername" }, 
            "Password": { "type": "String", "description": "Password", "example": "samplepassword" }, 
            "Client": { "type": "object", "description": "Client identity", "ref": "vmi.ClientAgent" }
          },
          "required": ["VendorID", "Username", "Password"]
        }
        

    

    
    - VendorIdentity1: |
        {
          "exclude": "true",        
          "name": "VendorIdentity1",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "Authentication for the VMI API is done by including a VendorIdentity resource in a `<vendor>` section at the beginning of each request.\n\nVendorIdentitiy information is supplied by iQmetrix and used to authenticate requests made to the VMI API.\n{{note}}Please be aware of the subtle difference between <code>&lt;vendor&gt;</code> and <code>&lt;Vendor&gt;</code> in the various requests. This API is case-sensitive and will cause an error should the incorrect tag be used.{{end}}\n\n{{note}}VendorIdentity authentication information is <a href=\"{{'#environments' | prepend: site.api_baseurl}}\">Environment</a> specific{{end}}",
          "properties": {
            "VendorID": { "type": "GUID", "description": "Vendor identifier", "example": "9DC6AA95-856B-42C9-8AAF-392A2A02AC77" }, 
            "Username": { "type": "String", "description": "Username", "example": "sampleusername" }, 
            "Password": { "type": "String", "description": "Password", "example": "samplepassword" }, 
            "Client": { "type": "object", "description": "Client identity", "ref": "vmi.ClientAgent1" }
          },
          "required": ["VendorID", "Username", "Password", "Client"]
        }      
        

    

    
    - VendorIdentity2: |
        {
          "exclude": "true",        
          "name": "VendorIdentity2",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "Authentication for the VMI API is done by including a VendorIdentity resource in a `<vendor>` section at the beginning of each request.\n\nVendorIdentitiy information is supplied by iQmetrix and used to authenticate requests made to the VMI API.\n{{note}}Please be aware of the subtle difference between <code>&lt;vendor&gt;</code> and <code>&lt;Vendor&gt;</code> in the various requests. This API is case-sensitive and will cause an error should the incorrect tag be used.{{end}}\n\n{{note}}VendorIdentity authentication information is <a href=\"{{'#environments' | prepend: site.api_baseurl}}\">Environment</a> specific{{end}}",
          "properties": {
            "VendorID": { "type": "GUID", "description": "Vendor identifier", "example": "9DC6AA95-856B-42C9-8AAF-392A2A02AC77" }, 
            "Username": { "type": "String", "description": "Username", "example": "sampleusername" }, 
            "Password": { "type": "String", "description": "Password", "example": "samplepassword" }, 
            "Client": { "type": "object", "description": "Client identity", "ref": "vmi.ClientAgent2" }
          },
          "required": ["VendorID", "Username", "Password", "Client"]
        }     
        

    

    
    - ClientAgent2: |
        {
          "exclude": "true",        
          "name": "ClientAgent2",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "`VendorAccountNumber` can be used instead of `StoreID`. Omit or set `StoreID` to -1 if using `VendorAccountNumber`.",
          "properties": {
            "ClientID": { "type": "GUID", "description": "Database identifier for corresponding client", "example": "c46ccb4d-2d44-4289-950a-b9cb51d58ac4" }, 
            "Name": { "type": "String", "description": "Company name", "example": "DropshipTestDemo" }, 
            "StoreID": { "type": "Integer", "description": "Store identifer the vendor is targeting", "example": "4" }, 
            "VendorAccountNumber": { "type": "String", "description": "Account number assigned by vendor.", "example": "-1", "hideFromExample":"true" }
          },
          "required": [ "ClientID", "StoreID" ]
        }             
        

    

    
    - ClientAgent1: |
        {
          "exclude": "true",        
          "name": "ClientAgent1",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "`VendorAccountNumber` can be used instead of `StoreID`. Omit or set `StoreID` to -1 if using `VendorAccountNumber`.",
          "properties": {
            "ClientID": { "type": "GUID", "description": "Database identifier for corresponding client", "example": "c46ccb4d-2d44-4289-950a-b9cb51d58ac4" }, 
            "Name": { "type": "String", "description": "Company name", "example": "DropshipTestDemo" }, 
            "StoreID": { "type": "Integer", "description": "Store identifer the vendor is targeting", "example": "4" }, 
            "VendorAccountNumber": { "type": "String", "description": "Account number assigned by vendor.", "example": "-1", "hideFromExample":"true" }
          },
          "required": [ "ClientID" ]
        }
        

    

    
    - ClientAgent: |
        {
          "name": "ClientAgent",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "description": "`VendorAccountNumber` can be used instead of `StoreID`. Omit or set `StoreID` to -1 if using `VendorAccountNumber`.",
          "properties": {
            "ClientID": { "type": "GUID", "description": "Database identifier for corresponding client", "example": "c46ccb4d-2d44-4289-950a-b9cb51d58ac4" }, 
            "Name": { "type": "String", "description": "Company name", "example": "DropshipTestDemo" }, 
            "StoreID": { "type": "Integer", "description": "Store identifer the vendor is targeting", "example": "4" }, 
            "VendorAccountNumber": { "type": "String", "description": "Account number assigned by vendor.", "example": "-1", "hideFromExample":"true" }
          }
        }
        

    

    
    - CompanyInformation: |
        {
          "name": "CompanyInformation",
          "type": "object",
          "wrap": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "CompanyID": { "type": "GUID", "description": "Unique identifier provided by iQmetrix", "example": "9DC6AA95-856B-42C9-8AAF-392A2A02AC77" }, 
            "Name": { "type": "String", "description": "Company name", "example": "DropshipTestDemo" }
          }
        }
        

    

    
    - PurchaseOrderShipmentNotice: |
        {
          "name": "PurchaseOrderShipmentNotice",
          "type": "object",
          "wrap": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "PurchaseOrderID": { "type": "GUID", "description": "Unique identifier", "putDescription": "Either this value or VendorInvoiceNumber must be provided", "example": "84DACFD3-4095-4D50-A02E-781B86B7408E" }, 
            "ProductItemID": { "type": "Integer", "description": "GlobalProductId from RQ", "putDescription": "Either this value or VendorSKU must be provided", "example": "11142" }, 
            "Quantity": { "type": "Integer", "description": "Number of items shipped", "example": "1" }, 
            "RQPurchaseOrderID": { "type": "Integer", "description": "Identifier for the Purchase Order in RQ", "putDescription": "defaults to -1", "example": "22073" }, 
            "SerialNumbers": { "type": "array", "arrayType": "string", "description": "Serial numbers from serialized products (e.g. Phone or SIM card)", "example": "490154203237518" }, 
            "ShipmentNumber": { "type": "String", "description": "Vendor defined identifier for the shipment", "putDescription": "If this value is not provided, the service will automatically assign one", "example": "SHIP001" }, 
            "VendorInvoiceNumber": { "type": "String", "description": "Value supplied by the vendor when creating the purchase order", "putDescription": "Either this value <strong>OR</strong> PurchaseOrderID must be provided", "example": "1002" }, 
            "VendorSKU": { "type": "String", "description": "The vendor part number/sku", "putDescription": "Either this value or ProductItemId must be provided", "example": "SSGS5CB" }
          },
          "required": ["PurchaseOrderID", "RQPurchaseOrderID", "ProductItemID", "Quantity"]
        }   
        

    

    
    - UpdatePurchaseOrderPO: |
        {
          "exclude": "true",
          "name": "UpdatePurchaseOrderPO",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "PurchaseOrderID": { "type": "guid", "description": "Unique identifier", "putDescription": "Identifier for the PurchaseOrder", "example": "28890F70-8FC9-4A9B-9458-410A8D08502D" }, 
            "PurchaseOrderData": { "type": "object", "description": "Purchase order", "ref": "vmi.PurchaseOrderDataUpdate" },
            "ProductsOrdered": { "type": "array", "arrayType": "object", "ref": "vmi.ProductInformation", "description": "Products ordered", "putDescription": "Products ordered", "fixlink": "ProductInformation" }          
          },
          "required": ["PurchaseOrderData", "PurchaseOrderID" ]
        }  
        

    

    
    - PurchaseOrderDataUpdate: |
        {
          "exclude": "true",
          "name": "PurchaseOrderDataUpdate",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Comments": { "type": "String", "description": "Any comments for the purchase order", "example": "comments" }, 
            "EstimatedArrivalDate": { "type": "String", "description": "Estimated date of arrival", "putDescription": "Format mm/dd/yyyy", "example": "3/2/2014 12:00:00 AM" }, 
            "VendorInvoiceNumber": { "type": "String", "description": "Invoice number for the vendor", "putDescription": "Vendor supplied invoice number, this must be unique", "example": "15782" } 
          }            
        }
        

    

    
    - PurchaseOrder: |
        {
          "name": "PurchaseOrder",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "PurchaseOrderID": { "type": "guid", "description": "Unique identifier", "putDescription": "If this value is not supplied, VMI will assign a value", "example": "28890F70-8FC9-4A9B-9458-410A8D08502D", "generated": "true" }, 
            "PurchaseOrderData": { "type": "object", "description": "Purchase order", "ref": "vmi.PurchaseOrderData" }, 
            "ProductsOrdered": { "type": "array", "arrayType": "object", "ref": "vmi.ProductInformation", "description": "Products ordered", "putDescription": "Products ordered", "fixlink": "ProductInformation" }
          },
          "required": ["PurchaseOrderData", "ProductsOrdered" ]
        }        
        

    

    
    - PurchaseOrderData: |
        {
          "name": "PurchaseOrderData",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "PurchaseOrderID": { "type": "GUID", "description": "Unique identifier", "example": "28890F70-8FC9-4A9B-9458-410A8D08502D", "generated": "true" }, 
            "BillToStoreID": { "type": "Integer", "description": "RQ StoreId", "putDescription": "Defaults to -1. Either this value or BillToVendorAccountNumber must be supplied", "example": "55" }, 
            "BillToStoreName": { "type": "String", "description": "RQ store name", "example": "Cornwall west", "generated": "true" }, 
            "BillToVendorAccountNumber": { "type": "String", "description": "Vendor account number to use for billing. Can be used in place of `BillToStoreId`", "example": "1", "generated": "true" }, 
            "IsDeleted": { "type": "Boolean", "description": "A flag to indicate if this purchase order has been deleted in RQ", "example": "false", "generated": "true" }, 
            "CreatedByVMI": { "type": "Boolean", "description": "A flag to indicate if this was created by the VMI API (true) or RQ (false)", "putDescription": "defaults to false", "example": "false" }, 
            "CreatedDate": { "type": "String", "description": "The date and time the purchase order was created, if it was created in RQ", "example": "3/16/2014 12:00:00 AM" }, 
            "Comments": { "type": "String", "description": "Any comments for the purchase order", "example": "comments" }, 
            "EstimatedArrivalDate": { "type": "String", "description": "Estimated date of arrival", "putDescription": "Format mm/dd/yyyy", "example": "3/2/2014 12:00:00 AM" }, 
            "OrderTotal": { "type": "Decimal", "description": "Cost of the order, provided by a vendor for informational purposes only", "putDescription": "Defaults to -1", "example": "99.99" }, 
            "RetailiQPurchaseOrderID": { "type": "Integer", "description": "Identifier of purchase order in RQ", "example": "22075", "generated": "true" }, 
            "RetailiQPurchaseOrderNumber": { "type": "String", "description": "Purchase order number in RQ", "example": "DALEKPO5", "generated": "true" }, 
            "ShippingTotal": { "type": "Decimal", "description": "Cost of shipping", "putDescription": "Defaults to -1", "example": "99.99" }, 
            "ShipToStoreID": { "type": "Integer", "description": "Identifier of store to use for shipping", "putDescription": "Defaults to -1. Either this value or ShipToVendorAccountNumber must be supplied", "example": "55" }, 
            "ShipToStoreName": { "type": "String", "description": "Name of store to use for shipping", "example": "Cornwall west", "generated": "true" }, 
            "ShipToVendorAccountNumber": { "type": "String", "description": "Vendor account number to use for shipping. Can be used in place of `ShipToStoreId`", "example": "1", "generated": "true" }, 
            "VendorInvoiceNumber": { "type": "String", "description": "Invoice number for the vendor", "putDescription": "Vendor supplied invoice number, this must be unique", "example": "15782" }, 
            "VendorName": { "type": "String", "description": "Name of the vendor", "example": "SampleVendor", "generated": "true" }
          },
          "required": [ "BillToStoreID", "EstimatedArrivalDate", "ShipToStoreID", "VendorInvoiceNumber" ]            
        }      
        

    

    
    - ProductInformation: |
        {
          "name": "ProductInformation",
          "type": "object",
          "wrap": "true",          
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "CategoryPath": {"type": "String", "description": "Category location of product. path of category delimited by '>>'", "example": "Activation >> Dropship", "generated": "true" },
            "DateEOL": { "type": "DateTime", "description": "End of life date", "example": "1/01/2016 12:00:00 AM", "generated": "true"  }, 
            "DateReceived": {"type": "String", "description": "Product receiving stauts in RQ", "example": "01/21/2016 16:58:23"},
            "DoNotOrder": { "type": "Boolean", "description": "A flag to indicate if the product should not be ordered", "example": "false", "generated": "true"  }, 
            "Enabled": { "type": "Boolean", "description": "A flag to indicate if product is enabled", "example": "true" }, 
            "GrossQuantityReturned": { "type": "Integer", "description": "Gross amount returned", "example": "11", "generated": "true"  }, 
            "GrossQuantitySold": { "type": "Integer", "description": "Gross amount sold", "example": "10", "generated": "true"  }, 
            "MaximumLevel": { "type": "Integer", "description": "Maximum number of Products that can be added to the PurchaseOrder", "example": "100", "putDescription": "defaults to -1" }, 
            "MinimumLevel": { "type": "Integer", "description": "Minimum number of Products that can be added to the PurchaseOrder", "example": "10", "putDescription": "defaults to -1" }, 
            "MinMaxLocked": { "type": "Boolean", "description": "A flag to indicate if the Min and Max values are locked (unchangeable)", "example": "true", "generated": "true"  }, 
            "ProductCost": { "type": "Decimal", "description": "Required for PO creation or default from RQ will be used", "example": "99.99", "putDescription": "defaults to -1" }, 
            "ProductID": { "type": "GUID", "description": "Unique identifier", "example": "86EE477F-C6B7-48FA-AA0A-105662D9A3ED" }, 
            "ProductItemID": { "type": "Integer", "description": "GlobalProductId from RQ", "example": "11142" }, 
            "ProductName": { "type": "String", "description": "Name", "example": "Samsung Galaxy S6" }, 
            "ProductReceived": { "type": "Boolean", "description": "A flag to indicate if product was received", "example": "false" }, 
            "ProductSKU": { "type": "String", "description": "ProductIdentifier in RQ", "example": "CECPSM000017" }, 
            "QuantityCommittedOnOrderEntry": { "type": "Integer", "description": "Amount committed on an order entry", "example": "0", "putDescription": "defaults to -1" }, 
            "QuantityInStock": { "type": "Integer", "description": "Amount in stock", "example": "8", "putDescription": "defaults to -1" }, 
            "QuantityInTransfer": { "type": "Integer", "description": "Amount in transfer", "example": "3", "putDescription": "defaults to -1" }, 
            "QuantityOnBackOrder": { "type": "Integer", "description": "Amount on back order", "example": "0", "putDescription": "defaults to -1" }, 
            "QuantityOnLoan": { "type": "Integer", "description": "Amount on loan", "example": "5", "putDescription": "defaults to -1" }, 
            "QuantityOnOrder": { "type": "Integer", "description": "Amount on order", "example": "6", "putDescription": "defaults to -1" }, 
            "QuantityOnRMA": { "type": "Integer", "description": "Amount on RMA", "example": "9", "putDescription": "defaults to -1" }, 
            "QuantityOnUncommittedOrder": { "type": "Integer", "description": "Amount on uncommitted order", "example": "2", "generated": "true"  }, 
            "QuantityOrdered": { "type": "Integer", "description": "Amount ordered", "example": "4" }, 
            "QuantityReceived": { "type": "Integer", "description": "Amount received", "example": "4", "putDescription": "defaults to -1" }, 
            "QuantitySold": { "type": "Integer", "description": "Amount sold", "example": "30", "putDescription": "defaults to -1" }, 
            "QuantitySuggestedByVendor": { "type": "Integer", "description": "Amount suggested by vendor", "example": "50", "generated": "true"  }, 
            "RetailPrice": { "type": "Decimal", "description": "Retail price", "example": "99.99", "generated": "true"  }, 
            "SaleBegin": { "type": "DateTime", "description": "Sale begin date", "example": "01/01/2014 12:00:00 AM", "generated": "true"  }, 
            "SaleEnd": { "type": "DateTime", "description": "Sale end date", "example": "01/10/2014 12:00:00 AM", "generated": "true"  }, 
            "SalePrice": { "type": "Decimal", "description": "Sale price", "example": "79.99", "generated": "true"  }, 
            "VendorSKU": { "type": "String", "description": "Vendor SKU", "example": "SSGS5CB" } 
          },
          "required": [ "QuantityOrdered", "VendorSKU" ]
        }                  
        

    

    
    - StoreInformation: |
        {
          "type": "object",
          "name": "StoreInformation",
          "$schema": "http://json-schema.org/draft-03/schema",
          "wrap": "true",
          "properties": {
            "StoreID": { "type": "Integer", "description": "Unique identifier", "example": "36" }, 
            "Name": { "type": "String", "description": "Name", "example": "Cornwall West" }, 
            "Abbreviation": { "type": "String", "description": "Abbrevation", "example": "CWW" }, 
            "Address": { "type": "String", "description": "Address", "example": "2102 11th Ave" }, 
            "City": { "type": "String", "description": "City", "example": "Regina" }, 
            "Country": { "type": "String", "description": "Country", "example": "Canada" }, 
            "District": { "type": "String", "description": "District", "example": "Regina" }, 
            "PhoneNumber": { "type": "String", "description": "Phone Number", "example": "5555555555" }, 
            "PostalZipCode": { "type": "String", "description": "Postal or Zip Code", "example": "S2S 2S2" }, 
            "ProvinceState": { "type": "String", "description": "Province or State", "example": "Saskatchewan" }, 
            "Region": { "type": "String", "description": "Region", "example": "Regina" }, 
            "ShipToStoreID": { "type": "Integer", "description": "Shipping store ID", "example": "55" }, 
            "BillToStoreID": { "type": "Integer", "description": "RQ StoreID", "example": "55" },
            "VendorAccountNumber": { "type": "String", "description": "Account number assigned by vendor.", "example": "123"}
          }    
        }           
        

    

    
    - ProductAndStoreInformation: |
        {
          "type": "object",
          "name": "ProductAndStoreInformation",
          "$schema": "http://json-schema.org/draft-03/schema",
          "wrap": "true",
          "properties": {
            "CategoryPath": {"type": "String", "description": "Category location of product. path of category delimited by '>>'", "example": "Activation >> Dropship", "generated": "true" },
            "ChannelID": {  "type": "guid", "description": "Identifier for a Channel in RQ", "example": "4bbb842d-0340-4ffc-9216-bf170c861424" },
            "ChannelName": {  "type": "string", "description": "Channel name", "example": "First Channel" },
            "DateEOL": { "type": "DateTime", "description": "End of life date", "example": "1/01/2016 12:00:00 AM", "generated": "true"  }, 
            "DateReceived": {"type": "String", "description": "Product receiving stauts in RQ", "example": "01/21/2016 16:58:23"},
            "DistrictID": {  "type": "integer", "description": "Identifier for a District in RQ", "example": "1" },
            "DistrictName": {  "type": "string", "description": "District name", "example": "First Region" },
            "DoNotOrder": { "type": "Boolean", "description": "A flag to indicate if the product should not be ordered", "example": "false", "generated": "true"  }, 
            "Enabled": { "type": "Boolean", "description": "A flag to indicate if product is enabled", "example": "true" }, 
            "GrossQuantityReturned": { "type": "Integer", "description": "Gross amount returned", "example": "11", "generated": "true"  }, 
            "GrossQuantitySold": { "type": "Integer", "description": "Gross amount sold", "example": "10", "generated": "true"  }, 
            "MaximumLevel": { "type": "Integer", "description": "Maximum number of Products that can be added to the PurchaseOrder", "example": "100", "putDescription": "defaults to -1" }, 
            "MinimumLevel": { "type": "Integer", "description": "Minimum number of Products that can be added to the PurchaseOrder", "example": "10", "putDescription": "defaults to -1" }, 
            "MinMaxLocked": { "type": "Boolean", "description": "A flag to indicate if the Min and Max values are locked (unchangeable)", "example": "true", "generated": "true"  }, 
            "ProductCost": { "type": "Decimal", "description": "Required for PO creation or default from RQ will be used", "example": "99.99", "putDescription": "defaults to -1" }, 
            "ProductID": { "type": "GUID", "description": "Unique identifier", "example": "86EE477F-C6B7-48FA-AA0A-105662D9A3ED" }, 
            "ProductItemID": { "type": "Integer", "description": "GlobalProductId from RQ", "example": "11142" }, 
            "ProductName": { "type": "String", "description": "Name", "example": "Samsung Galaxy S6" }, 
            "ProductReceived": { "type": "Boolean", "description": "A flag to indicate if product was received", "example": "false" }, 
            "ProductSKU": { "type": "String", "description": "ProductIdentifier in RQ", "example": "CECPSM000017" }, 
            "QuantityCommittedOnOrderEntry": { "type": "Integer", "description": "Amount committed on an order entry", "example": "0", "putDescription": "defaults to -1" }, 
            "QuantityInStock": { "type": "Integer", "description": "Amount in stock", "example": "8", "putDescription": "defaults to -1" }, 
            "QuantityInTransfer": { "type": "Integer", "description": "Amount in transfer", "example": "3", "putDescription": "defaults to -1" }, 
            "QuantityOnBackOrder": { "type": "Integer", "description": "Amount on back order", "example": "0", "putDescription": "defaults to -1" }, 
            "QuantityOnLoan": { "type": "Integer", "description": "Amount on loan", "example": "5", "putDescription": "defaults to -1" }, 
            "QuantityOnOrder": { "type": "Integer", "description": "Amount on order", "example": "6", "putDescription": "defaults to -1" }, 
            "QuantityOnRMA": { "type": "Integer", "description": "Amount on RMA", "example": "9", "putDescription": "defaults to -1" }, 
            "QuantityOnUncommittedOrder": { "type": "Integer", "description": "Amount on uncommitted order", "example": "2", "generated": "true"  }, 
            "QuantityOrdered": { "type": "Integer", "description": "Amount ordered", "example": "4" }, 
            "QuantityReceived": { "type": "Integer", "description": "Amount received", "example": "4", "putDescription": "defaults to -1" }, 
            "QuantitySold": { "type": "Integer", "description": "Amount sold", "example": "30", "putDescription": "defaults to -1" }, 
            "QuantitySuggestedByVendor": { "type": "Integer", "description": "Amount suggested by vendor", "example": "50", "generated": "true"  }, 
            "RegionID": {  "type": "integer", "description": "Identifier for a Region in RQ", "example": "1" },
            "RegionName": {  "type": "string", "description": "Region name", "example": "First District" },
            "RetailPrice": { "type": "Decimal", "description": "Retail price", "example": "99.99", "generated": "true"  }, 
            "SaleBegin": { "type": "DateTime", "description": "Sale begin date", "example": "01/01/2014 12:00:00 AM", "generated": "true"  }, 
            "SaleEnd": { "type": "DateTime", "description": "Sale end date", "example": "01/10/2014 12:00:00 AM", "generated": "true"  }, 
            "SalePrice": { "type": "Decimal", "description": "Sale price", "example": "79.99", "generated": "true"  }, 
            "StoreID": { "type": "Integer", "description": "Unique identifier", "example": "36" }, 
            "StoreName": { "type": "String", "description": "Name", "example": "Cornwall West" }, 
            "VendorSKU": { "type": "String", "description": "Vendor SKU", "example": "SSGS5CB" }
          }    
        }           
        

    

    
    - ReceivingInfo: |
        {
          "type": "object",
          "name": "ReceivingInfo",
          "$schema": "http://json-schema.org/draft-03/schema",
          "wrap": "true",
          "properties": {
            "DateReceived": {  "type": "datetime", "description": "Date product was received", "example": "1/21/2016 4:58:24 PM" },
            "ProductCost": {  "type": "decimal", "description": "Product cost", "example": "650" },
            "ProductItemID": {  "type": "integer", "description": "Identifier of the Product in RQ", "example": "20" },
            "ProductName": {  "type": "string", "description": "Product name", "example": "Samsung Galaxy Alpha Flipbook - Black/Magenta" },
            "Quantity": {  "type": "integer", "description": "Quantity", "example": "11" },
            "RQPurchaseOrderNumber": {  "type": "string", "description": "Identifier of the PO in RQ", "example": "TT101PO1" },
            "SerialNumber": {  "type": "string", "description": "Serial number", "example": "" },
            "ShipToStoreID": { "type": "Integer", "description": "Identifier of store to use for shipping", "putDescription": "Defaults to -1", "example": "55" }, 
            "ShipToStoreName": { "type": "String", "description": "Name of store to use for shipping", "example": "Cornwall west", "generated": "true" }, 
            "RQReceivingNumber": {  "type": "string", "description": "Receiving number in RQ", "example": "TT101RE1" },
            "VendorName": { "type": "String", "description": "Name of the vendor", "example": "SampleVendor", "generated": "true" },
            "VendorSKU": { "type": "String", "description": "The vendor part number/sku", "putDescription": "Either this value or ProductItemId must be provided", "example": "SSGS5CB" }
          }    
        }      
        

    

    
    - EmployeeInformation: |
        {
          "name": "EmployeeInformation",
          "type": "object",
          "wrap": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "CellPhone": {  "type": "string", "description": "Cell phone", "example": "5555555555" },
            "CompanyName": {  "type": "string", "description": "Company name", "example": "KENTEL" },
            "Email": {  "type": "string", "description": "Email", "example": "johnt@kentel.com" },
            "Enabled": {  "type": "boolean", "description": "A flag to indicate if this Employee is enabled at the store", "example": "true" },
            "EndDate": {  "type": "datetime", "description": "Date employee stopped working at store, if applicable", "example": "" },
            "FirstName": {  "type": "string", "description": "First name", "example": "John" },
            "LastName": {  "type": "string", "description": "Last name", "example": "Tester" },
            "Role": {  "type": "string", "description": "Employee role at store", "example": "Store Manager" },
            "StartDate": {  "type": "string", "description": "Date employee started working at store", "example": "" },
            "StoreAddress": {  "type": "string", "description": "Address", "example": "123 Main Street" },
            "StoreCity": {  "type": "string", "description": "City", "example": "Moon City" },
            "StoreCountry": {  "type": "string", "description": "Country", "example": "US" },
            "StoreEmail": {  "type": "string", "description": "Store email", "example": "atlantis@kentel.com" },
            "StoreID": {  "type": "integer", "description": "Identifier for a Store in RQ", "example": "4" },
            "StoreName": {  "type": "string", "description": "Store name", "example": "Atlantis" },
            "StorePostalCode": {  "type": "string", "description": "Zip or Postal code", "example": "90210" },
            "StoreProvinceOrState": {  "type": "string", "description": "State or Province", "example": "ND" }
          }
        }                   
        

    

    
    - GetPendingCompanies: |
        {
          "exclude": "true",
          "name": "GetPendingCompanies",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity" }
          },
          "required": [ "GetPendingCompanies", "vendor" ]
        } 
        

    

    
    - GetEnabledCompanies: |
        {
          "exclude": "true",
          "name": "GetEnabledCompanies",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "Case-sensitive", "ref": "vmi.VendorIdentity" }
          },
          "required": [ "GetEnabledCompanies", "Vendor" ]
        }       
        

    

    
    - GetDisabledCompanies: |
        {
          "exclude": "true",
          "name": "GetDisabledCompanies",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity" }
          },
          "required": [ "GetDisabledCompanies", "vendor" ]
        }       
        

    

    
    - GetCompanyList: |
        {
          "exclude": "true",
          "name": "GetCompanyList",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "Case-sensitive", "ref": "vmi.VendorIdentity" }
          },
          "required": [ "GetCompanyList", "Vendor" ]
        }             
        

    

    
    - GetStoreList: |
        {
          "exclude": "true",
          "name": "GetStoreList",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "Case-sensitive", "ref": "vmi.VendorIdentity1" }
          },
          "required": [ "GetStoreList", "Vendor" ]
        }             
        

    

    
    - GetStoreInformation: |
        {
          "exclude": "true",
          "name": "GetStoreInformation",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "Case-sensitive", "ref": "vmi.VendorIdentity2" }
          },
          "required": [ "GetStoreInformation", "Vendor" ]
        }             
        

    

    
    - GetInventoryList: |
        {
          "exclude": "true",
          "name": "GetInventoryList",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "Case-sensitive", "ref": "vmi.VendorIdentity1" }
          },
          "required": [ "GetInventoryList", "Vendor" ]
        }             
        

    

    
    - GetInventoryReportByVendorSku: |
        {
          "exclude": "true",
          "name": "GetInventoryReportByVendorSku",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "Case-sensitive", "ref": "vmi.VendorIdentity1" },
            "StartDate": { "type": "datetime", "description": "Start date", "example": "01/01/2016" },
            "EndDate": { "type": "datetime", "description": "End date", "example": "10/31/2016" },
            "VendorSku": { "type": "string", "description": "Vendor sku", "example": "SSGS5CB" }
          },
          "required": [ "GetInventoryReportByVendorSku", "Vendor", "StartDate", "EndDate", "VendorSku" ]
        }      
        

    

    
    - GetInventoryReport: |
        {
          "exclude": "true",
          "name": "GetInventoryReport",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "Case-sensitive", "ref": "vmi.VendorIdentity2" },
            "StartDate": { "type": "datetime", "description": "Start date", "example": "01/01/2016" },
            "EndDate": { "type": "datetime", "description": "End date", "example": "10/31/2016" }    
          },
          "required": [ "GetInventoryReport", "Vendor", "StartDate", "EndDate" ]
        }      
        

    

    
    - GetInventoryListingReport: |
        {
          "exclude": "true",
          "name": "GetInventoryListingReport",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "Case-sensitive", "ref": "vmi.VendorIdentity1" },
            "storeId": { "type": "integer", "description": "Identifier for a Channel, Region, District or Store in RQ", "putDescription": "This value can be a Channel, Region, District or Store Id. The request body will change depending on the parameter used (i.e. <channelId></channelId>)","example": "4" }        
          },
          "required": [ "GetInventoryListingReport", "Vendor", "storeId" ]
        }      
        

    

    
    - InventoryListingData: |
        {
          "exclude": "true",
          "name": "InventoryListingData",
          "type": "object",
          "wrap": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "CategoryPath": {  "type": "string", "example": "&gt;&gt; Activations &gt;&gt; SamsungCR" },
            "ChannelID": {  "type": "guid", "example": "4bbb842d-0340-4ffc-9216-bf170c861424" },
            "Description": {  "type": "string", "example": "Samsung Galaxy S5 - Charcoal Black" },
            "DistrictID": {  "type": "integer", "example": "1" },
            "DistrictName": {  "type": "string", "example": "First District" },
            "Location": {  "type": "string", "example": "Tasha's Test" },
            "ManufacturerSKU": {  "type": "string", "description": "", "example": "" },
            "ProductSKU": {  "type": "string", "example": "ACCRTM000001" },
            "Quantity": {  "type": "integer", "example": "1" },
            "RegionID": {  "type": "integer", "example": "1" },
            "RegionName": {  "type": "string", "example": "First Region" },
            "TrackingNumber": {  "type": "string", "example": "12345" },
            "VendorName": {  "type": "string", "example": "Dan's Supplies" },
            "VendorSKU": {  "type": "string", "example": "SSGS5CB" }          
          }
        }
        

    

    
    - GetAdjustmentReport: |
        {
          "exclude": "true",
          "name": "GetAdjustmentReport",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "Case-sensitive", "ref": "vmi.VendorIdentity1" },
            "storeId": { "type": "integer", "description": "Identifier for a Channel, Region, District or Store in RQ", "putDescription": "This value can be a Channel, Region, District or Store Id. The request body will change depending on the parameter used (i.e. <channelId></channelId>)","example": "4" },        
            "StartDate": { "type": "datetime", "putDescription": "Look for adjustments created on or after this date at midnight", "example": "01/01/2016" },
            "EndDate": { "type": "datetime", "putDescription": "Look for adjustments created up to the end of this day", "example": "10/31/2016" }          
          },
          "required": [ "GetAdjustmentReport", "Vendor", "storeId", "StartDate", "EndDate" ]
        }    
        

    

    
    - Adjustment: |
        {
          "exclude": "true",
          "name": "Adjustment",
          "type": "object",
          "wrap": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {   
            "ProductItemID": { "type": "Integer", "putDescription": "Identifier for a product in RQ", "example": "11142" }, 
            "Quantity": { "type": "Integer", "example": "1" }, 
            "Reason": {  "type": "string", "putDescription": "Reason the adjustment was made", "example": "Refurbished" },
            "StoreID": {  "type": "integer", "example": "4" },
            "VendorSKU": { "type": "String", "example": "SSGS5CB" }
          }
        }
        

    

    
    - GetGeographicInventoryReport: |
        {
          "exclude": "true",
          "name": "GetGeographicInventoryReport",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "Case-sensitive", "ref": "vmi.VendorIdentity1" },
            "storeId": { "type": "integer", "description": "Identifier for a Channel, Region, District or Store in RQ", "putDescription": "This value can be a Channel, Region, District or Store Id. The request body will change depending on the parameter used (i.e. <channelId></channelId>)","example": "4" },        
            "StartDate": { "type": "datetime", "description": "Start date", "example": "01/01/2016" },
            "EndDate": { "type": "datetime", "description": "End date", "example": "10/31/2016" }          
          },
          "required": [ "GetGeographicInventoryReport", "Vendor", "storeId", "StartDate", "EndDate" ]
        }    
        

    

    
    - GetProductSalesReport: |
        {
          "exclude": "true",
          "name": "GetProductSalesReport",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "Case-sensitive", "ref": "vmi.VendorIdentity1" },
            "storeId": { "type": "integer", "description": "Identifier for a Channel, Region, District or Store in RQ", "putDescription": "This value can be a Channel, Region, District or Store Id. The request body will change depending on the parameter used (i.e. <channelId></channelId>)","example": "4" },        
            "StartDate": { "type": "datetime", "description": "Start date", "example": "01/01/2016" },
            "EndDate": { "type": "datetime", "description": "End date", "example": "10/31/2016" }          
          },
          "required": [ "GetProductSalesReport", "Vendor", "storeId", "StartDate", "EndDate" ]
        }    
        

    

    
    - ProductSalesReportData: |
        {
          "exclude": "true",
          "name": "ProductSalesReportData",
          "type": "object",
          "wrap": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {   
            "CategoryPath": {  "type": "string", "description": "", "example": "Activation >> Dropship" },
            "ChannelID": {  "type": "guid", "description": "", "example": "4bbb842d-0340-4ffc-9216-bf170c861424" },
            "ChannelName": {  "type": "string", "description": "", "example": "First Channel" },
            "Description": {  "type": "string", "description": "", "example": "" },
            "DistrictID": {  "type": "integer", "description": "", "example": "1" },
            "DistrictName": {  "type": "string", "description": "", "example": "First District" },
            "InvoicedBy": {  "type": "string", "description": "", "example": "iQmetrix User" },
            "ListPrice": {  "type": "decimal", "description": "", "example": "99.99" },
            "ProductItemID": {  "type": "integer", "description": "", "example": "11142" },
            "ProductSKU": {  "type": "string", "description": "", "example": "CECPSM000017" },
            "Quantity": {  "type": "integer", "description": "", "example": "1" },
            "Refund": {  "type": "boolean", "description": "", "example": "false" },
            "RegionID": {  "type": "integer", "description": "", "example": "1" },
            "RegionName": {  "type": "string", "description": "", "example": "First Region" },
            "RqInvoiceIdByStore": {  "type": "string", "description": "", "example": "BDP123" },
            "SoldOn": {  "type": "datetime", "description": "", "example": "1/21/2016 4:58:24 PM" },
            "StoreID": {  "type": "integer", "description": "", "example": "4" },
            "TrackingNumber": {  "type": "string", "description": "", "example": "12345" },
            "VendorSKU": {  "type": "string", "description": "", "example": "SSGS5CB" }
          }
        }
        

    

    
    - GetReceivingInfo: |
        {
          "exclude": "true",
          "name": "GetReceivingInfo",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "Case-sensitive", "ref": "vmi.VendorIdentity2" },
            "StartDate": { "type": "datetime", "description": "Start date", "example": "01/01/2016" },
            "EndDate": { "type": "datetime", "description": "End date", "example": "10/31/2016" }    
          },
          "required": [ "GetReceivingInfo", "Vendor", "StartDate", "EndDate" ]
        }
        

    

    
    - EnableCompany: |
        {
          "exclude": "true",
          "name": "EnableCompany",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity1" },
            "isEnabled": { "type": "boolean", "description": "True to enable, false to disable. Defaults to false", "example": "true" }             
          },
          "required": [ "EnableCompany", "vendor" ]
        }                      
        

    

    
    - CreateUncommittedPurchaseOrder: |
        {
          "exclude": "true",
          "name": "CreateUncommittedPurchaseOrder",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "Case-sensitive", "ref": "vmi.VendorIdentity2" },
            "purchaseOrder": { "type": "object", "putDescription": "The <a href='http://developers.iqmetrix.com/api/cmi/#purchaseorder'>PurchaseOrder</a>", "ref": "vmi.PurchaseOrder" }
          },
          "required": [ "CreatePurchaseOrder", "Vendor", "PurchaseOrder" ]
        }       
        

    

    
    - CreatePurchaseOrder: |
        {
          "exclude": "true",
          "name": "CreatePurchaseOrder",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "Case-sensitive", "ref": "vmi.VendorIdentity2" },
            "PurchaseOrder": { "type": "object", "putDescription": "The <a href='http://developers.iqmetrix.com/api/cmi/#purchaseorder'>PurchaseOrder</a>", "ref": "vmi.PurchaseOrder" }
          },
          "required": [ "CreatePurchaseOrder", "Vendor", "PurchaseOrder" ]
        }                               
        

    

    
    - CreatePurchaseOrderShipmentNotice: |
        {
          "exclude": "true",
          "name": "CreatePurchaseOrderShipmentNotice",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity2" },
            "notice": { "type": "array", "arrayType": "object", "ref": "vmi.PurchaseOrderShipmentNotice" }
          },
          "required": [ "CreatePurchaseOrderShipmentNotice", "vendor", "notice" ]
        }                                  
        

    

    
    - UpdateMinAndMaxProductQuantities: |
        {
          "exclude": "true",
          "name": "UpdateMinAndMaxProductQuantities",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity2" },
            "productItemID": { "type": "integer", "description": "Identifier of a Product in RQ", "example": "20" },
            "minQuantity": { "type": "integer", "description": "Minimum quantity", "example": "1" },
            "maxQuantity": { "type": "integer", "description": "Maximum quantity", "example": "20" }
          },
          "required": [ "UpdateMinAndMaxProductQuantities", "vendor" ]
        }                                  
        

    

    
    - GetPurchaseOrderList: |
        {
          "exclude": "true",
          "name": "GetPurchaseOrderList",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity2" }
          },
          "required": [ "GetPurchaseOrderList", "Vendor" ]
        }                                  
        

    

    
    - PurchaseOrderInformation: |
        {
          "exclude": "true",
          "name": "PurchaseOrderInformation",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "PurchaseOrderInformation": { "type": "object", "ref": "vmi.PurchaseOrder" }
          }
        }                                        
        

    

    
    - GetCommittedPurchaseOrderList: |
        {
          "exclude": "true",
          "name": "GetCommittedPurchaseOrderList",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity2" }
          },
          "required": [ "GetCommittedPurchaseOrderList", "vendor" ]
        }                                        
        

    

    
    - GetUncommittedPurchaseOrderList: |
        {
          "exclude": "true",
          "name": "GetUncommittedPurchaseOrderList",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity2" }
          },
          "required": [ "GetUncommittedPurchaseOrderList", "vendor" ]
        }                                              
        

    

    
    - GetCompletedPurchaseOrderList: |
        {
          "exclude": "true",
          "name": "GetCompletedPurchaseOrderList",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity2" },
            "startDateReceived": { "type": "datetime", "description": "Start date", "example": "01/01/2016" },
            "endDateReceived": { "type": "datetime", "description": "End date", "example": "10/31/2016" }        
          },
          "required": [ "GetCompletedPurchaseOrderList", "vendor", "endDateReceived", "startDateReceived" ]
        }    
        

    

    
    - GetUpdatedInventoryList: |
        {
          "exclude": "true",
          "name": "GetUpdatedInventoryList",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity1" }     
          },
          "required": [ "GetUpdatedInventoryList", "vendor" ]
        }                                                         
        

    

    
    - GetTransferCounts: |
        {
          "exclude": "true",
          "name": "GetTransferCounts",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity1" },
            "StartDate": { "type": "datetime", "putDescription": "Search for transfers shipped and/or received on or after this date at midnight", "example": "01/01/2016" },
            "EndDate": { "type": "datetime", "putDescription": "Search for transfers shipped and/or received up to the end of this date", "example": "10/31/2016" },
            "storeId": { "type": "integer", "description": "Identifier for a Store in RQ", "example": "4" }        
          },
          "required": [ "GetTransferCounts", "Vendor", "EndDate", "StartDate", "storeId" ]
        }                                                               
        

    

    
    - TransferCount: |
        {
          "name": "TransferCount",
          "exclude": "true",
          "type": "object",
          "wrap": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "ProductItemID": { "type": "Integer", "example": "11142" }, 
            "ReceivedIn": {  "type": "datetime", "example": "1/21/2016 4:58:24 PM" },
            "ReceivedOut": {  "type": "datetime", "example": "1/22/2016 4:58:24 PM" },
            "ShippedIn": {  "type": "datetime", "example": "1/20/2016 4:58:24 PM" },
            "ShippedOut": {  "type": "datetime", "example": "1/19/2016 4:58:24 PM" },
            "storeId": { "type": "integer", "description": "Identifier for a Channel, Region, District or Store in RQ", "putDescription": "This value can be a Channel, Region, District or Store Id. The request body will change depending on the parameter used (i.e. <channelId></channelId>)","example": "4" },        
            "VendorSKU": { "type": "String", "example": "SSGS5CB" }
          }
        }                            
        

    

    
    - GetHierarchyInfo: |
        {
          "exclude": "true",
          "name": "GetHierarchyInfo",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity1" }
          },
          "required": [ "GetHierarchyInfo", "Vendor" ]
        }                                                                     
        

    

    
    - GetProductSerialNumbers: |
        {
          "exclude": "true",
          "name": "GetProductSerialNumbers",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity2" },
            "RQProductID": { "type": "integer", "putDescription": "Identifier for a Product in RQ", "example": "20" }
          },
          "required": [ "GetProductSerialNumbers", "vendor" ]
        }                                                                           
        

    

    
    - ProductSerialNumber: |
        {
          "name": "ProductSerialNumber",
          "exclude": "true",
          "type": "object",
          "wrap": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "DateReceived": {  "type": "DateTime", "example": "1/20/2016 4:58:24 PM" },
            "NonSellable": {  "type": "boolean", "example": "false" },
            "ProductItemID": {  "type": "integer", "example": "11142" },
            "SerialNumber": {  "type": "string", "example": "490154203237518" }
          }
        }                                  
        

    

    
    - GetClientPurchaseOrdersByStatus: |
        {
          "exclude": "true",
          "name": "GetClientPurchaseOrdersByStatus",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity2" },
            "startDate": { "type": "datetime", "putDescription": "Search for POs committed and/or completed on or after this date at midnight", "example": "01/01/2016" },
            "endDate": { "type": "datetime", "putDescription": "Search for POs committed and/or completed up to the end of this day", "example": "10/31/2016" },        
            "isCompleted": { "type": "boolean", "putDescription": "Defaults to false @TODO VERIFY", "example": "false"},
            "isCommitted": { "type": "boolean", "putDescription": "Defaults to false @TODO VERIFY", "example": "false"}
          },
          "required": [ "GetClientPurchaseOrdersByStatus", "vendor", "startDate", "endDate" ]
        }                                                                           
        

    

    
    - GetPurchaseOrderShipmentNotices: |
        {
          "exclude": "true",
          "name": "GetPurchaseOrderShipmentNotices",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity2" },
            "purchaseOrderID": { "type": "guid", "putDescription": "Identifier for a <a href='http://developers.iqmetrix.com/api/cmi/#purchaseorder'>PurchaseOrder</a>", "example": "28890F70-8FC9-4A9B-9458-410A8D08502D" }
          },
          "required": [ "GetPurchaseOrderShipmentNotices ", "vendor" ]
        }                                                                           
        

    

    
    - GetPurchaseOrderByReferenceNumber: |
        {
          "exclude": "true",
          "name": "GetPurchaseOrderByReferenceNumber",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity2" },
            "purchaseOrderReferenceNumber": { "type": "string", "putDescription": "Reference number for a PO in RQ @TODO VALIDATE", "example": "PO12456" }
          },
          "required": [ "GetPurchaseOrderByReferenceNumber", "vendor", "purchaseOrderReferenceNumber" ]
        }                                                                                 
        

    

    
    - GetPurchaseOrderByBusinessID: |
        {
          "exclude": "true",
          "name": "GetPurchaseOrderByBusinessID",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity1" },
            "purchaseOrderIdByStore": { "type": "string", "putDescription": "Identifier for a PO shown on printouts in RQ", "example": "22073" }
          },
          "required": [ "GetPurchaseOrderByBusinessID", "vendor", "purchaseOrderIdByStore" ]
        }                                                                                       
        

    

    
    - GetEmployeeList: |
        {
          "exclude": "true",
          "name": "GetEmployeeList",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity1" },
            "onlyEnabled": { "type": "boolean", "putDescription": "True for enabled employees, false for all employees", "example": "false" }
          },
          "required": [ "GetEmployeeList", "vendor" ]
        }                                                                                             
        

    

    
    - CancelUncommittedPurchaseOrder: |
        {
          "exclude": "true",
          "name": "CancelUncommittedPurchaseOrder",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity1" },
            "purchaseOrderID": { "type": "guid", "putDescription": "Identifier for a <a href='http://developers.iqmetrix.com/api/cmi/#purchaseorder'>PurchaseOrder</a>", "example": "28890F70-8FC9-4A9B-9458-410A8D08502D" }
          },
          "required": [ "CancelUncommittedPurchaseOrder", "vendor", "purchaseOrderID" ]
        }
        

    

    
    - UpdatePurchaseOrder: |
        {
          "exclude": "true",
          "name": "UpdatePurchaseOrder",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity1" },
            "purchaseOrder": { "type": "object", "putDescription": "The <a href='http://developers.iqmetrix.com/api/cmi/#purchaseorder'>PurchaseOrder</a>", "ref": "vmi.UpdatePurchaseOrderPO" }
          },
          "required": [ "UpdatePurchaseOrder", "vendor", "purchaseOrderID" ]
        }
        

    

    
    - Ping: |
        {
          "exclude": "true",
          "name": "Ping",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity1" }
          },
          "required": [ "Ping", "vendor", "purchaseOrderID" ]
        }      
        

    

    
    - GetRMAList: |
        {
          "exclude": "true",
          "name": "GetRMAList",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity1" },
            "isCommitted": { "type": "boolean", "putDescription": "True to include committed RMAs, false to exclude. Defaults to false", "example": "false" },
            "isShipped": { "type": "boolean", "putDescription": "True to include shipped RMAs, false to exclude. Defaults to false", "example": "false" }
          },
          "required": [ "GetRMAList", "vendor" ]
        }
        

    

    
    - CreateRMA: |
        {
          "exclude": "true",
          "name": "CreateRMA",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "Vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity2" },
            "RMA": { "type": "array", "arrayType": "object", "ref": "vmi.RMA" }
          },
          "required": [ "CreateRMA", "Vendor" ]
        }
        

    

    
    - RMA: |
        {
          "name": "RMA",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "ProductData": { "type": "array", "arrayType": "object", "description": "Product data", "ref": "vmi.RMAProduct" },
            "RMAID": { "type": "integer", "description": "Identifier", "example": "16", "generated": "true" },
            "RMAIDByStore": { "type": "string", "description": "Identifier for the RMA in RQ", "example": "ATTEXSB3", "generated": "true" },
            "StoreID" : { "type": "integer", "description": "Identifier for a store in RQ", "example": "0", "generated": "true" },
            "VendorID" : { "type": "integer", "description": "Identifier for a vendor", "example": "0" },
            "CreatedByVMI" : { "type": "boolean", "description": "A flag to indicate if the RMA was created by VMI", "example": "false" },
            "VendorRMANumber": { "type": "string", "description": "Vendor RMA number", "example": "123456" },
            "ShippingCost" : { "type": "decimal", "description": "Shipping cost", "example": "0" },
            "Committed": { "type": "integer", "description": "A flag to indicate if the RMA is committed (1) or not (0)", "example": "0", "generated": "true" },
            "DateCommitted": { "type": "datetime", "description": "Date the RMA was committed", "example": "2017-01-01T00:00:00", "generated": "true" },
            "ShippedAway": { "type": "integer", "description": "A flag to indicate if the RMA was shipped away (1) or not (0)", "example": "0", "generated": "true" },
            "Completed": { "type": "integer", "description": "A flag to indicate if the RMA is completed (1) or not (0)", "example": "0", "generated": "true" },
            "Comments": { "type": "string", "description": "Comments", "example": "Sent" },
            "DateCreated": { "type": "datetime", "description": "Date the RMA was created", "example": "2016-11-04T00:00:00", "generated": "true" }
          },
          "required": [ "ProductData" ]
        }  
        

    

    
    - ReturnMerchandiseAuthorization: |
        {
          "name": "ReturnMerchandiseAuthorization",
          "exclude": "true",
          "type": "object",
          "wrap": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "ProductData": { "type": "array", "arrayType": "object", "description": "Product data", "ref": "vmi.RMAProduct" },
            "RMAID": { "type": "integer", "description": "Identifier", "example": "16", "generated": "true" },
            "RMAIDByStore": { "type": "string", "description": "Identifier for the RMA in RQ", "example": "ATTEXSB3", "generated": "true" },
            "StoreID" : { "type": "integer", "description": "Identifier for a store in RQ", "example": "0", "generated": "true" },
            "VendorID" : { "type": "integer", "description": "Identifier for a vendor", "example": "0" },
            "CreatedByVMI" : { "type": "boolean", "description": "A flag to indicate if the RMA was created by VMI", "example": "false" },
            "VendorRMANumber": { "type": "string", "description": "Vendor RMA number", "example": "123456" },    
            "WayBillNumber" : { "type": "integer", "description": "", "example": "0" },
            "ShippingMethod": { "type": "string", "description": "Shipping method", "example": "USPS" },
            "ReceivingComments": { "type": "string", "description": "Comments", "example": "Broken" },
            "ShippingCost" : { "type": "decimal", "description": "Shipping cost", "example": "0" },
            "Committed": { "type": "integer", "description": "A flag to indicate if the RMA is committed (1) or not (0)", "example": "0", "generated": "true" },
            "DateCommitted": { "type": "datetime", "description": "Date the RMA was committed", "example": "2017-01-01T00:00:00", "generated": "true" },
            "ShippedAway": { "type": "integer", "description": "A flag to indicate if the RMA was shipped away (1) or not (0)", "example": "0", "generated": "true" },
            "Completed": { "type": "integer", "description": "A flag to indicate if the RMA is completed (1) or not (0)", "example": "0", "generated": "true" },
            "Comments": { "type": "string", "description": "Comments", "example": "Sent" },
            "DateCreated": { "type": "datetime", "description": "Date the RMA was created", "example": "2016-11-04T00:00:00", "generated": "true" }          
          }
        }        
        

    

    
    - RMAProduct: |
        {
          "exclude": "true",
          "name": "RMAProduct",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "RMAProduct": { "type": "array", "arrayType": "object", "ref": "vmi.ProductData" }
          },
          "required": [ "RMAProduct" ]
        }  
        

    

    
    - ProductData: |
        {
          "name": "ProductData",
          "type": "object",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {  
              "RQProductSku": { "type": "string", "description": "Return value", "example": "CDATSS000019" },
              "RQProductID": { "type": "integer", "description": "RQ product identifier", "example": "19" },
              "SerialNumberRemoved": { "type": "string", "description": "Serial number of the item (if applicable)", "example": "789987741147111" },
              "VendorInvoiceNumber": { "type": "string", "description": "Vendor invoice number", "example": "123456" },
              "TotalQuantity": { "type": "integer", "description": "Quantity being placed on RMA (include non-sellable)", "example": "1" },
              "NonSellableQuantity": { "type": "integer", "description": "Quantitiy of non-sellable items", "example": "0" },
              "UnitCost": { "type": "decimal", "description": "Unit cost", "example": "0" },
              "ActionTaken": { "type": "string", "description": "Acceptable values include: NotSet, Credit, Replacement, Rejected or Repaired ", "example": "Credit" }          
          },
          "required": [ "RQProductSku", "RQProductID", "TotalQuantity", "SerialNumberRemoved", "ActionTaken" ]
        } 
        

    

    
    - UpdateCommittedRMA: |
        {
          "exclude": "true",
          "name": "UpdateCommittedRMA",
          "type": "object",
          "soapRequest": "true",
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "vendor": { "type": "object", "putDescription": "case-sensitive", "ref": "vmi.VendorIdentity2" },
            "rma": { "type": "object", "ref": "vmi.UpdateRMA" }
          },
          "required": [ "UpdateCommittedRMA", "vendor", "rma" ]
        }
        

    

    
    - UpdateRMA: |
        {
          "name": "UpdateRMA",
          "type": "object",
          "exclude": "true",
          "wrap": "true",        
          "$schema": "http://json-schema.org/draft-03/schema",
          "properties": {
            "ProductData": { "type": "array", "arrayType": "object", "description": "Product data", "ref": "vmi.RMAProduct" },
            "RMAID": { "type": "integer", "description": "Identifier", "example": "16", "generated": "true" },
            "RMAIDByStore": { "type": "string", "description": "Identifier for the RMA in RQ", "example": "ATTEXSB3", "generated": "true" },
            "StoreID" : { "type": "integer", "description": "Identifier for a store in RQ", "example": "0", "generated": "true" },
            "VendorID" : { "type": "integer", "description": "Identifier for a vendor", "example": "0" },
            "CreatedByVMI" : { "type": "boolean", "description": "A flag to indicate if the RMA was created by VMI", "example": "false" },
            "VendorRMANumber": { "type": "string", "description": "Vendor RMA number", "example": "123456" },    
            "WayBillNumber" : { "type": "integer", "description": "", "example": "0" },
            "ShippingMethod": { "type": "string", "description": "Shipping method", "example": "USPS" },
            "ReceivingComments": { "type": "string", "description": "Comments", "example": "Broken" },
            "ShippingCost" : { "type": "decimal", "description": "Shipping cost", "example": "0" },
            "Committed": { "type": "integer", "description": "A flag to indicate if the RMA is committed (1) or not (0)", "example": "0", "generated": "true" },
            "DateCommitted": { "type": "datetime", "description": "Date the RMA was committed", "example": "2017-01-01T00:00:00", "generated": "true" },
            "ShippedAway": { "type": "integer", "description": "A flag to indicate if the RMA was shipped away (1) or not (0)", "example": "0", "generated": "true" },
            "Completed": { "type": "integer", "description": "A flag to indicate if the RMA is completed (1) or not (0)", "example": "0", "generated": "true" },
            "Comments": { "type": "string", "description": "Comments", "example": "Sent" },
            "DateCreated": { "type": "datetime", "description": "Date the RMA was created", "example": "2016-11-04T00:00:00", "generated": "true" }          
          },
          "required": [ "ProductData" ]
        }        
        

    


/?op=CreatePurchaseOrder:
    
    uriParameters:
          
      
    post:
        
        displayName: Creating a Purchase Order
                
        
        description: |            
            Allows the vendor to create a purchase order for a particular store and a set of products.
            
            #### Notes
            
            * Creating a Purchase Order allows RQ to properly account for products arriving at a store so that stock levels are updated correctly
            * You must be marked as the Primary Vendor in RQ to add a product to a Purchase Order
            * Each item must be unique
            * To place multiple copies of an item on an order, adjust the quantity
            

        
        headers:
            
        body:
            
            text/xml:
                
                
                example: |  
                    
                    {"Vendor":{"VendorID":"9DC6AA95-856B-42C9-8AAF-392A2A02AC77","Username":"sampleusername","Password":"samplepassword","Client":{"ClientID":"c46ccb4d-2d44-4289-950a-b9cb51d58ac4","Name":"DropshipTestDemo","StoreID":4}},"PurchaseOrder":{"PurchaseOrderData":{"BillToStoreID":55,"CreatedByVMI":false,"CreatedDate":"3/16/2014 12:00:00 AM","Comments":"comments","EstimatedArrivalDate":"3/2/2014 12:00:00 AM","OrderTotal":99.99,"ShippingTotal":99.99,"ShipToStoreID":55,"VendorInvoiceNumber":"15782"},"ProductsOrdered":[{"DateReceived":"01/21/2016 16:58:23","Enabled":true,"MaximumLevel":100,"MinimumLevel":10,"ProductCost":99.99,"ProductID":"86EE477F-C6B7-48FA-AA0A-105662D9A3ED","ProductItemID":11142,"ProductName":"Samsung Galaxy S6","ProductReceived":false,"ProductSKU":"CECPSM000017","QuantityCommittedOnOrderEntry":0,"QuantityInStock":8,"QuantityInTransfer":3,"QuantityOnBackOrder":0,"QuantityOnLoan":5,"QuantityOnOrder":6,"QuantityOnRMA":9,"QuantityOrdered":4,"QuantityReceived":4,"QuantitySold":30,"VendorSKU":"SSGS5CB"}]}}
                    
                schema: |
                    {"exclude":"true","name":"CreatePurchaseOrder","type":"object","soapRequest":"true","$schema":"http://json-schema.org/draft-03/schema","properties":{"Vendor":{"type":"object","putDescription":"Case-sensitive","ref":"vmi.VendorIdentity2","properties":{"VendorID":{"type":"guid","description":"Vendor identifier","example":"9DC6AA95-856B-42C9-8AAF-392A2A02AC77","name":"VendorID"},"Username":{"type":"string","description":"Username","example":"sampleusername","name":"Username"},"Password":{"type":"string","description":"Password","example":"samplepassword","name":"Password"},"Client":{"type":"object","description":"Client identity","ref":"vmi.ClientAgent2","name":"Client","properties":{"ClientID":{"type":"guid","description":"Database identifier for corresponding client","example":"c46ccb4d-2d44-4289-950a-b9cb51d58ac4","name":"ClientID"},"Name":{"type":"string","description":"Company name","example":"DropshipTestDemo","name":"Name"},"StoreID":{"type":"integer","description":"Store identifer the vendor is targeting","example":"4","name":"StoreID"},"VendorAccountNumber":{"type":"String","description":"Account number assigned by vendor.","example":"-1","hideFromExample":"true"}},"required":["ClientID","StoreID"]}},"required":["VendorID","Username","Password","Client"]},"PurchaseOrder":{"type":"object","putDescription":"The <a href='http://developers.iqmetrix.com/api/cmi/#purchaseorder'>PurchaseOrder</a>","ref":"vmi.PurchaseOrder","properties":{"PurchaseOrderID":{"type":"guid","description":"Unique identifier","putDescription":"If this value is not supplied, VMI will assign a value","example":"28890F70-8FC9-4A9B-9458-410A8D08502D","generated":"true"},"PurchaseOrderData":{"type":"object","description":"Purchase order","ref":"vmi.PurchaseOrderData","name":"PurchaseOrderData","properties":{"PurchaseOrderID":{"type":"GUID","description":"Unique identifier","example":"28890F70-8FC9-4A9B-9458-410A8D08502D","generated":"true"},"BillToStoreID":{"type":"integer","description":"RQ StoreId","putDescription":"Defaults to -1. Either this value or BillToVendorAccountNumber must be supplied","example":"55","name":"BillToStoreID"},"BillToStoreName":{"type":"String","description":"RQ store name","example":"Cornwall west","generated":"true"},"BillToVendorAccountNumber":{"type":"String","description":"Vendor account number to use for billing. Can be used in place of `BillToStoreId`","example":"1","generated":"true"},"IsDeleted":{"type":"Boolean","description":"A flag to indicate if this purchase order has been deleted in RQ","example":"false","generated":"true"},"CreatedByVMI":{"type":"boolean","description":"A flag to indicate if this was created by the VMI API (true) or RQ (false)","putDescription":"defaults to false","example":"false","name":"CreatedByVMI"},"CreatedDate":{"type":"string","description":"The date and time the purchase order was created, if it was created in RQ","example":"3/16/2014 12:00:00 AM","name":"CreatedDate"},"Comments":{"type":"string","description":"Any comments for the purchase order","example":"comments","name":"Comments"},"EstimatedArrivalDate":{"type":"string","description":"Estimated date of arrival","putDescription":"Format mm/dd/yyyy","example":"3/2/2014 12:00:00 AM","name":"EstimatedArrivalDate"},"OrderTotal":{"type":"decimal","description":"Cost of the order, provided by a vendor for informational purposes only","putDescription":"Defaults to -1","example":"99.99","name":"OrderTotal"},"RetailiQPurchaseOrderID":{"type":"Integer","description":"Identifier of purchase order in RQ","example":"22075","generated":"true"},"RetailiQPurchaseOrderNumber":{"type":"String","description":"Purchase order number in RQ","example":"DALEKPO5","generated":"true"},"ShippingTotal":{"type":"decimal","description":"Cost of shipping","putDescription":"Defaults to -1","example":"99.99","name":"ShippingTotal"},"ShipToStoreID":{"type":"integer","description":"Identifier of store to use for shipping","putDescription":"Defaults to -1. Either this value or ShipToVendorAccountNumber must be supplied","example":"55","name":"ShipToStoreID"},"ShipToStoreName":{"type":"String","description":"Name of store to use for shipping","example":"Cornwall west","generated":"true"},"ShipToVendorAccountNumber":{"type":"String","description":"Vendor account number to use for shipping. Can be used in place of `ShipToStoreId`","example":"1","generated":"true"},"VendorInvoiceNumber":{"type":"string","description":"Invoice number for the vendor","putDescription":"Vendor supplied invoice number, this must be unique","example":"15782","name":"VendorInvoiceNumber"},"VendorName":{"type":"String","description":"Name of the vendor","example":"SampleVendor","generated":"true"}},"required":["BillToStoreID","EstimatedArrivalDate","ShipToStoreID","VendorInvoiceNumber"]},"ProductsOrdered":{"type":"array","arrayType":"object","ref":"vmi.ProductInformation","description":"Products ordered","putDescription":"Products ordered","fixlink":"ProductInformation","name":"ProductsOrdered","properties":{"CategoryPath":{"type":"String","description":"Category location of product. path of category delimited by '>>'","example":"Activation >> Dropship","generated":"true"},"DateEOL":{"type":"DateTime","description":"End of life date","example":"1/01/2016 12:00:00 AM","generated":"true"},"DateReceived":{"type":"string","description":"Product receiving stauts in RQ","example":"01/21/2016 16:58:23","name":"DateReceived"},"DoNotOrder":{"type":"Boolean","description":"A flag to indicate if the product should not be ordered","example":"false","generated":"true"},"Enabled":{"type":"boolean","description":"A flag to indicate if product is enabled","example":"true","name":"Enabled"},"GrossQuantityReturned":{"type":"Integer","description":"Gross amount returned","example":"11","generated":"true"},"GrossQuantitySold":{"type":"Integer","description":"Gross amount sold","example":"10","generated":"true"},"MaximumLevel":{"type":"integer","description":"Maximum number of Products that can be added to the PurchaseOrder","example":"100","putDescription":"defaults to -1","name":"MaximumLevel"},"MinimumLevel":{"type":"integer","description":"Minimum number of Products that can be added to the PurchaseOrder","example":"10","putDescription":"defaults to -1","name":"MinimumLevel"},"MinMaxLocked":{"type":"Boolean","description":"A flag to indicate if the Min and Max values are locked (unchangeable)","example":"true","generated":"true"},"ProductCost":{"type":"decimal","description":"Required for PO creation or default from RQ will be used","example":"99.99","putDescription":"defaults to -1","name":"ProductCost"},"ProductID":{"type":"guid","description":"Unique identifier","example":"86EE477F-C6B7-48FA-AA0A-105662D9A3ED","name":"ProductID"},"ProductItemID":{"type":"integer","description":"GlobalProductId from RQ","example":"11142","name":"ProductItemID"},"ProductName":{"type":"string","description":"Name","example":"Samsung Galaxy S6","name":"ProductName"},"ProductReceived":{"type":"boolean","description":"A flag to indicate if product was received","example":"false","name":"ProductReceived"},"ProductSKU":{"type":"string","description":"ProductIdentifier in RQ","example":"CECPSM000017","name":"ProductSKU"},"QuantityCommittedOnOrderEntry":{"type":"integer","description":"Amount committed on an order entry","example":"0","putDescription":"defaults to -1","name":"QuantityCommittedOnOrderEntry"},"QuantityInStock":{"type":"integer","description":"Amount in stock","example":"8","putDescription":"defaults to -1","name":"QuantityInStock"},"QuantityInTransfer":{"type":"integer","description":"Amount in transfer","example":"3","putDescription":"defaults to -1","name":"QuantityInTransfer"},"QuantityOnBackOrder":{"type":"integer","description":"Amount on back order","example":"0","putDescription":"defaults to -1","name":"QuantityOnBackOrder"},"QuantityOnLoan":{"type":"integer","description":"Amount on loan","example":"5","putDescription":"defaults to -1","name":"QuantityOnLoan"},"QuantityOnOrder":{"type":"integer","description":"Amount on order","example":"6","putDescription":"defaults to -1","name":"QuantityOnOrder"},"QuantityOnRMA":{"type":"integer","description":"Amount on RMA","example":"9","putDescription":"defaults to -1","name":"QuantityOnRMA"},"QuantityOnUncommittedOrder":{"type":"Integer","description":"Amount on uncommitted order","example":"2","generated":"true"},"QuantityOrdered":{"type":"integer","description":"Amount ordered","example":"4","name":"QuantityOrdered"},"QuantityReceived":{"type":"integer","description":"Amount received","example":"4","putDescription":"defaults to -1","name":"QuantityReceived"},"QuantitySold":{"type":"integer","description":"Amount sold","example":"30","putDescription":"defaults to -1","name":"QuantitySold"},"QuantitySuggestedByVendor":{"type":"Integer","description":"Amount suggested by vendor","example":"50","generated":"true"},"RetailPrice":{"type":"Decimal","description":"Retail price","example":"99.99","generated":"true"},"SaleBegin":{"type":"DateTime","description":"Sale begin date","example":"01/01/2014 12:00:00 AM","generated":"true"},"SaleEnd":{"type":"DateTime","description":"Sale end date","example":"01/10/2014 12:00:00 AM","generated":"true"},"SalePrice":{"type":"Decimal","description":"Sale price","example":"79.99","generated":"true"},"VendorSKU":{"type":"string","description":"Vendor SKU","example":"SSGS5CB","name":"VendorSKU"}},"required":["QuantityOrdered","VendorSKU"]}},"required":["PurchaseOrderData","ProductsOrdered"]}},"required":["CreatePurchaseOrder","Vendor","PurchaseOrder"]}
                
            
        responses:
            
            200:
                
                body:
                    
                    text/xml:
                        
                            
                            example: |
                                {"PurchaseOrderID":"28890F70-8FC9-4A9B-9458-410A8D08502D","PurchaseOrderData":{"PurchaseOrderID":"28890F70-8FC9-4A9B-9458-410A8D08502D","BillToStoreID":55,"BillToStoreName":"Cornwall west","BillToVendorAccountNumber":"1","IsDeleted":false,"CreatedByVMI":false,"CreatedDate":"3/16/2014 12:00:00 AM","Comments":"comments","EstimatedArrivalDate":"3/2/2014 12:00:00 AM","OrderTotal":99.99,"RetailiQPurchaseOrderID":22075,"RetailiQPurchaseOrderNumber":"DALEKPO5","ShippingTotal":99.99,"ShipToStoreID":55,"ShipToStoreName":"Cornwall west","ShipToVendorAccountNumber":"1","VendorInvoiceNumber":"15782","VendorName":"SampleVendor"},"ProductsOrdered":[{"CategoryPath":"Activation >> Dropship","DateEOL":"1/01/2016 12:00:00 AM","DateReceived":"01/21/2016 16:58:23","DoNotOrder":false,"Enabled":true,"GrossQuantityReturned":11,"GrossQuantitySold":10,"MaximumLevel":100,"MinimumLevel":10,"MinMaxLocked":true,"ProductCost":99.99,"ProductID":"86EE477F-C6B7-48FA-AA0A-105662D9A3ED","ProductItemID":11142,"ProductName":"Samsung Galaxy S6","ProductReceived":false,"ProductSKU":"CECPSM000017","QuantityCommittedOnOrderEntry":0,"QuantityInStock":8,"QuantityInTransfer":3,"QuantityOnBackOrder":0,"QuantityOnLoan":5,"QuantityOnOrder":6,"QuantityOnRMA":9,"QuantityOnUncommittedOrder":2,"QuantityOrdered":4,"QuantityReceived":4,"QuantitySold":30,"QuantitySuggestedByVendor":50,"RetailPrice":99.99,"SaleBegin":"01/01/2014 12:00:00 AM","SaleEnd":"01/10/2014 12:00:00 AM","SalePrice":79.99,"VendorSKU":"SSGS5CB"}]}
                            schema: |
                                {"name":"PurchaseOrder","type":"object","$schema":"http://json-schema.org/draft-03/schema","properties":{"PurchaseOrderID":{"type":"guid","description":"Unique identifier","putDescription":"If this value is not supplied, VMI will assign a value","example":"28890F70-8FC9-4A9B-9458-410A8D08502D","generated":"true"},"PurchaseOrderData":{"type":"object","description":"Purchase order","ref":"vmi.PurchaseOrderData","properties":{"PurchaseOrderID":{"type":"guid","description":"Unique identifier","example":"28890F70-8FC9-4A9B-9458-410A8D08502D","generated":"true","name":"PurchaseOrderID"},"BillToStoreID":{"type":"integer","description":"RQ StoreId","putDescription":"Defaults to -1. Either this value or BillToVendorAccountNumber must be supplied","example":"55","name":"BillToStoreID"},"BillToStoreName":{"type":"string","description":"RQ store name","example":"Cornwall west","generated":"true","name":"BillToStoreName"},"BillToVendorAccountNumber":{"type":"string","description":"Vendor account number to use for billing. Can be used in place of `BillToStoreId`","example":"1","generated":"true","name":"BillToVendorAccountNumber"},"IsDeleted":{"type":"boolean","description":"A flag to indicate if this purchase order has been deleted in RQ","example":"false","generated":"true","name":"IsDeleted"},"CreatedByVMI":{"type":"boolean","description":"A flag to indicate if this was created by the VMI API (true) or RQ (false)","putDescription":"defaults to false","example":"false","name":"CreatedByVMI"},"CreatedDate":{"type":"string","description":"The date and time the purchase order was created, if it was created in RQ","example":"3/16/2014 12:00:00 AM","name":"CreatedDate"},"Comments":{"type":"string","description":"Any comments for the purchase order","example":"comments","name":"Comments"},"EstimatedArrivalDate":{"type":"string","description":"Estimated date of arrival","putDescription":"Format mm/dd/yyyy","example":"3/2/2014 12:00:00 AM","name":"EstimatedArrivalDate"},"OrderTotal":{"type":"decimal","description":"Cost of the order, provided by a vendor for informational purposes only","putDescription":"Defaults to -1","example":"99.99","name":"OrderTotal"},"RetailiQPurchaseOrderID":{"type":"integer","description":"Identifier of purchase order in RQ","example":"22075","generated":"true","name":"RetailiQPurchaseOrderID"},"RetailiQPurchaseOrderNumber":{"type":"string","description":"Purchase order number in RQ","example":"DALEKPO5","generated":"true","name":"RetailiQPurchaseOrderNumber"},"ShippingTotal":{"type":"decimal","description":"Cost of shipping","putDescription":"Defaults to -1","example":"99.99","name":"ShippingTotal"},"ShipToStoreID":{"type":"integer","description":"Identifier of store to use for shipping","putDescription":"Defaults to -1. Either this value or ShipToVendorAccountNumber must be supplied","example":"55","name":"ShipToStoreID"},"ShipToStoreName":{"type":"string","description":"Name of store to use for shipping","example":"Cornwall west","generated":"true","name":"ShipToStoreName"},"ShipToVendorAccountNumber":{"type":"string","description":"Vendor account number to use for shipping. Can be used in place of `ShipToStoreId`","example":"1","generated":"true","name":"ShipToVendorAccountNumber"},"VendorInvoiceNumber":{"type":"string","description":"Invoice number for the vendor","putDescription":"Vendor supplied invoice number, this must be unique","example":"15782","name":"VendorInvoiceNumber"},"VendorName":{"type":"string","description":"Name of the vendor","example":"SampleVendor","generated":"true","name":"VendorName"}},"required":["BillToStoreID","EstimatedArrivalDate","ShipToStoreID","VendorInvoiceNumber"]},"ProductsOrdered":{"type":"array","arrayType":"object","ref":"vmi.ProductInformation","description":"Products ordered","putDescription":"Products ordered","fixlink":"ProductInformation","properties":{"CategoryPath":{"type":"string","description":"Category location of product. path of category delimited by '>>'","example":"Activation >> Dropship","generated":"true","name":"CategoryPath"},"DateEOL":{"type":"datetime","description":"End of life date","example":"1/01/2016 12:00:00 AM","generated":"true","name":"DateEOL"},"DateReceived":{"type":"string","description":"Product receiving stauts in RQ","example":"01/21/2016 16:58:23","name":"DateReceived"},"DoNotOrder":{"type":"boolean","description":"A flag to indicate if the product should not be ordered","example":"false","generated":"true","name":"DoNotOrder"},"Enabled":{"type":"boolean","description":"A flag to indicate if product is enabled","example":"true","name":"Enabled"},"GrossQuantityReturned":{"type":"integer","description":"Gross amount returned","example":"11","generated":"true","name":"GrossQuantityReturned"},"GrossQuantitySold":{"type":"integer","description":"Gross amount sold","example":"10","generated":"true","name":"GrossQuantitySold"},"MaximumLevel":{"type":"integer","description":"Maximum number of Products that can be added to the PurchaseOrder","example":"100","putDescription":"defaults to -1","name":"MaximumLevel"},"MinimumLevel":{"type":"integer","description":"Minimum number of Products that can be added to the PurchaseOrder","example":"10","putDescription":"defaults to -1","name":"MinimumLevel"},"MinMaxLocked":{"type":"boolean","description":"A flag to indicate if the Min and Max values are locked (unchangeable)","example":"true","generated":"true","name":"MinMaxLocked"},"ProductCost":{"type":"decimal","description":"Required for PO creation or default from RQ will be used","example":"99.99","putDescription":"defaults to -1","name":"ProductCost"},"ProductID":{"type":"guid","description":"Unique identifier","example":"86EE477F-C6B7-48FA-AA0A-105662D9A3ED","name":"ProductID"},"ProductItemID":{"type":"integer","description":"GlobalProductId from RQ","example":"11142","name":"ProductItemID"},"ProductName":{"type":"string","description":"Name","example":"Samsung Galaxy S6","name":"ProductName"},"ProductReceived":{"type":"boolean","description":"A flag to indicate if product was received","example":"false","name":"ProductReceived"},"ProductSKU":{"type":"string","description":"ProductIdentifier in RQ","example":"CECPSM000017","name":"ProductSKU"},"QuantityCommittedOnOrderEntry":{"type":"integer","description":"Amount committed on an order entry","example":"0","putDescription":"defaults to -1","name":"QuantityCommittedOnOrderEntry"},"QuantityInStock":{"type":"integer","description":"Amount in stock","example":"8","putDescription":"defaults to -1","name":"QuantityInStock"},"QuantityInTransfer":{"type":"integer","description":"Amount in transfer","example":"3","putDescription":"defaults to -1","name":"QuantityInTransfer"},"QuantityOnBackOrder":{"type":"integer","description":"Amount on back order","example":"0","putDescription":"defaults to -1","name":"QuantityOnBackOrder"},"QuantityOnLoan":{"type":"integer","description":"Amount on loan","example":"5","putDescription":"defaults to -1","name":"QuantityOnLoan"},"QuantityOnOrder":{"type":"integer","description":"Amount on order","example":"6","putDescription":"defaults to -1","name":"QuantityOnOrder"},"QuantityOnRMA":{"type":"integer","description":"Amount on RMA","example":"9","putDescription":"defaults to -1","name":"QuantityOnRMA"},"QuantityOnUncommittedOrder":{"type":"integer","description":"Amount on uncommitted order","example":"2","generated":"true","name":"QuantityOnUncommittedOrder"},"QuantityOrdered":{"type":"integer","description":"Amount ordered","example":"4","name":"QuantityOrdered"},"QuantityReceived":{"type":"integer","description":"Amount received","example":"4","putDescription":"defaults to -1","name":"QuantityReceived"},"QuantitySold":{"type":"integer","description":"Amount sold","example":"30","putDescription":"defaults to -1","name":"QuantitySold"},"QuantitySuggestedByVendor":{"type":"integer","description":"Amount suggested by vendor","example":"50","generated":"true","name":"QuantitySuggestedByVendor"},"RetailPrice":{"type":"decimal","description":"Retail price","example":"99.99","generated":"true","name":"RetailPrice"},"SaleBegin":{"type":"datetime","description":"Sale begin date","example":"01/01/2014 12:00:00 AM","generated":"true","name":"SaleBegin"},"SaleEnd":{"type":"datetime","description":"Sale end date","example":"01/10/2014 12:00:00 AM","generated":"true","name":"SaleEnd"},"SalePrice":{"type":"decimal","description":"Sale price","example":"79.99","generated":"true","name":"SalePrice"},"VendorSKU":{"type":"string","description":"Vendor SKU","example":"SSGS5CB","name":"VendorSKU"}},"required":["QuantityOrdered","VendorSKU"]}},"required":["PurchaseOrderData","ProductsOrdered"]}
                            
                        
                    
                
            
    

/?op=CreatePurchaseOrderShipmentNotice:
    
    uriParameters:
          
      
    post:
        
        displayName: Creating a Purchase Order Shipment Notice
                
        
        description: |            
            Allows the vendor to create a shipment notice for an existing purchase order. 
            
            #### Notes
            
            * The shipment notice will be used when receiving purchase order products with serial numbers
            * Multiple shipment notices can be created for a single purchase order
            * Each shipment notice is for a single product
            * If more than one product appears in a shipment, create one shipment notice for each product, but use the same shipment number for all products in the same shipment
            
            {{tip}}
            This request accepts an array of PurchaseOrderShipmentNotices, so you do not need to call the VMI service multiple times for products in an order
            {{end}}            
            

        
        headers:
            
        body:
            
            text/xml:
                
                
                example: |  
                    
                    {"vendor":{"VendorID":"9DC6AA95-856B-42C9-8AAF-392A2A02AC77","Username":"sampleusername","Password":"samplepassword","Client":{"ClientID":"c46ccb4d-2d44-4289-950a-b9cb51d58ac4","Name":"DropshipTestDemo","StoreID":4}},"notice":[{"PurchaseOrderID":"84DACFD3-4095-4D50-A02E-781B86B7408E","ProductItemID":11142,"Quantity":1,"RQPurchaseOrderID":22073,"SerialNumbers":["490154203237518"],"ShipmentNumber":"SHIP001","VendorInvoiceNumber":"1002","VendorSKU":"SSGS5CB"}]}
                    
                schema: |
                    {"exclude":"true","name":"CreatePurchaseOrderShipmentNotice","type":"object","soapRequest":"true","$schema":"http://json-schema.org/draft-03/schema","properties":{"vendor":{"type":"object","putDescription":"case-sensitive","ref":"vmi.VendorIdentity2","properties":{"VendorID":{"type":"guid","description":"Vendor identifier","example":"9DC6AA95-856B-42C9-8AAF-392A2A02AC77","name":"VendorID"},"Username":{"type":"string","description":"Username","example":"sampleusername","name":"Username"},"Password":{"type":"string","description":"Password","example":"samplepassword","name":"Password"},"Client":{"type":"object","description":"Client identity","ref":"vmi.ClientAgent2","name":"Client","properties":{"ClientID":{"type":"guid","description":"Database identifier for corresponding client","example":"c46ccb4d-2d44-4289-950a-b9cb51d58ac4","name":"ClientID"},"Name":{"type":"string","description":"Company name","example":"DropshipTestDemo","name":"Name"},"StoreID":{"type":"integer","description":"Store identifer the vendor is targeting","example":"4","name":"StoreID"},"VendorAccountNumber":{"type":"String","description":"Account number assigned by vendor.","example":"-1","hideFromExample":"true"}},"required":["ClientID","StoreID"]}},"required":["VendorID","Username","Password","Client"]},"notice":{"type":"array","arrayType":"object","ref":"vmi.PurchaseOrderShipmentNotice","properties":{"PurchaseOrderID":{"type":"guid","description":"Unique identifier","putDescription":"Either this value or VendorInvoiceNumber must be provided","example":"84DACFD3-4095-4D50-A02E-781B86B7408E","name":"PurchaseOrderID"},"ProductItemID":{"type":"integer","description":"GlobalProductId from RQ","putDescription":"Either this value or VendorSKU must be provided","example":"11142","name":"ProductItemID"},"Quantity":{"type":"integer","description":"Number of items shipped","example":"1","name":"Quantity"},"RQPurchaseOrderID":{"type":"integer","description":"Identifier for the Purchase Order in RQ","putDescription":"defaults to -1","example":"22073","name":"RQPurchaseOrderID"},"SerialNumbers":{"type":"array","arrayType":"string","description":"Serial numbers from serialized products (e.g. Phone or SIM card)","example":"4
[...]
