{% capture Address %}<a href='http://developers.iqmetrix.com/api/company-tree/#address'>Address</a>{% endcapture %}
{% capture Addresses %}<a href='http://developers.iqmetrix.com/api/company-tree/#address'>Addresses</a>{% endcapture %}
{% capture Area %}<a href='http://developers.iqmetrix.com/api/company-tree/#area'>Area</a>{% endcapture %}
{% capture Areas %}<a href='http://developers.iqmetrix.com/api/company-tree/#area'>Areas</a>{% endcapture %}
{% capture catalog_Asset %}<a href='http://developers.iqmetrix.com/api/catalog/#asset'>Asset</a>{% endcapture %}
{% capture catalog_Assets %}<a href='http://developers.iqmetrix.com/api/catalog/#asset'>Assets</a>{% endcapture %}
{% capture company-tree_Asset %}<a href='http://developers.iqmetrix.com/api/company-tree/#asset'>Asset</a>{% endcapture %}
{% capture company-tree_Assets %}<a href='http://developers.iqmetrix.com/api/company-tree/#asset'>Assets</a>{% endcapture %}
{% capture Asset %}<a href='http://developers.iqmetrix.com/api/assets/#asset'>Asset</a>{% endcapture %}
{% capture Assets %}<a href='http://developers.iqmetrix.com/api/assets/#asset'>Assets</a>{% endcapture %}
{% capture Attribute %}<a href='http://developers.iqmetrix.com/api/catalog/#attribute'>Attribute</a>{% endcapture %}
{% capture Attributes %}<a href='http://developers.iqmetrix.com/api/catalog/#attribute'>Attributes</a>{% endcapture %}
{% capture CanonicalClassification %}<a href='http://developers.iqmetrix.com/api/catalog/#canonicalclassification'>CanonicalClassification</a>{% endcapture %}
{% capture CanonicalClassifications %}<a href='http://developers.iqmetrix.com/api/catalog/#canonicalclassification'>CanonicalClassifications</a>{% endcapture %}
{% capture Carrier %}<a href='http://developers.iqmetrix.com/api/entity-store/#carrier'>Carrier</a>{% endcapture %}
{% capture Carriers %}<a href='http://developers.iqmetrix.com/api/entity-store/#carrier'>Carriers</a>{% endcapture %}
{% capture CatalogItem %}<a href='http://developers.iqmetrix.com/api/catalog/#catalogitem'>CatalogItem</a>{% endcapture %}
{% capture CatalogItems %}<a href='http://developers.iqmetrix.com/api/catalog/#catalogitem'>CatalogItems</a>{% endcapture %}
{% capture CatalogSearchResult %}<a href='http://developers.iqmetrix.com/api/catalog/#catalogsearchresult'>CatalogSearchResult</a>{% endcapture %}
{% capture CatalogSearchResults %}<a href='http://developers.iqmetrix.com/api/catalog/#catalogsearchresult'>CatalogSearchResults</a>{% endcapture %}
{% capture Category %}<a href='http://developers.iqmetrix.com/api/classification-tree/#category'>Category</a>{% endcapture %}
{% capture Categories %}<a href='http://developers.iqmetrix.com/api/classification-tree/#category'>Categories</a>{% endcapture %}
{% capture Classification %}<a href='http://developers.iqmetrix.com/api/classification-tree/#classification'>Classification</a>{% endcapture %}
{% capture Classifications %}<a href='http://developers.iqmetrix.com/api/classification-tree/#classification'>Classifications</a>{% endcapture %}
{% capture ClassificationTree %}<a href='http://developers.iqmetrix.com/api/classification-tree/#classificationtree'>ClassificationTree</a>{% endcapture %}
{% capture ClassificationTrees %}<a href='http://developers.iqmetrix.com/api/classification-tree/#classificationtree'>ClassificationTrees</a>{% endcapture %}
{% capture ColorDefinition %}<a href='http://developers.iqmetrix.com/api/catalog/#colordefinition'>ColorDefinition</a>{% endcapture %}
{% capture ColorDefinitions %}<a href='http://developers.iqmetrix.com/api/catalog/#colordefinition'>ColorDefinitions</a>{% endcapture %}
{% capture Company %}<a href='http://developers.iqmetrix.com/api/company-tree/#company'>Company</a>{% endcapture %}
{% capture Companies %}<a href='http://developers.iqmetrix.com/api/company-tree/#company'>Companies</a>{% endcapture %}
{% capture CompanyTree %}<a href='http://developers.iqmetrix.com/api/company-tree/#companytree'>CompanyTree</a>{% endcapture %}
{% capture CompanyTrees %}<a href='http://developers.iqmetrix.com/api/company-tree/#companytree'>CompanyTrees</a>{% endcapture %}
{% capture CompanyTreeNode %}<a href='http://developers.iqmetrix.com/api/company-tree/#companytreenode'>CompanyTreeNode</a>{% endcapture %}
{% capture CompanyTreeNodes %}<a href='http://developers.iqmetrix.com/api/company-tree/#companytreenode'>CompanyTreeNodes</a>{% endcapture %}
{% capture Contact %}<a href='http://developers.iqmetrix.com/api/company-tree/#contact'>Contact</a>{% endcapture %}
{% capture Contacts %}<a href='http://developers.iqmetrix.com/api/company-tree/#contact'>Contacts</a>{% endcapture %}
{% capture Cost %}<a href='http://developers.iqmetrix.com/api/cost-feed/#cost'>Cost</a>{% endcapture %}
{% capture Costs %}<a href='http://developers.iqmetrix.com/api/cost-feed/#cost'>Costs</a>{% endcapture %}
{% capture Country %}<a href='http://developers.iqmetrix.com/api/reference/#country'>Country</a>{% endcapture %}
{% capture Countries %}<a href='http://developers.iqmetrix.com/api/reference/#country'>Countries</a>{% endcapture %}
{% capture Currency %}<a href='http://developers.iqmetrix.com/api/reference/#currency'>Currency</a>{% endcapture %}
{% capture Currencies %}<a href='http://developers.iqmetrix.com/api/reference/#currency'>Currencies</a>{% endcapture %}
{% capture Division %}<a href='http://developers.iqmetrix.com/api/company-tree/#division'>Division</a>{% endcapture %}
{% capture Divisions %}<a href='http://developers.iqmetrix.com/api/company-tree/#division'>Divisions</a>{% endcapture %}
{% capture FieldDefinition %}<a href='http://developers.iqmetrix.com/api/field-definitions/#fielddefinition'>FieldDefinition</a>{% endcapture %}
{% capture FieldDefinitions %}<a href='http://developers.iqmetrix.com/api/field-definitions/#fielddefinition'>FieldDefinitions</a>{% endcapture %}
{% capture Group %}<a href='http://developers.iqmetrix.com/api/company-tree/#group'>Group</a>{% endcapture %}
{% capture Groups %}<a href='http://developers.iqmetrix.com/api/company-tree/#group'>Groups</a>{% endcapture %}
{% capture Identifier %}<a href='http://developers.iqmetrix.com/api/catalog/#identifier'>Identifier</a>{% endcapture %}
{% capture Identifiers %}<a href='http://developers.iqmetrix.com/api/catalog/#identifier'>Identifiers</a>{% endcapture %}
{% capture Location %}<a href='http://developers.iqmetrix.com/api/company-tree/#location'>Location</a>{% endcapture %}
{% capture Locations %}<a href='http://developers.iqmetrix.com/api/company-tree/#location'>Locations</a>{% endcapture %}
{% capture Manufacturer %}<a href='http://developers.iqmetrix.com/api/entity-store/#manufacturer'>Manufacturer</a>{% endcapture %}
{% capture Manufacturers %}<a href='http://developers.iqmetrix.com/api/entity-store/#manufacturer'>Manufacturers</a>{% endcapture %}
{% capture Owner %}<a href='http://developers.iqmetrix.com/api/classification-tree/#owner'>Owner</a>{% endcapture %}
{% capture Owners %}<a href='http://developers.iqmetrix.com/api/classification-tree/#owner'>Owners</a>{% endcapture %}
{% capture Product %}<a href='http://developers.iqmetrix.com/api/catalog/#product'>Product</a>{% endcapture %}
{% capture Products %}<a href='http://developers.iqmetrix.com/api/catalog/#product'>Products</a>{% endcapture %}
{% capture ProductTemplate %}<a href='http://developers.iqmetrix.com/api/classification-tree/#producttemplate'>ProductTemplate</a>{% endcapture %}
{% capture ProductTemplates %}<a href='http://developers.iqmetrix.com/api/classification-tree/#producttemplate'>ProductTemplates</a>{% endcapture %}
{% capture Region %}<a href='http://developers.iqmetrix.com/api/catalog/#region'>Region</a>{% endcapture %}
{% capture Regions %}<a href='http://developers.iqmetrix.com/api/catalog/#region'>Regions</a>{% endcapture %}
{% capture Relationship %}<a href='http://developers.iqmetrix.com/api/company-tree/#relationship'>Relationship</a>{% endcapture %}
{% capture Relationships %}<a href='http://developers.iqmetrix.com/api/company-tree/#relationship'>Relationships</a>{% endcapture %}
{% capture Sku %}<a href='http://developers.iqmetrix.com/api/catalog/#sku'>Sku</a>{% endcapture %}
{% capture Skus %}<a href='http://developers.iqmetrix.com/api/catalog/#sku'>Skus</a>{% endcapture %}
{% capture State %}<a href='http://developers.iqmetrix.com/api/reference/#state'>State</a>{% endcapture %}
{% capture States %}<a href='http://developers.iqmetrix.com/api/reference/#state'>States</a>{% endcapture %}
{% capture StoreHours %}<a href='http://developers.iqmetrix.com/api/company-tree/#storehours'>StoreHours</a>{% endcapture %}
{% capture Supplier %}<a href='http://developers.iqmetrix.com/api/entity-store/#supplier'>Supplier</a>{% endcapture %}
{% capture Suppliers %}<a href='http://developers.iqmetrix.com/api/entity-store/#supplier'>Suppliers</a>{% endcapture %}
{% capture Swatch %}<a href='http://developers.iqmetrix.com/api/catalog/#swatch'>Swatch</a>{% endcapture %}
{% capture Swatches %}<a href='http://developers.iqmetrix.com/api/catalog/#swatch'>Swatches</a>{% endcapture %}
{% capture reference_TimeZone %}<a href='http://developers.iqmetrix.com/api/reference/#timezone'>TimeZone</a>{% endcapture %}
{% capture reference_TimeZones %}<a href='http://developers.iqmetrix.com/api/reference/#timezone'>TimeZones</a>{% endcapture %}
{% capture TimeZone %}<a href='http://developers.iqmetrix.com/api/company-tree/#timezone'>TimeZone</a>{% endcapture %}
{% capture TimeZones %}<a href='http://developers.iqmetrix.com/api/company-tree/#timezone'>TimeZones</a>{% endcapture %}
{% capture VariationInformation %}<a href='http://developers.iqmetrix.com/api/catalog/#variationinformation'>VariationInformation</a>{% endcapture %}
{% capture VariationInformations %}<a href='http://developers.iqmetrix.com/api/catalog/#variationinformation'>VariationInformations</a>{% endcapture %}
{% capture WeekDay %}<a href='http://developers.iqmetrix.com/api/company-tree/#weekday'>WeekDay</a>{% endcapture %}
{% capture WeekDays %}<a href='http://developers.iqmetrix.com/api/company-tree/#weekday'>WeekDays</a>{% endcapture %}
